---
layout: place
section: produce
item: andonbel
title: Andonbel Alpacas and Coffee Shop, Narromine
tel: 0268891135
url: http://www.facebook.com/pages/Andonbel-Alpaca-Farm-Coffee-Shop/151338914959193
mail: andonbelalpacas@bigpond.com
slides:
  - Andonbelweb6.jpg
  - Andonbelweb8.jpg
  - Andonbelweb2.jpg
  - Andonbelweb3.jpg
  - Andonbelweb5.jpg
---
<produce>A wonderful place to enjoy the peaceful surrounds and sounds of alpacas and the tranquility of nature.
There is also the fantastic coffee shop in an old train carriage plus shearing exhibitions, produce for sale and talks on the alpacas.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Open for bookings: Monday and Tuesday (10am-4pm&#41;. Open: Wednesday to Saturday (9am-4pm&#41;. Sunday - all day breakfast special included.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&deg;15'10.59"S, 148&deg;15'51.77"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    &ldquo;Nyrang&rdquo; Dappo Rd, Narromine NSW (Off the Parkes Road. and 2 minutes past the Showground&#41;.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Macquarie Grove Vineyard, Narromine Aviation Museum, Edgerton Nursery, The Woodshed Gallery, Rotary wetland, Rotary Riverside Park, Glenn McGrath statue, Peppercorn Motor Inn and the Tourist Park and Motel at the airport are places to stay.</p-->


