---
layout: place
section: produce
item: arts
title: Dubbo Arts and Craft Society Cottagee
tel: 0268816410
url: http://www.dubboartz.org.au/DUBBO%20ARTZ/artsandcraftssociet.htm
mail: lornabri.1@bigpond.com
slides:
  - Dubbocraft1.jpg
  - Dubbocraft2.jpg
  - Dubbocraft3.jpg
  - Dubbocraft4.jpg
  - Dubbocraft5.jpg
  - Dubbocraft6.jpg
  - Dubbocraft7.jpg
---
<produce>A &ldquo;must come and visit&rdquo; attraction while in Dubbo.

The &ldquo;Cottage&rdquo; houses many gifts, works of art, jewellery, silvercraft, wood products, knitting and sewing, sugarcraft, painted china, embroidery and numerous other articles all made by our members. All very original and of the highest quality.
You are welcome to come and see the various craft activities held at the &ldquo;Cottage&rdquo; during the week.
From early November the “Cottage Christmas Shop” is open offering gift ideas, cakes, puddings and jams.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   10.00am &#45; 4.00pm most days or when the flags are out. Serviced by volunteers.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'18.12"S, 148&#176;36'47.40"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    We&rsquo;re at 137 Cobra Street, Dubbo &#45; look for our red flag near the round-a-bout with service stations on three corners and parklands on the other &#45; when coming into Dubbo from Wellington or when heading out of town that way.</p>
    <div class="produce-line-separator"></div>
    

