---
layout: place
section: produce
item: bellriver
title: Bell River Estate, Wellington
tel: 0268467277
url: http://www.bellriverestate.com.au
mail: sales@bellriverestate.com.au
slides:
  - BellRiverweb1.jpg
  - BellRiverweb2.jpg
  - BellRiverweb3.jpg
  - BellRiverweb4.jpg
---
<produce>Wine tasting and sales in beautiful surroundings and just 200 metres from the Bell River.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Monday-Saturday 9am &#45; 6pm, Sunday 10am &#45; 6pm</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;41'15.47"S, 148&#186;56'43.12"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    17 kms from Wellington on the Molong-Orange Road.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lake Burrendong's several attractions plus Wellington Caves and the Caves Bottle House.
     The Eris Fleming Gallery is only a few kilometres away also.</p-->


