---
layout: place
section: produce
item: bradswear
title: Brad’s Wear, Warren
tel: 0268474940
url: 
mail: sue.bradswear@gmail.com
slides:
  - bradswear1.jpg
  - bradswear2.jpg
  - bradswear3.jpg
  - bradswear4.jpg
---
<produce>We stock a wide range of clothing, shoes, work wear, school
wea <br>…and have a huge stock of home wares…ideal for gifts.
		</produce>
		<div class="produce-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong> 9am–5.30pm Monday to Saturday.</p>
<div class="produce-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 31&#176;42'4.06"S, 147&#176;50'11.25"E</p>
	 <div class="produce-line-separator"></div>
	 <p>
	 <strong>HOW TO FIND US</strong>
	  Opposite the Commonwealth Bank in
      Warren’s main street</p>
	   <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Mountain biking at Geurie - see Cycle trail.  River parks on the Macquarie river such as Ponto Falls and Bril Bral Reserves and more - see ww.rivertrails.com.au. 
     All of Wellington and Dubbo's various attractions.</p-->
	
