---
layout: place
section: produce
item: cactuscafe
title: Cactus Cafe and Gallery, Wellington
tel: 0268454647
url: http://www.cactuscafe.com.au
mail:
slides:
  - Cactus1.jpg
  - Cactus2.jpg
  - Cactus3.jpg
  - Cactus4.jpg
---
<produce>Fantastic coffee!! Clothing, gifts and homewares, regional produce, functions and parties.
The menu is varied, using fresh and where possible local ingredients. Take-away food is also available.
The Caf&#233; are also licensed and has a selection of regional wines.
Enjoy the surrounds of this heritage building, beautifully maintained and now revitalised into a Mexican hacienda.
</produce>
  <p>
  <strong>OPENING HOURS:</strong>
   Tuesday to Saturday; 10am&#45;5pm</p>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;33'4.55"S, 148&#186;56'31.69"E</p>
   <p>
   <strong>LOCATION:</strong>
    33&#45;35 Warne Street. Follow the signs off the highway through town. We&#39;re just a stone&#39;s throw away.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Wellington Caves and the Caves Bottle House, Oxley Museum, Mount Arthur Reserve and several river parks. Lion of Waterloo tavern,
     Hermitage Hill Resort, Bridge Motel and Riverside Caravan Park.<--/p>


