---
layout: place
section: produce
item: cottagecraft
title: Narromine Cottage Craft Shop
tel: 0268894330
url:
mail:
slides:
  - Narrominecraft.jpg
  - Narrominecraft2.jpg
  - Narrominecraft3.jpg
  - Narrominecraft4.jpg
  - narrominecraftweb3.jpg
  - narrominecraftweb4.jpg
---
<produce>Narromine Cottage Craft is a craft emporium selling high quality crafts, cooking, gifts and home-wares that are locally made or sourced.
All goods are handmade in the local area by local residents, who form part of a co-operative with the aim of supporting local charities in the area while giving members the opportunity to express their creative talents.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Monday-Friday 9.30am-5.00pm, Saturday: 9.00am-12.30pm, Sunday: 9.00am-12.30pm</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;13'50.71"S, 148&#186;14'24.15"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    61 Dandaloo Street - the main street of Narromine - on the opposite side to Coles, the Services Club and Edgerton Nursery.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Macquarie Grove Vineyard, Narromine Aviation Museum, Edgerton Nursery,
     The Woodshed Gallery, Rotary wetland, Rotary Riverside Park, Glenn McGrath statue,
     Peppercorn Motor Inn and the Tourist Park and Motel at the airport are places to stay.</p-->

