---
layout: place
section: produce
item: edgertonnursery
title: Edgerton Nursery, Narromine
tel: 0268891187
url: http://www.edgertonnursery.com.au
mail: anna@edgertonnursery.com.au
slides:
  - Edgertonweb2.jpg
  - Edgertonweb4.jpg
  - Edgertonweb5.jpg
  - Edgertonweb6.jpg
---
<produce>Voted the Best Small Garden Centre NSW&#47;ACT 2011 and 2012 and Accredited &lsquo;Garden Centre of Excellence&rsquo;.
Edgerton Nursery is a complete garden centre specialising in plants suited to the harsh western NSW climate.
Also featuring beautiful garden decor items, gifts and home&#45;wares, garden furniture, pots and ornaments.
</produce>
  <p>
  <strong>OPENING HOURS:</strong>
   Seven days. Monday &#45; Friday 9am to 5pm. Saturday &#45; Sunday 9am to 4pm</p>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;13'48.17"S, 148&#186;14'22.80"E</p>
   <p>
   <strong>LOCATION:</strong>
    Right in the heart of the main street of Narromine, just up from the United Services Memorial Club.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Andonbel Alpacas Coffee Shop, Narromine Aviation Museum, The Woodshed Gallery, Macquarie Grove Vineyard,
     Narromine Cottage Craft Shop, Rotary Wetland and several Macquarie river parks.</p-->


