---
layout: place
section: produce
item: ewetwo
title: Ewe Two on Dandaloo, Trangie
tel: 0268888268
url: http://www.ewetwo.com.au
mail: contact@ewetwo.com.au
slides:
  - Ewe2web1.jpg
  - Ewe2web2.jpg
  - Ewe2web3.jpg
  - Ewe2web4.jpg
  - Ewe2web5.jpg
---
<produce>Ewe Two on Dandaloo is never one to follow the crowd and this ensures the
products available in the store are unique. This fantastic little emporium sells quality
women's clothing as well as new lines of homewares. Ewe Two has become a
drop-in centre for locals and a must-see destination for travellers and tourists.
As well as fashion and homewares, Ewe Two also stocks up on local produce.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Mon 9am-5pm, Sat 9am-1pm, Sun 11am-4pm. You can also shop online.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;2'0.23"S, 147&#186;59'8.86"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    On the sweeping bend of the Mitchell highway through Trangie.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> </p-->


