---
layout: place
section: produce
item: farmers
title: Farmer's Market, Dubbo
tel: 0488685006
url: http://www.dubbofarmersmarket.org.au
mail: enquiries@dubbofarmersmarket.org.au
slides:
  - Farmersmarketsweb1.jpg
  - Farmersmarketsweb2.jpg
  - Farmersmarketsweb3.jpg
  - Farmersmarketsweb4.jpg
---
<produce>The Farmer's Markets offer a range of seasonal fresh produce, fresh fruit and vegetables, herbs and plants.
There is also fresh bread, a selection of local pork, beef and lamb, award winning olive oils,
preserves, jams, marinates honey, wine, nuts and so much more.  The markets regularly attract around 2,000 people with some 60 stallholders.
</produce>
 <div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   1st and 3rd Saturday of every month from 8 am to noon.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'36.42"S, 148&#176;36'6.02"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    At the Macquarie Lions Park, behind the Visitor Information Centre on the corner of the Newell Highway and Macquarie Street, Dubbo.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lake Burrendong's several attractions plus Wellington Caves and the Caves Bottle House. The Eris Fleming Gallery is only a few kilometres away also.</p-->


