---
layout: trail
section: produce
title: Produce Trail
list:
  - { file: bellriver,            image: BellRiverweb4.jpg,               caption: "Bell River Estate, Wellington"}
  - { file: lazyriver,            image: hippobeach.jpg,                  caption: "Lazy River Estate, Dubbo"}
  - { file: redearth,             image: RedEarthweb3.jpg,                caption: "Red Earth Estate, Dubbo"}
  - { file: dubboartncraft,       image: dubboartncraft1.jpg,             caption: "Dubbo Arts and Crafts Society Cottage"}
  - { file: farmers,              image: Farmersmarketsweb4.jpg,          caption: "Farmer's Market, Dubbo"}
  - { file: macquariegrove,       image: davidcliffee.jpg,                caption: "Macquarie Grove Vineyards, Narromine"}
  - { file: ewetwo,               image: Ewe2web4.jpg,                    caption: "Ewe Two on Dandaloo, Trangie"}
  - { file: tilleyswines,         image: Tilleyweb1.jpg,                  caption: "Tilley's Wines, Warren"}
  - { file: weigela,              image: Weigelaweb1.jpg,                 caption: "Weigela Design, Warren"}
  - { file: bradswear,            image: bradswear3.jpg,                  caption: "Brad’s Wear, Warren"}
  
---

