---
layout: trail
section: produce
title: Produce Trail
list:
  - { file: bellriver,            image: BellRiverweb4.jpg,               caption: "Bell River Estate, Wellington"}
  - { file: cactuscafe,           image: Cactus1.jpg,                     caption: "Cactus Cafe and Gallery, Wellington"}
  - { file: farmers,              image: Farmersmarketsweb4.jpg,          caption: "Farmer's Market, Dubbo"}
  - { file: lazyriver,            image: hippobeach.jpg,                  caption: "Lazy River Estate, Dubbo"}
  - { file: arts,                 image: Dubbocraft7.jpg,                 caption: "Dubbo Arts and Craft Society Cottage"}
  - { file: limegrove,            image: limegrovecafeweb5.jpg,           caption: "Lime Grove, Narromine"}
  - { file: redearth,             image: RedEarthweb3.jpg,                caption: "Red Earth Estate, Dubbo"}
  - { file: edgertonnursery,      image: Edgertonweb2.jpg,                caption: "Edgerton Nursery, Narromine"}
  - { file: macquariegrove,       image: davidcliffee.jpg,                caption: "Macquarie Grove Vineyards, Narromine"}
  - { file: woodshed,             image: Woodshed1.jpg,                   caption: "The Woodshed Gallery, Narromine"}
  - { file: cottagecraft,         image: narrominecraftweb4.jpg,          caption: "Narromine Cottage Craft Shop"}
  - { file: ewetwo,               image: Ewe2web4.jpg,                    caption: "Ewe Two on Dandaloo, Trangie"}
  - { file: tilleyswines,         image: Tilleyweb1.jpg,                  caption: "Tilley's Wines, Warren"}
  - { file: nurserycafe,          image: NurseryCafe2.jpg,                caption: "Nursery Café, Warren"}
  - { file: weigela,              image: Weigelaweb1.jpg,                 caption: "Weigela Design, Warren"}
---

