---
layout: layout_trail
section: produce
title: Produce Trail
list:
  - { file: bell_river,           image: BellRiverweb4.jpg,               caption: Bell River Estate, Wellington }
  - { file: cactus_cafe,          image: Cactus1.jpg,                     caption: Cactus Cafe and Gallery, Wellington }
  - { file: farmers,              image: Farmersmarketsweb4.jpg,          caption: Farmer's Market, Dubbo }
  - { file: lazy_river,           image: hippobeach.jpg,                  caption: Lazy River Estate, Dubbo }
  - { file: limegrove,            image: limegrovecafeweb5.jpg,           caption: Lime Grove, Narromine }
  - { file: red_earth,            image: RedEarthweb3.jpg,                caption: Red Earth Estate, Dubbo }
  - { file: edgerton_nursery,     image: EdgertonsWeb2.jpg,               caption: Edgerton Nursery, Narromine }
  - { file: macquarie_grove,      image: davidcliffee.jpg,                caption: Macquarie Grove Vineyard, Narromine }
  - { file: andonbel,             image: Andonbelweb6.jpg,                caption: Andonbel Alpacas and Coffee Shop, Narromine }
  - { file: woodshed,             image: Woodshed1.jpg,                   caption: The Woodshed Gallery, Narromine }
  - { file: cottage_craft,        image: narrominecraftweb4.jpg,          caption: Narromine Cottage Craft Shop }
  - { file: ewe_two,              image: Ewe2web4.jpg,                    caption: Ewe Two on Dandaloo, Trangie }
  - { file: tilleys_wines,        image: Tilleyweb1.jpg,                  caption: Tilley's Wines, Warren }
---

