---
layout: place
section: produce
item: lazyriver
title: Lazy River Estate, Dubbo
tel: 0268822111
url: http://www.lazyriverestate.com.au
mail: events@lazyriverestate.com.au
slides:
  - LazyRiverweb5.jpg
  - LRE3.jpg
  - LRE1.jpg
  - hippobeach.jpg"
---
<produce>Caf&#233;, events, functions, workshops, wine and relaxation by the Macquarie River on our Hippos Beach.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Caf&#233; hours Friday - Sunday 10 am - 4pm</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;17'51.14"S, 148&#186;37'41.10"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    29R Old Dubbo Road, Dubbo NSW 2830. Approximately 3-4 kilometers from the turn into Old Dubbo Road near the main highway bridge.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


