---
layout: place
section: produce
item: limegrove
title: Lime Grove, Narromine
tel: 0268891962
url: http://www.limegrove.net.au
mail: scollett@limegrove.net.au
slides:
  - limegrovecafeweb1.jpg
  - limegrovecafeweb5.jpg
  - limegrovecafeweb3.jpg
  - limegrovecafeweb4.jpg
---
<produce>Lime Grove is Australia's largest lime orchard of 10,000 trees. No pesticides or insecticides used at Lime Grove, so every piece of fruit is ready to eat right off the trees. Lime Grove manufactures a number of fabulous products such as Lime Juice Cordial, Lime Infused Oil, Lime Zest Honey...and more, all available at the Caf&#233;/Restaurant.
<br>A great place to relax and watch as the chooks and geese go about their days in the wide open paddocks and caf&#233; garden, while enjoying the best food west of the Blue Mountains.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Lime Grove Caf&#233;/restaurant is open Wednesday through Sunday. Bus tours welcome by arrangement.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&deg;11'30.84"S, 148&deg;11'23.00"E</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>LOCATION:</strong>
   Half an hour from Dubbo, through Narromine, 5kms along the Trangie Road. Signs welcome you to Lime Grove.</p>
   <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Andonbel Alpacas Coffee Shop, Edgerton Nursery, Narromine Aviation Museum, The Woodshed Gallery, Narromine Cottage Craft Shop,
     Macquarie Grove vineyard, Rotary Wetland and several Macquarie river parks.</p-->

