---
layout: place
section: produce
item: macquariegrove
title: Macquarie Grove Vineyards, Narromine
tel: 0268892111
url: http://www.transplants.com.au
mail: admin@transplants.com.au
slides:
  - davidcliffee.jpg
---
<produce>Taste wine varieties from around the world grown
beside the Macquarie River. Macquarie Grove
Vineyards is a member of Macquarie Valley Food
and Wine Inc.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   By appointment only.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;13'8.53"S, 148&#186;14'30.44"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Eumungerie Road, Narromine. Follow the signs to Gilgandra from Narromine. Macquarie Grove is less than a kilometre from the turn-off near
    the golf course just after you cross the Macquarie River.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Andonbel Alpacas Coffee Shop, Edgerton Nursery, Narromine Aviation Museum, The Woodshed Gallery, Narromine Cottage Craft Shop,
     Rotary Wetland and several Macquarie river parks.  Peppercorn Motor Inn and the Tourist Park and Motel at the airport are places to stay.</p-->


