---
layout: place
section: produce
item: nurserycafe
title: Nursery Café, Warren
tel: 0268474539
url: 
mail: suzannemayger@hotmail.com
slides:
  - NurseryCafe2.jpg
  - NurseryCafe4.jpg
  - NurseryCafe5.jpg
  - nurseryCafeweb1.jpg
---
<produce>Come in for a cuppa! Offering a café
plus a nursery with a wide range of
indoor and outdoor shrubs, seedlings
and plants, all in one. The Nursery Café
can also cater for functions.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Monday to Saturday 7am–5pm and open every second Sunday.)</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;42'3.43"S, 147&#176;50'12.07"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    137 Dubbo Street, Warren</p>
    <div class="produce-line-separator"></div>
   