---
layout: place
section: produce
item: redearth
title: Red Earth Estate, Dubbo
tel: 0268856676
url: http://www.redearthestate.com.au
mail: mail@redearthestate.com.au
slides:
  - RedEarthweb1.jpg
  - RedEarthweb2.jpg
  - RedEarthweb3.jpg
  - RedEarthweb4.jpg
  - RedEarthweb5.jpg
---
<produce>Chat with the winemaker while enjoying a wine tasting and cheese platter.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   11.00 am - 5.00 pm every day except Wednesday.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;17'36.54"S, 148&#176;35'6.59"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Drive along Obley
Road past the entrance to
Taronga Western Plains Zoo and
Dundullimal Homestead and turn
right into Camp Road. We are on
the left at 18 Camp Road.</p>
<div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Dundullimal Homestead and Taronga Western Plains Zoo.</p-->

