---
layout: place
section: produce
item: tilleyswines
title: Tilley's Wines, Warren
tel: 0407474509
url:
mail: charlestilley@bigpond.com
slides:
  - Tilleyweb1.jpg
  - Tilleyweb2.jpg
  - Tilleyweb3.jpg
---
<produce>Wine tastings and vineyards by the
river. Tilley's Wines is a member of the
Macquarie Valley Food and Wine Inc.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   By appointment only.</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&deg;42'39.61"S, 147&deg;50'42.96"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Less than a kilometre out of Warren on the Ellengerah Road.</p>
    <div class="produce-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland and Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marshes Nature Reserve and viewing platform.
     A range of river parks in and near Warren, plus cycling and walking tracks.
     Macquarie Caravan Park in Warren or Nyngan Riverside Tourist Park are places to stay.</p-->


