---
layout: place
section: produce
item: weigela
title: Weigela Design, Warren
tel: 0268473726
url: https://www.facebook.com/WeigelaDesign
mail: 
slides:
  - Woodshed1.jpg
  - Woodshed2.jpg
  - Woodshed3.jpg
  - Woodshed4.jpg
---
<produce>Regular treasure hunting trips ensure that Weigela Design is always bursting
with a vibrant range of unusual and unexpected boutique-style gifts.
Customers stepping into Weigela are enticed by the beautifully perfumed
candles and soaps. Weigela Design is a store that takes an entire day to explore
– with fashions to peruse and a large outdoor area to explore.
</produce>
<div class="produce-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   9am–5.30pm Monday to Friday, 9am–late Saturday</p>
   <div class="produce-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;42'3.54"S, 147&#176;50'12.00"E</p>
   <div class="produce-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    121 Dubbo Street, Warren. Right in the heart of the main street.</p>
    <div class="produce-line-separator"></div>
    