---
layout: place
section: riverbedz
item: abeltasman
title: Abel Tasman Motor Inn, Dubbo
tel: 1800209992
url: http://www.abeltasman.net.au
mail: contact@abeltasman.net.au
slides:
  - AbelTasman1.jpg
  - AbelTasman2.jpg
  - AbelTasman3.jpg
---
<riverbedz>The Macquarie river and the Tracker Riley Walking and Cycle trail are almost on the doorstep of this comfortable and modern 4-star motor inn.
Taronga Western Plains Zoo is about 2 kilometres away. There are two clubs/pubs within easy walking distance.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&deg;15'17.95"S, 148&deg;35'15.36"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    133 Whylandra St &#40;Newell Highway to Parkes&#41; Dubbo NSW 2830</p>
    <div class="riverbedz-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Taronga Western Plains Zoo, Dundulimall Homestead, Red Earth Estate, plus all Dubbo's other attractions.
     There are several Macquarie river parks nearby (see www.rivertrails.com.au).</p-->
