---
layout: place
section: riverbedz
item: aberdeenmotor
title: Aberdeen Motor Inn, Dubbo
tel: 0268841700
url: http://www.aberdeendubbo.com.au/
mail: bookings@aberdeendubbo.com.au
slides:
  - aberdeenmotor1.jpg
  - aberdeenmotor2.jpg
  - aberdeenmotor3.jpg
  - aberdeenmotor4.jpg
---
<riverbedz>3.5 star motel, with location, location, location &#45; right at
the end of Macquarie Street, Dubbo’s main street and also
not far from the river and all it has to offer.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   7 days, 7.30am–9.30pm.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    We’re at 25 Cobra Street, Dubbo – the
    end of Macquarie Street.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'12"S, 148&#176;36'4"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   The Macquarie River and its
   surrounding trails are a great place to spend your spare
   time, whether relaxing on the bank with a line, picnicking
   with the family or getting some exercise walking, running
   or riding along the Tracker Riley trail beside the river.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


