---
layout: place
section: riverbedz
item: allseasons
title: All Seasons Motor Lodge, Dubbo
tel: 0268826377
url: http://www.allseasonsmotorlodge.com.au
mail: contact@allseasonsmotorlodge.com.au
slides:
  - allseasons1.jpg
  - allseasons2.jpg
  - allseasons3.jpg
  - allseasons4.jpg
---
<riverbedz>3.5 star accommodation close to the river,
the Zoo, clubs and lots, lots more.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
  7am–9.30 pm, 7 days</p>
   <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'12"S, 148&#176;35'21"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    We’re at 78 Whylandra Street in Dubbo, which is the
    Newell Highway to Parkes. Next door to Club Dubbo.</p>
    <div class="riverbedz-line-separator"></div>
     <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    Great walks and wildlife with a
    peaceful environment.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


