---
layout: place
section: riverbedz
item: big4
title: BIG 4 Dubbo Parklands
tel: 0268848633
url: http://www.aspenparks.com.au
mail: DubboParklands@aspenparks.com.au
slides:
  - Big4web2.jpg
  - Big4web1.jpg
  - Big4web4.jpg
  - Big4web5.jpg
---
<riverbedz>Big4 Dubbo Parklands ticks all the boxes for your next
holiday break. Set the kids loose on the Kangaroo Jumper,
then dive into the brand new water park complete with
water slides, tipping buckets and water blasters. The park
has accommodation to suit all budgets from campsites to
cabins and it is conveniently located within walking distance
of Taronga Western Plains Zoo and the Macquarie River.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
  32&#176;15'26.85"S, 148&#176;35'14.69"E</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Several Macquarie river parks (see www.rivertrails.com.au), Taronga Western Plains Zoo, Dundulimall Homestead, Red Earth Estate Winery and the Tracker Riley Walking and Cycle trail.</p-->
