---
layout: place
section: riverbedz
item: big4
title: BIG 4 Dubbo Parklands
tel: 0268848633
url: http://www.big4dubboparklands.com.au
mail: holiday@big4dubboparklands.com.au
slides:
  - Big4web2.jpg
  - Big4web1.jpg
  - Big4web4.jpg
  - Big4web5.jpg
---
<river>4 1/2 star&#45;rated camping and van park only a few hundred metres from the Macquarie river.  BIG4 Dubbo Parklands has holiday cabins, caravans, on-site cabins, camping. BBQ's, toddler playground, movies, swimming pool, Jumbo jumping pillow, table tennis, Internet and lots more, including the nearby Macquarie river.
</river>
  <p>
  <strong>COORDINATES:</strong>
  32&#186;15'26.85"S, 148&#186;35'14.69"E</p>
  <p>
  <strong>LOCATION:</strong>
  Follow the signs for the Newell Highway to Parkes - and Taronga Western Plains Zoo.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Several Macquarie river parks (see www.rivertrails.com.au), Taronga Western Plains Zoo, Dundulimall Homestead, Red Earth Estate Winery and the Tracker Riley Walking and Cycle trail.</p-->
