---
layout: place
section: riverbedz
item: billaquaters
title: ‘Billabulla’ Country Quarters, via Warren
tel: 0268474614
url: 
mail: rodkatemildner@gmail.com
slides:
  - billaquaters1.jpg
  - billaquaters2.jpg
  - billaquaters3.jpg
  - billaquaters4.jpg
---
<riverbedz>Billabulla is a sheep and cattle grazing property with a newly renovated
cottage and shearers quarters available for self&#45;catered accommodation. 
<br>The accommodation is located on an occasional creek and includes an open plan kitchen, two
shared bathrooms, and seven bedrooms. 
<br>Billabulla has many relatively undisturbed habitats including River red gum forest, Box
woodland, native grasslands, ephemeral wetlands and extensive
Macquarie river frontage. 
<br>Rod and Kate manage their property using holistic grazing principles, concentrating on regenerating
the landscape &#38; producing healthy grassfed meat. Landscape
health and biodiversity are core values of farm operations,
whereby waterways, wetlands and vegetation corridors are fenced off. 
<br>Accommodation is ideally suited to groups and visitors
interested in bird watching, nature, art, fishing and learning about
holistic grazing. Retreats are also welcomed.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Best times to visit are autumn and spring.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    ‘Billabulla’ is a half hour drive from Warren on
the eastern side of the river. Access includes 13km of dirt road.
Full directions provided on booking. Visitors need to be aware that
access is weather dependent and the property can get flooded.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;32'54.68"S, 147&#176;48'19.24"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   Our family feels very fortunate to be
able to live on a special property surrounded by space and nature.
Kate’s family has been here for over 100 years with her children
being the 5th generation. We have huge River red gums along
the river, multiple sites for BBQ’s and camping, and places to loose
oneself to nature. The dynamic nature of the floodplain always
brings changes to the landscape, its birdlife, other animals and
plants. We all have many very happy memories “down the river”,
whether they be special occasions, a weekend picnic or work.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


