---
layout: place
section: riverbedz
item: boathousevilla
title: Boat House Villa @ Lazy River Estate, Dubbo
tel: 0268822111
url: http://www.lazyriverestate.com.au/
mail: events@lazyriverestate.com.au
slides:
  - boathousevilla1.jpg
  - boathousevilla2.jpg
  - boathousevilla3.jpg
  - boathousevilla4.jpg
---
<riverbedz>The Boat House has two loft bedrooms &#45; both with views over
the estate and Macquarie River, queen beds and quality linen,
a luxurious bathroom upstairs with 2&#45;person Balinese stone
bath and a second powder room downstairs, a self&#45;contained
kitchen with quality fittings including dishwasher and fridge,
and a huge family area with large screen TV, dining room table
and comfortable lounges. 
<br>Located within 5 minutes of the
Dubbo CBD so access to the city’s restaurants, pubs,
attractions and corporate offices is convenient but far
enough away that you can experience
the tranquillity and privacy that the Boat House Villa has to offer.
To find out more about the Lazy River Estate &#45; see it listed under
our Produce Trail.
</riverbedz>
   <div class="riverbedz-line-separator"></div>
    <p>
  <strong>HOW TO FIND US</strong>
   29R Old Dubbo Road, Dubbo NSW 2830.
Approximately 3-4 kilometres from the CBD. Follow Macquarie
Street south. Lazy River is approximately 3km from the 100km
sign on Old Dubbo Road.</p>
   <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;17'51.14"S, 148&#176;37'41.10"E</p>
   <div class="riverbedz-line-separator"></div>
    <p>
  <strong>WHY WE LOVE THE RIVER</strong>
  Because it is a beautiful natural
  resource that we make a living on. It adds to our property and
  we love sharing it with Dubbo.</p>
