---
layout: place
section: riverbedz
item: bridge_motel
title: Bridge Motel, Wellington
tel: 0268452555
url: http://www.aaatourism.com.au/accommodation/info/bridge-motel2/
mail: bookings@bridgemotelwellington.com.au
slides:
  - BridgeMotelweb1.jpg
  - BridgeMotelweb2.jpg
  - Bridgemotelweb3.jpg
  - Bridgemotelweb4.jpg
---
<riverbedz>This 3&#45;star river-front motel has all ground floor, air conditioned units, a pool, beautiful shaded lawns to relax, go fishing, or launch a canoe.
This is also a good place to start the Macquarie River canoe and kayak trail &#40;see separate description&#41;.
Platypus watching is another attraction at this location.
</riverbedz>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;32'39.57"S, 148&#186;56'28.93"E</p>
   <p>
   <strong>LOCATION:</strong>
    On the Mitchell Highway, next to the bridge over the Macquarie River at 5 Lee Street.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Riverside Caravan Park, Lion of Waterloo tavern, Cactus Caf&#233; and Gallery, Oxley Museum and Lake Burrendong's three attractions.</p-->
