---
layout: place
section: riverbedz
item: bulwarabnb
title: Bulwara B&#38;B, Dubbo
url: http://www.bulwarra-dubbo.com.au/
mail: bulwarra@gmail.com
slides:
  - bulwarabnb1.jpg
  - bulwarabnb2.jpg
  - bulwarabnb3.jpg
  - bulwarabnb4.jpg
---
<riverbedz>Guests at Bulwarra Bed &#38; Breakfast enjoy free WiFi, free
parking, a 24 hour reception and grocery delivery services.
<br>All studios have balconies with both garden and mountain
views. 
<br>Hot and cold breakfast is available for an additional
fee. 
<br>You can prepare a barbecue using the facilities provided
or cook a meal in the shared kitchen. A communal lounge
area is available. For your entertainment, this property offers
a children’s playground and a games room with table tennis
and is set on a stunning plateau overlooking the city of
Dubbo. 
<br>Pets allowed.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
  From 2pm–9pm Checkout: until 11am</p>
   <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;21'44"S, 148&#176;37'15"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    13 Bulwarra Drive, Cumboogle/Dubbo</p>
    <div class="riverbedz-line-separator"></div>
     <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    In the rains we can even claim
    ‘river views’ as the Macquarie widens its banks over the
    flood plains of
    Cumboogle, at the
    bottom of Raymond
    Hill.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


