---
layout: place
section: riverbedz
item: carinyacottages
title: Carinya B&#38;B and Cottages
Wellington
tel: 0268454320
url: http://www.bbbook.com.au/
mail: carinya@well-com.net.au
slides:
  - carinyacottages1.jpg
  - carinyacottages2.jpg
  - carinyacottages3.jpg
  - carinyacottages4.jpg
---
<riverbedz>Both cottages offer 4 bedrooms in a
self contained cottage, all
furnished and linen is provided.
Carinya B&#38;B provides full
bed and breakfast facilities. Star rating is 3.5
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   6am–8pm and then by negotiation.</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    111 Mitchell Highway, Wellington
    (or 111 Arthur Street – which is the same place).</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>COORDINATES</strong>
    32&#176;33'31"S, 148&#176;56'38"E</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    All rivers have their appeal, but when
you live near to the Macquarie Marshes for half your life and
then come to Wellington to be close to both the Bell and
Macquarie Rivers, what more could you ask for?</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The Bridge Motel, Lion of Waterloo tavern, Cactus Caf&#233; and Gallery, Oxley Museum,
     Wellington Caves, Caves Bottle and Lake Burrendong's three attractions.
     This is also a good place to start the Macquarie River canoe and kayak trail (see separate description).</p-->
