---
layout: place
section: riverbedz
item: cattlemaninn
title: Cattleman’s Country Motor Inn, Dubbo
tel: 0268845222
url: http://www.cattlemans.com.au/
mail: info@cattlemans.com.au
slides:
  - cattlemaninn1.jpg
  - cattlemaninn2.jpg
  - cattlemaninn3.jpg
  - cattlemaninn4.jpg
---
<riverbedz>Set on 3 acres and boasting 140
accommodation motel rooms and serviced apartments, an
award winning restaurant, conference and function facilities and onsite
activities, including one indoor (heated) and 2 outdoor
pools, it is little wonder that the Cattleman’s Country Motor
Inn is the first choice of many traveling to Dubbo, with its
quality accommodation, excellent facilities and all at an
affordable price. 
<br>We also have a BBQ area for guests to enjoy,
children’s playground, a gymnasium and guest laundry.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Office hours: 7am–11pm. 24 hour</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    You’ll find us at 8 Whylandra Street in
Dubbo – near where the highways meet.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'49"S, 148&#176;35'40"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   The river is a beautiful
backdrop to our motel, a two minute walk away for peace
and tranquility on the banks of the Macquarie.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


