---
layout: place
section: riverbedz
item: centrepointmotel
title: Centrepoint Motel, Dubbo
tel: 0268827644
url: http://www.cmdubbo.com.au/
mail: 
slides:
  - centrepointmotel1.jpg
  - centrepointmotel2.jpg
  - centrepointmotel3.jpg
  - centrepointmotel4.jpg
---
<riverbedz>Great self contained accommodation, 3.5 star (self) rated.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   7am–10pm, 7 days.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    146 Bourke Street, Dubbo, just off Cobra
    Street (which is also the Mitchell Highway).</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'13"S, 148&#176;36'30"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   The river is a great attraction for
Dubbo. Many of our guests enjoy its natural beauty whilst
walking, swimming and cycling.
Great fishing too.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


