---
layout: place
section: tucker
item: countrymansmotel
title: Cafe and restaurant at the Countryman’s Motel, Dubbo
tel: 0268827422
url: http://www.countrymandubbo.com.au/
mail: countrymandubbo@bigpond.com.au
slides:
  - Countryman1.jpg
  - Countryman2.jpg
  - Countryman3.jpg
  - Countryman4.jpg
---
<tucker>At Countryman Dubbo service is paramount, ensuring your
stay at our motel is an enjoyable one. Our motel is situated in
an ideal central location, close to all that Dubbo has to offer.
<br>We offer the best of comfort with stylish and spacious motel
accommodation set back from the main road. While visiting
our motel, enjoy an early morning dip in the swimming pool,
a round of golf, or maybe a visit to the nearby Health Club
Complex. For your convenience and dining pleasure we also
have Selah’s Cafe on site, serving you the best cakes, light
meals and delicacies in town&#33; For both motel guests and
customers, we are open all day. Our motel also boasts the
Award Winning Countryman Restaurant and Cocktail Bar.
<br>For your convenience and dining pleasure we also have
Selah’s Cafe on site, serving you the best cakes, light meals
and delicacies in town&#33; And don’t forget to come on in and
say hi to Lisa who many customers have said is the best
barista in town. For both motel guests and customers, we
are open all day. Our motel also boasts the Award Winning
Countryman Restaurant and Cocktail Bar.
</tucker>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    47 Cobra Street, Dubbo.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'13"S, 148&#176;36'13"E</p>
   <div class="tucker-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   We love the river for the beauty
   it adds to Dubbo. It’s so refreshing to walk down there on a
   hot day and its’s right in the middle of the city. We love it.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


