---
layout: place
section: riverbedz
item: countryapartments
title: Country Apartments, Dubbo
tel: 0268851141
url: http://www.countryapartments.com.au/
mail: 
slides:
  - countryapartments1.jpg
  - countryapartments2.jpg
  - countryapartments3.jpg
  - countryapartments4.jpg
---
<riverbedz>4 star self contained accommodation.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   7.30am–6pm, 7 days.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    You’ll find us at 230 Brisbane Street, Dubbo.
    One block down from the Mitchell Highway.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'18"S, 148&#176;36'11"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   An attractive natural wonder
   flowing through our city. Great walks and scenery.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


