---
layout: place
section: riverbedz
item: dubborsl
title: Dubbo RSL Club Motel
tel: 0268849099
url: http://www.rslmotel@dubborsl.com.au/
mail: rslmotel@dubborsl.com.au
slides:
  - dubborslmotel1.jpg
  - dubborslmotel2.jpg
  - dubborslmotel3.jpg
  - dubborslmotel4.jpg
---
<riverbedz>Dubbo RSL Club Motel 25
4 star accommodation opposite Dubbo’s leading club. Quiet
off&#45;highway location. 
<br>In the heart of the city. Luxury spa
suites and 2 bedroom family rooms. The motel is two blocks
off the highway, with secure under cover parking.
<br>Club facilities include&#58; Superb casual and formal dining, gaming,
KENO and TAB, outdoor and indoor pools and gymasium.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   7 days per week, 7.30am–9.30pm</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    Corner of Brisbane and Wingewarra Streets, Dubbo.</p>
     <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'59"S, 148&#176;36'11"E</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    Abundance of wildlife, peaceful and serene.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


