---
layout: place
section: riverbedz
item: fountainview
title: Fountainview Motel, Dubbo
tel: 0268829777
url: http://www.fountainviewmotel.com.au/
mail: tobookings@fountainviewmotel.com.au
slides:
  - fountainview1.jpg
  - fountainview2.jpg
  - fountainview3.jpg
  - fountainview4.jpg
---
<riverbedz>3 star (self&#45;rated) accommodation in the heart of Dubbo.
<br>Opposite Elston Park for the kids to run wild and cool off in
summer.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   7.30am–9.00pm</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    113-115 Cobra Street, Dubbo.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'16"S, 148&#176;36'37"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   Natural habitat. Adds a natural
   attraction to the city.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


