---
layout: place
section: riverbedz
item: haddonriglodge
title: ‘Haddon Rig’ Jackaroo Lodge, via Warren
tel: 0417243841
url: http://www.haddonrig.com.au/
mail: rodkatemildner@gmail.com
slides:
  - haddonriglodge1.jpg
  - haddonriglodge2.jpg
  - haddonriglodge3.jpg
  - haddonriglodge4.jpg
---
<riverbedz>Fully self&#45;contained Lodge
accommodating up to eleven
people. Self&#45;catering only. Available
by appointment &#45; in advance only
and as work commitments allow and the Lodge becomes
available. 
<br>One room with queen size bed and air conditioning,
one with single bed and air conditioning plus four twin rooms.
Two shared bathrooms. Fully equipped newly renovated kitchen.
Large cozy lounge with open fireplace and separate dining room
with fireplace. Gauzed verandahs.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Open by appointment in advance only as
   work commitments allow and Lodge becomes available.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    We’re 30 kms from Warren on the Marthaguy/Quambone
    Road. No drop-ins please. You must call in advance.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;31'50.03"S, 147&#176;53'50.54"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   We love the peace and beauty of the
   rivers and creeks and all the wildlife they attract.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


