---
layout: place
section: riverbedz
item: hermitagehill
title: Hermitage Hill Country Retreat and Function Centre, Wellington
tel: 0268454469
url: http://www.hermitagehill.com.au
mail: info@hermitagehill.com.au
slides:
  - Hermitage1.jpg
  - Hermitage2.jpg
  - Hermitage3.jpg
  - Hermitage4.jpg
---
<riverbedz>Hermitage Hill Resort sits looking majestically over the historic township of Wellington.
 It's the transformed former hospital built in 1904. Today it offers accommodation, a superb restaurant and conference,
 workshop and wedding reception facilities.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&deg;33'37.33"S, 148&deg;57'37.79"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    135 Maxwell Street, Wellington</p>
    <div class="riverbedz-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All those found in Wellington, plus the Macquarie and Bell rivers. The turn-off to Lake Burrendong's attractions is only a few kilometres further along the Molong road, as are the Wellington Caves, Caves Bottle etc.</p-->
