---
layout: place
section: riverbedz
item: homesteadmotel
title: Homestead Motel, Dubbo
tel: 0268824944
url: http://www.homesteadmoteldubbo.com
mail:
slides:
  - homesteadmotel1.jpg
  - homesteadmotel2.jpg
  - homesteadmotel3.jpg
  - homesteadmotel4.jpg
---
<riverbedz>Accommodation specialist and a large swimming pool. 3.5 stars
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   24 hour check in available.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    101 Cobra St, Dubbo.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'16"S, 148&#176;36'32"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   We like fishing!</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


