---
layout: place
section: riverbedz
item: immarnabnb
title: Immarna B&#38;B, Rawsonville
tel: 0268873131
url: 
mail: immarnabnb@skymesh.com.au
slides:
  - immarna1.jpg
  - immarna2.jpg
  - immarna3.jpg
  - immarna4.jpg
---
<riverbedz>Immarna Bed and Breakfast was built in 1912 and is set
on 800 acres of prime farm land with a farm yard for children. 
<br>The homestead has a double and a twin room for guests whilst the cottage behind the homestead sleeps four
people. This is the place to stay when you want some time
out from city life and you want to get some fresh air churning
through your veins. Let your children experience what it’s like
to have farm animals up close and personal. 
<br>Being positioned out of Dubbo, native animals are often seen grazing in the
surrounding paddocks as well. Your hosts will ensure you
have an experience you wont forget at this beautiful, historic
homestead. Enjoy a gournmet country breakfast while you
soak up the atmosphere of a country retreat.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Please don’t call at uncivilised hours and
   don’t just drop in - prior bookings essential.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    We’re at 12r Coolbaggie Road, Rawsonville,
    not far from Dubbo. We can provide directions when you book.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;7'41.48"S, 148&#176;26'42.41"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   It is peaceful and the life blood of our farming community.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


