---
layout: layout_trail
section: riverbedz
title: Riverbedz
list:
  - { file: lake_burrendong,      image: BurrendongStateParkweb2.jpg,     caption: Lake Burrendong State Park }
  - { file: wellington_cp,        image: RiversideVPweb3.jpg,             caption: Wellington Riverside Caravan Park }
  - { file: hermitage_hill,       image: Hermitage1.jpg,                  caption: Hermitage Hill Country Retreat and Function Centre, Wellington }
  - { file: abel_tasman,          image: AbelTasman1.jpg,                 caption: Abel Tasman Motor Inn, Dubbo }
  - { file: big4,                 image: Big4web1.jpg,                    caption: BIG 4 Dubbo Parklands }
  - { file: bridge_motel,         image: Bridgemotelweb3.jpg,             caption: Bridge Motel, Wellington }
  - { file: peppercorn,           image: Peppercornweb5.jpg,              caption: Peppercorn Motor Inn, Narromine }
  - { file: tourist_park,         image: narrominetpkweb2.jpg,            caption: Tourist Park and Motel, Narromine }
  - { file: macquaire_cp,         image: Macvanparkweb5.jpg,              caption: Macquarie Caravan Park, Warren }
  - { file: willie_retreat,       image: Campingareaweb.jpg,              caption: Willie Retreat, Macquarie Marshes }
  - { file: riverside_tp,         image: riversidenynganweb1.jpg,         caption: Nyngan Riverside Tourist Park }
---
