---
layout: trail
section: riverbedz
title: Riverbedz
list:
  - { file: lakeburrendong,      image: BurrendongStateParkweb2.jpg,     caption: "Lake Burrendong State Park"}
  - { file: mookerawa,           image: mookerawa2.jpg,                  caption: "Mookerawa Waters State Park, Lake Burrendong"}
  - { file: lakeburrsportandrec, image: lakeburrsportandrec2.jpg,        caption: "Lake Burrendong Sport and Recreation Centre"}
  - { file: hermitagehill,       image: Hermitage1.jpg,                  caption: "Hermitage Hill Country Retreat and Function Centre, Wellington"}
  - { file: wellingtoncp,        image: wellingtoncp2.jpg,               caption: "Helpem Shearing, The 1/4s Caravan Park, Wellington"}
  - { file: riverbnbwell,        image: riverbnbwell4.jpg,               caption: "River B&B, Wellington"}
  - { file: wellingtonmotor,     image: wellingtonmotor2.jpg,            caption: "Wellington Motor Inn"}
  - { file: bridgemotel,         image: Bridgemotelweb3.jpg,             caption: "Bridge Motel, Wellington"}
  - { file: mitchellinn,         image: Mitchellinn2.jpg,                caption: "Mitchell Inn, Geurie"}
  - { file: boathousevilla,      image: boathousevilla4.jpg,             caption: "Boat House Villa @ Lazy River Estate, Dubbo"}
  - { file: abeltasman,          image: AbelTasman1.jpg,                 caption: "Abel Tasman Motor Inn, Dubbo"}
  - { file: big4,                image: Big4web5.jpg,                    caption: "BIG 4 Dubbo Parklands"}
  - { file: zoofari,             image: zoofariweb.jpg,                  caption: "Zoofari Lodge @Taronga Western Plains"}
  - { file: bulwarabnb,          image: bulwarabnb2.jpg,                 caption: "Bulwara B&B, Dubbo"}
  - { file: tallarookmotor,      image: tallarookmotor1.jpg,             caption: "Tallarook Motor Inn, Dubbo"}
  - { file: dubborsl,            image: dubborslmotel2.jpg,              caption: "Dubbo RSL Club Motel"}
  - { file: centrepointmotel,    image: centrepointmotel3.jpg,           caption: "Centrepoint Motel, Dubbo"}
  - { file: peppercornmotor,     image: peppercornmotor3.jpg,            caption: "Peppercorn Motor Inn, Narromine"}
  - { file: narrominetourist,    image: narrominetourist1.jpg,           caption: "Narromine Tourist Park & Motel"}
  - { file: trianglecp,          image: trianglecp3.jpg,                 caption: "Trangie Caravan Park"}
  - { file: narrominehotel,      image: narrominehotel1.jpg,             caption: "Narromine Hotel-Motel"}
  - { file: macquairecp,         image: MacvanParkweb5.jpg,              caption: "Macquarie Caravan Park, Warren"}
  - { file: warrenmotorinn,      image: warrenmotorinn2.jpg,             caption: "Warren Motor Inn"}
  - { file: macquarievalleymi,   image: macquarievalleymi1.jpg,          caption: "Macquarie Valley Motor Inn, Warren"}
  - { file: kiarivercottage,     image: kiarivercottage4.jpg,            caption: "‘Kiameron’ Riverside Cottage, via Warren"}
  - { file: billaquaters,        image: billaquaters3.jpg,               caption: "‘Billabulla’ Country Quarters, via Warren"}
  - { file: haddonriglodge,      image: haddonriglodge2.jpg,             caption: "‘Haddon Rig’ Jackaroo Lodge, via Warren"}
  - { file: nyngantouristpark,   image: nyngantouristpark3.jpg,          caption: "Nyngan Riverside Tourist Park"}
---

