---
layout: trail
section: riverbedz
title: Riverbedz
list:
  - { file: lakeburrendong,      image: BurrendongStateParkweb2.jpg,     caption: "Lake Burrendong State Park"}
  - { file: mookerawa,           image: mookerawa2.jpg,                  caption: "Mookerawa Waters State Park, Lake Burrendong"}
  - { file: lakeburrsportandrec, image: lakeburrsportandrec2.jpg,        caption: "Lake Burrendong Sport and Recreation Centre"}
  - { file: ridgecrest,          image: ridgecrest1.jpg,                 caption: "Ridgecrest Christian Education and Convention Centre"}
  - { file: hermitagehill,       image: Hermitage1.jpg,                  caption: "Hermitage Hill Country Retreat and Function Centre, Wellington"}
  - { file: wellingtoncp,        image: wellingtoncp2.jpg,               caption: "Wellington Valley Caravan Park"}
  - { file: carinyacottages,     image: carinyacottages1.jpg,            caption: "Carinya B&B and Cottages"}
  - { file: wellingtonhotel,     image: Wellingtonhotel1.jpg,            caption: "Wellington Hotel"}
  - { file: riverbnbwell,        image: riverbnbwell4.jpg,               caption: "River B&B, Wellington"}
  - { file: wellingtonmotor,     image: wellingtonmotor2.jpg,            caption: "Wellington Motor Inn"}
  - { file: bridgemotel,         image: Bridgemotelweb3.jpg,             caption: "Bridge Motel, Wellington"}
  - { file: wellingtonriverside, image: wellingtonriverside1.jpg,        caption: "Wellington Riverside Caravan Park"}
  - { file: mitchellinn,         image: Mitchellinn2.jpg,                caption: "Mitchell Inn, Geurie"}
  - { file: boathousevilla,      image: boathousevilla4.jpg,             caption: "Boat House Villa @ Lazy River Estate, Dubbo"}
  - { file: abeltasman,          image: AbelTasman1.jpg,                 caption: "Abel Tasman Motor Inn, Dubbo"}
  - { file: big4,                image: Big4web5.jpg,                    caption: "BIG 4 Dubbo Parklands"}
  - { file: qualityinn,          image: qualityinn3.jpg,                 caption: "Quality Inn International, Dubbo"}
  - { file: bulwarabnb,          image: bulwarabnb2.jpg,                 caption: "Bulwara B&B, Dubbo"}
  - { file: allseasons,          image: allseasons4.jpg,                 caption: "All Seasons Motor Lodge, Dubbo"}
  - { file: tallarookmotor,      image: tallarookmotor1.jpg,             caption: "Tallarook Motor Inn, Dubbo"}
  - { file: cattlemaninn,        image: cattlemaninn2.jpg,               caption: "Cattleman’s Country Motor Inn, Dubbo"}
  - { file: countryapartments,   image: countryapartments4.jpg,          caption: "Country Apartments, Dubbo"}
  - { file: fountainview,        image: fountainview4.jpg,               caption: "Fountainview Motel, Dubbo"}
  - { file: homesteadmotel,      image: homesteadmotel1.jpg,             caption: "Homestead Motel, Dubbo"}
  - { file: dubborsl,            image: dubborslmotel2.jpg,              caption: "Dubbo RSL Club Motel"}
  - { file: countryleisuremotel, image: countryleisuremotel4.jpg,         caption: "Country Leisure Motor Inn, Dubbo"}
  - { file: countrymansmotel,    image: Countryman2.jpg,                 caption: "Cafe and restaurant at the Countryman’s Motel, Dubbo"}
  - { file: aberdeenmotor,       image: aberdeenmotor4.jpg,              caption: "Aberdeen Motor Inn, Dubbo"}
  - { file: centrepointmotel,    image: centrepointmotel3.jpg            caption: "Centrepoint Motel, Dubbo"}
  - { file: immarnabnb,          image: .jpg,                            caption: "Immarna B&B, Rawsonville"}
  - { file: peppercornmotor,     image: peppercornmotor3.jpg,            caption: "Peppercorn Motor Inn, Narromine"}
  - { file: narrominetourist,    image: narrominetourist1.jpg,           caption: "Narromine Tourist Park & Motel"}
  - { file: trianglecp,          image: trianglecp3.jpg,                 caption: "Trangie Caravan Park"}
  - { file: narrominehotel,      image: narrominehotel1.jpg,             caption: "Narromine Hotel-Motel"}
  - { file: imperialhotel,       image: imperialhotel1.jpg,              caption: "Imperial Hotel, Trangie"}
  - { file: macquairecp,         image: MacvanParkweb5.jpg,              caption: "Macquarie Caravan Park, Warren"}
  - { file: warrenmotorinn,      image: warrenmotorinn2.jpg,             caption: "Warren Motor Inn"}
  - { file: macquarievalleymi,   image: macquarievalleymi1.jpg,          caption: "Macquarie Valley Motor Inn, Warren"}
  - { file: kiarivercottage,     image: kiarivercottage4.jpg,            caption: "‘Kiameron’ Riverside Cottage, via Warren"}
  - { file: billaquaters,        image: billaquaters3.jpg,               caption: "‘Billabulla’ Country Quarters, via Warren"}
  - { file: haddonriglodge,      image: haddonriglodge2.jpg,             caption: "‘Haddon Rig’ Jackaroo Lodge, via Warren"}
  - { file: nyngantouristpark,   image: nyngantouristpark3.jpg,          caption: "Nyngan Riverside Tourist Park"}
---

