---
layout: place
section: riverbedz
item: lakeburrendong
title: Lake Burrendong State Park
tel: 0268467435
url: http://www.stateparks.nsw.gov.au/lake_burrendong
mail:
slides:
  - BurrendongStateParkweb1.jpg
  - BurrendongStateParkweb2.jpg
  - BurrendongStateParkweb3.jpg
  - Burrendongaccomweb1.jpg
  - Burrendongaccomweb2.jpg
  - Burrendongaccomweb3.jpg
---
<riverbedz>
Lake Burrendong State Park offers year&#45;round attractions for fishing enthusiasts, nature
lovers, bushwalkers, campers and picnickers.
<br>The closest town to Mookerawa Waters Park
is Stuart Town, a small former gold rush town
of approximately 300 people. Mookerawa
Waters is approximately 10kms from Stuart
Town. 
<br>Lake Burrendong State Park is only a
short drive from Wellington, about one hour
from either Dubbo or Orange and five hours
from Sydney. If you are coming from the north
of the state, the park is 27km south&#45;east of
Wellington.
</riverbedz>
<div class="riverbedz-line-separator"></div>
<p>
    <strong>COORDINATES:</strong>
    32&#176;41'17.87"S, 149&#176; 6'30.67"E
</p>
<div class="riverbedz-line-separator"></div>
<p>
    <strong>LOCATION:</strong>
    Lake Burrendong State Park is only one hour
    drive from either Dubbo or Orange and five hours from Sydney.
    If you are coming from the north of the state, the park is 27km
    south-east of Wellington.
<div class="riverbedz-line-separator"></div>
<!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Lake Burrendong State Park and the Lake Burrendong Sport and Recreation Centre are also found at this location and both offer accommodation and water sport facilities and activities. Nearby there is also the Burrendong Botanic Garden and Arboretum.  Eris Fleming Gallery is also a highlight (see Heritage trail).
</p-->
