---
layout: place
section: riverbedz
item: lakeburrsportandrec
title: Lake Burrendong Sport and Recreation Centre
tel: 0268467403
url: http://www.dsr.nsw.gov.au/
mail:
slides:
  - lakeburrsportandrec1.jpg
  - lakeburrsportandrec2.jpg
  - lakeburrsportandrec3.jpg
  - lakeburrsportandrec4.jpg
---
<riverbedz>
Lots of lake activities here &#45; canoeing, kayaking and dragon
boating for groups. Self contained accommodation for people
to bring their own vessels.
</riverbedz>
<div class="riverbedz-line-separator"></div>
<p>
    <strong>LOCATION:</strong>
    LaLake Burrendong Sport and Recreation is only one
hour drive from either Dubbo or Orange and five hours from
Sydney. If you are coming from the north of the state, the
park is 27km south-east of Wellington.
<div class="riverbedz-line-separator"></div>
<!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Lake Burrendong State Park and the Lake Burrendong Sport and Recreation Centre are also found at this location and both offer accommodation and water sport facilities and activities. Nearby there is also the Burrendong Botanic Garden and Arboretum.  Eris Fleming Gallery is also a highlight (see Heritage trail).
</p-->
