---
layout: place
section: riverbedz
item: macquarievalleymi
title: Macquarie Valley Motor Inn, Warren
tel: 0268474396
url: http://www.macquarievalleymotorinn.com.au
mail: info@macquarievalleymotorinn.com.au
slides:
  - macquarievalleymi1.jpg
  - macquarievalleymi2.jpg
  - macquarievalleymi3.jpg
  - macquarievalleymi4.jpg
---
<riverbedz>Comfortable, convenient
accommodation plus meals and
communal barbe&#45;que available.
<br>A short walk to the Tiger Bay
Wetlands for the nature lovers.
Plus lots of riverside parks to explore.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   7.30am–9pm, 7 days.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    3 Oxley Highway, Warren. Beside the
    Caltex Service Station and opposite the Window on the
    Wetlands Centre on the road to Gilgandra.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;41'44"S, 147&#176;50'22"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   The beauty of the river which
   pleases everyone for fishing, boating or just walking around it.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


