---
layout: place
section: riverbedz
item: macquairecp
title: Macquarie Caravan Park, Warren
tel: 0268474706
url: http://www.macquarievanpark.com
mail: macquarievanpark@bigpond.com
slides:
  - MacvanParkweb1.jpg
  - MacvanParkweb2.jpg
  - MacvanParkweb3.jpg
  - MacvanParkweb4.jpg
  - MacvanParkweb5.jpg
---

<riverbedz>This 3 1/2 star&#45;rated caravan park has powered and unpowered sites plus ensuite cabins.  It's within easy walking distance to the Tiger Bay Wetland (a bird watchers haven) and the Macquarie river.
</riverbedz>
  <p>
  <strong>COORDINATES:</strong>
   31&#186;40'53"S, 147&#186;51'05"E</p>
   <p>
   <strong>LOCATION:</strong>
    1 km north east of the Post Office, off the Oxley Highway.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland (next door) and Tilley's Wines. Willie Retreat, Macquarie Marshes (105 kms). A range of river parks in and near Warren, plus cycling and walking tracks. </p-->
