---
layout: place
section: riverbedz
item: mitchellinn
title: Mitchell Inn, Geurie
tel: 0268871311
url:
mail:
slides:
  - Mitchellinn1.jpg
  - Mitchellinn2.jpg
  - Mitchellinn3.jpg
  - Mitchellinn4.jpg
---
<riverbedz>Country pub with all
that offers &#45; friendly
atmosphere, beer garden,
pool table, roaring wood
fire for the colder months,
Keno and gaming area.
Bistro, counter lunches,
accommodation plus also available for functions.
</riverbedz>
<div class="riverbedz-line-separator"></div>
 <p>
  <strong>OPENING HOURS</strong>
   Monday–Friday: 10am–12 midnight,
Saturday: 11am–12 midnight, Sunday 11am–10pm. Bistro:
Open Wednesday–Saturday, 6pm–8.30pm Counter Lunches:
Saturday 12noon–2pm</p>
   <div class="riverbedz-line-separator"></div>
    <p>
  <strong>HOW TO FIND US</strong>
   47 Buckenbah Street, Geurie – right on the
   highway, you can’t miss us.</p>
   <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;23'54.33"S, 148&#176;49'48.35"E</p>
   <div class="riverbedz-line-separator"></div>
    <p>
  <strong>WHY WE LOVE THE RIVER</strong>
  The Pub is approximately 10km
  from Scabbing Flat and Peach Trees Reserves on the river
  and provides close by place to relax, have a cold beer and a
  shower after a day on the water.</p>
