---
layout: place
section: riverbedz
item: narrominetourist
title: Narromine Tourist Park &#38; Motel
tel: 0268892129
url: http://www.narrominetouristpark.com.au /
mail: mail@narrominetouristpark.com
slides:
  - narrominetourist1.jpg
  - narrominetourist2.jpg
  - narrominetourist3.jpg
  - narrominetourist4.jpg
---
<riverbedz>This facility offers both classic powered and unpowered
caravan and tent sites plus a motel. The motel has a large
self&#45;catering kitchen, dining room and TV&#45;lounge room.
Located within the Narromine aerodrome precinct.
</riverbedz>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    Narromine Aerodrome on the Mitchell
    Highway, Narromine. Take the road to Nyngan and look
    for the aerodrome entrance on the edge of town.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;13'24.59"S, 148&#176;13'47.75"E</p>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


