---
layout: place
section: riverbedz
item: nyngantouristpark
title: Nyngan Riverside Tourist Park
tel: 0268321729
url: http://www.nynganriverside.com.au
mail: info@nynganriverside.com.au
slides:
  - nyngantouristpark1.jpg
  - nyngantouristpark2.jpg
  - nyngantouristpark3.jpg
  - nyngantouristpark4.jpg
---
<riverbedz>Nyngan Riverside Tourist Park is uniquely located on the
Bogan River, an easy walk to town, a haven for skiers, anglers,
birdwatchers and people just looking for a relaxing time on the
banks of the river&#33; 
<br>The Park is 3.5 star&#45;rated and has Deluxe
cabins as well as caravan and camping sites and a waterfront
function room. The park is also pet friendly.
</riverbedz>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    Barrier Highway, Nyngan</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;33'30.13"S, 147&#176;10'51.56"E</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


