---
layout: place
section: riverbedz
item: peppercorn
title: Peppercorn Motor Inn, Narromine
tel: 0268891399
url: http://www.peppercornmotorinn.com.au
mail: bookings@peppercornmotorinn.com.au
slides:
  - Peppercornweb1.jpg
  - Peppercornweb2.jpg
  - Peppercornweb3.jpg
  - Peppercornweb4.jpg
  - Peppercornweb5.jpg
---
<riverbedz>Three star&#45;rated motor inn with great location.
The Peppercorn Motor Inn has 21 units and is just fifty metres from the Narromine Golf Course and Club with its Chinese Restaurant.
It&#39;s also less than 200 metres from the Macquarie River.
</riverbedz>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;13'31.99"S, 148&#186;14'17.02"E</p>
   <p>
   <strong>LOCATION:</strong>
    Corner of Trangie Road-Mitchell Highway and Warren Road</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Rotary Wetland, Andonbel Alpacas Coffee Shop, Edgerton Nursery, Narromine Aviation Museum, The Woodshed Gallery, Narromine Cottage Craft Shop, Macquarie Grove vineyard and several Macquarie river parks.</p-->
