---
layout: place
section: riverbedz
item: peppercornmotor
title: Peppercorn Motor Inn, Narromine
tel: 0268891399
url: http://www.peppercornmotorinn.com.au/
mail: 
slides:
  - peppercornmotor1.jpg
  - peppercornmotor2.jpg
  - peppercornmotor3.jpg
  - peppercornmotor4.jpg
---
<riverbedz>Three star&#45;rated motor inn with great location. The
Peppercorn Motor Inn has 21 units and is just fifty metres
from the Narromine Golf Course and Club with its Chinese
Restaurant. It’s also less than 200 metres from the Macquarie River.
</riverbedz>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    Corner of Trangie Road–Mitchell Highway and Warren Road</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;13'31.99"S, 148&#176;14'17.02"E</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


