---
layout: place
section: riverbedz
item: riversidetp
title: Nyngan Riverside Tourist Park
tel: 0268321729
url: http://www.nynganriverside.com.au
mail: info@nynganriverside.com.au
slides:
  - riversidenynganweb1.jpg
  - riversidenynganweb2.jpg
  - riversidenynganweb3.jpg
  - riversidenynganweb4.jpg
  - riversidenynganweb5.jpg
---

<riverbedz>Nyngan Riverside Tourist Park is uniquely located on the Bogan River, an easy walk to town, a haven for skiers, anglers, birdwatchers and people just looking for a relaxing time on the banks of the river!
The Park is 3 1/2 star-rated and has Deluxe cabins as well as caravan and camping sites and a waterfront function room.  The park is also pet friendly. Bookings for Macquarie Marshes
scenic helicopter flights can also be
made here.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;33'30.13"S, 147&#176;10'51.56"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Barrier Highway, Nyngan</p>
    <div class="riverbedz-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Willie Retreat, Macquarie Marshes Nature Reserve and viewing platform. Tiger Bay Wetland in Warren.</p-->
