---
layout: place
section: riverbedz
item: riverbnbwell
title: River B&#38;B, Wellington
tel: 0268454307
url:
mail: riverbedandbreakfast@gmail.com
slides:
  - riverbnbwell1.jpg
  - riverbnbwell2.jpg
  - riverbnbwell3.jpg
  - riverbnbwell4.jpg
---
<riverbedz>A spacious comfortable one bedroom cottage with a fully
equipped kitchen and river frontage at the bottom of the
garden. Ideal for couples or a single. A full breakfast basket
is provided.
</riverbedz>
   <div class="riverbedz-line-separator"></div>
    <p>
  <strong>HOW TO FIND US</strong>
   Conveniently located in Wellington on a
picturesque stretch of the Macquarie River at 64 Gobolion
Street, Wellington.</p>
   <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;32'41"S, 148&#176;56'41"E</p>
<div class="riverbedz-line-separator"></div>
 <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   We enjoy everything about
living on the river, watching the birds, spotting a platypus,
watching the boats go by and enjoying the peace.</p>