---
layout: place
section: riverbedz
item: tallarookmotor
title: Tallarook Motor Inn, Dubbo
tel: 0268827066
url: http://www.tmidubbo.com.au
mail: info@tmidubbo.com.au
slides:
  - tallarookmotor1.jpg
  - tallarookmotor2.jpg
  - tallarookmotor3.jpg
  - tallarookmotor4.jpg
---
<riverbedz>Great self&#45;contained motel rooms and apartments (3.5
star) overlooking park lands and the Tracker Riley Cycle and
Walkway beside the Macquarie River and one of its boat
ramps &#45; ideal for paddlers, walkers and bird watchers.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
  7am–7pm, 7 days a week.</p>
   <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'56"S, 148&#176;35'41"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    17 Stonehaven Avenue, Dubbo. Look for
    Dubbo City Holiday Park and you’re close to us!</p>
    <div class="riverbedz-line-separator"></div>
     <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    The Macquarie river is right
on our doorstep. We are the only motel in Dubbo on the
river. Its great for swimming, fishing, canoeing or just
walking along the banks enjoying the beautiful scenery and
abundant bird life.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


