---
layout: place
section: riverbedz
item: trianglecp
title: Trangie Caravan Park
tel: 0268887511
url: http://www.trangiecaravanpark.com.au/
mail: enquiries@trangiecaravanpark.com.au
slides:
  - trianglecp1.jpg
  - trianglecp2.jpg
  - trianglecp3.jpg
  - trianglecp4.jpg
---
<riverbedz>Accommodation &#45; on&#45;site cabins &#45; caravans sites
&#45; camping in a peaceful and quiet setting. For the
birdwatchers we can arrange for you to spend the day at
one of the local birdwatching areas only 3 kilometres from
the park. In Trangie there is also the Goan Waterhole, a
short walk from the park where many bird spend their day.
See our web site for lots of other things to see and do in
and around Trangie.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Office opens at 7am – no closing time as we live on site.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    We’re at 38 Goan Street, Trangie –
    follow the signs off the highway. Next to the Trangie War
    Memorial Swimming Centre.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;2'86"S, 148&#176;58'35"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   We love the river for its peace
   and quiet and for the life blood it gives to the area.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


