---
layout: place
section: riverbedz
item: warrenmotorinn
title: Warren Motor Inn
tel: 0268474404
url: http://www.warrenmotorinn.com/
mail: warrenmotorinn@bigpond.com
slides:
  - warrenmotorinn1.jpg
  - warrenmotorinn2.jpg
  - warrenmotorinn3.jpg
  - warrenmotorinn4.jpg
---
<riverbedz>3 star accommodation in a
quiet, off the highway location.
18 ground&#45;floor units each
with their own ensuite, air&#45;con,
TV&#47;DVD, fridge, microwave,
kettle and toaster. There’s
complimentary tea&#47;coffee and toiletries in each room. We
offer discounts for group bookings and short and long term
rates are available.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   8am–10pm, 7 days.</p>
<div class="riverbedz-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    If travelling from Nevertire turn left at
    Chester Street (the third street) and continue for about 500 metres. 
   <br>If travelling from Gilgandra, go over the river and
   straight across the round-a-bout in the centre of town,
   then turn right into Chester Street (the second street) and
   continue for about 500 metres.</p>
    <div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;41'54"S, 147&#176;49'52"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   A great place to relax fishing or boating.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


