---
layout: place
section: riverbedz
item: wellingtoncp
title: Wellington Valley Caravan Park
tel: 0268452006
url: http://www.visitnsw.com/destinations/country-nsw/dubbo-area/wellington/accommodation/wellington-riverside-caravan-park
mail:
slides:
  - wellingtoncp1.jpg
  - wellingtoncp2.jpg
  - wellingtoncp3.jpg
  - wellingtoncp4.jpg
---
<riverbedz>Our attractive caravan park is set in the beautiful
Wellington Valley with views to the green hills that
surround the historic township. 
<br>Situated close to the CBD
as well as local hotels, corner stores and petrol stations and
we are only 30 minutes from Lake Burrendong and the
Aboretium, our Park has everything you need to have an
enjoyable stay in Wellington or as a stop over on your way
through. We also have a large industrial laundry onsite and
a great outdoor bbq area.
Come and check out our hospitality&#33;
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;33'53"S, 148&#176;56'38"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    44-48 Curtis Street (Mitchell highway), Wellington</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>HOW TO FIND OUT MORE</strong>
    We have available:
Accommodation:
5 Cabins (double bed, 4 single bunks, ensuite)
5 Cabins (double bed, 3 bunks, ensuite)
5 Cabins (2 double beds, 1 single)
2 Cabins (double bed, 4 bunks)
20 Powered sites with individual sullage (grey water only)
Unpowered sites.
Information: Toilets, hot shower, laundry, barbecue, dump
point available. Cabins include air conditioning, cooking
facilities, refrigerator, microwave, television, wheel chair
access, electric jug and toaster. Pets welcome, conditions
apply.</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    The two rivers add a soothing
    atmosphere to the town and provide scenic views, fishing,
    river walks and watersports as well as habitat for our</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The Bridge Motel, Lion of Waterloo tavern, Cactus Caf&#233; and Gallery, Oxley Museum,
     Wellington Caves, Caves Bottle and Lake Burrendong's three attractions.
     This is also a good place to start the Macquarie River canoe and kayak trail (see separate description).</p-->
