---
layout: place
section: riverbedz
item: wellingtonmotor
title: Wellington Motor Inn 
tel: 0268451177
url: 
mail: 
slides:
  - wellingtonmotor1.jpg
  - wellingtonmotor2.jpg
  - wellingtonmotor3.jpg
  - wellingtonmotor4.jpg
---
<riverbedz>3 star accommodation in the heart of Wellington and close
to the Bell River.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   7am–9 pm, 7 days</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    37 Maxwell Street, Wellington.</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>COORDINATES</strong>
    32&#176;33'29"S, 148&#176;56'47"E</p>
    <div class="riverbedz-line-separator"></div>
    <p>
   <strong>WHY WE LOVE THE RIVER</strong>
    The two rivers present a
    peaceful place for relaxing, fishing and swimming. Platypus
    are seen in our two rivers a lot.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The Bridge Motel, Lion of Waterloo tavern, Cactus Caf&#233; and Gallery, Oxley Museum,
     Wellington Caves, Caves Bottle and Lake Burrendong's three attractions.
     This is also a good place to start the Macquarie River canoe and kayak trail (see separate description).</p-->
