---
layout: place
section: riverbedz
item: wellingtoncp
title: Wellington Riverside Caravan Park
tel: 0268451370
url: http://www.visitnsw.com/destinations/country-nsw/dubbo-area/wellington/accommodation/wellington-riverside-caravan-park
mail:
slides:
  - RiversideVPweb1.jpg
  - RiversideVPweb2.jpg
  - RiversideVPweb3.jpg
---
<riverbedz>This well maintained, 3-star&#45;rated camping and van park offers on-site cabins, caravan and camping sites with direct access to the Macquarie river for fishing, canoeing etc. Platypus watching is another attraction near here.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;32'32.70"S, 148&#186;56'33.74"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    On the Mitchell Highway, next to the bridge over the Macquarie River on the Dubbo side of Wellington.</p>
    <div class="riverbedz-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The Bridge Motel, Lion of Waterloo tavern, Cactus Caf&#233; and Gallery, Oxley Museum,
     Wellington Caves, Caves Bottle and Lake Burrendong's three attractions.
     This is also a good place to start the Macquarie River canoe and kayak trail (see separate description).</p-->
