---
layout: place
section: riverbedz
item: wzoofari
title: Zoofari Lodge @Taronga Western Plains 
tel: 0268811488
url: http://taronga.org.au
mail: stayovernight@zoo.nsw.gov.au
slides:
  - zoofariweb.jpg
  - zoofariweb1.jpg
  - zoofariweb2.jpg
---
<riverbedz>For a wild night like no other, stay overnight at Taronga Western Plains Zoo. Whether you choose luxury safari lodge style at Zoofari Lodge, Aussie bush camping at Billabong Camp or self contained accommodation at Savannah Cabins, there is something to ensure your Zoo experience is truly wild.
</riverbedz>
<div class="riverbedz-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   30&#176;53'55.31"S, 147&#176;27'56.90"E</p>
   <div class="riverbedz-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Obley Road, Dubbo NSW</p>
    <div class="riverbedz-line-separator"></div>
    <strong>WHY WE LOVE THE RIVER:</strong>
    <p>We love the river as it has an abundance of wildlife and is a great place to bird watch.</p>
    <div class="riverbedz-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Macquarie Marshes Nature Reserve and viewing platform. Tiger Bay Wetland in Warren.</p-->
