/*
    build_target: '<%= build_target %>',
    base_uri: '<%= base_uri %>'
*/

  function onInfoWindowLink (href) {
  
    $.mobile.changePage(href,
      {
      "transition": "slide"
      } );
    return false;
    };

$(function() {

  var
    baseUri = "<%= base_uri ? base_uri : '../' %>",
    testing = <%= build_target =~ /debug/ ? 'true' : 'false' %>,
    testingOutOfRegion = false,  // Set true for easy testing of dynamic user marker on real device when out of region

    zoomLevelAll = 7,         // Initial zoom for nearby, todo, browse trail headers
    zoomLevelNearby = 11,     // nearby, todo, browse once location is known
    zoomLevelPlace = 14,      // Always use this zoom for get directions
    zoomLevelUser = 19,       // "locate me" button

    useSmoothZoom = false,     // true to use smooth zoom for trail markers/location button
    smoothZoomTimePerLevel = 0, // Mimimum time per zoom level, in mSec, seems best left at 0

    maxNearbyDist = 1000,     // Max km from default center to center on user location, or 0 to disable
                              // If user is further than this, then we will center on default
                              // location

    // TODO: Update this to geographical center of the region
    defaultLat = -32.249085,  // Default center location (Dubbo)
    defaultLng = 148.604826,

    geoLocationActiveTime = testing ? 10000 : 60000, // # of mSec to run dynamic geolocation before shutting off
    unknownLocationPopupDelay = 9950,   // Delay before showing unknown location popup - don't popup if location known after this delay
    popupDuration = 6000,               // mSec for popup to remain on display
    externalPopupDelay = 1000,          // Delay before popup shown if map is not already shown

    previousMapQuery,        // Saved previous map query, to avoid unnecessary redraws


  // TODO: initialization of these marker images should be deferred to the first pageinit, so that
  // Google Maps JS is not required until the first use of the map page. They are fine here for
  // now, since we currently still always load Google Maps JS in <head>.
  //
  // It is not desireable to initialize the big places array on every pageinit, so it is initialized once
  // here in the outer closure.
  //
  // We will need to keep an "initialized" variable here, and on first pageinit if false, create the
  // marker images and backfill the places table. (i.e. the icon variables should be removed here in the
  // outer closure and initialized on first pageinit, which can be done based on the group name. )

    pinSize = new google.maps.Size(30,42),
    altPinSize = new google.maps.Size(32,37),
    infoBoxOffset = new google.maps.Size(-30, -10),
    hereMarkerSize = new google.maps.Size(17, 17),

    pixelRatio = window.devicePixelRatio || 1.0,
    use2X = pixelRatio >= 1.5,
    res = use2X ? "@2x" : "",

    cycle = new google.maps.MarkerImage( baseUri + "map/images/Cycle-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    heritage = new google.maps.MarkerImage( baseUri + "map/images/Heritage-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    nature = new google.maps.MarkerImage( baseUri + "map/images/Nature-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    produce = new google.maps.MarkerImage( baseUri + "map/images/Produce-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    river = new google.maps.MarkerImage(baseUri + "map/images/River-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    riverbedz = new google.maps.MarkerImage(baseUri + "map/images/Riverbedz-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    fishing = new google.maps.MarkerImage(baseUri + "map/images/Fishing-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    art = new google.maps.MarkerImage(baseUri + "map/images/Art-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    bird = new google.maps.MarkerImage(baseUri + "map/images/Bird-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    education = new google.maps.MarkerImage(baseUri + "map/images/Education-pin-map" + res + ".png", pinSize, null, null, pinSize ),
    tucker = new google.maps.MarkerImage(baseUri + "map/images/Tucker-pin-map" + res + ".png", pinSize, null, null, pinSize ),

    boatramp = new google.maps.MarkerImage( baseUri + "map/images/boatramp" + res + ".png", altPinSize, null, null, altPinSize ),
    info = new google.maps.MarkerImage( baseUri + "map/images/info" + res + ".png", altPinSize, null, null, altPinSize ),
    rv = new google.maps.MarkerImage( baseUri + "map/images/rv" + res + ".png", altPinSize, null, null, altPinSize ),

    hereMarker = new google.maps.MarkerImage ( baseUri + "map/images/greendot" + res + ".png", hereMarkerSize, null, new google.maps.Point(8.5, 8.5), hereMarkerSize),

    hereMarkerZindex = 20,

    markerListItemTemplate =
    '<li class="place-list-item big-arrow ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-count ui-li-has-icon" ' +
        'data-icon="false" data-group="|g|" data-item="|i|" data-corners="false" data-shadow="false" ' +
        'data-iconshadow="true" data-wrapperels="div" data-iconpos="right" data-theme="c">' +
      '<div class="ui-btn-inner ui-li">' +
        '<div class="ui-btn-text">' +
          '<div class="directions-button"></div>' +
          '<a class="ui-link-inherit">|t||d|' +
            '<img src="' + baseUri + 'images/|p|-pin|r|.png" alt="|a|" class="ui-li-icon trail-pin ui-li-thumb">' +
      '</a></div></div></li>',

    markerListNoteLocationKnown = "Distance displayed in list is based on a straight path from your location.",
    markerListNoteLocationUnknown =
      "Distances are not shown because your current location is not known. " +
      "This might be because a position could not be determined at this time from GPS or other sources, " +
      "because your computer or device lacks geolocation services, or because you have not " +
      "enabled geolocation services.",

      outOfRegionMessage =
        "<p><span class='info'>We see you're not near here,</span> so we're showing you places near Dubbo, at the heart of the Macquarie River Trails region.</p>" +
        "<p>Were you nearby, we'd instead show you places near your current location.</p>",

      noGeolocationMessage =
        "<p><span class='error'>We don't know your current location</span>, so we're showing you places near Dubbo, at the heart of the Macquarie River Trails region.</p>" +
        "<p>If we knew your location we'd instead show you places near your location.</p>"

//_place_data.js.erb start
  groups = {
    boatramp:  { zIndex: 1,   showAlways: true,  icon: boatramp,  title: "" },
    rv:        { zIndex: 2,   showAlways: true,  icon: rv,        title: "" },
    info:      { zIndex: 3,   showAlways: true,  icon: info,      title: "" },
    cycle:     { zIndex: 10,  showAlways: false, icon: cycle,     title: "Cycle Trail"},
    produce:   { zIndex: 10,  showAlways: false, icon: produce,   title: "Produce Trail" },
    heritage:  { zIndex: 10,  showAlways: false, icon: heritage,  title: "Heritage Trail" },
    nature:    { zIndex: 10,  showAlways: false, icon: nature,    title: "Nature Trail" },
    river:     { zIndex: 10,  showAlways: false, icon: river,     title: "River Trail" },
    riverbedz: { zIndex: 10,  showAlways: false, icon: riverbedz, title: "RiverBedz" },
    fishing:   { zIndex: 10,  showAlways: false, icon: fishing,   title: "Fishing Trail" },
    art:       { zIndex: 10,  showAlways: false, icon: art,       title: "Art Trail" },
    education: { zIndex: 10,  showAlways: false, icon: education, title: "Education Trail" },
    bird:      { zIndex: 10,  showAlways: false, icon: bird,      title: "Bird Trail" },
    tucker:    { zIndex: 10,  showAlways: false, icon: tucker,    title: "Tucker Trail" },
    all:       { zIndex: 10,  showAlways: false, icon: null,      title: "All Trails" }
  },

  places = [
    {group: "boatramp", item: "", position: "-32.21039,  148.23812", title:  "Boat Ramp" },
    {group: "boatramp", item: "", position: "-32.192102, 148.610495", title: "Boat Ramp"  },
    {group: "boatramp", item: "", position: "-32.248102, 148.595737", title: "Boat Ramp"  },
    {group: "boatramp", item: "", position: "-32.250138, 148.598792", title: "Boat Ramp"  },
    {group: "boatramp", item: "", position: "-32.541935, 148.935469", title: "Boat Ramp"  },
    {group: "boatramp", item: "", position: "-32.22588,  148.247326", title: "Boat Ramp"  },
    {group: "boatramp", item: "", position: "-32.766391, 149.143586", title: "Boat Ramp"  },
    {group: "boatramp", item: "", position: "-31.685998, 147.834187", title: "Boat Ramp"  },
    {group: "rv", item: "", position: "-32.277955, 148.588445", title: "Dubbo RV dump site" },
    {group: "rv", item: "", position: "-31.696939, 147.839889", title: "Warren RV dump site" },
    {group: "rv", item: "", position: "-32.553644, 148.928628", title: "Wellington RV dump site" },
    {group: "rv", item: "", position: "-32.233914, 148.242014", title: "narromine RV dump site"},
    {group: "info", item: "", position: "-32.553037, 148.940964", title: "Wellington Vistor Information Centre" },
    {group: "info", item: "", position: "-32.243408, 148.601667", title: "Dubbo Visitor Information Centre" },
    {group: "info", item: "", position: "-31.699748, 147.837154", title: "Warren Visitor Information Centre" },
    {group: "info", item: "", position: "-32.233914, 148.242014", title: "Narromine Vistor Information Centre" },
    {group: "cycle", item: "geurie",  position: "-32.400028, 148.818317", title: "Geurie-Bald Hill Mountain Bike Trails" },
    {group: "cycle", item: "beni", position: "-32.246925, 148.72464", title: "Beni State Conservation Area cycling, Dubbo" },
    {group: "cycle", item: "powterpark", position: "-32.239314, 148.611986", title: "Powter Park BMX Track, Dubbo" },
    {group: "cycle", item: "muggahill",  position: "-32.225101, 148.663177", title: "Mugga Hill Mountain Bike Park, Dubbo" },
    {group: "cycle", item: "trackerhill",  position: "-32.256086, 148.589706", title: "Tracker Riley Cycleway and Walking Trail, Dubbo" },
    {group: "cycle",  item: "warrens", position: "-31.706786, 147.842214", title: "Warrens walking and cycling tracks" },
    {group: "cycle",  item: "cycleroute", position: "-32.168474,148.584938", title: "Dubbo’s popular cycle routes" },
    {group: "cycle",  item: "tarongazoo", position: "-32.272233,148.586328", title: "Cycling around Taronga Western Plains Zoo" },
    {group: "produce", item: "edgertonnursery",  position: "-32.230047, 148.239667", title: "Edgerton Nursery, Narromine" },
    {group: "produce", item: "blissandfriends",  position: "-32.426639, 148.830931", title: "Bliss and Friends, Geurie" }, 
    {group: "produce", item: "cottagecraft",  position: "-32.23074, 148.240036", title: "Narromine Cottage Craft Shop" },
    {group: "produce", item: "dubbotown",  position: "-32.243408, 148.601667", title: "Dubbo Town and Country Tours" },
    {group: "produce", item: "ewetwo",  position: "-32.033397, 147.985794", title: "Ewe Two, Trangie" },
    {group: "produce", item: "bellriver",  position: "-32.687631, 148.945311", title: "Bell River Estate, Wellington" },
    {group: "produce", item: "cactuscafe",  position: "-32.551264, 148.942136", title: "Cactus Cafe and Gallery, Wellington" },
    {group: "produce", item: "lazyriver",  position: "-32.296532, 148.627426", title: "Lazy River Estate, Dubbo" },
    {group: "produce", item: "farmers",  position: "-32.243450, 148.601672", title: "Farmers Market, Dubbo" },
    {group: "produce", item: "redearth",  position: "-32.293483, 148.585164", title: "Red Earth Estate, Dubbo" },
    {group: "produce", item: "dubboartncraft",  position: "-32.255039, 148.613186", title: "Dubbo Arts and Crafts Society Cottage" },
    {group: "produce", item: "macquariegrove",  position: "-32.21899, 148.241791", title: "Macquarie Grove Vineyard, Narromine" }, 
    {group: "produce", item: "tilleyswines",  position: "-31.711003, 147.845267", title: "Tilleys Wines, Warren" },
    {group: "produce", item: "dubbohomegifts",  position: "-32.260795, 148.612726", title: "Dubbo Home and Gifts" },
    {group: "produce", item: "weigela",  position: "-31.700983, 147.836667", title: "Weigela Design, Warren" }, 
    {group: "produce", item: "bradswear",  position: "-31.701129, 147.836456", title: "Brad’s Wear, Warren" }, -
    {group: "heritage", item: "cavesbottle",  position: "-32.620367, 148.939019", title: "Caves Bottle House, Wellington" },
    {group: "heritage", item: "oxley", position: "-32.551336, 148.942775", title: "Oxley Museum, Wellington" },
    {group: "heritage", item: "hermitagehill",  position: "-32.560369, 148.960497", title: "Hermitage Hill Country Retreat and Function Centre, Wellington" },
    {group: "heritage", item: "wellingtoncaves",  position: "-32.620994, 148.938186", title: "Wellington Caves Phosphate Mine and Osawano Japanese Gardens" },
    {group: "heritage", item: "lion",  position: "-32.540578, 148.930692", title: "Lion of Waterloo historic country pub, Wellington" },
    {group: "heritage", item: "dundullimal",  position: "-32.286239, 148.602864", title: "Dundullimal Homestead Dubbo" },
    {group: "heritage", item: "pioneer",  position: "-32.302008, 148.625236", title: "Pioneer cemetery, Dubbo" },
    {group: "heritage", item: "westernplains",  position: "-32.249912, 148.609604", title: "Western Plains Cultural Centre, Dubbo" },
    {group: "heritage", item: "gaol",  position: "-32.245766, 148.601624", title: "Old Dubbo Gaol" },
    {group: "heritage", item: "shoyeon",  position: "-32.253908, 148.634189", title: "Shoyeon Japanese Garden, Dubbo" },
    {group: "heritage", item: "aviation",  position: "-32.222778, 148.229125", title: "Narromine Aviation Museum" },
    {group: "heritage", item: "wellingtongateway",  position: "-32.619786, 148.946604", title: "Welllington Gateway Sculpture" },
    {group: "heritage", item: "wellingtonhisttrail",  position: "-32.551822, 148.940711", title: "Wellington Historical Walking Trail" },
    {group: "heritage", item: "wellingtonmontefiores",  position: "-32.548609, 148.759056", title: "Wellington Montefiores heritage drive" },
    {group: "heritage", item: "wellingtonmumbil",  position: "-32.726036, 149.049858", title: "Wellington - Mumbil - Stuart Town Historical Drive" },
    {group: "heritage", item: "dubbotown",  position: "-32.243408, 148.601667", title: "Dubbo Town and Country Tours" },
    {group: "heritage", item: "sensorygarden",  position: "0, 0", title: "Sensory Garden, Dubbo" },
    {group: "heritage", item: "dubboheritage",  position: "-32.245766, 148.601624", title: "Dubbo Heritage Tour" },
    {group: "heritage", item: "terramung",  position: "-32.168713, 148.585022", title: "Terramungamine Reserve, Dubbo" },
    {group: "heritage", item: "narrominemuseam",  position: "-32.199191, 148.271245", title: "Narromine Historical Museum" },
    {group: "heritage", item: "argonauts",  position: "-32.031326, 147.987045", title: "Argonauts Park-Goan Waterhole, Trangie" },
    {group: "heritage", item: "ngembaartists",  position: "-31.695088, 147.841255", title: "Ngemba Wailwan Artists, Warren" },
    {group: "heritage", item: "warrenfamily",  position: "-31.706892, 147.830453", title: "Warren Family History and Historical Society" },
    {group: "heritage", item: "haddonriglodge",  position: "-31.53052, 147.897355", title: "‘Haddon Rig’ Jackaroo Lodge, via Warren" },
    {group: "heritage", item: "kiarivercottage",  position: "-31.221056, 147.646958", title: "‘Kiameron’ Riverside Cottage, via Warren" },
    {group: "heritage", item: "carindatour",  position: "-30.463334, 147.690786", title: "Carinda Heritage Tour" },
    {group: "nature", item: "burrendonggarden",  position: "-32.688297, 149.108519", title: "Burrendong Botanic Garden and Arboretum" },
    {group: "nature", item: "tarongazoo",  position: "-32.272233, 148.586328", title: "Taronga Western Plains Zoo, Dubbo" },
    {group: "nature", item: "dubbobotanic",  position: "-32.253117, 148.635050", title: "Dubbo Regional Botanic Garden" },
    {group: "nature", item: "wongarbon",  position: "-32.330067, 148.767014", title: "Wongarbon Tank Reserve" },
    {group: "nature", item: "rotarywetland",  position: "-32.247919, 148.236222", title: "Rotary Wetland, Narromine" },
    {group: "nature", item: "argonauts",  position: "-32.031326, 147.987045", title: "Argonauts Park-Goan Waterhole, Trangie" },
    {group: "nature", item: "dubbotown",  position: "-32.243408, 148.601667", title: "Dubbo Town and Country Tours" },
    {group: "nature", item: "wetlandviewing",  position: "-30.880064, 147.697353", title: "Wetland viewing platform Macquarie Marshes" },
    {group: "nature", item: "willieretreat", position: "-30.898687, 147.465805", title: "Willie Retreat Macquarie Marshes" },
    {group: "nature", item: "platypus",  position: "-32.553092, 148.941039", title: "Platypus spotting, Wellington" },
    {group: "nature", item: "windowcentre",  position: "-31.694647, 147.84255", title: "Window on the Wetlands Centre and Tiger Bay Wetlands, Warren" },
    {group: "nature", item: "macquariemarshsouth",  position: "-30.924103, 147.459008", title: "Macquarie Marsh Nature Reserves" },
    {group: "nature", item: "centmacquarieroute4",  position: "-30.898687, 147.465805", title: "Central Macquarie Marshes (Route 4)" },
    {group: "nature", item: "northmacquarieroute5",  position: "-30.447954, 147.654147", title: "Northern Macquarie Marshes (Route 5)" },
    {group: "nature", item: "touristpark",  position: "-32.223497, 148.229931", title: "Scenic helicopter rides over the Macquarie Marshes" },
    {group: "river", item: "mookereawa", position: "-32.770344, 149.148642", title: "Mookerawa Waters State Park Lake Burrendong" },
    {group: "river", item: "johnoxley", position: "-32.542912, 148.933151", title: "John Oxley Park, Wellington" },
    {group: "river", item: "cameronpark",  position: "-32.553005, 148.941086", title: "Cameron and Pioneer Park, Wellington" },
    {group: "river", item: "sirrodenpark",  position: "-32.255192, 148.588318", title: "Sir Roden Cutler Park, Dubbo" },
    {group: "river", item: "riverbankpark",  position: "-32.246338, 148.599518", title: "Riverbank Park, Dubbo" },
    {group: "river", item: "lionspark",  position: "-32.249222, 148.594892", title: "Lions Park West Dubbo" },
    {group: "river", item: "langleys",  position: "-32.246685, 148.599045", title: "Langleys River Cruises, Dubbo" },
    {group: "river", item: "sandycreek",  position: "-31.748814, 147.783692", title: "Sandy Creek Rest Area, Warren" },
    {group: "river", item: "lionmacquarieparks",    position: "-31.703211, 147.83931", title: "Lions and Macquarie Parks, Warren" },
    {group: "river", item: "moreparks",  position: "-31.695536, 147.838031", title: "Victoria Oxley and more river parks, Warren " },
    {group: "river", item: "sport", position: "-32.707633, 149.1149946", title: "Lake Burrendong Sport and Recreation" },
    {group: "river", item: "terramungamine",  position: "-32.168713, 148.585022", title: "Terramungamine Reserve, Dubbo" },
    {group: "river", item: "sandybeach",  position: "-32.256325, 148.590622", title: "Sandy Beach, Dubbo" },
    {group: "river", item: "rotarypark",  position: "-32.226742, 148.246664", title: "Rotary Riverside Park, Narromine" },
    {group: "river", item: "macquairecanoe",  position: "-32.542912, 148.933151", title: "Macquarie river canoe and kayak trail" },
    {group: "river", item: "lakeburrendong",  position: "-32.688095, 149.108505", title: "Lake Burrendong State Park" },
    {group: "river", item: "bob",  position: "-31.685056, 147.835917", title: "Bob Christenson Reserve, Warren" },
    {group: "river", item: "scenic",  position: "-31.915911, 148.082527", title: "Macquarie River scenic drive" },
    {group: "riverbedz", item: "lakeburrendong",  position: "-32.688095, 149.108505", title: "Lake Burrendong State Park" },
    {group: "riverbedz", item: "mookerawa",  position: "-32.770344, 149.148642", title: "Mookerawa Waters State Park, Lake Burrendong" },
    {group: "riverbedz", item: "lakeburrsportandrec",  position: "-32.707633, 149.114994", title: "Lake Burrendong Sport and Recreation Centre" },
    {group: "riverbedz", item: "ridgecrest",  position: "-32.665, 149.089722", title: "Ridgecrest Christian Education and Convention Centre" },
    {group: "riverbedz", item: "hermitagehill",  position: "-32.560369, 148.960497", title: "Hermitage Hill Country Retreat and Function Centre, Wellington" },
    {group: "riverbedz", item: "wellingtoncp",  position: "-32.542417, 148.942706", title: "Wellington Valley Caravan Park" },
    {group: "riverbedz", item: "carinyacottages", position: "-32.558611, 148.943889", title: "Carinya B&B and Cottages" },
    {group: "riverbedz", item: "wellingtonhotel",  position: "-32.553878, 148.945425", title: "Wellington Hotel" },
    {group: "riverbedz", item: "riverbnbwell",  position: "-32.544722, 148.944722", title: "River B&B, Wellington" },
    {group: "riverbedz", item: "wellingtonmotor",  position: "-32.558056, 148.946389", title: "Wellington Motor Inn" },
    {group: "riverbedz", item: "bridgemotel",  position: "-32.544325, 148.941369", title: "Bridge Motel, Wellington" },
    {group: "riverbedz", item: "wellingtonriverside",  position: "-32.542417, 148.942706", title: "Wellington Riverside Caravan Park" },
    {group: "riverbedz", item: "mitchellinn",  position: "-32.398464, 148.830142", title: "Mitchell Inn, Geurie" },
    {group: "riverbedz", item: "boathousevilla",  position: "-32.297539, 148.628083", title: "Boat House Villa @ Lazy River Estate, Dubbo" },
    {group: "riverbedz", item: "abeltasman",  position: "-32.254986, 148.5876", title: "Abel Tasman Motor Inn, Dubbo" },
    {group: "riverbedz", item: "big4",  position: "-32.257458, 148.587414", title: "BIG 4 Dubbo Parklands" },
    {group: "riverbedz", item: "qualityinn",  position: "-32.259049, 148.585688", title: "Quality Inn International, Dubbo" },
    {group: "riverbedz", item: "bulwarabnb",  position: "-32.362222, 148.620833", title: "Bulwara B&B, Dubbo" },
    {group: "riverbedz", item: "allseasons",  position: "-32.253333, 148.589167", title: "All Seasons Motor Lodge, Dubbo" },
    {group: "riverbedz", item: "tallarookmotor",  position: "-32.248889, 148.594722", title: "Tallarook Motor Inn, Dubbo" },
    {group: "riverbedz", item: "cattlemaninn",  position: "-32.253611, 148.608333", title: "Cattleman’s Country Motor Inn, Dubbo" },
    {group: "riverbedz", item: "countryapartments",  position: "-32.255, 148.603056", title: "Country Apartments, Dubbo" },
    {group: "riverbedz", item: "fountainview",  position: "-32.254444, 148.610278", title: "Fountainview Motel, Dubbo" },
    {group: "riverbedz", item: "homesteadmotel",  position: "-32.254444, 148.608889", title: "Homestead Motel, Dubbo" },
    {group: "riverbedz", item: "dubborsl",  position: "-32.249563, 148.603613", title: "Dubbo RSL Club Motel" },
    {group: "riverbedz", item: "countryleisuremotel",  position: "-32.253889, 148.609167", title: "Country Leisure Motor Inn, Dubbo" },
    {group: "riverbedz", item: "countrymansmotel",  position: "-32.253611, 148.603611", title: "Cafe and restaurant at the Countryman’s Motel, Dubbo" },
    {group: "riverbedz", item: "aberdeenmotor",  position: "-32.254986, 148.5876", title: "Aberdeen Motor Inn, Dubbo" },
    {group: "riverbedz", item: "centrepointmotel",  position: "-32.253611, 148.608333", title: "Centrepoint Motel, Dubbo" },
    {group: "riverbedz", item: "immarnabnb",  position: "-32.127629, 148.445313", title: "Immarna B&B, Rawsonville" },
    {group: "riverbedz", item: "peppercornmotor",  position: "-32.225553, 148.238061", title: "Peppercorn Motor Inn, Narromine" },
    {group: "riverbedz", item: "narrominetourist",  position: "-32.223465, 148.229935", title: "Narromine Tourist Park & Motel" },
    {group: "riverbedz", item: "trianglecp",  position: "-32.033878, 147.976591", title: "Trangie Caravan Park" },
    {group: "riverbedz", item: "narrominehotel",  position: "-32.234167, 148.238889", title: "Narromine Hotel-Motel" },
    {group: "riverbedz", item: "imperialhotel",  position: "-32.031944, 147.983333", title: "Imperial Hotel, Trangie" },
    {group: "riverbedz", item: "macquairecp",  position: "-31.695214, 147.839808", title: "Macquarie Caravan Park, Warren" },
    {group: "riverbedz", item: "warrenmotorinn",  position: "-31.698333, 147.831111", title: "Warren Motor Inn" },
    {group: "riverbedz", item: "macquarievalleymi",  position: "-31.695556, 147.839444", title: "Macquarie Valley Motor Inn, Warren" },
    {group: "riverbedz", item: "kiarivercottage",  position: "-31.221056, 147.897355", title: "Kiameron’ Riverside Cottage, via Warren" },
    {group: "riverbedz", item: "billaquaters",  position: "-31.542122, 147.782381", title: "‘Billabulla’ Country Quarters, via Warren" },
    {group: "riverbedz", item: "haddonriglodge",  position: "-31.53052, 147.897355", title: "‘Haddon Rig’ Jackaroo Lodge, via Warren" },
    {group: "riverbedz", item: "nyngantouristpark",  position: "-31.558367, 147.180984", title: "Nyngan Riverside Tourist Park" },
    {group: "fishing", item: "mookerawa",  position: "-32.770344, 149.148642", title: "Mookerawa Waters and Lake Burrendong State Parks, near Wellington" },
    {group: "fishing", item: "johnoxley", position: "-32.542912, 148.933151", title: "John Oxley Park, Wellington" },
    {group: "fishing", item: "ponto", position: "-32.465889, 148.820753", title: "Ponto Falls Reserve" },
    {group: "fishing", item: "scabbing", position: "-32.430489, 148.810336", title: "Scabbing Flat Reserve, Geurie Bridge" },
    {group: "fishing", item: "peach", position: "-32.447453, 148.776808", title: "Peach Trees Reserve" },
    {group: "fishing", item: "bril", position: "-32.414511, 148.724722", title: "Bril Bral Reserve" },
    {group: "fishing", item: "butler", position: "-32.314511, 148.621225", title: "Butler&rsquo;s Falls Reserve" },
    {group: "fishing", item: "pilcher", position: "-32.299411, 148.622853", title: "Pilcher&rsquo;s Reserve" },
    {group: "fishing", item: "caroline", position: "-32.294275, 148.627356", title: "Caroline&rsquo;s Reserve" },
    {group: "fishing", item: "dundullimal", position: "-32.283044, 148.601728", title: "Dundullimal Reserve" },
    {group: "fishing", item: "sandybeach",  position: "-32.256325, 148.590622", title: "Sandy Beach, Dubbo" },
    {group: "fishing", item: "riverbankpark",  position: "-32.246338, 148.599518", title: "Riverbank Park, Dubbo" },
    {group: "fishing", item: "lionspark",  position: "-32.249222, 148.594892", title: "Lions Park West Dubbo" },
    {group: "fishing", item: "devil", position: "-32.228244, 148.611044", title: "Devil&rsquo;s Hole Reserve, Dubbo" },
    {group: "fishing", item: "terramungamine",  position: "-32.168713, 148.585022", title: "Terramungamine Reserve, Dubbo" },
    {group: "fishing", item: "redbank", position: "-32.168867, 148.530711", title: "Redbank Reserve" },
    {group: "fishing", item: "north", position: "-32.172192, 148.510972", title: "North Burrabadine Reserve" },
    {group: "fishing", item: "whylandra", position: "-32.189733, 148.495825", title: "Whylandra Crossing Reserves" },
    {group: "fishing", item: "dickigundie", position: "-32.191972, 148.456272", title: "Dickigundie Reserve" },
    {group: "fishing", item: "minore", position: "-32.194422, 148.395839", title: "Minore Falls Reserve" },
    {group: "fishing", item: "brummagen", position: "-32.232447, 148.363664", title: "Brummagen Bridge Reserve" },
    {group: "fishing", item: "reserve", position: "-32.227100, 148.352958", title: "Brummagen Reserve" },
    {group: "fishing", item: "webb", position: "-32.243444, 148.295431", title: "Webb&rsquo;s Siding Reserve, Narromine" },
    {group: "fishing", item: "rotarypark",  position: "-32.226742, 148.246664", title: "Rotary Riverside Park, Narromine" },
    {group: "fishing", item: "mack", position: "-32.196242, 148.247581", title: "Mack&rsquo;s Reserve" },
    {group: "fishing", item: "turkey", position: "-32.142442, 148.233997", title: "Turkey Farm Reserve" },
    {group: "fishing", item: "timbrebongie", position: "-32.131333, 148.246408", title: "Timbrebongie Falls Reserve" },
    {group: "fishing", item: "weir", position: "-31.937592, 148.141358", title: "Gin Gin Weir" },
    {group: "fishing", item: "riverside", position: "-31.904656, 148.098200", title: "Riverside Access" },
    {group: "fishing", item: "gin", position: "-31.915883, 148.082517", title: "Gin Gin Bridge Reserve" },
    {group: "fishing", item: "rest", position: "-31.796111, 147.979722", title: "Riverside Rest Area" },
    {group: "fishing", item: "warren", position: "-31.734811, 147.866556", title: "Warren Weir Reserve - upstream" },
    {group: "fishing", item: "victora",  position: "-31.695536, 147.838031", title: "Oxley Park - Macquarie Park - Ebert Park - Victoria Parks, Warren" },
    {group: "fishing", item: "brian", position: "-31.685056, 147.835917", title: "Brian Egan Weir, Warren" },
    {group: "fishing", item: "quinines", position: "-31.655992, 147.792636", title: "Quinines Reserve, Warren" },
    {group: "art", item: "erisfleming",  position: "-32.758392, 148.928178", title: "Eris Fleming Gallery, Baker’s Swamp" },
    {group: "art", item: "billoshea",  position: "-32.256493, 148.646622", title: "Bill O Sheas Studio Gallery, Dubbo" },
    {group: "art", item: "gratton",  position: "-32.286239, 148.602864", title: "Tim Gratton & Dundullimal Homestead" },
    {group: "art", item: "garlinggallery", position: "-32.334639, 148.759894", title: "Garling Gallery, Wongarbon" },
    {group: "art", item: "outback", position: "-30.953713,148.388869", title: "Outback Arts, Coonamble" },
    {group: "art", item: "macquarietheatre", position: "-32.551336, 148.942775", title: "Macquarie Theatre, Wellington" },
    {group: "art", item: "jackrandell", position: "-32.272233, 148.586328", title: "Fishdog Murals - Jack Randell" },
    {group: "art", item: "basement", position: "-32.245308, 148.601419", title: "The Basement Studio, Dubbo" },
    {group: "art", item: "wellingtongateway", position: "-32.619786, 148.946619", title: "Welllington Gateway Sculpture" },
    {group: "art", item: "animalsonbikes", position: "-32.788164, 148.646662", title: "Animals on Bikes Paddock Art Sculpture Trail" },
    {group: "art", item: "cactuscafe",  position: "-32.551264, 148.942136", title: "Cactus Cafe and Gallery, Wellington" },
    {group: "art", item: "blissandfriends", position: "-32.426639, 148.830931", title: "Bliss and Friends, Geurie" },
    {group: "art", item: "dubboartncraft", position: "-32.255033, 148.613175", title: "Dubbo Arts and Crafts Cottage" },
    {group: "art", item: "westernplains", position: "-32.249912, 148.609604", title: "Western Plains Cultural Centre, Dubbo" },
    {group: "art", item: "wetlandsart", position: "-31.693588, 147.842554", title: "Wetlands ARt, Warren" },
    {group: "art", item: "ngembaartists", position: "-31.695308, 147.841245", title: "Ngemba Wailwan Art, Warren" },  
    {group: "education", item: "burrendonggarden", position: "-32.688297, 149.108519", title: "Burrendong Botanic Garden and Arboretum" },
    {group: "education", item: "lakeburrendong", position: "-32.7321, 149.13374", title: "Lake Burrendong State Park" },
    {group: "education", item: "wellingtonmumbil", position: "-32.726036, 149.049858", title: "Wellington-Mumbil-Stuart Town Heritage Drive" },
    {group: "education", item: "ridgecrest", position: "-32.66108, 149.06379", title: "Ridgecrest Christian Education and Convention Centre" }, 
    {group: "education", item: "platypus", position: "-32.553178, 148.940953", title: "Platypus spotting, Wellington" }, 
    {group: "education", item: "mountarther", position: "-32.553067, 148.916225", title: "Mount Arthur Reserve and Lookout, Wellington" }, 
    {group: "education", item: "wellingtoncaves", position: "-32.620994, 148.916225", title: "Wellington Caves, Phosphate Mine and Osawano Japanese Gardens" }, 
    {group: "education", item: "oxley", position: "-32.551336, 148.942775", title: "Oxley Museum, Wellington" }, 
    {group: "education", item: "wellingtonbuddhist", position: "-32.253654, 148.937325", title: "Wellington Buddhist Centre - Tharpa Choeling" }, 
    {group: "education", item: "wellingtonhisttrail", position: "-32.551822, 148.940711", title: "Wellington Historical Walking Trail" }, 
    {group: "education", item: "wellingtonmontefiores", position: "-32.548609, 148.759056", title: "Wellington Montefiores heritage drive" }, 
    {group: "education", item: "arthurvilleroute1", position: "-32.566754, 148.7376", title: "Arthurville area (Route 1)" }, 
    {group: "education", item: "wambangcntr", position: "-32.488056, 148.555447", title: "Wambangalang Environmental Education Centre" }, 
    {group: "education", item: "riversmart", position: "-32.246714, 148.599067", title: "RiverSmart’s Floating and Outdoor Classrooms, Dubbo" }, 
    {group: "education", item: "dubbobotanic", position: "-32.688297, 149.108519", title: "Dubbo Regional Botanic Garden and Biodiversity Garden" }, 
    {group: "education", item: "tarongazoo", position: "-32.688297, 149.108519", title: "Education @ Taronga Western Plains Zoo" },
    {group: "education", item: "wattlegrove", position: "-32.244403, 148.600103", title: "Wattlegrove, Dubbo" }, 
    {group: "education", item: "trackerhill", position: "-32.256086, 148.589706", title: "Tracker Riley Cycleway and Walking Trail, Dubbo" }, 
    {group: "education", item: "dubbotown", position: "-32.24345, 148.601672", title: "Dubbo Town and Country Tours" }, 
    {group: "education", item: "terramung", position: "-32.168713, 148.585022", title: "Terramungamine Reserve, Dubbo" }, 
    {group: "education", item: "goonoo", position: "-32.07811, 148.86472", title: "Goonoo Forest and Coolbaggie Nature Reserve (Route 2)" }, 
    {group: "education", item: "beniforest", position: "-32.246925, 148.72464", title: "Beni Forest State Conservation Area" }, 
    {group: "education", item: "dundullimal", position: "-32.286239, 148.602864", title: "Dundullimal Homestead, Dubbo" }, 
    {group: "education", item: "pioneercemetery", position: "-32.302008, 148.625236", title: "Pioneer Cemetery, Dubbo" }, 
    {group: "education", item: "westernplains", position: "-32.249912, 148.609604", title: "Western Plains Cultural Centre, Dubbo" }, 
    {group: "education", item: "dubboheritage", position: "-32.245766, 148.601624", title: "Dubbo Heritage Tourn" }, 
    {group: "education", item: "gaol", position: "-32.245766, 148.601624", title: "Old Dubbo Gaol" }, 
    {group: "education", item: "basement", position: "-32.245308, 148.601419", title: "The Basement Studio, Dubbo" }, 
    {group: "education", item: "rotarywetland", position: "-32.245766, 148.601624", title: "Rotary Wetland, Narromine" }, 
    {group: "education", item: "narrominemuseam", position: "-32.199191, 148.601624", title: "Narromine Historical Museum" }, 
    {group: "education", item: "narromineaviation", position: "-32.190493, 148.215616", title: "Narromine Aviation Museum" }, 
    {group: "education", item: "macquarieroute3", position: "0, 0", title: "Narromine-Warren (Route 3 – Bird Watching Trail)" }, 
    {group: "education", item: "windowcentre", position: "-31.694647, 147.84255", title: "Window on the Wetlands Centre and Tiger Bay Wetlands, Warren" }, 
    {group: "education", item: "macquariemarshes", position: "-30.934542, 147.459008", title: "Macquarie Marshes Nature Reserves" }, 
    {group: "education", item: "wetlandviewing", position: "-30.880064, 147.697353", title: "Wetland viewing platform, Macquarie Marshes" }, 
    {group: "education", item: "centmacquarieroute4", position: "-30.898687, 147.465805", title: "Central Macquarie Marshes (Route 4)" }, 
    {group: "education", item: "northmacquarieroute5", position: "-30.46202, 147.69161", title: "Northern Macquarie Marshes (Route 5)" },
    {group: "bird", item: "lakeburrendong", position: "-32.688297, 149.108519", title: "Lake Burrendong Area" }, 
    {group: "bird", item: "mountarther", position: "-32.553067, 148.916225", title: "Mount Arthur Reserve and Lookout, Wellington" }, 
    {group: "bird", item: "geuriecemetary", position: "-32.41172, 148.83258", title: "Geurie Cemetery and Bald Hill Reserve" }, 
    {group: "bird", item: "arthurvilleroute1", position: "-32.688297, 149.108519", title: "Lake Burrendong Area" }, 
    {group: "bird", item: "wongarbonres", position: "-32.330067, 148.767014", title: "Wongarbon Tank Reserve" }, 
    {group: "bird", item: "jonescreek", position: "-32.15106, 148.77394", title: "Jones’ Creek Reserve, Old Mendooran Road" }, 
    {group: "bird", item: "goonoo", position: "-32.07811, 148.86472", title: "Goonoo Forest and Coolbaggie Nature Reserve (Route 2)" }, 
    {group: "bird", item: "beniforest", position: "-32.27328, 148.73061", title: "Beni Forest State Conservation Area" }, 
    {group: "bird", item: "trackerhill", position: "-32.246338, 148.599518", title: "Tracker Riley Cycleway and Walking Trail, Dubbo" }, 
    {group: "bird", item: "devil", position: "-32.228244, 148.611044", title: "Devil’s Hole Reserve, Dubbo" }, 
    {group: "bird", item: "tarongazoo", position: "-32.272233, 148.586328", title: "Taronga Western Plains Zoo, Dubbo" }, 
    {group: "bird", item: "rotarywetland", position: "-32.247919, 148.236222", title: "Rotary Wetland, Narromine" }, 
    {group: "bird", item: "baroonastock", position: "-32.32275, 148.15844", title: "Baroona Travelling Stock Route via Narromine" }, 
    {group: "bird", item: "argonauts", position: "-32.031326, 147.987045", title: "Argonauts Park-Goan Waterhole, Trangie" },
    {group: "bird", item: "macquarieroute3", position: "-31.915883, 148.082517", title: "Macquarie River Drive, Narromine–Warren (Route 3)" },
    {group: "bird", item: "tigerbay", position: "-31.694647, 147.84255", title: "Tiger Bay Wetland, Warren" },
    {group: "bird", item: "centmacquarieroute4", position: "-30.885438, 147.465805", title: "Central Macquarie Marshes (Route 4)" },
    {group: "bird", item: "northmacquarieroute5", position: "-30.46202, 147.69161", title: "Northern Macquarie Marshes (Route 5)" },
    {group: "tucker", item: "cactuscafe", position: "-32.551264, 148.942136", title: "Cactus Cafe and Gallery, Wellington" },
    {group: "tucker", item: "lionofwaterloo", position: "-32.540578, 148.930692", title: "Lion of Waterloo, Wellington Pub" },
    {group: "tucker", item: "hermitagehill", position: "-32.560369, 148.960497", title: "Restaurant at the Hermitage Hill Restuarant, Wellington" },
    {group: "tucker", item: "wellingtonhotel", position: "-32.553878, 148.945425", title: "Wellington Hotel" },
    {group: "tucker", item: "blissandfriends", position: "-32.426639, 148.830931", title: "Bliss and Friends, Geurie" },
    {group: "tucker", item: "mitchellinn", position: "-32.398464, 148.830142", title: "Mitchell Inn, Geurie" },
    {group: "tucker", item: "ploughmansrest", position: "-32.334722, 148.760278", title: "Ploughman’s Rest Tavern, Wongarbon" },
    {group: "tucker", item: "dundullimal", position: "-32.286239, 148.602864", title: "Cafe and functions at Dundullimal Homestead" },
    {group: "tucker", item: "lazyriver", position: "-32.296532, 148.627426", title: "Cafe and functions at Lazy River Estate" },
    {group: "tucker", item: "dubborsl", position: "-32.25, 148.603333", title: "Dubbo RSL Club Resort" },
    {group: "tucker", item: "qualityinn", position: "-32.259049, 148.585688", title: "Reflections Restaurant at the Quality Inn International, Dubbo" },
    {group: "tucker", item: "tarongazoo", position: "-32.272233, 148.586328", title: "Cafe and functions at Taronga Western Plains Zoo" },
    {group: "tucker", item: "shortblackcoffee", position: "-32.246667, 148.601389", title: "Short Black Coffee and Sides, Dubbo" },
    {group: "tucker", item: "macquarieclub", position: "-32.260833, 148.651111", title: "Macquarie Club, Dubbo" },
    {group: "tucker", item: "churchsteetcafe", position: "-32.246944, 148.601111", title: "Church Street Cafe, Dubbo" },
    {group: "tucker", item: "fastlane", position: "-32.251111, 148.599722", title: "The Fast Lane Drive Thru Coffee, Dubbo" },
    {group: "tucker", item: "cattlemaninn", position: "-32.253889, 148.609167", title: "Restaurant at the Cattleman’s Motor Inn, Dubbo" },
    {group: "tucker", item: "westsidehotel", position: "-32.249722, 148.592222", title: "Westside Hotel, Dubbo" },
    {group: "tucker", item: "countrymansmotel", position: "-32.551264, 148.942136", title: "Cafe and restaurant at the Countryman’s Motel, Dubbo" },
    {group: "tucker", item: "narrominehotel", position: "-32.234167, 148.238889", title: "Narromine Hotel" },
    {group: "tucker", item: "imperialhotel", position: "-32.031944, 147.983333", title: "Imperial Hotel, Trangie" },
    {group: "tucker", item: "kookaburrakiosk", position: "-31.695464, 147.841264", title: "Kookaburra Kiosk @ the Window on the Wetlands Centre" },
    {group: "tucker", item: "narromineservices", position: "-32.230953, 148.239572", title: "Narromine United Services Memorial Club" },
    {group: "tucker", item: "oneoneseven", position: "-31.700892, 147.836617", title: "One One Seven Bakery Café, Warren" },
    {group: "tucker", item: "bennyschinese", position: "0, 0", title: "Benny’s Chinese Restaurant, Warren" },

  ]
// _place_data.js.erb end
,
// _utils.js.erb start
// Utility functions included in the outer closure of maps.js

<% if build_target =~ /debug/ %>
      // Formats number with fixed digits
    pad = function(num, digits, padChar) {
        var str = num.toString(),
            _padChar = padChar || "0";
        while (str.length < digits) { str = _padChar + str; }
        return str;
      },

      // Format time for logging
    toTime = function(date) {
        return pad(date.getHours(), 2) + ":" +
               pad(date.getMinutes(), 2) + ":" +
               pad(date.getSeconds(), 2) + "." +
               pad(date.getMilliseconds(), 3);
      },
<% end %>

findPlace = function(group, item) {
  var retval = null;
  $.each( places, function(i, place) {
    if (group === place.group && item === place.item) {
      retval = place;
      return false;
    }
  });
  return retval;
},

logTime = function(msg) {
<%if build_target =~ /debug/ %>
      var time = new Date();
      console.log(toTime(time) + " " + msg);
<% end %>
  },

// remove multiple, leading or trailing spaces
trim = function(s) {
    s = s.replace(/(^\s*)|(\s*$)/gi,"");
    s = s.replace(/[ ]{2,}/gi," ");
    s = s.replace(/\n /,"\n");
    return s;
    },

// Is the given group an "info-type" group?
// These are places that do not have an associated page.
groupShowAlways = function(group) {
  return groups[group].showAlways;
  },

groupZindex = function(group) {
  return groups[group].zIndex;
  },

groupIcon = function(group) {
  return groups[group].icon;
  };

  // Initialize a map page
  $(document).on( "pageinit", ".map-page", function() {
    var
      $page = $( this ),
      knownLocation = false,
      defaultLoc = new google.maps.LatLng(defaultLat, defaultLng ),
      userLoc = undefined,                             // Initially unknown
      centerLoc = defaultLoc,                          // Where to center the map
      tripOriginLoc = userLoc,                         // Origin of trip for distance, directions
      fullLoad = false,
      loadingSingle = false,
      findMe = false,      // User has hit location button in header
      foundMe = false,     // ... and map has now centered on user
      $canvas = $page.find( ".map-canvas" ),   // The element that holds the map
      gmap,     // The jquery.ui-map object
      map,      // The Google map object
	  gmarkers = [],
      $toPretty = $page.find( ".toPretty" ),
      $fromPretty = $page.find( ".fromPretty" ),
      $markerList = $page.find( ".marker-list"),
      $subpageContainerOuter = $page.find(".subpage-container-outer"),
      $subpageContainer = $page.find(".subpage-container"),
      $markerListSubpage = $page.find(".markerlist-subpage"),
      $directionsSubpage = $page.find(".directions-subpage"),
      markerListScroller = $markerListSubpage.jqmData("iscrollview"),
      directionsScroller = $directionsSubpage.jqmData("iscrollview"),
      markerListview = $markerList.jqmData( "listview" ),
      $markerListNote = $page.find( ".markerListNote" ),
      $submitDirections = $page.find( ".submitDirections" ),
      $results = $page.find( ".results" ),
      $directions = $page.find( ".directions" ),
      $markerListBtn = $page.find(".markerlist-button"),
      $markerListBtnInner = $page.find(".markerlist-button-inner"),
      $closeMarkerlistBtn = $page.find(".close-markerlist-button"),
      $closeMarkerlistBtnInner = $page.find(".close-markerlist-button-inner"),
      $closeDirectionsBtn = $page.find(".close-directions-button"),
      $closeDirectionsBtnInner = $page.find(".close-directions-button-inner"),
      $topMarkerNav = $page.find(".topMarkerNav"),
      $directions = $page.find(".directions"),
      $headerTitle = $page.find(".mapsheader h1"),
      $locationBtn = $page.find(".locationBtn"),
      $activeGroupButton,
      infoBox,
      urlVars,
      selGroup,
      selItem,
      selLocation,
      selTodo,
      selNearby = false,   // True if linked to map with "nearby"
      outOfRegionPopup = $page.find(".out-of-region-popup").jqmData("popup"),
      $outOfRegionPopup = $page.find(".out-of-region-popup"),
      staticHereMarker,
      geoLocationMarker,
      geoLocationTimeoutID,
      geoLocationContinuous = false,   // True for continuous gelocation. Set/reset by location button
      geocoder = new google.maps.Geocoder(),
      geocoderBusy = false,      // True is a geocoding request is outstanding
      geocodingDeferred = false, // True if a geocoding request has been deferred due to outstanding request
      deferredGeocodingType,     // Type of deferred geocoding, 0 = to, 1 = from
      lastGeocodeTime,           // Last time that a geocoding request was made
      boundsChangedListener,
      zoomChangeTimer,
      zoomStartTime,             // Timestamp when last zoom step started
      outOfRegion = false,
      popupTimer,
      internal = false,          // True if internal map creation i.e. nearby button pressed while already on map
      lastDirectionsPlace,       // Most recent place shown on the Directions subpage

  // Temporarily change subpage CSS to make it "visible" so that dimensions can be read.
 //  Because event processing is synchronous, the browser won't render the
  // change, as long as the subpage style is set back before the callback returns. So, a hidden
  // subpage will remain hidden as long as _restorePageVisibility() is called before return.
  // This way, we can just use normal dimension functions and avoid using jquery.actual, which
  // slows things down significantly.
  //
  // jquery.actual goes up the tree from the element being measured and sets every element to
  // visible, which is unnecessary. (We only have to be concerned about the subpage element, which
  // we set to display:none for all but the currently-visible page.) It also does this
  // for every dimension read. This essentially does the same thing, but then allows us to "batch"
  // reading dimensions
  setSubPageVisible = function($subpage) {

    var hidden = $subpage.is(":hidden");
    if (hidden) { $subpage.css("display", "block"); }
    return hidden;
  },

  restoreSubPageVisibility = function($subpage, hidden) {

   if (hidden) { $subpage.css("display", ""); }
  },

// Smooth zoom from current level to desired level
// Google Maps V3 doesn't provide this functionality. It will only smooth zoom one level
// TODO: measure actual time between steps, and either subtract from timer or skip
// steps
smoothZoom = function(targetZoom) {
  var currentZoom = map.getZoom(),
      nextZoom;
  if (currentZoom === targetZoom) {
    return;
    }
  nextZoom = currentZoom + (currentZoom > targetZoom ? -1 : 1);
  zoomStartTime = new Date();
  map.setZoom(nextZoom);
  boundsChangedListener = google.maps.event.addListener(map, 'bounds_changed', function(event){
    var elapsed = new Date() - zoomStartTime,
        pauseTime = (elapsed < smoothZoomTimePerLevel) ? smoothZoomTimePerLevel : 0;
    google.maps.event.removeListener(boundsChangedListener);
    boundsChangedListener = undefined;
    zoomChangeTimer = setTimeout(function() {
      zoomChangeTimer = undefined;
      smoothZoom(targetZoom);
      }, smoothZoomTimePerLevel );
      });
  },

zoomTo = function(targetZoom) {
    if (useSmoothZoom) {
    // Cancel any previous listener
      if (boundsChangedListener) {
        google.maps.event.removeListener(boundsChangedListener);
        zoomnChangedListener = undefined;
        }
      // Cancel any previous timer
      if (zoomChangeTimer) {
        clearTimeout(zoomChangeTimer);
        zoomChangeTimer = undefined;
        }
      smoothZoom(targetZoom);
      }
    else {
      //gmap.option( "zoom", targetZoom );
	  gmap.setZoom(targetZoom);
      }
  },

//--------------------------------------------------------
//Resize the map canvas to fill the
// viewport remaining after all fixed-height elements
// Code taken from jquery.mobile.iscrollview, and slightly
// modified.
//--------------------------------------------------------
resizeMapCanvas = function() {
console.log("map canvas resize");
    var newWrapperHeight,
        newOuterWrapperHeight,
        markerNavHeight,
        hidden = setSubPageVisible($markerListSubpage);
    markerListScroller.resizeWrapper(true);
    //markerNavHeight = parseInt($topMarkerNav.css("height"));
    markerNavHeight = ( $topMarkerNav.is(":hidden") ) ? 0 : 201;
    restoreSubPageVisibility($markerListSubpage, hidden);
    newWrapperHeight = $markerListSubpage.height(),
    newOuterWrapperHeight = newWrapperHeight + markerNavHeight;
    $subpageContainer.css("height", newWrapperHeight);
    $subpageContainerOuter.css("height", newOuterWrapperHeight);
    $canvas.css("height", newWrapperHeight);
    $directionsSubpage.css("height", newOuterWrapperHeight);
    setTimeout ( function() {
      $.mobile.silentScroll(0);
      }, 0);
  },

// _info_window.js.erb start
closeInfoWindow = function() {
  if (infoBox) {
    infoBox.close();
    infoBox = null;
    }
  },

openInfoWindow = function(place, markerElement) {
console.log("openinfowindow");
  var url = markerLink(place),
      box = '<div class="inner"><a class="infobox-link" onclick="onInfoWindowLink(' + "'" + url + "'" + ');" >'  + place.title + '</a></div>',
      coords = place.position.split(","),
      lat = trim(coords[0]),
      lng = trim(coords[1]),
      options = {
        content: box,
        closeBoxMargin: "14px 5px 2px 2px",
        closeBoxURL: baseUri + "map/images/298-circlex.png",
        infoBoxClearance: 2,
        pixelOffset: infoBoxOffset
        };
  closeInfoWindow();  // Close the previous info window, if open
  centerLoc = new google.maps.LatLng(lat, lng);
  //gmap.option( "center", centerLoc );
   gmap.setCenter(centerLoc);
  infoBox = new InfoBox(options);
  infoBox.open(map, markerElement);
},
// _info_window.js.erb end
// _marker.js.erb start
// Map functions dealing with the markerlist. This is the list of places shown underneath
// the map, which correspond to the trail markers shown on the map.

showMarkerList = function(){
  if ( !($markerListSubpage.hasClass("subpage-active")) ) { return; }  // Don't update if not shown
  logTime("showMarkerList");
  var markers = gmap.get( "markers" ),
      markersLength = markers.length,
      list = "",
      $markerListItems,
      i = 0,
      markersLength = markers.length;
  logTime("got markers from map");

  for (; i < markersLength; i++) {
    list += buildMarkerListItem( markers[i] );
    }
  logTime("built markerlist string");
  $markerList.empty().append(list);
  logTime("emptied and appended markerlist");

  // sort list by nearest and apply jQuery Mobile UI
  $markerListItems = $markerList.find(".place-list-item");
  $markerListItems.tsort("span.ml-sort");
  logTime("sorted markerlist");
  },

// Update the marker list distances
  updateMarkerListDistances = function() {
  // To be completed
  },

// Builds a single markerlist item, returns it
buildMarkerListItem = function(marker) {
  var position = marker.position,
      title = marker.mTitle,
      group = marker.group,
      item = marker.item,
      link = marker.mLink,
      endRes = userLoc ? getMarkerDistance( position.lat(), position.lng(), userLoc.lat(), userLoc.lng() ) : 0,
      base = markerListItemTemplate,
      groupUC = group.charAt().toUpperCase() + group.slice(1);
  if ( groupShowAlways(group) ) {
    return "";
    }
  endRes = Math.round( endRes*10 ) / 10;
  base = base
    .replace( "|g|", group)
    .replace( "|i|", item)
    .replace( "|p|", groupUC)
    .replace( "|r|", res)
    .replace( "|a|", groupUC );
  if (knownLocation) {
    base = base
      .replace( "|t|", title)
      .replace( "|d|", '<span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><span class="ml-sort">' + endRes + "</span>km</span>" );
    }
  else {
    base = base
      .replace( "|t|", '<span class="ml-sort">' + title + "</span>" )
      .replace( "|d|", "" );
    }
  return base;
  },

markerListULReset = function() {
  $markerList.empty();
  $markerListNote.text( "" );
},

markerLink = function(place) {
  var group = place.group,
      dir = group.charAt(0).toUpperCase() + group.slice(1);
  return baseUri + dir + "/" + place.item + ".html";
  }
// _marker_list.js.erb end
,
// _location.js.erb start

addStaticHereMarker = function( pos ) {


var staticHereMarker = new google.maps.Marker({
          position: pos,
          map: gmap,
		  icon: hereMarker,
		  optimized: true,
		  zIndex: hereMarkerZindex,
          title: "My Location"
        });
		staticHereMarker.addListener('click', function() { addMyLocation(); });
		//gmarkers.push(staticHereMarker);
		/*
    staticHereMarker = gmap.addMarker( {
      icon: hereMarker,
      id: "client",
      position: pos,
      bounds: false,
      optimized: true,
      title: "My Location",
      visible: true,
      flat: true,
      zIndex: hereMarkerZindex,
      } ).click(function() { addMyLocation(); } );
	  */
    },

removeStaticHereMarker = function() {
  if (staticHereMarker) {
    staticHereMarker.get(0).setMap(null);
    staticHereMarker = undefined;
    }
  },

stopGeolocation = function() {
  if (geoLocationTimeoutID) {
    clearTimeout(geoLocationTimeoutID);
    geoLocationTimeoutID = undefined;
    }
  if (geoLocationMarker) {
    geoLocationMarker.unbindAll();
    geoLocationMarker.setMap(null);
    geoLocationMarker = undefined;
    }
  $locationBtn.removeClass("on disabled").addClass("off");
  findMe = false;
  foundMe = false;
  geoLocationContinuous = false;
  },

// Callback to shut off geolocation after a timeout
geoLocationTimeout = function() {
  logTime("geolocation timed-out, stopping geolocation");
  geoLocationTimeoutID = undefined;
  if (geoLocationMarker) {
    addStaticHereMarker(geoLocationMarker.getPosition());
    stopGeolocation();
    }
  },

// Add a dynamic geolocation marker and start gelocation
// If continuous=true, keep geolocation active, else stop after a timeout
addMyLocation = function() {
  // If we have a marker active already, simply reset it's timeout
  if (geoLocationMarker) {
    logTime("dynamic here marker already active - resetting timeout");
    if (geoLocationTimeoutID) {
      clearTimeout(geoLocationTimeoutID);
      geoLocationTimeoutID = undefined;
      }
    if (!geoLocationContinuous) {
      geoLocationTimeoutID = setTimeout(geoLocationTimeout, geoLocationActiveTime);
      }
    return;
    }

  logTime("Adding dynamic here marker");
  console.log("Adding dynamic here marker");
  removeStaticHereMarker();
  geoLocationMarker = new GeolocationMarker(ggmap);
  geoLocationMarker.setPositionOptions( { enableHighAccuracy: true } );

  // updated location callback 
  geoLocationMarker.addListener("position_changed", function() {
    var position = geoLocationMarker.getPosition(),
        accuracy = geoLocationMarker.getAccuracy(),
        lat = position.lat(),
        lng = position.lng(),
        distFromDefaultLoc = getMarkerDistance( lat, lng, defaultLoc.lat(), defaultLoc.lng() );
    outOfRegion = (!testingOutOfRegion) && (distFromDefaultLoc > maxNearbyDist);
    logTime("geolocation position_changed to " + position, + " accuracy = ", + accuracy);

    userLoc = position;
    tripOriginLoc = userLoc;

    // Location unknown -> known
    if (!knownLocation) {
      $markerListNote.text( markerListNoteLocationKnown );
      knownLocation = true;
      }

    updateMarkerListDistances();

    if (findMe && !foundMe) {   // User operated location button in header
      zoomTo(zoomLevelUser);
      centerLoc = userLoc;
      //gmap.option( "center", centerLoc );
	   gmap.setCenter(centerLoc);
      foundMe = true;
      }
    else if ( (!outOfRegion) && (selTodo === undefined) ) {
      // Update map center and zoom
      centerLoc = userLoc;
      //gmap.option( "center", centerLoc );
	   gmap.setCenter(centerLoc);
     // gmap.option( "zoom", zoomLevelNearby );
	  gmap.setZoom(zoomLevelNearby);
      }
    });

  // Error callback
  geoLocationMarker.addListener("geolocation_error", function(error) {
    var code = error.code,
        message = error.message;
    logTime("geolocation_error " + code + " " + message);
    userLoc = undefined;
    tripOriginLoc = undefined;
    knownLocation = false;
    $markerListNote.text( markerListNoteLocationUnknown );
    stopGeolocation();
   $locationBtn.removeClass("on off").addClass("disabled");
  });


   $locationBtn.removeClass("off disabled").addClass("on");
  // Set timer to stop geolocation after an interval
  if (!geoLocationContinuous) {
    geoLocationTimeoutID = setTimeout(geoLocationTimeout, geoLocationActiveTime);
    }
},

revealCanvas = function() {
  $markerListSubpage.removeClass("subpage-active transitioning slideup in out reverse");
  $directionsSubpage.removeClass("subpage-active transitioning slide in out reverse");
  $canvas.addClass("subpage-active");
  $closeDirectionsBtn.hide();
  $closeMarkerlistBtn.hide();
  $markerListBtn.show();
},

fitBounds = function() {
  setTimeout ( function() {
  var bounds = gmap.get("bounds");
  if (bounds) {
    map.fitBounds(bounds);
    }
  //gmap.refresh();
  google.maps.event.trigger(gmap, 'resize');
  }, 0);
},

showPopup = function() {
  $outOfRegionPopup.empty().append( knownLocation ? outOfRegionMessage : noGeolocationMessage );
  popupTimer = setTimeout( function () {
    outOfRegionPopup.open();
      popupTimer = setTimeout(function () {
        outOfRegionPopup.close();
        popupTimer = undefined;
        }, popupDuration);
      },  internal ? 0 : externalPopupDelay );
  },

// Not really "create" - map is already created
// Modifies the map and map page, based on URL params
createMap = function(pInternal) {
console.log("CREATE MAP " + urlVars);
    var lists, title;
    internal = pInternal;

    // Fresh start
    //gmap.clear("services");  // Clear any previous route from the map

    if (!internal) {
     // gmap.clear("markers");   // And markers...
	 console.log('internal');
      }
  //  gmap.clear("overlays");  // and overlays
  gmap.clearOverlays(gmarkers);
  
  	gmap = new google.maps.Map($canvas[0], {
				  center: defaultLoc,
				  zoom: zoomLevelAll
				}); 
	  
	 $page.jqmData("gmap", gmap); 
	// map = gmap.get("map");
	 map = gmap;
	 ggmap = gmap; //global for debugging
	
	
    $directions.empty();
    $results.hide();
    $toPretty.text("");

    // attempt to get specifc marker data from item  page
    urlVars = getUrlVars();
    selGroup = urlVars["section"] || "";
    selItem = urlVars["item"] || "";
    selLocation = urlVars["location"] || "";
    selTodo = urlVars["todo"];      // undefined if not present
    selNearby = urlVars["nearby"] !== undefined;
    todoCount = 0;               // Count of ToDo items to map

    if (selTodo) {
      selTodo = parseInt(selTodo);  // Default to 0 (Favourites) if not an integer
      todoCount = localStore.listCount(selTodo);
      }
    else {
      selTodo = undefined;   // Make sure it is undefined (in case just empty) since we test against undefined specifically
    }

    loadingSingle = false;
    fullLoad = false;

    // Single place = "get directions"  group=<group name>&item=<item name>
    if ( selItem.length && selGroup.length ){
      loadingSingle = true;
      selTodo = undefined;
      }

    // Group - clicked on a group header in Browse (same result as group button on map )
    // group=<group name>
    else if (selGroup.length) {
      selItem = "";
      selTodo = undefined;
      $headerTitle.text(groups[selGroup].title);
      $topMarkerNav.height(201).show().trigger("updatelayout");
      if ($activeGroupButton) {
        $activeGroupButton.removeClass("ui-btn-active");
        }
      $activeGroupButton = $page.find(".markerNav:jqmData(group=" + selGroup + ")" );
      $activeGroupButton.addClass("ui-btn-active");
      }

    // Todo list. 0=Favourites, 1-n - Itineraries (todo=n)
    else if (selTodo !== undefined) {
      lists = localStore.getLists();
      title = lists[selTodo].title;
      $headerTitle.text(title);
      $topMarkerNav.height(0).hide().trigger("updatelayout");
      selItem = "";
      selGroup = "";
      }

    // All places "nearby" button
    else {
      selNearby = true;
      centerLoc = (outOfRegion || !knownLocation ) ? defaultLoc : userLoc;
      //gmap.option( "center", centerLoc );
	  //console.log("XXX");
	  //console.log(centerLoc.lat() + ',' + centerLoc.lng());
	   gmap.setCenter(centerLoc);
      fullLoad = true;
      selItem = "";
      selGroup = "";
      if (!internal) {
        $headerTitle.text("All Trails");
        if ( outOfRegion ) {
          showPopup();
          }
        else if ( !knownLocation ) {
          setTimeout( function() {
          if ( !knownLocation )  { // Location still unknown?
            showPopup();
            }
          }, unknownLocationPopupDelay);
          }
        }
      $topMarkerNav.height(201).show().trigger("updatelayout");
      if (!internal) {
        // Set the appropriate tabbar button active
        if ($activeGroupButton) {
          $activeGroupButton.removeClass("ui-btn-active");
          }
        $activeGroupButton = $page.find(".markerNav:jqmData(group=all)");
        $activeGroupButton.addClass("ui-btn-active");
        }
      }

    //gmap.option( "zoom", (loadingSingle || selTodo !== undefined) ? zoomLevelPlace : zoomLevelNearby );
	gmap.setZoom((loadingSingle || selTodo !== undefined) ? zoomLevelPlace : zoomLevelNearby );

    //---------- Add markers for selected places ------------v

    //gmap.set( "bounds", null );
	
    $.each( places, function(i, place) {

	 if(!place.position)
		return
      var group = place.group,
          item = place.item,
          position = place.position,
          title = place["title"],
          coords = place.position.split(","),
          lat = trim(coords[0]),
          lng = trim(coords[1]),
		  glocation=new google.maps.LatLng(parseFloat(lat), parseFloat(lng)),
          showAlways = groupShowAlways(group),
          zIndex = groupZindex(group),
          oldDestination = "",
          // True if current marker is the single marker of interest for "get directions"
          isSingleMarker = loadingSingle && selGroup === group && selItem === item;
      if ( ( (selTodo === undefined) && (selGroup === group) && ( (selItem.length === 0) || (selItem === item) ) )
           || ( ( selTodo !== undefined ) && (localStore.isInList(selTodo, group, item)  === selTodo) )
           || showAlways
           || fullLoad
        ) {
        if ( isSingleMarker ||
             (selTodo !== undefined && todoCount === 1 && !showAlways)   // Todo with only one place
           ) {  // Want to see single place, so center on it
          centerLoc = new google.maps.LatLng(lat, lng); // Center on the place
          //gmap.option( "center", centerLoc );
		  gmap.setCenter(centerLoc);
          }

        if ( isSingleMarker ) {
			console.log("single marker");
          oldDestination = $page.jqmData("destination");
          if (place.position !== oldDestination) {
            $page.jqmData("destination", place.position);
            $toPretty.text(title);
            }
          $markerListBtn.hide();
          $topMarkerNav.height(0).hide().trigger("updatelayout");
          $headerTitle.text("Directions");
          openDirectionsSubpage(place, true);
          }

        if (!internal) {
			//console.log(glocation);
		 var marker = new google.maps.Marker({
          position: glocation,
          map: gmap,
		  icon: groupIcon(group),
		  optimized: true,
		  zIndex: zIndex,
          title: title
        });
		marker.addListener('click', function() { openInfoWindow(place, this); });
		//gmarkers.push(marker);
		ggmarkers.push(marker);
		
          /* gmap.addMarker( {
            position: position,
            bounds: (selTodo !== undefined) && (todoCount > 1) && (!showAlways),
            optimized: true,
            flat:true,
            icon: groupIcon(group),
            group: group,
            item: item,
            title: title,
            mLink: markerLink(place),
            zIndex: zIndex
            } ).click(function() { openInfoWindow(place, this); }); */
          }
        }
    });

    //--------------- each  --------------------------------^
  addMyLocation();
  setTimeout(function () {
    resizeMapCanvas();
	google.maps.event.trigger(gmap, 'resize');
	gmap.setZoom(zoomLevelAll);
    }, 500);

  if (!loadingSingle) {
    revealCanvas();
    }

  fitBounds();
  }

// _create_=.js.erb end

// _page_utils.js.erb start
// Utility functions to be defined inside the pageinit callback
// Create a form field with street address from coordinates
// type = 0, "to" address (not used, becuase we use the description from the places table)
// type = 1, "from" address (user location)
makePrettyAddress = function( loc, type ) {
  if (geocoderBusy) {
    logTime("geocoder is busy, so request has been deferred");
    geocodingDeferred = true;
    deferredGeocodingType = type;
    return;
  }
  geocoderBusy = true;
  geocoder.geocode( {location: loc}, function(addresses, status ) {
    if (status === google.maps.GeocoderStatus.OK) {
      if (type === 1 ){
        $fromPretty.text( addresses[0].formatted_address);
        }
      else {
        $toPretty.text( addresses[0].formatted_address );
        }
      }
    geocoderBusy = false;
    });
  },

// Get the URL parameters
getUrlVars = function()
  {
  var vars = [],
      hash,
      i,
      hashes = mapQuery.toLowerCase().split("&");
  for(i = 0; i < hashes.length; i++) {
    hash = hashes[i].split("=");
    vars.push(hash[0]);
    vars[hash[0]] = hash[1];
    }
  return vars;
  }
// _page_utils.js.erb end
      ;

//_page_events.js.erb start

// Modify map according to mapQuery, if mapQuery is present and has changed
$page.on( "pagebeforeshow", function() {
console.log("ON page before show");
  createMap();
  });

$page.on( "createmap.rivertrails", function () {
console.log("ON createmap");
  createMap(true);
  });

$page.on( "pagehide", function() {
console.log("pagehide");
  stopGeolocation();
  if (popupTimer) {
    clearTimeout(popupTimer);
    outOfRegionPopup.close();
    popupTimer = undefined;
  }
  });

$page.on("pageremove", function() {
console.log("pageremove");
  var gmap = $page.jqmData("gmap");
  stopGeolocation();
  gmap.destroy();
  });

$(window).on("resize", function( event ) {
  resizeMapCanvas();
  //gmap.refresh();
   google.maps.event.trigger(gmap, 'resize');
  });

$markerListSubpage.on("vclick click vmouseover", ".place-list-item .ui-link-inherit", function(event) {
console.log("markerlistsubpageon");
  if (event.type === "click") {
    event.preventDefault();
    return;
    }

  if ($markerListSubpage.hasClass("transitioning")) {
    event.preventDefault();
    event.stopImmediatePropagation();
    return;
    }

  if (event.type === "vmouseover") {
    return;
    }

  var $this = $(this),
      $li = $this.closest("li"),
      group = $li.jqmData("group"),
      groupUC = group.charAt().toUpperCase() + group.slice(1),
      item = $li.jqmData("item"),
      url = baseUri + groupUC + "/" + item + ".html";
  $.mobile.changePage(url, {"transition": "slide"} );
  event.preventDefault();
  event.stopImmediatePropagation();
  });

$markerListBtn.on("vmouseover", function (event) {
  $markerListBtnInner.addClass("hover");
  });

$markerListBtn.on("vmouseout", function (event) {
  $markerListBtnInner.removeClass("hover");
  });

$markerListBtn.on("vclick scrollstart", function (event) {
  event.preventDefault();
  event.stopImmediatePropagation();
  $markerListBtn.hide();
  $markerListSubpage.addClass("subpage-active slideup in transitioning");
  showMarkerList();
  markerListScroller.refresh();

  $markerListSubpage.animationComplete( function () {
    $canvas.removeClass("subpage-active");
    $markerListSubpage.removeClass("slideup in");
    $closeMarkerlistBtn.show();
    setTimeout( function() {
      $markerListSubpage.removeClass("transitioning");
      }, 500 );
    });
  });

$closeMarkerlistBtn.on("vclick scrollstart", function (event) {
  event.preventDefault();
  event.stopImmediatePropagation();
  $closeMarkerlistBtn.hide();
  $canvas.addClass("subpage-active");
  $markerListSubpage.addClass("slideup out reverse transitioning");
  $markerListSubpage.animationComplete( function () {
    $markerListSubpage.removeClass("subpage-active slideup out reverse transitioning");
    $markerListBtn.show();
    });
  });

var openDirectionsSubpage = function(place, instant) {
  if (place !== lastDirectionsPlace) {
    $results.hide();
    lastDirectionsPlace = place;
  }
  
  //$directionsSubpage.fadeIn();
  //$(".map-page").addClass("ui-page-active");
  //mapUri = "/map/index.html";
  //$.mobile.changePage( '/'+mapUri);

  $closeMarkerlistBtn.hide();
  $page.jqmData("destination", place.position);
  $toPretty.text(place.title);
  if (knownLocation) {
    $page.jqmData("origin", tripOriginLoc.lat() + "," + tripOriginLoc.lng() );   // Set from field for directions
    makePrettyAddress(tripOriginLoc, 1);
    }
  else {
    $page.jqmData("origin", defaultLoc.lat() + "," + defaultLoc.lng() );   // Set from field for directions
    makePrettyAddress(defaultLoc, 1);
    }
  $headerTitle.text("Directions");
  
  if (instant) {
  console.log("instant");
    $directionsSubpage.addClass("subpage-active");
    $markerListSubpage.removeClass("subpage-active transitioning slide in out reverse");
    $closeDirectionsBtn.show();
    }
  else {
  console.log("NOT instant");
    //$markerListSubpage.addClass("slide out reverse");
    //$directionsSubpage.addClass("subpage-active slide in reverse");
	//$directionsSubpage.addClass("subpage-active");
	
    $markerListSubpage.animationComplete( function () {
	console.log("markerlist anim done");
      $directionsSubpage.removeClass("slide in reverse");
      $markerListSubpage.removeClass("subpage-active slide out reverse");
      $closeDirectionsBtn.show();
      });
    }
  };

$page.on("vclick click", ".directions-button", function (event) {
  event.preventDefault();
  if (event.type === "click") { return; }
  var $this = $(this),
      $li = $this.closest("li");
      group = $li.jqmData("group"),
      item = $li.jqmData("item"),
      place = findPlace(group, item);

  openDirectionsSubpage(place);
});

$markerListSubpage.on("swiperight", ".place-list-item", function() {
  var $li = $(this),
      group = $li.jqmData("group"),
      item = $li.jqmData("item"),
      place = findPlace(group, item);
  openDirectionsSubpage(place);
  });

var closeDirectionsSubpage = function() {

setTimeout(function(){

  $closeDirectionsBtn.hide();
  $canvas.addClass("subpage-active");
  $directionsSubpage.addClass("slide out");
  //$directionsSubpage.addClass("slide out");  
  //$(".directions-subpage").removeClass("subpage-active");
  //$directionsSubpage.slideOut();
 /*
	$(".map-canvas" ).addClass("subpage-active");
	$(".directions-subpage").addClass("slide out");  
	$(".directions-subpage").removeClass("subpage-active slide out");
*/

 //$directionsSubpage.removeClass("subpage-active");

  $directionsSubpage.animationComplete( function () {
    $directionsSubpage.removeClass("subpage-active slide out");
    $markerListBtn.show();
	console.log($.mobile.activePage);
		console.log($(".map-page").hasClass('ui-page-active'));
		setTimeout(function(){
			if(!$(".map-page").hasClass('ui-page-active')) //fix weird android bug
			{
				$(".map-page").addClass('ui-page-active');
				$(".home-page").removeClass('ui-page-active');
			}
			
		}, 50);
    });
  fitBounds();
  console.log($.mobile.activePage);
  console.log($(".map-page").hasClass('ui-page-active'));
  
  }, 0);
  };

$page.on("vclick", ".close-directions-button", closeDirectionsSubpage);
$directionsSubpage.on("swipeleft", closeDirectionsSubpage);

//----------------------------------------------------------
// Top Navbar buttons. Shows markers for each trail ---
//----------------------------------------------------------
$topMarkerNav.on("vclick click", ".markerNav", function( e ) {

  e.preventDefault();
  if (e.type === "click") { return; }  // For click, prevent the default action, since we already
                                       // did everything we want on the vclick

  var $button = $(this),
      selGroup = $button.jqmData( "group" );

  if (!selGroup) {
      return;         // Blank button
  }
  $headerTitle.text(groups[selGroup].title);
  closeInfoWindow();
  if ($activeGroupButton) {
    $activeGroupButton.removeClass("ui-btn-active");
    }
  $button.addClass("ui-btn-active");
  $activeGroupButton = $button;
  //gmap.clear( "markers" );
  gmap.clearOverlays();
  gmap.set( "bounds", null );
  fullLoad = selGroup === "all";

  centerLoc = (outOfRegion || !knownLocation) ? defaultLoc : userLoc;
  //gmap.option( "center", centerLoc );
   gmap.setCenter(centerLoc);
  zoomTo( knownLocation ? zoomLevelNearby : zoomLevelAll );

  addMyLocation();
console.log("placesBBB");
  $.each( places, function(i, place) {
  
  if(!place.position)
	return;
    var group = place.group,
        item = place.item,
        showAlways = groupShowAlways(group),
        position = place.position,
        coords = place.position.split(","),
        lat = trim(coords[0]),
        lng = trim(coords[1]),
		glocation=new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
        showAlways = groupShowAlways(group),
        zIndex = groupZindex(group);

    if ( fullLoad || showAlways || group === selGroup ){
	
	var marker = new google.maps.Marker({
          position: glocation,
          map: gmap,
		  icon: groupIcon(group),
		  group: group,
		  optimized: true,
		  zIndex: zIndex,
          title: place.title
        });
		marker.addListener('click', function() { openInfoWindow(place, this); });
		//gmarkers.push(marker);
		ggmarkers.push(marker);
		/*
      gmap.addMarker( {
        position: position,
        bounds: !showAlways,
        optimized: true,
        flat: true,
        icon: groupIcon(group),
        group: group,
        item: item,
        mTitle: place.title,
        mLink: markerLink(place),
        zIndex: zIndex,
        }).click(function() {openInfoWindow(place, this); });
		*/
      }

    });

  showMarkerList();
  fitBounds();
});

$submitDirections.on("vclick click",  function (event) {
  event.preventDefault();
  if (event.type === "click") { return; }

  var
    origin = $page.jqmData("origin"),
    originCoords = origin.split(","),
    originLatLng = new google.maps.LatLng(trim(originCoords[0]), trim(originCoords[1]) ),
    destination = $page.jqmData("destination"),
    destinationCoords = destination.split(","),
    destinationLatLng = new google.maps.LatLng(trim(destinationCoords[0]), trim(destinationCoords[1]) );

  console.log("origin: " + origin);
  console.log("destination: " + destination);

  /*
  gmap.displayDirections ( {
    origin: origin,
    destination: destination,
    travelMode: google.maps.DirectionsTravelMode.DRIVING,
    },
    {
    panel: $directions[0] },
    function (result, status) {
      if (status === "OK") {
        // Set map bounds to fit origin and destination
        gmap.set( "bounds", null );
        gmap.addBounds( originLatLng );
        gmap.addBounds( destinationLatLng );
        fitBounds();
        $results.show().trigger("updatelayout");
        }
      else {
        $results.hide();
        }
    });
	*/ 
	directionsDisplay = new google.maps.DirectionsRenderer();
 /*
  var mapOptions = {
    zoom:zoomLevelPlace,
    center: defaultLoc
  }
  */
	var gmap = new google.maps.Map($canvas[0], {
				  center: defaultLoc,
				  zoom: zoomLevelUser 
				}); 
	  
	 $page.jqmData("gmap", gmap); 
	// map = gmap.get("map");
	 map = gmap;
	 ggmap = gmap; //global for debugging
	 
	directionsDisplay.setMap(ggmap);
	//$(".directions-endpoints").html('');$(".directions-subpage .results")[0]
	$results.empty();
	$directions.empty();
	
	directionsDisplay.setPanel($results[0]);
	
	var start = originLatLng; 
	var end = destinationLatLng;
	var request = {
    origin:start,
    destination:end,
    travelMode: google.maps.TravelMode.DRIVING
	}; 
	directionsService.route(request, function(response, status) {
		if (status == google.maps.DirectionsStatus.OK) {
		console.log("directions okay");
		directionsDisplay.setDirections(response);
				  setTimeout(function () {
			resizeMapCanvas();
			google.maps.event.trigger(ggmap, 'resize');
			fitBounds();
			$results.show().trigger("updatelayout");
			}, 500); 
		
		} 
		else
		{
			$results.hide();
			console.log(status);
		}
	});
	
});

// Location button in header bar
$locationBtn.on("vclick click", function(event) {

  event.preventDefault();
  if (event.type === "click") { return; }  // For click, prevent the default action, since we already
                                       // did everything we want on the vclick

  if ($locationBtn.hasClass("on")) {
    if (geoLocationMarker) {
      findMe = false;
      foundMe = false;
      addStaticHereMarker(geoLocationMarker.getPosition());
      }
    geoLocationContinuous = false;
    stopGeolocation();
    }
  else {
    findMe = true;
    foundMe = false;
    if (knownLocation) {
      zoomTo(zoomLevelUser);
      }
    geoLocationContinuous = true;
    addMyLocation();
    }
  });

// _page_events.js.erb end

  // Instantiate the map object on the canvas element
  /*
  $canvas.gmap( {
    center: defaultLoc,
    zoom: zoomLevelAll,
    <% if build_target =~ /debug/ %>
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },
    <% end %>
    callback: function() {
      gmap = this;
      $page.jqmData("gmap", gmap);
      map = gmap.get("map");
      } 
    });
	*/       
	console.log("default loc:"+defaultLoc + " " + zoomLevelAll);   

	  
	var gmap = new google.maps.Map($canvas[0], {
				  center: defaultLoc,
				  zoom: zoomLevelAll
				}); 

				  
	 $page.jqmData("gmap", gmap); 
	// map = gmap.get("map");
	 map = gmap;
	 ggmap = gmap; //global for debugging
	console.log(gmap); 
	console.log("drawing map");  
	
	  setTimeout(function () {
    resizeMapCanvas();
	google.maps.event.trigger(gmap, 'resize');
    }, 500);
	
  });  //   pageinit

});  // Outer closure

var ggmap;
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var ggmarkers = [];

google.maps.Map.prototype.clearOverlays = function(tmarkers) {
	markersArray = ggmarkers;
	if(tmarkers)
		markersArray = tmarkers;

  for (var i = 0; i < markersArray.length; i++ ) {
    markersArray[i].setMap(null);
  }
  markersArray.length = 0;
}