---
layout: place
section: art
item: animalsonbikes
title: Animals on Bikes Paddock Art Sculpture Trail
tel:
url: http://www.animalsonbikes.com.au
mail: 
slides:
  - animalsonbikes1.jpg
  - animalsonbikes2.jpg
---
<art>According to their web site &#45; see below for the link &#45;
Animals on Bikes is a 120 km ‘Paddock art’ sculpture trail… between Molong and Dubbo…, via Cumnock and Yeoval.
<br>This self&#45;drive tourist route is free, open all year
round and viewed from the comfort of your own car. Lots of fun for the kids too.
<br>Animals on Bikes started as a series of 45 creative 
two metre high sculptures (and smaller letter boxes) &#45; created by local farmers, farmers’ wives,
men’s sheds, bus driver, preschool kids, playgroup mums &#45;
anyone with an artistic flair&#33; That was 2009, now there are over 100 sculptures on display&#33;
   </art>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  If coming from Molong take the Obley
      Road to Dubbo which goes via Cumnock and Yeoval. From
      Dubbo, follows the signs to Taronga Western Plains Zoo, and
      follow Obley Road which runs past the Zoo entrance.</p>
	  <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Peter Browne's Studio Gallery in Molong, Bell River Estate, Lake Burrendong's several attractions, Wellington Caves and the Caves Bottle House.</p-->
