---
layout: place
section: art
item: animals
title: Animals on bikes paddock art sculpture trail
tel: 
url: http://www.animalsonbikes.com.au/index.html
mail: info@animalsonbikes.com.au 
slides:
  - Animalsonbikes1.jpg
  - Animalsonbikes2.jpg
  - Animalsonbikes3.jpg
  - Animalsonbikes4.jpg
---
<art>Animals on bikes is a 120 km &lsquo;Paddock art&rsquo; sculpture trai between Molong and Dubbo., via Cumnock and Yeoval.
This self-drive tourist route is free, open all year round and viewed from the comfort of your own car.  Lots of fun for the kids too.
Animals on Bikes started as a series of 45 creative two metre high sculptures (and smaller letter boxes) – created by local farmers, farmers wives, Men’s sheds, busdriver, Preschool kids, Playgroup mums &#45; anyone with an artistic flair! That was 2009, now there are over 100 sculptures on display&#33;.
</art>
<div class="art-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Day light hours, all year round.</p>
   <div class="art-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'18.12"S, 148&#176;36'47.40"E</p>
   <div class="art-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    If coming from Molong take the Obley Road to Dubbo which goes via Cumnock and Yeoval.  From Dubbo, follows the signs to Taronga Western Plains Zoo, and follow Obley Road which runs past the Zoo entrance.</p>
    <div class="art-line-separator"></div>
    

