---
layout: place
section: art
item: basement
title: The Basement Studio, Dubbo
tel: 0408231827
url: http://www.basementstudio.com.au
mail: brigid@basementstudio.com.au
slides:
  - basementweb1.jpg
  - basementweb2.jpg
  - basementweb3.jpg
---
<art>‘The Basement Studio’ is the artspace and
workshop of community arts practitioner Brigid
Palin. Brigid offers a range of solutions for
individuals, government departments, and corporate clients, from artists training
workshops to management and consultancy on creative projects of any scale. The
Basement Studio is a dynamic art space providing a flexible environment suitable
for fine art exhibitions, art and craft workshops, or a studio space for groups or
project teams. Check website/blog/facebook page for upcoming events. The
Basement now also offers a professional archival picture framing service.<br>Open for framing bookings Mondays & Fridays 10am-3pm or by appointment.
		</art>
		<div class="art-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Please Contact First</p>
	 <div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;14'43.11"S, 148&#176;36'5.11"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	 39-41 Macquarie Street, Dubbo</p>
	  <div class="art-line-separator"></div>
    
	