---
layout: place
section: art
item: blissandfriends
title: Bliss and Friends, Geurie
tel: 0439345914
url:
mail: matilda.julian@gmail.com
slides:
  - Blissandfriends1.jpg
  - Blissandfriends2.jpg
  - Blissandfriends3.jpg
  - Blissandfriends4.jpg
---
<art>Great coffee, smiling faces and morning teas
mixed with artworks and local produce such
as preserves, home made goodies and treats. 
<br>We also have a well stocked book exchange (no cost) as well as art works
painted by Matilda for sale. 
<br>There is also an outdoor garden
dining area for friends to gather. What more could you want&#63;&#33;
</art>
<div class="art-line-separator"></div>
 <p>
  <strong>OPENING HOURS</strong>
   Monday–Friday 7.30am–11am,
   Saturday 9am–12noon, Sunday 9am–3pm</p>
   <div class="art-line-separator"></div>
    <p>
  <strong>HOW TO FIND US</strong>
   Corner of Swift and Arthur Streets in
   Wellington, just near the train station.</p>
   <div class="art-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;23'53"S, 148&#176;49'47"E</p>
