---
layout: place
section: art
item: cactuscafe
title: Cactus Cafe and Gallery, Wellington
tel: 0268454647
url: http://www.cactuscafe.com.au
mail:
slides:
  - Cactus1.jpg
  - Cactus2.jpg
  - Cactus3.jpg
  - Cactus4.jpg
---
<art>Fantastic coffee, local and regional produce and art &#45; all in
the one charming venue&#33;&#33; Clothing, gifts and homewares,
regional produce, functions and parties. The Cactus Café’s
menu is varied, the emphasis being on home style cooking,
using fresh and where possible local ingredients. Firm
favourites include Nachos, Tortillas and Pie of the Day. For
variety, there are daily blackboard specials, using seasonal
ingredients or tying in with the weather. Take&#45;away food
is also available. 
<br>Cactus Café are also licensed and have a
selection of regional white &#38; red wines including Prince
of Orange, Windowrie from Cowra &#38; Apple Tree Flat from
Mudgee, Sparking whites a range of Mudgee Brewing
Company beers. 
<br>Enjoy the surrounds of this heritage
building, beautifully maintained and now revitalised into a
Mexican hacienda.
</art>
<div class="art-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Tuesday to Saturday; 10am-5pm</p>
   <div class="art-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;33'4.55"S, 148&#176;56'31.69"E</p>
   <div class="art-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    33-35 Warne Street. Follow the signs off the highway through town. We're just a stone's throw away.</p>
    <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Wellington Caves and the Caves Bottle House, Oxley Museum, Mount Arthur Reserve and several river parks. Lion of Waterloo tavern,
     Hermitage Hill Resort, Bridge Motel and Riverside Caravan Park.</p-->


