---
layout: place
section: art
item: dubboartncraft
title: Dubbo Arts and Crafts Society Cottage
tel: 0268816410
url: 
mail:
slides:
  - dubboartncraft1.jpg
  - dubboartncraft2.jpg
  - dubboartncraft3.jpg
  - dubboartncraft4.jpg
---
<art>A “must come and visit” attraction while in Dubbo. 
<br>The “Cottage” houses many gifts, works of art, jewellery,
silvercraft, wood products, knitting and sewing, sugarcraft,
painted china, embroidery and numerous other articles all
made by our members. All very original and of the highest quality. 
<br>You are welcome to come and see the various craft
activities held at the “Cottage” during the week. 
<br>From early November the “Cottage Christmas Shop” is open offering
gift ideas, cakes, puddings and jams.
		</art>
		<div class="art-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong> 10am–4pm most days or when the
    flags are out. Serviced by volunteers.</p>
<div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;15'18.12"S, 148&#176;36'47.40"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  137 Cobra Street, Dubbo</p>
	   <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Mountain biking at Geurie - see Cycle trail.  River parks on the Macquarie river such as Ponto Falls and Bril Bral Reserves and more - see ww.rivertrails.com.au. 
     All of Wellington and Dubbo's various attractions.</p-->
	
