---
layout: place
section: art
item: erisfleming
title: Eris Fleming Gallery, Wellington
tel: 0268467221
url: http://www.erisfleming.com.au
mail: eris.fleming@bigpond.com
slides:
  - erisfleming1.jpg
  - erisfleming2.jpg
  - erisfleming3.jpg
  - erisfleming4.jpg
  - erisfleming5.jpg
---
<art>This Gallery is uniquely situated in the large rambling gardens of a 130 year old farmhouse. 
It's 4 kms off the Mitchell Highway along a picturesque country lane. The Gallery houses a vibrant, colourful selection of Eris Fleming's oil paintings and bronze sculptures. 
These works have enduring appeal for both the collector and the investor.
   </art>
   <div class="art-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Friday, Saturday, Sunday, Monday 10am - 5pm.  After hours by appointment</p>
	 <div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;45'30.21"S, 148&#176;55'41.44"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  From Wellington travel south 24 kms along the Molong-Orange road. Turn right at Woodside Lane and travel another 4 kms.</p>
	  <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Peter Browne's Studio Gallery in Molong, Bell River Estate, Lake Burrendong's several attractions, Wellington Caves and the Caves Bottle House.</p-->
