---
layout: place
section: art
item: gratton
title: Tim Gratton @ Dundullimal
tel: 0422615945
url: http://www.timgratton.com
mail: info@timgratton.com
slides:
  - Gratton1web.jpg
  - Gratton2web.jpg
  - Gratton3web.jpg
---
<heritage>As an internationally recognised artist Tim is well known for his cutting-edge
work in niche area of art expression – body art. In the late 1980’s Tim started
body painting whilst living in Amsterdam after studying Fine Art at the Rietveild
Academy. At Dundullimal homestead you will
see landscapes, body art photography or you
might see some drawings or sculpture. Visit Tim
and you can enjoy his company and maybe you
might get to take a piece of him home with you...
</heritage>
      	<div class="heritage-line-separator"></div>	
        <p>
        <strong>COORDINATES:</strong>
         32&#176;17’10.46”S, 148&#176;36’10.31”E</p>
         <div class="heritage-line-separator"></div>
    <p>
    <strong>LOCATION:</strong>
     Obley Road, Dubbo,
1.5km past Taronga Western Plains
Zoo entrance.</p>
<div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> 
    Wellington Caves and Phosphate Mine, Osawano Japanese Gardens, Bell River Estate, Eris Fleming Gallery, Peter Browne's Studio Gallery, Molong and Lake Burrendong's various attractions.</p-->

       