---
layout: trail
section: art
title: Art Trail
list:
  - { file: erisfleming,          image: erisfleming5.jpg,                caption: "Eris Fleming Gallery, Wellington"}
  - { file: wellingtongateway,    image: wellingtongateway2.jpg,          caption: "Welllington Gateway Sculpture"}
  - { file: animalsonbikes,       image: animalsonbikes2.jpg,             caption: "Animals on Bikes Paddock Art Sculpture Trail"}
  - { file: macquarietheatre,     image: Mactheatreweb1.jpg,              caption: "Macquarie Theatre, Wellington"}
  - { file: jackrandell,          image: JackRweb2.jpg,                   caption: "Community cultural murals – Jack Randell"}
  - { file: garlinggallery,       image: gallerygardens2.jpg,             caption: "Garling Gallery, Wongarbon"}
  - { file: billoshea,            image: BillOShea4.jpg,                  caption: "Bill O'Shea's Studio Gallery, Dubbo"}
  - { file: dubboartncraft,       image: dubboartncraft1.jpg,             caption: "Dubbo Arts and Crafts Society Cottage"}
  - { file: basement,             image: basementweb2.jpg,                caption: "The Basement Studio, Dubbo"}
  - { file: westernplains,        image: WPCCweb2.jpg,                    caption: "Western Plains Cultural Centre, Dubbo"}
  - { file: wetlandsart,          image: wetlandsart2.jpg,                caption: "Wetlands ARt, Warren"}
  - { file: ngembaartists,        image: ngembaartists2.jpg,              caption: "Ngemba Wailwan Artists, Warren"}
  - { file: outback,              image: Outbackartsweb2.jpg,             caption: "Outback Arts, Coonamble"}
---

