---
layout: trail
section: art
title: Art Trail
list:
  - { file: animals,              image: Animalsonbikes1.jpg,             caption: "Animals on bikes paddock art sculpture trail"}
  - { file: outback,              image: Outbackartsweb2.jpg,             caption: "Outback Arts, Coonamble"}
  - { file: peterbrowne,          image: PeterBrowne1.jpg,                caption: "Peter Browne Studio Gallery, Molong"}
  - { file: erisfleming,          image: erisfleming5.jpg,                caption: "Eris Fleming Gallery, Wellington"}
  - { file: macquarietheatre,     image: Mactheatreweb1.jpg,              caption: "Macquarie Theatre, Wellington"}
  - { file: garlinggallery,       image: gallerygardens2.jpg,             caption: "Garling Gallery, Wongarbon"}
  - { file: arts,                 image: Dubbocraft7.jpg,                 caption: "Dubbo Arts and Craft Society Cottage"}
  - { file: billoshea,            image: BillOShea4.jpg,                  caption: "Bill O'Shea's Studio Gallery, Dubbo"}
  - { file: jackrandell,          image: JackRweb2.jpg,                   caption: "Community cultural murals – Jack Randell"}
  - { file: gratton,              image: Gratton1web.jpg,                 caption: "Tim Gratton @ Dundullimal"}
  - { file: basement,             image: basementweb2.jpg,                caption: "The Basement Studio, Dubbo"}
  - { file: woodshed,             image: Woodshed1.jpg,                   caption: "The Woodshed Gallery, Narromine"}
---

