---
layout: place
section: art
item: jackrandell
title: Community cultural murals – Jack Randell
tel: 
url: http://www.fishdog.com.au
mail: 
slides:
  - JackRweb1.jpg
  - JackRweb2.jpg
  - JackRweb3.jpg
  - JackRweb4.jpg
---
<art>Jack Randell’s public murals are based on a collaborative process where
participants are invited to submit ideas. These are translated into images that
are tumbled into the jigsaw design, presented to the community as a digital
mock-up and then painted as a workshop. The works are representations of the
aspirations, desires and ideas of the
community that hosts the project.<br>
Geurie Youth Club Mural was
repainted in the summer 2007/8
as a Youth Club members holiday
workshop. Project artists Jack Randell,
Paul Taylor and Annette Simpson
supervised the painting of the exterior
walls of the clubhouse. Geurie is on the Mitchell Highway between Wellington
and Dubbo. The Youth Club is on the corner of Mitchell and Jennings Streets.<br>
Biladurang Platypus Mural can be found on the amenities block at the
Koala compound of Taronga Western Plains Zoo in Dubbo. This project was
designed and supervised by Jack Randell was a collaboration with students at
the Lincoln School of the Orana Juvenile Justice Centre and Taronga Western
Plains Zoo’s Project Platypus.
		</art>
		<div class="art-line-separator"></div>
	<!--p>
	<strong>OPENING HOURS:</strong>
	 Vary depending on the calendar of events</p>
	 <div class="art-line-separator"></div>
	<p-->
	<strong>COORDINATES:</strong>
	 32&#176;16'20.04"S, 148&#176;35'10.78"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <!--strong>LOCATION:</strong>
	 36-42 Swift St, diagonally opposite and up the hill from the Civic Centre.</p>
	  <div class="art-line-separator"></div-->
    
	