---
layout: place
section: art
item: macquarietheatre
title: Macquarie Theatre, Wellington
tel: 0409311893
url: www.macquarietheatre.com.au
mail: macquarietheatre@gmail.com
slides:
  - Mactheatreweb5.jpg
  - Mactheatreweb4.jpg
  - Mactheatreweb1.jpg
  - Mactheatreweb3.jpg
  - Mactheatreweb2.jpg
---
<art>Right in the heart of Wellington’s CBD you’ll find the Macquarie Theatre; a place
for art, design and cultural exhibitions and events.
		</art>
		<div class="art-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Vary depending on the calendar of events</p>
	 <div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;33'4.81"S, 148&#176;56'33.99"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	 36-42 Swift St, diagonally opposite and up the hill from the Civic Centre.</p>
	  <div class="art-line-separator"></div>
    
	