---
layout: place
section: art
item: outback
title: Outback Arts, Coonamble
tel: 0268222484
url: www.outbackarts.com.au
mail: 
slides:
  - Outbackartsweb1.jpg
  - Outbackartsweb2.jpg
  - Outbackartsweb3.jpg
  - Outbackartsweb4.jpg
---
<art>Servicing the region since 1999, Outback
Arts Inc has a long history with local
communities standing as the regional arts
development organisation for the Far West
including the shire of Coonamble, Cobar,
Bourke, Walgett and Warren.
Outback Arts works with community and
arts organisations such as Arts Councils,
Historical Societies, School PandC’s,
Indigenous organisations and many more
in providing and promoting arts and
cultural opportunities within their communities.
Projects that Outback Arts have run include Indigenous fibre
weaving workshops, touring theatrical performances and art touring
exhibitions across the five shires and many more.
Outback Arts also facilitates an art gallery within their office in
Coonamble. The gallery is open to the public and available for
applications for shows to be held throughout the year.
		</art>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Monday to Friday 9am–5pm</p>
	 <div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;15'23.44"S, 148&#176;38'47.84"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	 65-67 Castlereagh St, Coonamble NSW</p>
	  <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Garling Gallery in Wongarbon. Mountain biking at Geurie - see Cycle trail.  River parks on the Macquarie river such as Ponto Falls and Bril Bral Reserves and more - see www.rivertrails.com.au 
     All of Dubbo's various attractions.</p-->
	