---
layout: place
section: art
item: timgratton
title: Tim Gratton @ Dundullimal Homestead
tel: 0422615945
url: http://www.timgratton.com
mail: info@timgratton.com
slides:
  - timgratton1.jpg
  - timgratton2.jpg
  - timgratton3.jpg
---
<art>As an internationally recognised artist Tim is well known for his cuttingedge work in niche area
of art expression &#45; body art. In the late 1980’s Tim started body painting whilst living in Amsterdam
after studying Fine Art at the Rietveild Academy. 
<br>At Dundullimal homestead you will see landscapes, body art photography or you might see
some drawings or sculpture. Visit Tim and you can enjoy his
company and maybe you might get to take a piece of him home with you...
		</art>
	 <div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;17'10.46"S, 148&#176;36'10.31"E</p>
	 <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Garling Gallery in Wongarbon. Mountain biking at Geurie - see Cycle trail.  River parks on the Macquarie river such as Ponto Falls and Bril Bral Reserves and more - see www.rivertrails.com.au 
     All of Dubbo's various attractions.</p-->
	