---
layout: place
section: art
item: wetlandsart
title: Wetlands ARt, Warren
tel: 0268814444
url: https://itunes.apple.com/us/app/wetlands-art/id982105771?ls=1&mt=8
mail:
slides:
  - wetlandsart1.jpg
  - wetlandsart2.jpg
  - wetlandsart3.jpg
  - wetlandsart4.jpg
---
<art>Wetlands ARt is a mobile phone app that contains works
created by a group of local high school students from
Warren Central School during a digital storytelling and
augmented reality art workshop held in February 2015.
<br>The works consist of a series of short animations and
videos that the students made in response to the Tiger Bay
Wetlands – a wetlands area located on the outskirts of
the town of Warren – and to the role played by wetlands
in river ecosystems. There is also a flock of virtual birds
that were “painted” by the students.<br>The app will work on
iPhones, iPads or Android devices and can be downloaded
for free from either the Apple App Store or Google Play
Store. The works can then be viewed – and, in some cases,
interacted with – by going to designated information signs
along the walkways in the wetlands.
		</art>
	 <div class="art-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 31&#176;41'36.95"S, 147&#176;50'33.15"E</p>
	 <div class="art-line-separator"></div>
	 <p>
	 <strong>HOW TO FIND US</strong>
	  Produced by dLux MediaArts in
association with partners Macquarie 2100 and Riversmart
Australia.</p>
	  <div class="art-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Shoyoen Japanese gardens, and the rest of Dubbo's attractions including its several river parks.</p-->
	