---
layout: place
section: heritage
item: aviation
title: Narromine Aviation Museum
tel: 0268897131
url: http://www.narromineaviationmuseum.org.au
mail: 
slides:
  - AviationM1.jpg
  - AviationM2.jpg
  - AviationM3.jpg
  - AviationM4.jpg
---
<heritage>A captivating exhibition of artifacts, documents and photographs which tell the story of aviation as it unfolded on one of Australia 's most historic aerodromes.
 Home of Australia's only flying replica of a Wright Model A Flyer
		</heritage>
	<p>
	<strong>OPENING HOURS:</strong>
	 Wednesday to Monday, 10.00am - 5.00pm.  Visits at other times by arrangement. Cost: $7 adult, $5 child / pensioner $5 per person for groups of 15 or more.</p>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;13'22.00"S, 148&#186;13'44.85"E</p>
	 <p>
	 <strong>LOCATION:</strong>
	  The museum is located at Narromine Aerodrome on Trangie Road, just two kilometres north-west of town.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Rotary Wetland, Macquarie Grove Vineyard and Narromine Tourist Park and Motel and the Peppercorn Motor Inn are both close by. 
     Plus, enjoy the several river parks nearby - see www.rivertrails.com.au.</p-->
	