---
layout: place
section: heritage
item: billoshea
title: Bill O'Shea's Studio Gallery, Dubbo
tel: 0268842665
url: 
mail: billoshea20@hotmail.com
slides:
  - BillOShea1.jpg
  - BillOShea2.jpg
  - BillOShea3.jpg
  - BillOShea4.jpg
---
<heritage>Experience the wonders of Australia's landscape in all its glorious colours, painted in traditional style, at Bill O'Shea's Studio Gallery. 
Bill's works dramatically and beautifully typify the Australian scene - the woolsheds, mining and farming scenes, shacks, timber mills, homesteads and pubs of Australia. 
Bill is a prize winning artist and recipient of the Fellowship by the Australian Institute of History and Arts
		</heritage>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open 7 days   8.30am - 5.30pm  Free admission.</p>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;15'23.44"S, 148&#186;38'47.84"E</p>
	 <p>
	 <strong>LOCATION:</strong>
	  The Studio Gallery is located at 83 Sheraton Road in Dubbo.  If coming into Dubbo along the Mitchell Highway from Wellington, 
	  turn right at the first round-about into Sheraton Road and you'll see the sign about hundred metres down the street on your left.  
	  If coming from the other direction drive past Orana Mall and then turn left at the next round-about.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Garling Gallery in Wongarbon. Mountain biking at Geurie - see Cycle trail.  River parks on the Macquarie river such as Ponto Falls and Bril Bral Reserves and more - see www.rivertrails.com.au 
     All of Dubbo's various attractions.</p-->
	