---
layout: place
section: heritage
item: carindatour
title: Carinda Heritage Tour
tel: 0268286139
url: http://www.walgett.nsw.gov.au
mail: 
slides:
  - carindatour1.jpg
  - carindatour2.jpg
  - carindatour3.jpg
  - carindatour4.jpg
---
<heritage>Sitting near the bottom end of the Macquarie Marshes is
the village of Carinda, with a population of approximately
200. <br>Apart from it’s proximity to the Marshes, Carinda has
several other claims to fame. <br>It’s believed the first settlers
came in the region in the mid 1800’s with the site of the
current township being established in the early 1900’s. 
<br>It’s rumoured that Carinda’s rather flash Police Station, built in
1968 when the old one burned down, was actually meant
for the much larger Quirindi&#33; <br>Carinda is also not far from
Cuddie Springs an important achaelogical site with fossil
deposits. <br>And, in 1983 for David Bowie’s huge worldwide
hit, Let’s Dance, the video clip was largely filmed in the
Carinda pub and features many locals. One to remember for
trivia nights&#33;
</heritage>
<div class="heritage-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Negotiable.</p>
<div class="heritage-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    Carinda lies in Walgett Shire. Walgett is
about 70 kms from Carinda. If travelling from Warren it’s
about 180 kms and about the same from Nyngan. Make
sure you have lots of fuel as petrol stations are few and far
between out in this country. It also gets bloody hot across
the black soil plains in summer (40-45 degrees is not
uncommon) so avoid travel in the heat of the day and make
sure you have water with you.</p>
    <div class="heritage-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   30&#176;27'48"S, 147&#176;41'26.83"E</p>
   <div class="heritage-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   The is Marsh country so the
locals love it when it rains.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


