---
layout: place
section: heritage
item: cavesbottle
title: Caves Bottle House, Wellington Caves
tel: 0268454294
url: http://www.visitwellington.com.au
mail:
slides:
  - BottleHouse1.jpg
  - BottleHouse2.jpg
  - BottleHouse3.jpg
  - BottleHouse4.jpg
---
<heritage>The Bottle House is made from just over 9000 wine bottles. It&#39;s a fascinating
place to see and is located near the entrance to the Wellington Caves and
Phosphate Mine. The Bottle House is open during school holidays and on
weekends. The Bottle House has for sale an interesting range of mineral
specimens, crystals and fossils. A specialty of the shop is &ldquo;Wellington
Moonbeam Pendants&rdquo;, made on the premises from high quality, specially
imported crystal.</heritage>

    <p>
    <strong>OPENING HOURS:</strong>
     10am - 4pm Sunday or by appointment</p>
    <p>
    <strong>COORDINATES:</strong>
     32&#186;37'13.32"S, 148&#186;56'20.47"E</p>
    <p>
    <strong>LOCATION:</strong>
     Take the Wellington Caves turnoff a few kilometres from Wellington on the Molong-Orange Road..</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Wellington Caves and Phosphate Mine, Osawano Japanese Gardens, Bell River Estate, Eris Fleming Gallery, Peter Browne's Studio Gallery, Molong and Lake Burrendong's various attractions.</p-->

        <
