---
layout: place
section: heritage
item: dubbotown
title: Dubbo Town and Country Tours
tel: 0415396696
url: http://www.dubbotowncountrytours.com.au
mail: nfo@dubbotowncountrytours.com.au
slides:
  - dubbotown1hist.jpg
  - dubbotown2hist.jpg
  - dubbotown3hist.jpg

---
<education>Dubbo Town and Country Tours offers a range of educational
opportunities, on farming and agriculture, history, nature
and wildlife, and Aboriginal culture (See Education and
Local Produce Trails as well). 
<br>We offer historical walking
tours, lead by a guide in character as Dusty Bob, a notorious
convict&#45;come&#45;squatter who saw the town of Dubbo
arise in his paddocks. He tells the story of the beginnings
of Dubbo, covering interaction with Aboriginal people,
colonial trade and commerce, law and order, transport,
environmental modification, stories of the early settlers,
and change and continuity over time. For those keen to
learn more, we can bus your group to further historical
sites around Dubbo as well. 
<br>For a diverse educational
experience, join our Dubbo Highlights tour, visiting a
traditional Aboriginal cultural site, an agricultural site,
Japanese gardens, Dundullimal colonial homestead, and
relax with wine and cheese at a vineyard and more. Tours
with inside information are provided at each site.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>HOW TO FIND US</strong>
   Tours start at the Dubbo Visitor
   Information Centre or other central locations.</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>FIND OUT MORE</strong>
  Call, email, or visit our website
  www.dubbotowncountrytours.com.au or facebook
  www.facebook.com/dubbotown&countrytours</p>
  <div class="education-line-separator"></div>

  <p>
  <strong>HOW TO CONTACT US</strong>
   Phone: 0415 396 696
   Email: info@dubbotowncountrytours.com.au</p>
   <div class="education-line-separator"></div>

<p>
  <strong>OPENING HOURS</strong>
  Tours are as advertised on the website
  or Facebook page…check them for details of what’s
  coming up.</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

