---
layout: place
section: heritage
item: dubboheritage
title: Dubbo Heritage Tour
tel: 
url:
mail:
slides:
  - Heritagewalk1.jpg
  - Heritagewalk2.jpg
  - Heritagewalk3.jpg
  - Heritagewalk4.jpg
---
<heritage>Allows you to walk several city block in Dubbo and have 37 sites of heritage significance identified as shown in the trail guide you can pick up at the Visitor Information Centre.

<br>This trail includes old churchs, hotels and other building plus the old Dubbo Gaol and historic buildings that now house cafes and restaurants.  Plus don’t miss the Indigenous art on the pylons under the L H Ford Bridge. Walk along the Tracker Riley walk and cycle way to see these.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>HOW TO FIND US</strong>
	 Downtown Dubbo. Get the brochure from the Visitor Information Centre. You can even hire a bike there to take the tour.</p>
	 <div class="heritage-line-separator"></div>
	<p>
	
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Shoyoen Japanese gardens, and the rest of Dubbo's attractions including its several river parks.</p-->
	