---
layout: place
section: heritage
item: dundullimal
title: Dundullimal Homestead, Dubbo
tel: 0268849984
url: http://www.nationaltrust.com.au
mail: dundullimal@nationaltrust.com.au
slides:
  - Dundulimall1.jpg
  - Dundulimall2.jpg
  - Dundulimall3.jpg
  - Dundulimall4.jpg
---
<heritage>On offer here are tours of this historic National Trust homestead and a caf&#233; serving light lunches and Devonshire teas. 
We specialise in group tours, educational tours, functions and weddings.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Tuesday-Friday 12pm-4pm;
Saturday 11am-2pm. Other times by
appointment.</p>
<div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;17'10.46"S, 148&#186;36'10.31"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Obley Road, Dubbo, 1.5km past  Taronga Western Plains Zoo entrance.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Taronga Western Plains Zoo, Red Earth Estate Winery, Dundullimal Reserve and the Tracker Riley cycle and walk way.</p-->
	