---
layout: place
section: heritage
item: gaol
title: Old Dubbo Gaol
tel: 0268014460
url: http://www.olddubbogaol.com.au
mail: odg@dubbo.nsw.gov.au
slides:
  - DubboGaol1.jpg
  - DubboGaol2.jpg
  - DubboGaol3.jpg
---
<heritage>The Old Dubbo Gaol was a courthouse lockup in 1847, was proclaimed an official Gaol in 1859.  It closed operations as a penal institution in 1966.
              Officially re-opened as a tourist attraction in 1974, the Old Dubbo Gaol is now fully restored and is home to a large display of animatronic models 
              and holographic displays which provide a realistic and fascinating insight into a bygone era of barbaric prison life.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 9am - 4pm every day except Christmas Day.</p>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;14'45.36"S, 148&#176;36'6.82"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Off Macquarie Street in Dubbo.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Shoyoen Japanese gardens, and the rest of Dubbo's attractions including its several river parks.</p-->
	