---
layout: place
section: heritage
item: garlinggallery
title: Garling Gallery, Wongarbon
tel: 0268878518
url: http://www.garlinggallery.com.au
mail: info@garlinggallery.com.au
slides:
  - gallerygardens1.jpg
  - gallerygardens2.jpg
  - gallerygardens3.jpg
  - gallerygardens4.jpg
---
<heritage>The fully restored 100 year-old shopfront adds historical charm and warmth to the collection of original oils, water colours, pencil and bronze sculpture. 
The artists' studio makes an interesting visit with works in progress at various stages of completion.  
The Gallery collection encourages collectors and investors alike, with clientele taking full advantage of commission free prices.
		</heritage>
	<p>
	<strong>OPENING HOURS:</strong> Tuesday&#45;Friday 10am&#45;4pm, Saturday
10am&#45;1pm or by appointment.</p>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;20'4.70"S, 148&#186;45'35.62"E</p>
	 <p>
	 <strong>LOCATION:</strong>
	  The Garling Gallery is situated in the rural village of Wongarbon, 15 km east of Dubbo on the Mitchell Highway (which connects Dubbo and Wellington).
	   Follow the signs once you turn off the highway.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Mountain biking at Geurie - see Cycle trail.  River parks on the Macquarie river such as Ponto Falls and Bril Bral Reserves and more - see ww.rivertrails.com.au. 
     All of Wellington and Dubbo's various attractions.</p-->
	