---
layout: trail
section: heritage
title: Heritage Trail
list:
  - { file: peter_browne,         image: PeterBrowne1.jpg,                caption: Peter Browne Studio Gallery, Molong }
  - { file: caves_bottle,         image: BottleHouse1.jpg,                caption: Caves Bottle House, Wellington Caves }
  - { file: eris_fleming,         image: erisfleming5.jpg,                caption: Eris Fleming Gallery, Wellington }
  - { file: wellington_caves,     image: wellocaves2.jpg,                 caption: Wellington Caves, Phosphate Mine and Osawano Japanese Gardens }
  - { file: hermitage_hill,       image: Hermitage1.jpg,                  caption: Hermitage Hill Country Retreat and Function Centre, Wellington }
  - { file: oxley,                image: OxleyMuseum4.jpg,                caption: Oxley Museum, Wellington }
  - { file: lion,                 image: Lion1.jpg,                       caption: Lion of Waterloo historic country pub, Wellington }
  - { file: garling_gallery,      image: gallerygardens2.jpg,             caption: Garling Gallery, Wongarbon }
  - { file: dundullimal,          image: Dundulimall2.jpg,                caption: Dundullimal Homestead, Dubbo }
  - { file: bill_oshea,           image: BillOShea4.jpg,                  caption: Bill O'Shea's Studio Gallery, Dubbo }
  - { file: gratton,              image: Gratton1web.jpg,                 caption: Tim Gratton &#64; Dundullimal }
  - { file: pioneer,              image: PioneerCemetery1.jpg,            caption: Pioneer cemetery, Dubbo }
  - { file: western_plains,       image: WPCC1.jpg,                       caption: Western Plains Cultural Centre, Dubbo }
  - { file: shoyeon,              image: Shoyoen1.jpg,                    caption: Shoyeon Japanese Garden, Dubbo }
  - { file: gaol,                 image: DubboGaol3.jpg,                  caption: Old Dubbo Gaol }
  - { file: aviation,             image: AviationM4.jpg,                  caption: Narromine Aviation Museum }
  - { file: woodshed,             image: Woodshed1.jpg,                   caption: The Woodshed Gallery, Narromine }
---

