---
layout: trail
section: heritage
title: Heritage Trail
list:
  - { file: cavesbottle,          image: BottleHouse1.jpg,                caption: "Caves Bottle House, Wellington Caves"}
  - { file: wellingtoncaves,      image: wellocaves2.jpg,                 caption: "Wellington Caves, Phosphate Mine and Osawano Japanese Gardens"}
  - { file: wellingtongateway,    image: gateway1.jpg,                    caption: "Welllington Gateway Sculpture"}
  - { file: hermitagehill,        image: Hermitage1.jpg,                  caption: "Hermitage Hill Country Retreat and Function Centre, Wellington"}
  - { file: oxley,                image: OxleyMuseum4.jpg,                caption: "Oxley Museum, Wellington"}
  - { file: wellingtonhisttrail,  image: Wellohistwalk2.jpg,              caption: "Wellington Historical Walking Trail"}
  - { file: wellingtonmontefiores,image: WelloMont3.jpg,                  caption: "Wellington Montefiores heritage drive"}
  - { file: wellingtonmumbil,     image: wellodriveweb1.jpg,              caption: "Wellington - Mumbil - Stuart Town Historical Drive"}
  - { file: pioneer,              image: PioneerCemetery1.jpg,            caption: "Pioneer cemetery, Dubbo"}
  - { file: dundullimal,          image: Dundulimall2.jpg,                caption: "Dundullimal Homestead, Dubbo"}
  - { file: dubbotown,            image: dubbotown1hist.jpg,              caption: "Dubbo Town and Country Tours"}
  - { file: shoyeon,              image: Shoyoen1.jpg,                    caption: "Shoyeon Japanese Garden, Dubbo"}
  - { file: sensorygarden,        image: sensorygarden2.jpg,              caption: "Sensory Garden, Dubbo"}
  - { file: dubboheritage,        image: Heritagewalk3.jpg,               caption: "Dubbo Heritage Tour"}
  - { file: terramung,            image: terraweb2.jpg,                   caption: "Terramungamine Reserve, Dubbo"}
  - { file: westernplains,        image: WPCC1.jpg,                       caption: "Western Plains Cultural Centre, Dubbo"}
  - { file: gaol,                 image: DubboGaol3.jpg,                  caption: "Old Dubbo Gaol"}
  - { file: aviation,             image: AviationM4.jpg,                  caption: "Narromine Aviation Museum"}
  - { file: narrominemuseam,      image: Narromine1.jpg,                  caption: "Narromine Historical Museum"}
  - { file: argonauts,            image: goanwaterholeweb3.jpg,           caption: "Argonauts Park-Goan Waterhole, Trangie"}
  - { file: ngembaartists,        image: ngembaartists2.jpg,              caption: "Ngemba Wailwan Artists, Warren"}
  - { file: warrenfamily,         image: warrenfamily4.jpg,               caption: "Warren Family History and Historical Society"}
  - { file: haddonriglodge,       image: haddonriglodge2.jpg,             caption: "Haddon Rig’ Jackaroo Lodge, via Warren"}
  - { file: kiarivercottage,      image: kiarivercottage4.jpg,            caption: "Kiameron’ Riverside Cottage, via Warren"}
  - { file: carindatour,          image: carindatour2.jpg,                caption: "Carinda Heritage Tour"}
---

