---
layout: trail
section: heritage
title: Heritage Trail
list:
  - { file: cavesbottle,          image: BottleHouse1.jpg,                caption: "Caves Bottle House, Wellington Caves"}
  - { file: wellingtoncaves,      image: wellocaves2.jpg,                 caption: "Wellington Caves, Phosphate Mine and Osawano Japanese Gardens"}
  - { file: hermitagehill,        image: Hermitage1.jpg,                  caption: "Hermitage Hill Country Retreat and Function Centre, Wellington"}
  - { file: oxley,                image: OxleyMuseum4.jpg,                caption: "Oxley Museum, Wellington"}
  - { file: dundullimal,          image: Dundulimall2.jpg,                caption: "Dundullimal Homestead, Dubbo"}
  - { file: pioneer,              image: PioneerCemetery1.jpg,            caption: "Pioneer cemetery, Dubbo"}
  - { file: westernplains,        image: WPCC1.jpg,                       caption: "Western Plains Cultural Centre, Dubbo"}
  - { file: shoyeon,              image: Shoyoen1.jpg,                    caption: "Shoyeon Japanese Garden, Dubbo"}
  - { file: gaol,                 image: DubboGaol3.jpg,                  caption: "Old Dubbo Gaol"}
  - { file: aviation,             image: AviationM4.jpg,                  caption: "Narromine Aviation Museum"}
---

