---
layout: place
section: heritage
item: kiarivercottage
title: ‘Kiameron’ Riverside Cottage, via Warren
tel: 0268332083
url: 
mail: sue.egan1@bigpond.com
slides:
  - kiarivercottage1.jpg
  - kiarivercottage2.jpg
  - kiarivercottage3.jpg
  - kiarivercottage4.jpg
---
<heritage>Self&#45;contained riverside cottage accommodation. Sleeps 4 in two bedrooms. 
<br>Air&#45;conditioned, and with fire pit and BBQ. 
<br>Heritage house and stables, pioneering history,
with extensive country garden, able to be opened by appointment. 
<br>Ideal for birdwatching, fishing, painting, relaxing in a country environment. 
<br>Tennis court and swimming pool available and also has a private airstrip&#33;
</heritage>
<div class="heritage-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Negotiable.</p>
<div class="heritage-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    Situated 62 km from Warren on the Carinda road.</p>
    <div class="heritage-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;13'15.87"S, 147&#176;38'48.09"E</p>
   <div class="heritage-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   It’s the lifeblood of this region.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


