---
layout: place
section: heritage
item: lion
title: Lion of Waterloo historic country pub, Wellington
tel: 0268453636
url: 
mail: 
slides:
  - Lion1.jpg
  - Lion2.jpg
  - Lion3.jpg
  - Lion4.jpg
---
<heritage>This classic country pub dates back to 1841 to the days of Cobb &amp; Co. Today the
Lion of Waterloo remains a charming tavern with modern food. It can also cater
for functions and has a quiet beer garden, and in winter, an open fire near the
bar to keep warm by as you enjoy the atmosphere.
</heritage>
<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open 4pm to close seven days.
Meals from 6pm each day.</p>
<div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;32'26.08"S, 148&#176;55'50.49"E</p>
	 <div class="heritage-line-separator"></div>
	 <p><strong>LOCATION:</strong> Follow the signs off the
highway...the tavern is on Montefiores
Street-the turnoff is just near the
highway bridge crossing the Macquarie
river in the heart of Wellington.</p>
<div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All those found in Wellington, plus the Bell and Macquarie rivers themselves.</p-->
	