---
layout: place
section: heritage
item: loungegallery
title: Lounge Gallery and Caf&#233;, Dubbo
tel: 0268824343
url: http://www.facebook.com/pages/The-Lounge-Gallery-Cafe/13354427007
mail: 
slides:
  - Loungacafe1.jpg
  - Loungacafe2.jpg
  - Loungacafe3.jpg
  - Loungacafe4.jpg
  - Loungacafe5.jpg
  - Loungacafe6.jpg
---
<heritage>Beautiful art and great coffee in a vintage lounge and historical atmosphere.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 10am - 4pm Monday - Friday, 9am - 4pm Saturday, Closed Sunday.</p>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;14'39.10"S, 148&#186;34'57.71"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  21 Depot Road just of Victoria St (the Mitchell Hwy).  If heading out of Dubbo to Narromine, Depot Road is on your left just before the highway crosses the railway line.  Coming in from Narromine, turn right immediately after crossing the railway line as you come into Dubbo.  
	  Lounge Gallery and Caf&#233; is nestled into the quiet area at the very end of the cul-de-sac, hidden away from its semi-industrial surroundings..it's worth looking for!</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Taronga Western Plains Zoo, Red Earth Estate Winery, Dundullimal Homestead plus all of Dubbo's other attractions along the river and elsewhere.
      Closest accommodation near the river is the Abel Tasman Motor Inn and BIG4 Dubbo Parklands.</p-->
    

