---
layout: place
section: heritage
item: ngembaartists
title: Ngemba Wailwan Artists, Warren
tel: 0417040019
url: www.outbackarts.com.au/projects/ricdo-program/ngembawailwan-warren/
mail:
slides:
  - ngembaartists1.jpg
  - ngembaartists2.jpg
  - ngembaartists3.jpg
  - ngembaartists4.jpg
---
<heritage>“The Ngemba Wailwan art group are a group
of Indigenous artists who gather to make
artworks. Hailing from Warren, the groups name comes from the
Ngemba Wailwan tribe who inhabited the area between
Gilgandra and Brewarrina but centred around Warren and
the Macquarie Marshes. The Ngemba Wailwan tribe created
artworks that were carved into trees and ground. The
Wailwan artists produce works inspired by these carvings.
<br>Their work is rich and vibrant, and contains no dots, unlike
the more familiar works of the Central Australian Indigenous
artists. Rather, it is a faithful rendition of each artists totemic
clan symbol and the legendary Glyphs of their ancestors.
Produced in quality oils on heavy linen canvas the work
has the feel of rich leather. 
<br>The group’s conception began
with the development of the Regional Indigenous Cultural
Development Officer (RICDO) Scheme which runs in the five
shire that Outback Arts services.” Source&#58; Outback Arts web site
		</heritage>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 31&#176;41'43.14"S, 147&#176;50'28.44"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>HOW TO FIND US</strong>
	 The Window on the Wetlands Centre
in Warren has artworks developed by the group on
permanent display. In front of the building are several
‘totem’ poles which were painted by the group and other
members of the Aboriginal community in Warren.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Shoyoen Japanese gardens, and the rest of Dubbo's attractions including its several river parks.</p-->
	