---
layout: place
section: heritage
item: oxley
title: Oxley Museum, Wellington
tel: 0268452325
url: 
mail: 
slides:
  - OxleyMuseum1.jpg
  - OxleyMuseum2.jpg
  - OxleyMuseum3.jpg
  - OxleyMuseum4.jpg
  - OxleyMuseum5.jpg
---
<heritage>Extensive collection of Wellington memorabilia, historic documents and displays (located in the original Bank of NSW building circa1833), guided tours and family history research.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Monday to Friday 1.30pm - 4.30pm (Depending on availability of volunteers).</p>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;33'37.33"S, 148&#186;57'37.79"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Corner of Warne and Percy Streets, Wellington.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All those found in Wellington, plus several river parks.</p-->
	