---
layout: place
section: heritage
item: peter_browne
title: Peter Browne Studio Gallery, Molong
tel: 0263669487
url: http://www.peterbrowne.com.au
mail: 
slides:
  - PeterBrowne1.jpg
  - PeterBrowne2.jpg
  - PeterBrowne3.jpg
  - PeterBrowne4.jpg
  - PeterBrowne5.jpg
---

<heritage>Peter's paintings depict farm and rural life from the 1950s to the present day,
as he has been painting for forty years. Probably the most unusual factor in
his artwork is the fact that he includes almost all facets of daily life, nothing
escapes his brush, motorcycles, hot air balloons aircraft, bicycles cars, trucks,
machinery, steam engines, emus etc etc...
                  </heritage>
    <p>
    <strong>COORDINATES:</strong>
     33&#186; 5'23.38"S, 148&#186;52'9.27"E</p>
    <p>
    <strong>LOCATION:</strong>
     On the Mitchell Highway through Molong from Orange-Dubbo. Easy to spot...opposite the BP Service Station.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Bell River Estate, Eris Fleming Gallery, Lake Burrendong's attractions, Wellington Caves and the Caves Bottle House.</p-->
		