---
layout: place
section: heritage
item: pioneer
title: Pioneer cemetery, Dubbo
tel: 
url: 
mail: 
slides:
  - PioneerCemetery1.jpg
  - pioneercemetryweb3.jpg
  - pioneercemetryweb4.jpg
---
<heritage>Cemetery where several of the early settlers to the region are buried.
			</heritage>
			<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Access to the Reserve restricted after dark.</p>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;18'7.23"S, 148&#176;37'30.85"S</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Take the Old Dubbo Road and about 3-4 kilometres from Dubbo, at the Lazy River Estate turn right into Butler's Falls Road, 
	  and then a few hundred metres further on turn right again - follow the signs to Pioneer Cemetery and Pilcher's Reserve.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lazy River Estate, Butler's Falls and Pilcher's Reserves on the river, plus all of Dubbo's other attractions.</p-->
	