---
layout: place
section: heritage
item: sensorygarden
title: Sensory Garden, Dubbo
tel: 0268014450
url: http://www.dubbo.com.au
mail: 
slides:
  - sensorygarden1.jpg
  - sensorygarden2.jpg
  - sensorygarden3.jpg
  - sensorygarden4.jpg
---
<heritage>Co&#45;located with the beautifully landscaped and maintained
Japanese gardens, and within the precinct for the Dubbo
Regional Botanic Garden and Biodiversity Garden.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open every day 9am-4pm except Christmas and New Years Day.</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Coronation Drive, Dubbo (near Orana
      Mall), just off the Mitchell Highway to Wellington.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Western Plains Cultural Centre, Taronga Western Plains Zoo, 
     and the rest of Dubbo's attractions including its several river parks.</p-->
	