---
layout: place
section: heritage
item: shoyeon
title: Shoyeon Japanese Garden, Dubbo
tel: 0268014450
url: http://www.dubbo.com.au
mail: 
slides:
  - Shoyoen1.jpg
  - Shoyoen2.jpg
  - Shoyoen30.jpg
  - Shoyoen4.jpg
---
<heritage>Beautifully landscaped and maintained Japanese gardens, co-located with Dubbo Regional Botanic Garden, Biodiversity Garden and new Sensory Garden.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open every day 9am-4pm except Christmas and New Years Day.</p>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;15'14.07"S, 148&#176;38'3.08"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Coronation Drive, Dubbo (near Orana Mall), just off the Mitchell Highway to Wellington.</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Western Plains Cultural Centre, Taronga Western Plains Zoo, 
     and the rest of Dubbo's attractions including its several river parks.</p-->
	