---
layout: place
section: heritage
item: warrenfamily
title: Warren Family History and Historical Society
tel:
url:
mail:
slides:
  - warrenfamily1.jpg
  - warrenfamily2.jpg
  - warrenfamily3.jpg
  - warrenfamily4.jpg
---
<heritage>We research local genealogy and
history of the Warren and district and offer
information derived from this research.
<br>Guided historybased walking tours
of Warren are available by prior arrangement throughout
the Warren Information Centre or by telephone&#47;email. A
small fee per person is charged. 
<br>We hold meetings on the first Monday of each month.
</heritage>
<div class="heritage-line-separator"></div>
<p>
<strong>OPENING HOURS:</strong>
 Best to phone ahead to check when we
have exhibitions etc.</p>
 <div class="heritage-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;42'24.81"S, 147&#176;49'49.67"E</p>
   <div class="heritage-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    The society is situated adjacent to the
river in Warren next to the Police Station.</p>
<div class="heritage-line-separator"></div>
   <p>
   <strong>WHY WE LOVE THE RIVER</strong>
   We love the river because it is
   the reason Warren exists where it is, that is, without the
   river it is unlikely there would be a town of Warren.</p>
<div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Ewe Two (see Produce Trail), Gin Gin weir and bridge reserves, Narromine's Aviation Museum and Lime Grove, and Warren's various attractions.</p-->


