---
layout: place
section: heritage
item: wellingtonmumbil
title: Wellington &#45; Mumbil &#45; Stuart Town Historical Drive
tel: 1800621614
url: http://www.visitwellington.com.au/
mail:
slides:
  - wellodriveweb1.jpg
  - wellodriveweb2.jpg
  - wellodriveweb3.jpg

---
<heritage>This is a self&#45;drive tour of the early European heritage attractions of Wellington, Dripstone, Mumbil and Stuart Town &#40;see the Wellington
Walking tour and Montefiores drive options too&#41;.
<br>You can pick up the free guide from the Visitor Information Centre
in the middle of town &#40;see below&#41;. There are 7 points of interest and it is estimated the tour covers 110 km and will take about 3 hours to complete, depending on how long
you stop at certain locations. 
<br>Some of the points of interest include&#58; The village of Dripstone with its pub and the old Butcher’s store, the village of Mumbil that housed workers
during the construction of the nearby Burrendong dam from 1946&#45;67, the gold rush town of Stuart Town &#40;formerly Ironbarks&#41;, Mookerawa Goldfields and Franham &#40;formerly Stoney Creek&#41;.</heritage>
<div class="heritage-line-separator"></div>
<p>
<strong>OPENING HOURS:</strong>
Please contact us to arrange a visit.

<div class="heritage-line-separator"></div> 
    <strong>COORDINATES:</strong>
    32&#176;41'17.87"S, 149&#176; 6'30.67"E
</p>
<div class="heritage-line-separator"></div>
<p>
    <strong>LOCATION:</strong>
    Visitor Information Centre,
where you can pick up the guide pamphlet is in the middle
of Wellington, in Cameron Park which backs onto the Bell
River.
</p>
<div class="heritage-line-separator"></div>

