---
layout: place
section: heritage
item: wellingtongateway
title: Welllington Gateway Sculpture
tel: 
url: http://www.wellingtongateway.com/
mail: 
slides:
  - gateway1.jpg
  - gateway2.jpg
---
<heritage>Be entranced by the raw beauty of this unique visual art spectacle.
The Wellington Gateway Sculpture is an interpretation of the
identity and spirit of Wellington and its people.
 
         <br>The main sculpture which comprises of the tripod and wind
chimes is actually constructed from a significant event in
Wellington’s history – The Old Wellington Bridge, which fell
down in 1989.
         <br>Explore the hidden meanings instilled in each
single element, and marvel at the mysterious pulling power
which takes on totally different moods at different times of
the day. (Above text taken from Wellington Shire website).
         </heritage>
         <div class="heritage-line-separator"></div>
    <p>
    <strong>COORDINATES:</strong>
     32&#176;37'11.23"S, 148&#176;56'47.82"E</p>
     <div class="heritage-line-separator"></div>
    <p>
    <strong>LOCATION:</strong>
     You can find out more at the Wellington Visitor Information Centre.</p>
     <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The closest other River Trail attractions:
Caves Bottle House, Bell River Estate, Lake Burrendong's various attractions and all that Wellington has to offer.
</p-->

        