---
layout: place
section: heritage
item: westernplains
title: Western Plains Cultural Centre, Dubbo
tel: 0268014449
url: http://www.wpccdubbo.org.au
mail: info@wpccdubbo.org.au
slides:
  - WPCC1.jpg
  - WPCC2.jpg
  - WPCC3.jpg
  - WPCC4.jpg
---
<heritage>Museum, exhibition space, function rooms, gallery and caf&#233;.
		</heritage>
		<div class="heritage-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Wednesday - Monday 10-4pm</p>
	 <div class="heritage-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;33'37.33"S, 148&#176;57'37.79"E</p>
	 <div class="heritage-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  76 Wingewarra Street, Dubbo</p>
	  <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Shoyoen Japanese gardens, and the rest of Dubbo's attractions including its several river parks.</p-->
	