---
layout: place
section: heritage
item: woodshed
title: The Woodshed Gallery, Narromine
tel: 0428853436
url: http://www.woodshedgallery.com.au
mail: hecwoodshed@bigpond.com
slides:
  - Woodshed1.jpg
  - Woodshed2.jpg
  - Woodshed3.jpg
  - Woodshed4.jpg
---
<heritage>A gallery of local art, produce and crafts, giftware, antique furniture as well as a range of timber furniture made from recycled timbers.
</heritage>
<div class="heritage-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Monday - Saturday (10 am - 6 pm)</p>
   <div class="heritage-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;13'58.80"S, 148&#176;14'24.29"E</p>
   <div class="heritage-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    17 Burroway Street in the heart of Narromine shopping centre (on the highway from-to Dubbo) - opposite the famous Glenn McGrath statue.</p>
    <div class="heritage-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Macquarie Grove Vineyard, Narromine Aviation Museum, Edgerton Nursery, Andonbel Alpacas and Coffee Shop,
     Narromine Cottage Craft Shop, Rotary wetland, Rotary Riverside Park, Glenn McGrath statue, Peppercorn Motor Inn and the
     Tourist Park and Motel at the airport are places to stay.</p-->
