@header.mapsheader.rtheader data-position="fixed"
  a@none.backBtn.ui-btn-left href="#{home_uri}" data-ajax="false" data-rel="back"
  h1 Nearby
  a@none.locationBtn.off
  a@none.homeBtn.ui-btn-right data-transition="fade"


