---
title: Mcquarie River Trails - Map
---
@page.map-page data-dom-cache="true"
  = partial :middleman_info
  = partial :map_header
  .subpage-container-outer
    .close-directions-button
      .close-directions-button-inner
    = partial :map_tabbar

    div
    .subpage-container
      .close-markerlist-button
        .close-markerlist-button-inner

      .map-canvas.subpage.subpage-active

      .markerlist-button
        .markerlist-button-inner

      .markerlist-subpage.subpage data-iscroll='{"resizeWrapper":false}'
        ul.marker-list.ui-listview
        .markerListNote



    .directions-subpage.subpage data-iscroll='{"resizeWrapper":false}'
      .directions-endpoints
        .directions-endpoint.origin
          h2
            | From:
          p.fromPretty
            | &nbsp;
        .directions-endpoint.destination
          h2
            | To:
          p.toPretty
            | &nbsp;
      a.submitDirections data-ajax="false" data-role="button" data-icon="search" Get directions
      .results.ui-listview.ui-listview-inset.ui-corner-all.ui-shadow
        .ui-li.ui-li-divider.ui-btn.ui-bar-b.ui-corner-top.ui-btn-up-undefined Results
        .directions
        .ui-li.ui-li-divider.ui-btn.ui-bar-b.ui-corner-bottom.ui-btn-up-b-undefined

  @popup.no-location-popup
    p
      | Unable to get current position

  = partial :tabbar






