<div>
 <fieldset class="ui-grid-a icon-set">
    <div class="ui-block-a center">
        <a href="River/index.html"data-transition="slide">
            <div><img class="icon" src="images/riverweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
    <div class="ui-block-b center">
        <a href="Heritage/index.html"data-transition="slide">
            <div><img class="icon" src="images/heritageweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
</fieldset>
<fieldset class="ui-grid-a icon-set">
    <div class="ui-block-a center">
        <a href="Nature/index.html"data-transition="slide">
            <div><img class="icon" src="images/natureweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
    <div class="ui-block-b center">
        <a href="Produce/index.html"data-transition="slide">
            <div><img class="icon" src="images/produceweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
</fieldset>
<fieldset class="ui-grid-a icon-set">
    <div class="ui-block-a center">
        <a href="Cycle/index.html"data-transition="slide">
            <div><img class="icon" src="images/cycleweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
    <div class="ui-block-b center">
        <a href="Riverbedz/index.html"data-transition="slide">
            <div><img class="icon" src="images/riverbedzweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
</fieldset>
 <fieldset class="ui-grid-a icon-set">
    <div class="ui-block-a center">
        <a href="Fishing/index.html"data-transition="fade">
            <div><img class="icon" src="images/fishingweb.jpg" width="120" height="120"></div>
            <div></div>
        </a>
    </div>
</fieldset>
</div>
