<div class="home-menu">

 <fieldset class="ui-grid-a icon-set">

    <div class="ui-block-a center">
        <a href="River/index.html"data-transition="fade">
            <div>
              <img class="metro-tile" src="images/riverweb.jpg">
            </div>
        </a>
    </div>

    <div class="ui-block-b center">
        <a href="Heritage/index.html"data-transition="fade">
            <div>
              <img class="metro-tile" src="images/heritageweb.jpg">
            </div>
        </a>
    </div>

</fieldset>

<fieldset class="ui-grid-a icon-set">

    <div class="ui-block-a center">
        <a href="Nature/index.html"data-transition="fade">
            <div>
              <img class="metro-tile" src="images/natureweb.jpg">
            </div>
        </a>
    </div>

    <div class="ui-block-b center">
        <a href="Produce/index.html"data-transition="fade">
            <div class="metro-tile-wrapper">
              <img class="metro-tile" src="images/produceweb.jpg">
              <img class="icon" src="images/Produce_no_title.png"
                style="position:absolute; width: 40px; height: 32px; right:50px; top:50px;">
              <div class="tile-title">Produce</div>
            </div>

        </a>
    </div>

</fieldset>
<fieldset class="ui-grid-a icon-set">
    <div class="ui-block-a center">
        <a href="Cycle/index.html"data-transition="fade">
            <div><img class="metro-tile" src="images/cycleweb.jpg"></div>
        </a>
    </div>
    <div class="ui-block-b center">
        <a href="Riverbedz/index.html"data-transition="fade">
            <div><img class="metro-tile" src="images/riverbedzweb.jpg"></div>
        </a>
    </div>
</fieldset>
 <fieldset class="ui-grid-a icon-set">
    <div class="ui-block-a center">
        <a href="Fishing/index.html"data-transition="fade">
            <div><img class="metro-tile" src="images/fishingweb.jpg"></div>
        </a>
    </div>
</fieldset>
</div>
