- r = current_resource
/!
    build_target: '#{build_target}',
    base_uri: '#{base_uri}',
    url: '#{r.url}',
    path: '#{r.path}',
    ext: '#{r.ext}',
    mine_type: '#{r.mime_type}',
    destination_path: '#{r.destination_path}',
    source_file: '#{r.source_file}',
    template?: '#{r.template?}'
/   metadata: '#{r.metadata.inspect}'