/! slider
div style="width: 220px; text-align: center; margin: auto; padding-top: 10px;"
  div.flexslider.homeImageSlider
    ul.slides
      li
        a.ui-link-inherit href="River/index.html" rel="external" data-transition="slide"
          img src="images/riverweb.jpg"
      li
        a.ui-link-inherit href="Heritage/index.html" rel="external" data-transition="slide"
          img src="images/heritageweb.jpg"
      li
        a.ui-link-inherit href="Nature/index.html" rel="external" data-transition="slide"
          img src="images/natureweb.jpg"
      li
        a.ui-link-inherit href="Produce/index.html" rel="external" data-transition="slide"
          img src="images/produceweb.jpg"
      li
        a.ui-link-inherit href="Cycle/index.html" rel="external" data-transition="slide"
          img src="images/cycleweb.jpg"
      li
        a.ui-link-inherit href="Riverbedz/index.html" rel="external" data-transition="slide"
          img src="images/riverbedzweb.jpg"
div.shadow1box
  img src="./images/shadow1.png" class="shadow1" alt="shadow"
/! slider
