div class="rtheader #{current_page.data.header_class}" data-role="header"
  a.backBtn.ui-btn-left href="/index.html" data-rel="back" data-role="none"
  a.homeBtn.ui-btn-right href="/index.html" data-role="none" data-transition="pop"
  h1 #{current_page.data.title}
