<div data-role="page" class="favorites">
  <div data-role="header" class="rtheader todoheader" data-position="fixed" data-transition="none" data-tap-toggle="false">
    <a href="index.html" data-rel="back" data-role="none" class="backBtn ui-btn-left"></a>
    <h1>Todo</h1>
     <a href="./index.html" data-role="none" rel="external" class="homeBtn ui-btn-right" data-transition="none"></a>
  </div>
  <div data-role="content" data-iscroll="true">
    <ul data-role="listview" data-split-icon="delete" data-inset="true" id="favoritesList">
    </ul>
    <div style="text-align: center;" id="noFavesMsg">
      <h2>You have no favorites selected.</h2>
    </div>
  </div>
  <%= partial :tabbar %>
</div>


