---
title: Macquaire River Trails
list:
  - { dir: River,      image: Image-River@2x.png,     title: RIVER TRAIL    }
  - { dir: Heritage,   image: Image-Heritage@2x.png,  title: HERITAGE TRAIL }
  - { dir: Nature,     image: Image-Nature@2x.png,    title: NATURE TRAIL   }
  - { dir: Produce,    image: Image-Produce@2x.png,   title: PRODUCE TRAIL  }
  - { dir: Cycle,      image: Image-Cycle@2x.png,     title: CYCLE TRAIL    }
  - { dir: Riverbedz,  image: Image-Riverbedz@2x.png, title: RIVER BEDZ     }
  - { dir: Fishing,    image: Image-Fishing@2x.png,   title: FISHING        }
---
@page.main_div_blue data-dom-cache="true"
  div data-iscroll="true"
    .mainlogo
    div@content
     br
     = partial :home_menu
  = partial :tabbar


