---
title: Macquaire River Trails
---
<div data-role="page">
            <!-- home page -->
            <%= partial :header %>
            <%= partial 'slider.html' %>

<!-- main content -->
            <div data-role="content">
                <h3 class="home-title">Welcome to Macquarie River Trails</h3>
                <p>
                    The Macquarie valley in the heart of New South Wales is one of the States and indeed Australias best kept secrets, until now.
                </p>
                <p>
              The Macquarie River Trails are designed to let you explore the many attractions and treasures of this rich farming region, one that is blessed with a wonderful, vibrant river, friendly people and a laid back lifestyle.
                </p>
                <p>
               As our slogan says, this is your chance to Relax, Recover, Unwind and Discover.
                    Five trails for you to pick and choose from to create a lifetime of memories as you meander through our region let the river be your tour guide.
                 </p>
                <p>
             From the wonders of Lake Burrendong to the frontier country of the Macquarie Marshes if you only spend a week, you will probably have to come back.  But thats Ok, you are welcome anytime.
                </p>
                <!-- list begins -->
                <div>
                    <div class="thumbnail-list">
                        <ul data-inset="true" data-role="listview" data-filter-theme="b">
                                <li class="ui-btn-icon-right">
                                <div class="ui-btn-inner ui-li" aria-hidden="true">
                                    <div class="ui-btn-text">
                                        <a class="ui-link-inherit" href="River/index.html" rel="external" data-transition="slide"><img class="ui-li-thumb" src="images/riverweb.jpg"><h3 class="ui-li-heading">RIVER TRAIL</h3>
                                            <p class="ui-li-desc">
                                            </p>
                                        </a>
                                    </div>
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                                </div>
                            </li>
                            <li class="ui-btn-icon-right">
                                <div class="ui-btn-inner ui-li">
                                    <div class="ui-btn-text">
                                        <a class="ui-link-inherit" href="Heritage/index.html" rel="external" data-transition="slide"><img class="ui-li-thumb" src="images/heritageweb.jpg"><h3 class="ui-li-heading">HERITAGE TRAIL</h3>
                                            <p class="ui-li-desc">
                                            </p>
                                        </a>
                                    </div>
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                                </div>
                            </li>
                            <li class="ui-btn-icon-right">
                                <div class="ui-btn-inner ui-li" aria-hidden="true">
                                    <div class="ui-btn-text">
                                        <a class="ui-link-inherit" href="Nature/index.html" rel="external" data-transition="slide"><img class="ui-li-thumb" src="images/natureweb.jpg"><h3 class="ui-li-heading">NATURE TRAIL</h3>
                                            <p class="ui-li-desc">
                                            </p>
                                        </a>
                                    </div>
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                                </div>
                            </li>

                            <li class="ui-btn-icon-right">
                                <div class="ui-btn-inner ui-li" aria-hidden="true">
                                    <div class="ui-btn-text">
                                        <a class="ui-link-inherit" href="Produce/index.html" rel="external" data-transition="slide"><img class="ui-li-thumb" src="images/produceweb.jpg"><h3 class="ui-li-heading">PRODUCE TRAIL</h3>
                                            <p class="ui-li-desc">
                                            </p>
                                        </a>
                                    </div>
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                                </div>
                            </li>
                            <li class="ui-btn-icon-right">
                                <div class="ui-btn-inner ui-li" aria-hidden="true">
                                    <div class="ui-btn-text">
                                        <a class="ui-link-inherit" href="Cycle/index.html"rel="external" data-transition="slide"><img class="ui-li-thumb" src="images/cycleweb.jpg"><h3 class="ui-li-heading">CYCLE TRAIL</h3>
                                            <p class="ui-li-desc">
                                            </p>
                                        </a>
                                    </div>
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                                </div>
                            </li>
                            <li class="ui-btn-icon-right">
                                <div class="ui-btn-inner ui-li" aria-hidden="true">
                                    <div class="ui-btn-text">
                                        <a class="ui-link-inherit" href="Riverbedz/index.html" rel="external" data-transition="slide"><img class="ui-li-thumb" src="images/riverbedzweb.jpg"><h3 class="ui-li-heading">RIVER BEDZ</h3>
                                            <p class="ui-li-desc">
                                            </p>
                                        </a>
                                    </div>
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
                                </div>
                            </li>
                                           </ul>
                    </div>
                </div>

          <%= partial :social %>

        </div><!-- /main content -->

        <%= partial :tabbar %>

        </div>
        <!-- /page end -->

