---
title: Macquaire River Trails
list:
  - { dir: River,      image: riverweb.jpg,     heading: RIVER TRAIL    }
  - { dir: Heritage,   image: heritageweb.jpg,  heading: HERITAGE TRAIL }
  - { dir: Nature,     image: natureweb.jpg,    heading: NATURE TRAIL   }
  - { dir: Produce,    image: produceweb.jpg,   heading: PRODUCE TRAIL  }
  - { dir: Cycle,      image: cycleweb.jpg,     heading: CYCLE TRAIL    }
  - { dir: Riverbedz,  image: riverbedzweb.jpg, heading: RIVER BEDZ     }
---
@page.main_div_blue data-dom-cache="true"
  div data-iscroll="true"
    .mainlogo
    div@content
     br
     = partial :home_metro_menu
  = partial :tabbar


