<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>Nearby</title>

      <script src="js/cordova-1.8.0.js"></script>
    <script>
      // redirect to map page to handle nearby layout
      window.location = "<%= path_map %>/index.html?location=me";
    </script>
    </head>

<body>

<body>


</body>
</html>
