@page.todo-page
  @header.rtheader.todoheader data-position="fixed" data-transition="none" data-tap-toggle="false"
    a@none.backBtn.ui-btn-left data-rel="back" href="index.html"
    h1 Todo
    a@none.homeBtn.ui-btn-right data-transition="none"
  @content data-iscroll="true"

    @collapsible-set
      @collapsible data-collapsed="false"
        h3 MY FAVOURITES
        ul@listview#todo-list data-split-icon="delete"
      @collapsible data-collapsed="true"
        h3 MY ITINERARY
        ul@listview#itin-list data-split-icon="delete"

  = partial :tabbar


