---
layout: place
section: river
item: adventure
title: Adventure Watersports
tel: 0419774906
url: http://www.adventurewatersports.co/
mail: fun@adventurewatersports.co
slides:
  - advwatersportsweb1.jpg
  - advwatersportsweb2.jpg
  - advwatersportsweb3.jpg
  - advwatersportsweb4.jpg
  - advwatersportsweb5.jpg
---

<river>Learn to waterski or wakeboard, kneeboard or ride the big green tube. They
offer half or full day sessions with fully accredited and insured drivers and
instructors plus lessons for adults and kids, with discounts for larger groups.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;41'17.87"S, 149&#176;6'30.67"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
   Primarily at Lake Burrendong on weekends. Bookings are essential.
Week day bookings are available for large group bookings with a minimum two
weeks notice. See website or contact us for details of costs etc.</p>
   <div class="river-line-separator"></div>
    
