---
layout: place
section: river
item: bob
title: Bob Christenson Reserve, Warren
tel:
url:
mail:
slides:
  - bobcresweb1.jpg
  - bobcresweb2.jpg
  - bobcresweb3.jpg
---

<river>Right on the river and with a boat ramp too. Free parking for up to 96 hours for
self-contained motorhomes, campervans and caravans only. Public dump point
and potable water are located at Oxley Park in Warren a short distance away –
look for the big water tower.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;41'6.20"S, 147&#176;50'9.30"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
   Follow the Oxley Highway out of Warren toward Gilgandra and
take the first turn to the left after the Tiger Bay wetlands on the edge of town.
Follow this until you cross the river. The
entrance into Christenson Reserve is
on your left shortly after you cross the
bridge. The reserve adjoins Brian Egan
Weir – see Fishing Trail Guide - and
note the safety warnings about any
activities near the weir.</p>
   <div class="river-line-separator"></div>
    
