---
layout: place
section: river
item: cameronpark
title: Cameron and Pioneer Parks, Wellington
tel:
url:
mail:
slides:
  - Platspottingweb3.jpg
  - CamParkweb1.jpg
  - CamParkweb2.jpg
  - PionerPkweb1.jpg
  - PionerPkweb2.jpg
---
<river>These two adjoining parks, on either side of the Bell River, are located in the heart of Wellington. Both are ideal locations for a rest, in the tranquil riverside setting. Cameron Park also includes the Wellington Visitor Information Centre and has a playground for the children and beautifully maintained gardens. There are lots of park benches and places to picnic. Cameron Park joins Pioneer Park via a suspension footbridge and this is also renowned as a good area for platypus spotting (see Nature Trail). Both areas have toilets and in Pioneer Park there is a bar-b-que and a playing field.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
  32&#176;33'11.13"S, 148&#176;56'27.74"E</p>
  <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
   Right in the middle of town - look for the Visitor Information Centre.  Pioneer Park is on the opposite of the river.</p>
   <div class="river-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All those found in Wellington, plus the other river parks. Nearby is the Lion of Waterloo historic country pub, and up river are the Bridge Motel and Riverside Caravan Park - two great places to stay right on the river (river bedz!). In town don't miss the Cactus Cafe and Gallery, Oxley Museum, Mount Arthur Reserve or maybe stay at the historic Hermitage Hill Resort and Function Centre.</p-->
