---
layout: place
section: river
item: dubbocanoe
title: Kayak hire with Adventure Watersports&#33;
tel: 0419774906
url: http://www.adventurewatersports.co
mail: fun@adventurewatersports.co
slides:
  - dubbocanoe1.jpg
  - dubbocanoe2.jpg
---
  <river> &ldquo;Take Away&rdquo; hire. You can pick up a kayak from us in Dubbo and take it to the Macquarie River or to Lake Burrendong.
Single and Double kayaks available.
Double Kayaks are fitted with rod holders. All safety equipment supplied.
Also available for hire: Soft roof racks, fishing rods and tackle.
  </river>
  <div class="river-line-separator"></div>
  <p><strong>COORDINATES:</strong> 32&#176;15'25"S, 149&#176;36'4"E</p>
  <div class="river-line-separator"></div>
   
