---
layout: place
section: river
item: houseboats
title: Macquarie Houseboats
tel: 0419774906
url: http://www.macquariehouseboats.com.au/
mail: info@macquariehouseboats.com.au
slides:
  - MacHouseboats1.jpg
  - MacHouseboats2.jpg
  - Machouseboats3.jpg
  - Machouseboats4.jpg
  - Machouseboats5.jpg
  - Machouseboats6.jpg
---

<river>Luxury houseboat hire on picturesque Lake Burrendong.
       All year round…….365 days of the year.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;41'17.87"S, 149&#176;6'30.67"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
   Lake Burrendong. 
   Check website for availability, then email with a booking request or ring to make a booking.</p>
   <div class="river-line-separator"></div>
    
