---
layout: place
section: river
item: johnoxley
title: John Oxley Park, Wellington
tel:
url:
mail:
slides:
  - OxleyPkweb1.jpg
  - OxleyPkweb2.jpg
  - OxleyPkweb3.jpg
  - OxleyPkweb4.jpg
---

<river>Riverside stop-off where the Bell River joins the Macquarie, right in the heart of Wellington. An area known for its platypus sightings. There is also a boat ramp here. Ideal location for fishing or taking paddle - upstream is best. Beware - downstream a few hundred metres the river divides around some willows and can be dangerous even for experienced paddlers. No camping allowed here.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;32'34.62"S, 148&#176;55'59.35"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
   If coming from Molong-Orange direction follow the Mitchell Highway through town toward Dubbo, but turn left into Gobolion Street just before the bridge crosses the Macquarie river. Follow this down until you go over the low-level bridge and the Park is on your left. From Dubbo direction - cross the main bridge and turn immediately right into Gobolion Street - then proceed to the low-level bridge etc.</p>
   <div class="river-line-separator"></div>
    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> All those found in Wellington, plus the other river parks. Nearby is the Lion of Waterloo historic country pub, and up river are the Bridge Motel and Riverside Caravan Park - two great places to stay right on the river (river bedz!). In town don't miss the Cactus Cafe and Gallery, Oxley Museum, Mount Arthur Reserve or maybe stay at the historic Hermitage Hill Resort and Function Centre.</p-->
