---
layout: place
section: river
item: langleys
title: Langley's River Cruises, Dubbo
tel: 0268828977
url: http://www.langleyscoaches.com.au
mail: contact@langleyscoaches.com.au
slides:
  - Rivercruisesweb1.jpg
  - Rivercruisesweb2.jpg
---

<river>Offering tranquil cruises on the Macquarie river in Dubbo for special occasions and events, bird watching, relaxation etc. Seats up to 20 in covered seating.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Negotiated as part of request for booking</p>
   <div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&deg;14'48.08"S, 148&deg;35'56.58"E</p>
   <div class="river-line-separator"></div>
    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> All of Dubbo's attractions. Right opposite Sandy Beach - and on the Tracker Riley cycle and walking track - which also leads you to Taronga Western Plains Zoo. Accommodation near the river are the Abel Tasman Motor Inn and BIG4 Dubbo Parklands. There are several riverside reserves that join Sandy beach, and two boat ramps and a pontoon downstream - see Lions Park West and Riverbank Park. Sandy Beach is also the base for the Dubbo Dragons - the dragon boat club.</p-->
