---
layout: place
section: river
item: lionspark
title: Lions Park West, Dubbo
tel:
url:
mail:
slides:
  - LionsParkWestweb1.jpg
  - LionsParkWestweb2.jpg
  - LionsParkWestweb3.jpg
  - LionsParkWestweb4.jpg
  - LionsParkWestweb5.jpg
---

<river>Another great area for a picnic, bar-b-que or stroll along the river in Dubbo.
These parklands are on the opposite side of the river to the main shopping area
and Riverbank Park. Running through the park is the Tracker Riley Cycleway and
Walking trail which allows you to do about either 6 or 13 km loops that runs along both sides of the river. There are also toilets, easy parking with large
turn-around area, a children's playground, easy access boat ramp and great views
down onto the river.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'57.20"S, 148&#176;35'41.61"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Opposite Riverbank Park - which runs parallel to Macquarie Street, the main street of Dubbo. The boat ramp lies more or less under the main (L H Ford) bridge crossing the Macquarie. Look for the Tallarook Motel right near the round-about beside the bridge - the park is right in front of it. Alternatively, take Stonehaven Crecent off the Newell Highway - which runs between the Council Caravan Park and the Cattlemen's Motel - opposite fast food alley!</p>
    <div class="river-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All those found in Wellington, plus the other river parks. Nearby is the Lion of Waterloo historic country pub, and up river are the Bridge Motel and Riverside Caravan Park - two great places to stay right on the river (river bedz!). In town don't miss the Cactus Cafe and Gallery, Oxley Museum, Mount Arthur Reserve or maybe stay at the historic Hermitage Hill Resort and Function Centre.</p-->
