---
layout: place
section: river
item: lionmacquarieparks
title: Lions and Macquarie Parks, Warren
tel: 0268848633
url: http://www.big4dubboparklands.com.au
mail: holiday@big4dubboparklands.com.au
slides:
  - WarrenMacqparksideweb1.jpg
  - WarrenMacqparksideweb1.jpg
  - WarrenMacqparksideweb1.jpg
  - WarrenMacqparksideweb1.jpg
  - WarrenMacqparksideweb1.jpg
---

<river>Great places for a picnic and for the kids to play. These two well maintained areas
are by the Macquarie river on the side of the main shopping area and are ideal
stop-over places, although camping is not permitted.
</river>

<p>
<strong>COORDINATES:</strong>
Lions Park - 31&#186;42'11.61"S, 147&#186;50'21.51"E
<br> Macquarie Park - 31&#186;41'53.16"S, 147&#186;50'19.38"E</p>
   <p>
   <strong>LOCATION:</strong>
    Lions Park
is on the corner of Dubbo and Boston Streets, one block down from the main
shopping area. It has a children’s playground, covered tables and seats and rubbish
bins. There is also the chance to walk along the levee bank beside the river.
Macquarie Park can be found where the Oxley
Highway crosses the Macquarie river. It sits behind
the Bowling Club. It also has picnic tables and a
playground for kids. Worth seeing is the massive
hollow stump of an old River Red Gum. The tree
toppled over in 1998 and is estimated to have been
about 950 years old at the time</p>
   <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> Tiger Bay Wetland and Tilley's Wines. Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marsh Nature Reserves and viewing platform. A range of river parks in and near Warren, plus cycling and walking tracks.</p-->
