---
layout: place
section: river
item: macquairecanoe
title: Macquarie river canoe and kayak trail
tel: 0249379330
url: www.lpma.nsw.gov.au/about_recreation/canoe_and_kayak_trails
mail:
slides:
  - CanoeTrailweb1.jpg
  - CanoeTrailweb2.jpg
  - CanoeTrailweb3.jpg
  - CanoeTrailweb4.jpg
---
  <river> Documented by the NSW Department of Lands in 2009 and
described as follows on their web site. Starting at Wellington,
the six day Macquarie River Canoe Trail travels 150 kms to Narromine and winds
its way through areas lined with huge old river red gums, providing habitat for a
vast range of birds and animals with some being quite rare or unique to the area.
Good water flows from the Burrendong Dam provide excellent conditions during
the summer months, and riverside reserves provide easy river access and relaxing
camping spots.How to go about this activity: This is a self-guided trail. You can
download the detailed planning guide, see web site for link. Ideal starting locations
are the Riverside Caravan Park or the Bridge Motel in Wellington (see River bedz).
You will need to bring your own canoe, etc. Hiring is not an option at present.<br>
The local WomDomNom Canoe and Kayak Club runs an annual Macquarie river paddle from Wellington to
Dubbo which is on the first weekend in December. Go to <a href="http://www.womdomnom.com/">www.womdomnom.com</a> for details
  </river>
  <div class="river-line-separator"></div>
  <p><strong>COORDINATES:</strong> 32&#186;46'13.24"S, 149&#186; 8'55.11"E</p>
  <div class="river-line-separator"></div>
   <!--p><strong>LOCATION:</strong> The closest town to Mookerawa Waters Park is Stuart Town, a small former gold rush town of approximately 300 people. The town used to be called Ironbarks which Banjo Paterson made famous in his poem "The Man From Ironbark". Mookerawa Waters is approximately 10kms fro Stuart town.</p-->
    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> Burrendong Botanic Garden and Arboretum, Lake Burrendong State Park, Mookerawa State Park is only a few kilometers away too.  Bell River Estate, Eris Fleming Gallery, Wellington Caves and the Bottle House are not far away either.</p-->
