---
layout: layout_place
section: river
item: mookereawa
title: Mookerawa Waters State Park, Lake Burrendong
tel: 0268468268
url: www.stateparks.nsw.gov.au/lake_burrendong
mail:
slides:
  - Mokwatersweb1.jpg
  - Mokwatersweb2.jpg
  - Mokwatersweb3.jpg
  - Mokwatersweb4.jpg
---
  <river>Mookerawa Waters is also part of the Lake
Burrendong State Park but it is approximately
15kms to the south. Park facilities include a kiosk,
picnic areas, more than 200 camping areas (no powered sites available), boat
ramps and barbecue facilities. Mookerawa Waters Park is great for fishing,
swimming, skiing and boating. For the avid bushwalker there are many walks
available from easy to the more difficult. There’s even a simple golf course.
    </river>

  <p><strong>COORDINATES:</strong> 32&#186;46'13.24"S, 149&#186;8'55.11"E</p>
   <p><strong>LOCATION:</strong> The closest town to Mookerawa Waters Park is Stuart Town, a small former gold rush town of approximately 300 people. The town used to be called Ironbarks which Banjo Paterson made famous in his poem "The Man From Ironbark". Mookerawa Waters is approximately 10kms fro Stuart town.</p>
    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> Burrendong Botanic Garden and Arboretum, Lake Burrendong State Park, Mookerawa State Park is only a few kilometers away too.  Bell River Estate, Eris Fleming Gallery, Wellington Caves and the Bottle House are not far away either.</p-->
