---
layout: place
section: river
item: moreparks
title: Victoria, Oxley and more river parks, Warren
tel:
url:
mail:
slides:
  - WarrenVictPkareaweb1.jpg
  - WarrenVictPkareaweb2.jpg
  - WarrenVictPkareaweb3.jpg
  - WarrenVictPkareaweb4.jpg
  - WarrenVictPkareaweb5.jpg
  - WarrenVictPkareaweb6.jpg
---
<river>Like those on the other side of the river in Warren these are also great places for
a picnic and for the kids to play. Some have off leash areas for dogs too (see signs
indicating this). There are four areas, on this side of the river, all are very close or
adjoining.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   Victoria Park and Oval - 31&deg;41'43.93"S, 147&deg;50'16.91"E
   <br> Oxley Park - 31&deg;41'49.16"S, 147&deg;50'23.57"E
   <br> Ebert Park - 31&deg;41'58.49"S, 147&deg;50'22.64"E
   <br> Orchard Street Park - 31&deg;42'2.05"S, 147&deg;50'32.55"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Victoria Oval and Park is the local sporting complex, which
also runs beside the river. Adjoining it is Oxley Park where there are toilets, an RV
dump site, plus covered picnic tables and bins for rubbish. On the other side of the
Oxley Highway, but still on the same side of the river, is Ebert Park, a long narrow
park (this is Coonamble Road) where dogs are allowed
to be off leash. Opposite this Park, Orchard Street joins
Coonamble Road and few hundred metres down this is
another long, narrow park, Orchard Street Park. Dogs are
also permitted off-leash here and there are picnic seats etc.</p>
<div class="river-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland and Tilley's Wines. Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marsh Nature Reserves and viewing platform. A range of river parks in and near Warren, plus cycling and walking tracks.</p-->
