---
layout: place
section: river
item: riverbankpark
title: Riverbank Park, Dubbo
tel:
url:
mail:
slides:
  - RiverbankPkweb1.jpg
  - RiverbankPkweb4.jpg
  - RiverbankPkweb5.jpg
  - RiverbankPkweb6.jpg
---


  <river>A great area for a picnic or stroll along the river right in the heart of Dubbo. These parklands extend from behind the main shopping area (parallel with Macquarie street) upstream to the Sandy Beach attraction. The Visitor Information Centre is found near here also. Running through the park is the Tracker Riley cycleway and walking trail which allows you to do about a 6 km loop that runs along both sides of the river. There is also an outdoor exercise area, several playing fields, toilets, a boat ramp and pontoon.
      </river>
      <div class="river-line-separator"></div>
  <p><strong>COORDINATES:</strong> 32&#186;14'46.83"S, 148&#186;35'58.25"E</p>
  <div class="river-line-separator"></div>
   <p><strong>LOCATION:</strong> Riverbank Park can be found running parallel to Macquarie Street, the main street of Dubbo.</p>
   <div class="river-line-separator"></div>
    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> All those found in Wellington, plus the other river parks. Nearby is the Lion of Waterloo historic country pub, and up river are the Bridge Motel and Riverside Caravan Park - two great places to stay right on the river (river bedz!). In town don't miss the Cactus Cafe and Gallery, Oxley Museum, Mount Arthur Reserve or maybe stay at the historic Hermitage Hill Resort and Function Centre.</p-->
