---
layout: place
section: river
item: rotarypark
title: Rotary Riverside Park, Narromine
tel:
url: http://www.narromine.nsw.gov.au
mail:
slides:
  - RotaryPkweb1.jpg
  - RotaryPkweb2.jpg
  - RotaryPkweb3.jpg
---
<river>Absolute river frontage parklands with a great, sealed boat ramp. The reserve also has children's playgrounds, toilets, bar-b-ques, picnic tables, garbage bins and lots of room for stretching the legs on the vast well-cared for grassed areas. Camping is not permitted.
          <br>Water skiing is allowed on the river and there are numerous good fishing spots.  Narromine is famous for its sportstars such as Glenn McGarth (see the statue of him when in town), Melinda Gainsford-Taylor, David Gillespie and lots more.
          </river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;10'7.82"S, 148&#186;35'6.10"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Proceed down Dandaloo Street (the main one) toward Warren, Trangie etc, and turn right into Culling Street before the highway sweeps around to the left on the edge of town.</p>
    <div class="river-line-separator"></div>
    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> Lime Grove, Rotary Wetland, Macquarie Grove Vineyard and Narromine Tourist Park and Motel and the Peppercorn Motor Inn are both close by. Plus, enjoy the several river parks nearby - see www.rivertrails.com.au.</p-->
