---
layout: place
section: river
item: sandy_beach
title: Sandy Beach, Dubbo
tel:
url: http://www.dubbo.com.au
mail:
slides:
  - sandybeachweb1.jpg
  - sandybeachweb2.jpg
  - sandybeachweb3.jpg
  - sandybeachweb4.jpg
  - sandybeachweb5.jpg
  - sandybeachweb6.jpg
---

<river> A great place for a picnic, swimming, fishing and canoeing right in Dubbo.
Parking for vans and lots of turning space. Toilets, barbeques and rubbish bins.
Access to the river is good as the beach is shallow and with gravel. There is
no concrete boat ramp (but there are two further down the river – see the
Riverbank Park and Lions Park West). The Tracker Riley Cycleway and Walking
trail passes through this reserve. No camping allowed.
</river>
  <p>
  <strong>COORDINATES:</strong>
   32&#186;15'23.41"S, 148&#186;35'26.32"E</p>
   <p>
   <strong>LOCATION:</strong>
    If coming from the Wellington, Geurie direction along the Mitchell Highway turn left at the lights just before the L H Ford Bridge and then take the first right into Bligh street. Follow this road a short distance until it veers to the right, where you take the left hand turn and follow this road to Sandy Beach. See River Parks map - coming soon. Otherwise, if you're in the main shopping area, turnoff Macquarie street toward the river, and then follow Bligh street under the Ford bridge until you see Sandy Beach Road on your right.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All of Dubbo's attractions.</p-->
