---
layout: place
section: river
item: sandycreek
title: Sandy Creek Rest Area, Warren
tel:
url:
mail:
slides:
  - SandyCkweb1.jpg
  - SandyCkweb2.jpg
  - SandyCkweb3.jpg
---
<river>This is a very convenient rest area just off the highway a few kilometres out of Warren on the road from Nevertire. At this point Sandy Creek is about 7kms - as the crow flies - from the Macquarie river, the closest point being in Warren. The rest area has picnic tables, and big turn-around area and lots of shade by the creek.
</river>
<div class="river-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
   31&#186;44'55.73"S, 147&#186;47'1.29"E</p>
   <div class="river-line-separator"></div>

   <p>
   <strong>LOCATION:</strong>
    Approximately 7 kms from Warren.</p>
    <div class="river-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland and Tilley's Wines. Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marsh Nature Reserves and viewing platform. A range of river parks in and near Warren, plus cycling and walking tracks.</p-->
