---
layout: place
section: river
item: scenic
title: Macquarie River scenic drive
tel:
url:
mail:
slides:
  - Riverdriveweb1.jpg
  - Riverdriveweb2.jpg
  - Riverdriveweb3.jpg
  - Riverdriveweb4.jpg
  - Riverdriveweb5.jpg
---

<river>Get off the highway and take the scenic route
from Warren to Narromine or vice versa. This
sealed road runs along the northern side of the
Macquarie. You get regular views of the mostly steep-sided river, and there are
even some places to stop and relax, and maybe drop a line in the river – see the
Fishing Trail guide for how to find these.
</river>
<div class="river-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;54'57.18"S, 148&#176;4'57.06"E</p>
   <div class="river-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
   From Warren, near the bridge over the river, take Milson Street
which becomes Wambianna Road and follow it until it reaches a T-intersection
(the Collie-Trangie Road) – turn left and then in less than a kilometre turn right
into Burroway West Road – which will take you to Narromine. If coming from
Narromine follow the signs to Gilgandra and just out of town, after you cross the
Macquarie, take the left hand turn into Burroway Road.</p>
   <div class="river-line-separator"></div>
    
