---
layout: place
section: river
item: sirrodenpark
title: Sir Roden Cutler Park, Dubbo
tel:
url: http://www.dubbo.com.au
mail:
slides:
  - RodenCutlerPkweb1.jpg
  - RodenCutlerPkweb2.jpg
  - RodenCutlerPkweb3.jpg
  - RodenCutlerPkweb4.jpg
---

<river>A great place for a picnic and bar-b-ques are provided. There are two areas, one up near the Newell Highway turnoff and the other down beside the river itself.
       There are toilets, barbeques and rubbish bins. No camping allowed. Viewing platform looks across the river to Sandy Beach (see description of it on this site). The Tracker Riley Cycle and Walking Path runs through this park. It's only a few kilometres from Taronga Western Plains Zoo and sits behind Dubbo BIG4 Parklands.
</river>
<div class="river-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
   32&deg;15'18.70"S, 148&deg;35'17.96"E</p>
   <div class="river-line-separator"></div>

   <p>
   <strong>LOCATION:</strong>
    Right in the heart of Dubbo with the entrance opposite the Abel Tasman Motor Inn on the Mitchell Highway which takes you out to Taronga Western Plains Zoo.</p>
    <div class="river-line-separator"></div>

    <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> All of Dubbo's attractions. Right opposite Sandy Beach - and on the Tracker Riley cycle and walking track - which also leads you to Taronga Western Plains Zoo. Accommodation near the river are the Abel Tasman Motor Inn and BIG4 Dubbo Parklands. There are several riverside reserves that join Sandy beach, and two boat ramps and a pontoon downstream - see Lions Park West and Riverbank Park. Sandy Beach is also the base for the Dubbo Dragons - the dragon boat club.</p-->
