---
layout: place
section: river
item: sport
title: Lake Burrendong Sport and Recreation Centre
tel: 0268467403
url: www.dsr.nsw.gov.au
mail:
slides:
  - BurrendongSportweb1.jpg
  - BurendongSportweb3.jpg
  - Buurrendongsportweb2.jpg
  - LakeBurrendongSportRecweb4.jpg

---
<river>
    Lots of lake activities here - canoeing, kayaking and dragon boating for groups. Self contained accommodation for people to bring their own vessels.
</river>
<p>
    <strong>OPENING HOURS:</strong>
    Prearranged visits only - please telephone first.
</p>
<p>
    <strong>COORDINATES:</strong>
    32&#186;42'27.48"S, 149&#186; 6'53.98"E
</p>
<p>
    <strong>LOCATION:</strong>
    : Lake Burrendong Sport and Recreation is only one hour's drive from either Dubbo or Orange and five hours from Sydney. If you are coming from the north of the state, the park is 27km south-east of Wellington.
</p>
<!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Burrendong Botanic Garden and Arboretum, Lake Burrendong State Park, Mookerawa State Park is only a few kilometers away too.  Bell River Estate, Eris Fleming Gallery, Wellington Caves and the Bottle House are not far away either.
</p-->
