---
layout: place
section: bird
item: devil
title: Devil’s Hole Reserve, Dubbo
tel:
url: http://www.dubbo.nsw.gov.au
mail:
slides:
  - devil1.jpg
  - devil.jpg
---
<brid>The river reserve contains River Red Gum
woodlands which features a variety of
river birds including Crested Shrike&#45;Tit,
Woodswallows, Rufous Songlarks and
waterbirds along the river. Keep an eye out for
Barking Owls in some of the oldest Red Gums.</brid>
<p>
<strong>DIRECTIONS:</strong>
From Dubbo take the Newell Highway toward
Gilgandra and just after you pass the truck stop the
reserve is on the left, opposite the entrance to the
Ranelagh Homestead B&amp;B.</p>
<div class="bird-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;13’41.68”S, 148&#176;36’39.76”E
</p>
<div class="bird-line-separator"></div>
<p>
<strong>HOW TO FIND US</strong>
On the northern outskirts of Dubbo. From
Dubbo take the Newell Highway toward
Gilgandra and just after you pass the truck
stop the reserve is on the left, opposite the
entrance to the Ranelagh Homestead B&B.</p>
<div class="bird-line-separator"></div>
<p>
  <strong>COORDINATES:</strong>
  -32&#176;13'41.68"S, 148&#176;36'39.76"E</p>
  <div class="bird-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Ok (see photo). There are some erosion issues due
to vehicle damage on and near the beach. Take care
not to make the problem worse - fish don’t like dirt
in their river!</p>
<div class="bird-line-separator"></div>
<p><strong>OPENING HOURS</strong>
Site is closed after dark.</p>
<div class="bird-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This reserve is not far downstream from Dubbo’s
second weir - take care if you boat near it. Even
though it’s quite low there are still risks.</p>
