---
layout: place
section: Bird
item: geuriecemetary
title: Geurie Cemetery and Bald Hill Reserve
tel: 
url: 
mail: 
slides:
  - Geuriereserve1.jpg
  - Geuriereserve2.jpg
  - Geuriereserve3.jpg

---
<Bird>A true birding gem of the area &#45; the cemetery
area and adjacent Bald Hill Reserve offer
excellent birdwatching opportunities.
<br>Here you may see many hard&#45;to&#45;find
species including White&#45;browed Babblers,
Little Lorikeets, Black&#45;chinned Honeyeaters,
Crested Shrike&#45;Tits, Diamond Firetails,
Square&#45;tailed Kite and Painted Button&#45;Quail.
<br>The vegetation is primarily Grey and White
Box woodlands with areas of Cypress and
Yellow and Fuzzy Box. The reserve is located
on the southern periphery of the village of
Geurie, in the lower slope of the iconic ‘Bald
Hill’. 
<br>There are three main areas, all with great
birds&#58; 
<br>Geurie Cemetery&#58; a managed area
surrounded by Cypress woodland &#45; great for
little birds. 
<br>The old Quarry&#58; the quarry site is
east of Arthurville Road. 
<br>The reserve proper&#58;
the larger area west of Arthurville Road.
	</bird>
	<div class="bird-line-separator"></div>
	 <p>
	 <strong>HOW TO FIND</strong>
	  Cemetery: take the Mitchell Highway east
from Geurie. The cemetery access road is
1500m from the village on the south (left).
Be careful of traffic when making the turn.
Old Quarry: there is a very rough vehicular
entrance off the Arthurville Road.
Alternatively, park at the cemetery and walk
across the creek to the west.
Reserve proper: there are a variety of
walking/mountain biking trails accessed from
the southern streets of Geurie (Morley Street/
Whitely Street, Old Dubbo Road, Chambers/
Payne St).</p>
	<div class="bird-line-separator"></div>
	<p>
	<strong>COORDINATES</strong>
	 32&#176;24'42.21"S, 148&#176;49'57.38"E</p>
	 <div class="bird-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Cactus Caf&#233; and Gallery; Hermitage Hill Resort; Wellington Caves and Phosphate mine, the Caves Bottle House; Lion of Waterloo historic tavern; Bridge Motel and Riverside Caravan Park. 
     Towards Dubbo there is the Garling Gallery in Wongarbon, several riverside parks and reserves and in Geurie, the Bald Hills mountain bike trails.</p-->
			

	  