---
layout: place
section: bird
item: jonescreek
title: Jones’ Creek Reserve, Old Mendooran Road
tel: 
url: http://www.dubbo.com.au/
mail: 
slides:
  - Jonescreek1.jpg
  - Jonescreek2.jpg
  - Jonescreek3.jpg
---
<bird>A great birding spot, with remnant Cypress
and grassy Yellow Box woodlands along Jones’
Creek. Watch for Leaden Flycatchers, Wedgetailed
Eagles, Red&#45;chested Button Quail and
Speckled Warblers.
	</bird>
	<div class="bird-line-separator"></div>
	<p>
	<strong>HOW TO FIND US</strong>
	 Head out the Dunedoo Road (Golden Highway)
from Dubbo. Turn left onto the Old Mendooran
Road approx. 12km from Dubbo. This will take
you over the Talbragar River. Continue 8.5km
from the river and the access to the reserve
will be on the right (east). This can be difficult
to spot, so keep an eye out for the large green
reserve sign. There is a single road in and
vehicle turning area near the entrance. Best to
walk in rather than drive down to the creek.
<br><strong>Access information and facilities:</strong>
<br>Dry weather access only. The Old Mendooran
Road can be cut when the Talbragar River is
up - do not cross floodwaters. No facilities
on-site.</p>
	 <div class="bird-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;9'3.81"S, 148&#176;46'26.27"E</p>
	 <div class="bird-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Wongarbon is on the Mitchell highway between Dubbo and Wellington.</p>
	  <div class="bird-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The Garling Gallery is also in Wongarbon (see Heritage Trail), Beni Conservation Area and Geurie Bald Hills Reserve (see Cycle Trail). 
     Plus, all of Wellington's and Dubbo's attractions and several river parks such as Ponto Falls and Bril Bral Reserves.</p-->
			

	      