---
layout: place
section: bird
item: lakeburrendong
title: Lake Burrendong Area
tel: 0268467454
url: http://www.burrendongarboretum.org
mail:
slides:
  - Lakeburrendong1.jpg
  - Lakeburrendong2.jpg
  - Lakeburrendong3.jpg
  - Lakeburrendong4.jpg

---
<bird>
Lake Burrendong, including Burrendong
Arboretum and Botanic Garden, Lake
Burrendong and Mookerawa Waters State
Parks and Lake Burrendong Sport and
Recreation Centre
<br>Burrendong Botanic Garden and Arboretum
was established in 1964 and covers
approximately 167 ha. It offers a number of
walking and self&#45;drive trails through a range
of habitats, including a fern gully.
The arboretum is an excellent place for
woodland birds including Diamond Firetails,
Little Lorikeets and an assortment of
honeyeaters. The Fern Gully is home to
White&#45;browed Scrubwrens and inquisitive
Eastern Yellow Robins. Occasionally Gilbert’s
Whistlers can be found at the Arboretum.
<br>Access information and facilities&#58;
Access to all sites is sealed with ample car
parking provided. Payment is required
for entry into the State Park and at the
Arboretum a voluntary donation is requested.
At the State Park there are powered and
unpowered camp sites, on&#45;site cabins and
powered caravan sites, plus a kiosk, fuel and
full amenities.

</bird>
<div class="bird-line-separator"></div>
<p>
<strong>OPENING HOURS:</strong>
Arboretum: open 8am–6pm daily. Closed if
fire hazard exists.
State Park: 9am–5pm seven days a week
Lake Burrendong Sport and Recreation
Centre: by prior arrangement only</p>

<div class="bird-line-separator"></div>
<p>
    <strong>HOW TO FIND</strong>
   Lake Burrendong is only one hour’s drive
   from either Dubbo or Orange and five
   hours from Sydney. If you are coming from
   the north of the state, the park is 27km
   south-east of Wellington. The State Park and
   Arboretum are about one kilometre from one
   another.
<div class="bird-line-separator"></div>
<p>
    <strong>COORDINATES:</strong>
    32&#176;41'17.87"S, 149&#176; 6'30.67"E
</p>
<div class="bird-line-separator"></div>
<p>
    <strong>MORE INFORMATION</strong>
    www.burrendongarboretum.org
    www.stateparks.nsw.gov.au
    www.dsr.nsw.gov.au
</p>
<div class="bird-line-separator"></div>
<!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
    Lake Burrendong State Park and the Lake Burrendong Sport and Recreation Centre are also found at this location and both offer accommodation and water sport facilities and activities. Nearby there is also the Burrendong Botanic Garden and Arboretum.  Eris Fleming Gallery is also a highlight (see Heritage trail).
</p-->
