---
layout: place
section: bird
item: northmacquarieroute5
title: Northern Macquarie Marshes (Route 5)
tel: 
url: 
mail: 
slides:
  - Maquariemarshes1.jpg
  - Maquariemarshes2.jpg
  - Maquariemarshes3.jpg
  - Maquariemarshes4.jpg
---
<bird>This route offers excellent opportunities to
see western and northern NSW woodland
birds like Pale&#45;headed Rosella, Superb Parrot,
various thornbills and many birds of prey.
<br>There are various stops you could consider
depending on your time. If starting in the
east&#58; 
<br>Start at the Marra Crossroads&#47;Telecom
Tower (Cnr Gibson’s Way and Macquarie
Valley Way&#47;Warren&#45;Carinda Road). Head
north along the Carinda Road.
<br>Check out the areas of the Mole Marsh which
are great when wet. You can find various
egrets, dotterels and duck species in the
lagoon on the western side of the road.
*Be careful of passing traffic*
<br><strong>Pillicawarrina TSR&#58;</strong> the land between
the main road and the river at the entrance to
Pillicawarrina is a TSR. Be mindful
of stock in this area, but there are areas of
river red gum woodlands through to the
Macquarie River here.
<br><strong>The Ginghet&#58;</strong> To the north there are some
crossing points of the Ginghet Creek. When
wet this area has a good variety of waterbirds
and woodland birds.
<br>Through to the ‘hundred mile’ T&#45;intersection.
The road northwards to the T&#45;intersection
with the Carinda&#45;Gongolgon Road is a good
opportunity to see a variety of raptors and
other birds. Keep an eye out for Ground
Cuckoo&#45;Shrike, Superb Parrots (when in
season) and Pale&#45;headed Rosellas.
<br>Mullins Swamp and Bell’s Bridge
(Lower Macquarie River)&#58; These areas
can offer some interesting birds at times.
<br>The Carinda&#45;Warren road is bitumen so is
all&#45;weather. Carinda&#45;Sandy Camp is unsealed
so is dry&#45;weather only. Be especially careful in
the single&#45;lane roads during cotton harvesting
season &#45; this road is used by some big trucks&#33;
<br>Note&#58; that nearly all land adjacent to the road
reserve (unless TSR) is privately managed. Do
not enter private land unless you have obtained
permission from the relevant landholder.

		</bird>
    <div class="bird-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 Carinda-Quambone Road: The Wilga
and Box scrub along the roadside can be very
worthwhile at times, especially when some
of the plants are flowering. Lots of Singing
Honeyeater, Chestnut-rumped Thornbills and
occasional Hooded Robins.
<br>Carinda-Sandy Camp Road: Keep an eye out
for Ground Cuckoo-Shrike, woodswallows
and Little Eagles. ‘Ninnia’ Macquarie Marshes
Nature Reserve. This small reserve is full of great
remnant vegetation and is generally excellent
for birds. If dry, take the access track along
the northern boundary through to the ruined
homestead. Stopping at Dusty Creek Baradine
Red Gum areas will often yield Crested Shriketit.
Stop near the southern boundary also, good
for Crested Bellbird, Painted button-Quail and
various thornbill species. During flooding the
section of road between Ninnia and Sandy
Camp is excellent for waterbirds as it follows
the Terrigal Creek. Be careful not to leave the
road, though!
	  <div class="bird-line-separator"></div>
<p>
   <strong>COORDINATES</strong>
   30&#176;53'48.25"S, 147&#176;27'50.03"E
    <div class="bird-line-separator"></div>

    
	