---
layout: place
section: bird
item: rotarywetland
title: Rotary Wetland, Narromine
tel: 
url: 
mail: 
slides:
  - Rotarywetlandweb1.jpg
  - Rotarywetlandweb2.jpg
  - Rotarywetlandweb3.jpg
  - Rotarywetlandweb4.jpg
  - Rotarywetlandweb5.jpg
---
<bird>This is a reserve with large constructed
wetlands and revegetated woodland areas.
The wetland areas host a modest variety of
egrets, ducks and herons, with woodland
birds like Spiny&#45;cheeked Honeyeaters,
thornbills and Rufous Whistlers returning to
the revegetated areas.
<br>A pleasant walk in the morning.
<br>There are dry&#45;weather roads on&#45;site with
parking areas. Picnic areas are present. Toilet
facilities available.
		</bird>
		<div class="bird-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;14'52.51"S 148&#176;14'10.40"E</p>
	 <div class="bird-line-separator"></div>
	 <p>
	 <strong>HOW TO FIND US</strong>
	  On the edge of Narromine township - follow Dandaloo Street to the Tullamore Road. Look for the signs.</p>
	  <div class="bird-line-separator"></div>
	 <p>
	 <strong>OPENING HOURS</strong>
	  Closed after dark.</p>

   