---
layout: place
section: bird
item: tarongazoo
title: Taronga Western Plains Zoo
tel: 0268811400
url: http://www.taronga.org.au./taronga-western-plains-zoo
mail: twpz@zoo.nsw.gov.au
slides:
  - Zooweb1.jpg
  - Zooweb2.jpg
  - Zooweb3.jpg
  - Zooweb4.jpg
---
<bird>The gardens, wetlands and bushland of Taronga
Western Plains Zoo is not only home to over
700 exotic animals, but it provides excellent foxand
cat&#45;free habitat for a range of (wild, native)
bird species. Bird species include Speckled
Warblers, Little Eagles, Little Lorikeets, Greycrowned
and White&#45;browed Babblers and Redcapped
Robins in bushland areas. Depending
on the condition of the wetlands, a variety of
waterbirds can be observed including ducks
like Hardhead, Cormorants, Little Grassbird,
Buff&#45;banded rails, Ibis and Herons.
<br>Entry is free to the front ponds but paid entry
only to the remainder.
  </bird>
  <div class="bird-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   9am - 4pm daily. Last entry to the Zoo circuit 3pm daily.</p>
   <div class="bird-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;16'19.97"S, 148&#176;35'10.76"E</p>
   <div class="bird-line-separator"></div>
   <p>
   <strong>HOW TO FIND US:</strong>
    Obley Road, Dubbo - just off the Newell Highway to Parkes.</p>
    <div class="bird-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel Tasman Motor Inn - both located within 300 metres of the river.</p-->


