---
layout: place
section: bird
item: tigerbay
title: Tiger Bay Wetland, Warren
tel: 0268476600
url: www.warren.nsw.gov.au
mail:
slides:
  - TigerBayweb1.jpg
  - TigerBayweb2.jpg
  - TigerBayweb3.jpg
  - TigerBayweb4.jpg
  - TigerBayweb5.jpg
  - TigerBayweb6.jpg
---
<bird>These wetlands &#45; a series of constructed wetlands adjacent to the
Warren Sewage Treatment Plant &#45; are great drought refuge when
other areas are dry and can support a good range of waterbird and
woodland bird species.
These include Plum&#45;headed Finches, Spotted Bowerbird, various
egret and heron species, ducks, crakes and ibis.
<br>Access information and facilities&#58; 
<br>Good in all weather conditions &#45; sealed access to parking area.
There are wetland areas on either side of the Oxley Highway with
walking trails, a bird hide and picnic table.
    </bird>
    <div class="bird-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Open at all times.</p>
   <div class="bird-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    On the edge of Warren township – take the Oxley Highway
towards Gilgandra. The wetlands are found on both sides of the
road not far past the big green water tower. Look for the signs.</p>
    <div class="bird-line-separator"></div>
   <p>
   <strong>HOW TO MAKE A BOOKING:</strong>
    31&#176;41'40.82"S, 147&#176;50'33.16"E</p>
    <div class="bird-line-separator"></div>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland and Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marshes Nature Reserve and viewing platform.
     A range of river parks in and near Warren, plus cycling and walking tracks. Macquarie Caravan Park in Warren or Nyngan Riverside Tourist Park are places to stay.</p-->


