---
layout: place
section: cycle
item: beni
title: Beni State Conservation Area cycling, Dubbo
tel:
url: http://www.dubbocitycycleclub.com.au
mail:
slides:
  - Beniweb4.jpg
  - beniweb2.jpg
  - Beniweb3.jpg
  - beniweb1.jpg
---
<cycle >Cross country mountain biking on managed trails &#45; 45km of double track through Central West native woodlands. A single track is proposed to link specific areas.
    </cycle>
    <div class="cycle-line-separator"></div>

  <p>
  <strong>OPENING HOURS:</strong>
   All day and night no bookings necessary.</p>
   <div class="cycle-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
  -32&#176;14'49.04"S, 148&#176;43'28.70"E</p>
  <div class="cycle-line-separator"></div>

  <p>
  <strong>LOCATION:</strong>
   Eastern end of Whitewood Road (Myall Street in Dubbo).</p>
   <div class="cycle-line-separator"></div>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

