---
layout: place
section: cycle
item: geurie
title: Geurie - Bald Hill Mountain Bike Trails
tel:
url: http://www.dubbocitycycleclub.com.au
mail:
slides:
  - geurieweb2
  - geurieweb3.jpg
---
<cycle >Here you'll find 15 kms of dedicated cross country mountain biking trails - all marked, single track through Central West native woodlands.
</cycle>

    <p>
    <strong>OPENING HOURS:</strong>
     All day and night no bookings necessary.</p>
      <p><strong>COORDINATES:</strong>
      -32&#186;24'0.10"S, 148&#186;49'5.94"E</p>
      <p><strong>LOCATION:</strong>
       The south end of Chambers Street, Geurie (between Wellington and Dubbo) - follow the signs.</p>
        <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
         River parks such as Ponto Falls Reserve and Bril Bral Reserve, Dubbo's tourist attractions, Wellington Caves, Mount Arthur Reserve and the Garling Gallery in nearby Wongarbon.</p-->

