---
layout: place
section: cycle
item: muggahill
title: Mugga Hill Mountain Bike Park, Dubbo
tel:
url: http://www.dubbocitycycleclub.com.au
mail:
slides:
  - Muggaweb1.jpg
  - Muggaweb2.jpg
  - Muggaweb3.jpg
  - Muggaweb4.jpg
---

<cycle>Cross country mountain biking trails, a pump track and dirt jumps.
</cycle>
<div class="cycle-line-separator"></div>

  <p>
  <strong>OPENING HOURS:</strong>
   All day and night no bookings necessary.</p>
   <div class="cycle-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
  -32&#186;13'30.63"S, 148&#186;39'47.50"E</p>
  <div class="cycle-line-separator"></div>

    <p>
    <strong>LOCATION:</strong>
     Just out of Dubbo on the south side of the Golden Highway to Dunedoo.</p>
     <div class="cycle-line-separator"></div>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

