---
layout: place
section: cycle
item: powterpark
title: Powter Park BMX Track, Dubbo
tel:
url:
mail:
slides:
  - PoweterPkweb1.jpg
  - PowterPkweb2.jpg
  - PowterPkweb3.jpg
  - PowterPkweb4.jpg
---

<cycle>BMX race track with regular racing.
</cycle>

  <p>
  <strong>COORDINATES:</strong>
  -32&#186;14'21.53"S, 148&#186;36'43.15"E</p>
  <p>
  <strong>LOCATION:</strong>
   Corner of Gipps and Myall Streets, Dubbo.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

