---
layout: place
section: cycle
item: tarongazoo
title: Cycling around Taronga Western Plains Zoo
tel:
url: http://www.dubbocitycycleclub.com.au
mail:
slides:
  - Zooweb1.jpg
  - Zooweb2.jpg
  - Zooweb3.jpg
  - Zooweb4.jpg
---
<cycle>An ideal way to experience the Zoo is by bike. The Zoo operates on a 6km one-way circuit system, with the animal exhibits and picnic grounds situated along the route. Bikes are available for hire, but visitors are welcome to bring their own. While the Zoo also provides helmets, it is recommended that visitors bring their own where possible.
</cycle>
<div class="cycle-line-separator"></div>

  <p>
  <strong>OPENING HOURS:</strong>
   9am - 4pm daily. Last entry to the Zoo circuit 4pm daily.</p>
   <div class="cycle-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
   32&#186;16'20.04"S, 148&#186;35'10.78"E</p>
   <div class="cycle-line-separator"></div>

   <p>
   <strong>LOCATION:</strong>
    Obley Road, Dubbo - just off the Newell Highway to Parkes.</p>
    <div class="cycle-line-separator"></div>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel Tasman Motor Inn - both located within 300 metres of the river.</p-->


