---
layout: place
section: cycle
item: tracker_hill
title: Tracker Riley Cycleway and Walking Trail, Dubbo
tel:
url: http://www.dubbo.nsw.gov.au
mail:
slides:
  - TrackerRileyweb1.jpg
  - TrackerRileyweb2.jpg
  - TrackerRileyweb3.jpg
  - TrackerRileyweb4.jpg
  - TrackerRileyweb5.jpg
  - TrackerRileyweb6.jpg
  - TrackerRileyweb7.jpg
---
<cycle>Cycling and walking trail which forms river-based loops, a 13km urban loop from
Serisier Bridge to the Tamworth Street footbridge and return, and a longer loop
from the Tamworth Street footbridge past the Taronga Western Plains Zoo to
Dundullimal Reserve, crossing the river again there to return to Tamworth Street
via Macquarie Street. Provides great access to swimming and fishing locations.
</cycle>
  <p>
  <strong>OPENING HOURS:</strong>
   All day and night no bookings necessary.</p>
  <p>
  <strong>COORDINATES:</strong>
  -32&#186;15'21.91"S, 148&#186;35'22.94"E</p>
  <p>
  <strong>LOCATION:</strong>
   Car park at the end of Tamworth street is a great place to start in either direction,
   as is the car park below West Dubbo Bowling Club, opposite Abel Tasman Motor Inn and beside the BIG4 Dubbo Parklands.</p>
    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

