---
layout: place
section: cycle
item: warrens
title: Warren's cycling and walking tracks
tel:
url: http://www.dubbocitycycleclub.com.au
mail:
slides:
  - warrencycleweb1.jpg
  - warrencycleweb2.jpg
  - warrencycleweb3.jpg
  - warrencycleweb4.jpg
---
<cycle >Warren has three cycling and walking tracks
- all of which will let you see other attractions
as well. But, this is &lsquo;plains country&rsquo;, so don&rsquo;t
expect too many hills&#33;</cycle>
<div class="cycle-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
  Beemunnel trail -31&#176;41'37.97"S, 147&#176;50'34.02"E
  <br>Rotary Centennial trail -31&#176;42'24.43"S, 147&#176;50'31.97"E
  <br>Laurie Elder trail -31&#176;42'11.35"S, 147&#176;49'57.37"E</p>
  <div class="cycle-line-separator"></div>

  <p>
  <strong>LOCATION:</strong>
   One track starts at the Tiger
Bay wetland - the Beemunnel trail - and
it runs for about 4 kms, out and back. The
second - the Rotary Centennial trail - runs out to the Warren Weir Reserve
on the upstream side of town. It’s about 10 kms out and back. The third - the
Laurie Elder Walk - runs out of town past the Golf Club to the level crossing on
Oxley Highway. All three give you a safe and leisurely way to see some of the
countryside and are great for the joggers too.</p>
<div class="cycle-line-separator"></div>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

