.ui-mobile {
  /* optimizeSpeed is the default. Using optimizeLegibility here will typically DOUBLE
     rendering time! So, think twice about using optimizeLegibility */
  text-rendering: optimizeSpeed;

  /* subpixel-antialiased is the default, but you might like to use antialiased for a thinner look
     in Safari. There is no speed penalty for this, nor a speed advantage for "none", which looks
     absolutely terrible... */
  -webkit-font-smoothing: subpixel-antialiased;

  /* Shut off long touch on links for info. If this is set to "default", then a long touch
     on a link will display the URL in a popup. This is pretty darn annoying. */
  -webkit-touch-callout: none;

  /* Shut off content selection, because it's really annoying when dragging
     You might like to do this only for scroller content, though, or enable it for certain
     text you want the user to be able to cut-and-paste */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;

  /* Disable Safari scrollbars, because jQuery Mobile annoyingly insists on setting the
     min-height of the page to 320px. It does this (unsuccessfully, in 1.0.1, but successfully
     in 1.1) in order to keep the Mobile Safari location bar from appearing during page
     transitions. But this causes a problem in desktop Safari if the height is <320px.
     If you resize to <320 in a desktop browser, you will see a scrollbar if you don't
     use this style.
 */
  overflow:hidden;
}

/* Fixes for page transition flicker */

.ui-page,
.ui-page > div {
  -webkit-transform: translateZ(0); /* This should be for iOS only */
}

.ui-page {
 -webkit-backface-visibility: hidden;
}

/*
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
  overflow: visible;
}

.iscroll-content * {
  -webkit-transform: translateZ(0); /* This should be for iOS only */
  }

/* Theme overrides. */
/* =============================================================================
   UI Bars (add to a div surrounding content, like a callout box)
   ========================================================================== */
.ui-bar-a,
.ui-bar-b,
.ui-bar-c {
  background-image: none;
}

.ui-bar-c .ui-link-inherit {
  color:    #3E3E3E;
}
.ui-bar-c .ui-link {
  color:  #7cc4e7;
}


/* =============================================================================
   Dialog (Modal Windows)
   ========================================================================== */

.ui-dialog {
  background:url("") #222 !important;
  background-size: 20px 20px !important;
}

.ui-dialog .ui-dialog-contain {
  margin-top: 0 !important
}



/* =============================================================================
   Set your main background image & text styles
   ========================================================================== */


.ui-body-c,
.ui-dialog.ui-overlay-c {
   background: url('../images/whitey.png') 0 0;
   background-size: 203px 317px;
   text-shadow: none;
}

.ui-body-c,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
   font-family: 'Cabin', sans-serif;
}

/* =============================================================================
   Body Links
   ========================================================================== */

.ui-body-c .ui-link-inherit {
  color:  #0099ff
}

.ui-body-c .ui-link {
  color:  #0099ff;
  font-weight: bold;
}

.ui-body-c .ui-link:hover {
  color:  #0099ff;
}

.ui-body-c .ui-link:active {
  color:  #0099ff;
}

.ui-body-c .ui-link:visited {
    color:  #0099ff;
}


/* =============================================================================
   Button Styles
   ========================================================================== */


.ui-btn-active a.ui-link-inherit {
  color:   #fff;
}

/*  End of Theme overrides */

/* Overrides not included in Theme. These have been moved from style4.css, and should remain, so
that they will override CSS in the standard JQM structure CSS */

.ui-mini { margin: .5em 5px; }
.ui-mini .ui-btn-inner { font-size: 11px; padding: .55em 11px .5em; }
.ui-controlgroup-horizontal .ui-btn, .ui-controlgroup-horizontal .ui-select { display: inline-block; margin: 0 -6px 10px 0px; }
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label { font-size: 12px;  }
.ui-li, .ui-li.ui-field-contain { display: block; margin:1.5px; position: relative; overflow: visible; text-align: left; border-width: 0; border-top-width: 0px; }
.ui-li-has-count .ui-btn-text { padding-right:0; }
.ui-listview .ui-li-icon { max-height: 40px; max-width: 40px; left: 6px; top: .6em; }



/* End of JQM structure overrides */

.padd {
  padding: 20px 0
}

.gal-description {
  font-size:11px;
  color: #eee
}

.padd-title {
  padding-left:15px;
  margin-bottom:3px
}

hr.ornamental { background:url("../images/ornamental.png") center no-repeat; background-size:960px 10px; height:10px; width:100%; border:none; margin:0; padding:0 }

.shadow1box {text-align:center; margin:0; height:28px}
.shadow1 {width:100%; height:28px; margin:0}

.shadow2box {margin:0}
.shadow2 {width:100%}


.main_div_blue {
  background-size: auto;
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(rgba(30,87,153,1), rgba(125,185,232,0) ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(rgba(30,87,153,1) ,rgba(125,185,232,0)); /* Opera 11.10+ */
  background: -ms-linear-gradient(rgba(30,87,153,1), rgba(125,185,232,0) ); /* IE10+ */
  background: linear-gradient( rgba(30,87,153,1) ,rgba(125,185,232,0) ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}


.ui-mobile .icon-set{margin-bottom:40px;margin-left:auto;margin-right:auto;max-width:400px;min-width:320px;}

.home-menu .metro-tile-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  }

  .home-menu .river-tile {
  width: 280px;
}

.home-menu .metro-tile {
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.7), 2px 2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.7), 2px 2px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.7), 2px 2px 2px 2px rgba(0,0,0,0.3);
  width: 120px;
  height: 120px;
}

.home-menu .river-tile {
  width: 280px;
}


.home-menu a {
  text-decoration: none;
}


.home-menu .icon {
  position:absolute;
  width: 40px;
  height: 32px;
  -webkit-filter: drop-shadow(-2px 3px 3px rgba(0, 0, 0, 0.8) );
}

.home-produce .icon {
  right: 42px;
  top: 72px;
}

.home-menu .tile-title {
  color: white;
  position: absolute;
  font-size: 15px;
  font-family: Caviar Dreams;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);
  text-align: right;
  right: 10px;
  bottom: 5px;
}

.home-produce .tile-title {

}


.browse-page .ui-listview-filter {
  margin-top: 0;
}

.flexslider {
  border: 2px solid #fff;
  margin-bottom: 0;
}


.ui-grid-b {}
.center div{
    text-align:center;
    vertical-align:middle;
}

/* =============================================================================
   (ex) Slide out menu (no longer slide-out)
   ========================================================================== */

.menu {
  background:#262C3A;
  -webkit-text-size-adjust:none !important;
  opacity: 0;
  z-index: -1;

  display: block !important;
  position: absolute;
  right: 0;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu img {
  float: left;
  margin-right: 10px;
}

.menu ul li {
  list-style-type: none;
  margin: 0px 0;
}
.menu ul li a:link, .menu ul li a:visited {
 text-align: center;
 border-top: 1px #3E4555 solid;
  border-bottom: 1px #191D27 solid;
  color: #DBE0E8;
  font-size: 12px;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-right:  10px;
  padding-bottom:  10px;
  padding-left: 7px;
  text-shadow: 0px 1px 1px #212631;
}

.menu ul li a:hover, .menu ul li a:active {
  background-color: #32394A;
}

.ui-btn-up-a {
  border:none !important;
  background: transparent !important;
  background-image: none !important;
}
a.menuBtn{
  background: transparent url(../images/icon_list_bullets.png) top left no-repeat !important;
  width:31px;
  height:31px;
  background-size: 30px 30px;
  text-indent:-999em !important;
  display:block !important;
  -webkit-box-shadow: 0 0px 0 rgba(150,150,150,.3) !important;
  box-shadow: 0 0px 0 rgba(150,150,150,.3) !important;
}
a.menuBtn .ui-btn-inner{
  border:none;
}
a.menuBtn:hover{
  border:none !important;
}

.fav-icon {
  width: 20px;
  height: 20px;
  float: left;
  background-image: url('../images/icon_favorities_add.png');
  background-size: 100% auto;
}

.menu .toggle-fav.is-fav .fav-icon {
  background-image: url('../images/icon_favorities.png');
}

.place-page {
}

.place-content {

}

/* =============================================================================
   Interior Banner Styles
   ========================================================================== */

.bannerContainer {
    width:100%;
    background:;
}


.banner {
    max-width: 100%;
    display: block;
    max-height:295px;
    margin:0 auto;
}


/* =============================================================================
   Line Separator
   ========================================================================== */
.river-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #015CAB;
}
.heritage-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #AE132A;
}
.nature-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #539536;
}
.produce-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #FBB255;
}
.cycle-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #C14F9D;
}
.riverbedz-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #989898;
}
.fishing-line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #663399;
}

/* =============================================================================
   Page Images
   ========================================================================== */
.page-images {
  text-align: center;
  }
.page-images img {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 12px auto;
    width:100%;
  max-width: 400px;
}

/* =============================================================================
   Business Text
   ========================================================================== */

heritage {
font-size: 15px;
color: #FFFFFF;
background: #AE132A;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}
nature {
font-size: 15px;
color: #FFFFFF;
background: #539536;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}
river {
font-size: 15px;
color: #FFFFFF;
background: #015CAB;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}
produce {
font-size: 15px;
color: #FFFFFF;
background: #FBB255;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}
riverbedz {
font-size: 15px;
color: #FFFFFF;
background: #989898;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}
cycle {
font-size: 15px;
color: #FFFFFF;
background: #C14F9D;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}
fishing {
font-size: 15px;
color: #FFFFFF;
background: #663399;
display: block;
padding: .5em;
text-align:;
font-weight: normal;
margin: 0px 0 20px;
border-radius: .4em;
}

/* =============================================================================
   Header Bar (behind logo) & Logo
   ========================================================================== */

.page-header {
    border:0px;
    border-bottom:1px solid #bfc0c0;
    color:#eee;
    height:40px;
    text-shadow: 0 -1px 1px #000;
    background:url("") #151515; background-size: 5px 5px;
}


.logo {
    width:231px;
    height:40px;
    background:url("") top center no-repeat;
    margin:0 auto;
    background-size: 185px 40px;
}


h1.ui-title {
    margin:0px;
    padding:10px 0 0 0
}


/* =============================================================================
   Link Bars with Large Arrows
   ========================================================================== */

li .ui-btn-text {
  background-image: none;
  background-color: #151515;
  background-size: 20px 20px;
  }

a.ui-link-inherit {
    background:url("../images/arrow.png") right no-repeat;
    background-size: 10px 14px;

    font-family: 'Cabin', sans-serif; font-weight: normal; font-size:14px;
    color:#eee !important;
    text-shadow: 0 -1px 1px #000;

}

a.ui-link-inherit:hover {
    background:url("../images/arrow.png") right no-repeat #333;
    color:#0099FF !important;
}

.events-list span.ui-icon, .thumbnail-list span.ui-icon {display:none}


/* =============================================================================
   Overwrite jQuery Mobile Styles
   ========================================================================== */

.ui-header .ui-title, .ui-footer .ui-title {
    margin: 0.8em 90px;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {

}

.ui-content {
    padding-top:0;
    padding-bottom: 0;
}

.page-header .ui-icon {
    text-indent:-9999px !important
}

.gallery-page h1.ui-title {
    margin: 0px;
    padding: 0px;
    position:relative;
    top:13px
}

.ui-btn-icon-notext .ui-btn-inner { z-index:9999 }


/* =============================================================================
   List Styles
   ========================================================================== */
#mapLinks {padding-right:2px;/*to overwrite standard 75px*/}
#mapLinks p {margin:0 0 0 0;}
#mapLinks a {margin:1px 3px 1px 2px;width:12%;float:left; display:block;text-align:center;background:none;}
#mapLinks a.last {margin-right:0;}
#mapLinks a span {display: block;padding-top: 0px;margin: 5px;}
#mapLinks a {color: #A5A6A7;font-size: 8px;font-weight: bold;text-shadow: none;
}


.ui-content .ui-listview-inset.trail-list {
  margin-top: 1ex;
  margin-bottom: 1ex;
}


/* thumbail lists */
.events-list  ul.ui-listview li, .thumbnail-list ul.ui-listview li {
    margin:0;
    padding:0;
    border-bottom:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail-list a.ui-link-inherit,
.events-list ul.ui-listview a.ui-link-inherit {
    color: #fff;
}

.thumbnail-list a.ui-link-inherit:hover, .events-list ul.ui-listview a.ui-link-inherit:hover {
    color: #2489CE;
}

.thumbnail-list ul.ui-listview li a.ui-link-inherit {
    padding-left: 100px;
}

.thumbnail-list ul.ui-listview .ui-btn-inner {
    margin:0;
    padding:0;
    border-bottom:0px
}

.thumbnail-list li.ui-corner-bottom {
    padding-bottom:1px !important
}

.ui-li-thumb {
    left: 4px;
    max-height: 80px;
    max-width: 71px;
    position: absolute;
    top: 4px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.events-list .ui-li-aside {
    float: right;
    margin: 0.3em 0;
    text-align: right;
    width: 22%;
}

.ui-li-aside {
    margin: 0 2em;
}

.events-list .ui-li {
    padding:0;
    margin:0
}

li.ui-li-divider {
    padding: 0.5em 15px !important
}


/* list divider, create your own gradient: http://www.colorzilla.com/gradient-editor/ */
li.ui-li-divider {
    color: #111;
    text-shadow: 0 1px 0 #999;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

/* =============================================================================
   Home page Background
   ========================================================================== */

/* =============================================================================
   Footer Navigation
   ========================================================================== */

.ui-btn-up-b {
    border: 0;
    background:url("") #151515; background-size: 5px 5px;
    font-weight: bold;
    color:  #0099FF;
    text-shadow: 0 -1px 1px #000;
}

.ui-btn-up-b a.ui-link-inherit {
    color:  #fff;
}

.ui-btn-hover-b {
    border: 0;
    background: #333;
    font-weight: bold;
    color:  #fff;
    text-shadow: 0  -1px 1px  #014D68;

}

.ui-btn-hover-b a.ui-link-inherit {
    color:  #fff;
}

.ui-btn-down-b {
    border: 0;
    background: #111;
    font-weight: bold;
    color:  #fff;
    text-shadow: 0 -1px 1px #225377;
}

.ui-btn-down-b a.ui-link-inherit {
    color:  #fff;
}

.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {

    font-family: 'Cabin', sans-serif;

    text-decoration: none;
}

.ui-footer .ui-btn-text { background:none }


/* =============================================================================
   Footer Nav Icons --[ Recommend to delete CSS for icons you don't use ]--
   ========================================================================== */

.custom-icons .ui-btn .ui-btn-inner {
    padding-top: 35px !important;
}

.custom-icons .ui-btn .ui-icon {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.nearby-tab .ui-icon { background: url('../images/74-location.png') 50% 50% no-repeat; background-size: 18px 18px; }
.info-tab .ui-icon { background: url('../images/42-info.png') 50% 50% no-repeat; background-size: 18px 18px; }
.map-tab .ui-icon { background: url('../images/103-map.png') 50% 50% no-repeat; background-size: 18px 18px; }
.browse-tab .ui-icon { background: url('../images/12-eye.png') 50% 50% no-repeat; background-size: 22px 16px; }
.todo-tab .ui-icon { background: url('../images/117-todo.png') 50% 50% no-repeat; background-size: 22px 16px; }
.fishing-tab .ui-icon { background: url('../images/233-fish.png') 50% 50% no-repeat; background-size: 28px 13px; }



/* =============================================================================
   Portfolio (obsolete?)
   ========================================================================== */

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.gallery li {
    float: left;
    width: 33.33333333%;
}

.gallery li a {
    display: block;
    margin: 5px;
    border: 1px solid #3c3c3c;
}

.gallery li img {
    display: block;
    width: 100%;
    height: auto;
}

#Gallery1 .ui-content, #Gallery2 .ui-content {
    overflow: hidden;
}

.gallery img {
    -webkit-box-shadow: 0px 0px 4px #111;
    -moz-box-shadow: 0px 0px 4px #111;
    box-shadow: 0px 0px 4px #111;
}


/* =============================================================================
   Homepage Social Icons
   ========================================================================== */

div.social {
    text-align:center;
    background-color: transparent;
    padding:4px;
    border: 0;
    -webkit-transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    -o-transition-duration:0.8s;
    transition-duration:0.8s;
}

div.social:hover {
    background-color:rgba(238,238,238,1);
    border:1px solid #c1bfbf;
}


/* =============================================================================
   Homepage Image Icons
   ========================================================================== */


.left {
width:110px;
height:70px;
left: 25%;
margin-left: 0px;
top: 0px;
}
.middle {
width:110px;
height:70px;
right: 25%;
margin-right: 0px;
top: 0px;
}
.right {
width:110px;
height:70px;
right: 100%;
margin-right: 0px;
bottom: 10px;
}


/* =============================================================================
   Map Icons
   ========================================================================== */
#mapbutton.ui-btn-up-c {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    font-weight: bold;
    color: #fff;
    text-shadow:  0 1px 1px #111;
}

#mapbutton.ui-btn-up-c a.ui-link-inherit {
    color: #fff;
}

#mapbutton.ui-btn-hover-c {
    border: 1px solid #7F7F7F;
    background: #7F7F7F;
    font-weight: bold;
    color: #0099FF;
    text-shadow:  0 1px 1px #000;
}

#mapbutton.ui-btn-hover-c a.ui-link-inherit {
    color: #fff;
}

div.map {
    text-align:center;
        -webkit-transition-duration:0.8s;
    -moz-transition-duration:0.8s;
    -o-transition-duration:0.8s;
    transition-duration:0.8s;
}





/* =============================================================================
   Twitter Feed
   ========================================================================== */

ul.tweetList{
    margin:0;
    padding:0;
    list-style-type:none
}

#jstwitter {
    width:100%;
    background:url("../images/twitterBack.png") repeat;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:0px;
    -webkit-box-shadow:  1px 1px 1px #0f0f0f;
    -moz-box-shadow: 1px 1px 1px #0f0f0f;
    box-shadow: 1px 1px 1px #0f0f0f;
}

.tweet {
    padding: 15px 20px;
    color:#FFF;
    border-bottom:1px solid #000000;
    border-top:1px solid #353434;
    text-shadow: 0 1px 0 #000;
    margin: 0 10px;
    font-size:13px
}

.followButton {
    margin:0 0 20px 0
}

.time {
    font-size: 11px;
    font-style:italic
}

.tweet a {
    color: #2489CE;
    font-weight: bold;
}


/* =============================================================================
   Contact Form
   ========================================================================== */

#errors {
    border:1px solid #cd0a0a;
    background:url("../images/contact-error.png") 50% 50% repeat;
    color:#fff;
    padding: 5px;
    text-shadow:0 1px 0 #111
}

.hide{
    display:none
}


/* Caption style */
.flex-caption {
    text-align:center;
    color: #000;
 font-family: 'Cabin', sans-serif; font-weight: normal; font-size:16px;
}

/** BUSINESS AND MAIN HEADER **/

.busimage {max-width:800px;width:100%;display:block;margin:0 auto;}



.ui-header.mainheader {
    border:0px;
    color:#0099FF !important;
    height:40px;
    text-shadow: 0 -1px 1px #000;
    background-color: #1e5799;
    background-image: none;
}

.mainlogo {
    width:231px;
    height:40px;
    background:url('../images/header.png') top center no-repeat;
    margin:0 auto;
    background-size: 185px 40px;
}

.rtheader {
  background-image: none;
  height: 40px;
  font-weight: normal;
  border: 0px solid #2A2A2A;
}

.browseheader {
 background-color: #015CAB;
}

.todoheader {
   background-color: #015CAB;
}

.heritageheader {
    background-color: #AE132A;
}

.natureheader {
    background-color:#539536;
}

.riverheader {
    background-color:#015CAB;
}

.produceheader {
    background-color:#FBB255;
}

.cycleheader {
    background-color:#C14F9D;
}

.riverbedzheader {
    background-color:#989898;
}

.fishingheader {
    background-color:#663399;
}

#bottomList {
    color:#F3F0E1;
    font-style:normal;
    font-size:16px;
margin-top: 20px;
margin-right: -5px;
margin-bottom: 15px;
margin-left: -45px;
}
.rtheader a.homeBtn {background:url('../images/icon_home.png') no-repeat;width:35px;height:35px;display:block;right:6px;top:.2em;}
.rtheader a.backBtn {background:url('../images/icon_arrow_left.png') no-repeat;width:35px;height:35px;display:block;right:6px;top:.2em;}

/* Popup Infobox in maps
   Note: transparent background by default. The viewable box is the div below, and is offset from .infoBox */
.infoBox {
  opacity: 0.75;
  min-width: 120px;
}


.infoBox .inner {
  border-radius: 10px;
  border: 1px solid black;
  background-color: yellow;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.7), 0 0 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.7), 0 0 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.7), 0 0 2px 2px rgba(0,0,0,0.3);
}


