/* Load webfonts from the server (website) or local files (PhoneGap) */
/* Conversions done by fontsquirrel.com */



@font-face {
    font-family: 'Caviar Dreams';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url('type/caviardreams-webfont.eot'); /* IE9 */
    src:/*  local('Caviar Dreams'),
         local('CaviarDreamsRegular'), */
         url('type/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('type/caviardreams-webfont.woff') format('woff'), /* Modern browsers */
         url('type/caviardreams-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('type/caviardreams-webfont.svg#CaviarDreamsRegular') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    src: url('type/caviardreams-bold-webfont.eot');
    src: /* local('Caviar Dreams Bold'),
         local('CaviarDreamsBold', */
         url('type/caviardreams-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/caviardreams-bold-webfont.woff') format('woff'),
         url('type/caviardreams-bold-webfont.ttf') format('truetype'),
         url('type/caviardreams-bold-webfont.svg#CaviarDreamsBold') format('svg');
}
