.rtheader.fishingheader@header data-position="fixed" data-transition="none" data-tap-toggle="false"
  a.backBtn.ui-btn-left@none data-rel="back" href="fishing.html"
  h1 #{current_page.data.title.upcase}
  a.homeBtn.ui-btn-right@none data-transition="none" href="#{ root_uri 'index.html' }"
