@header.rtheader.infoheader data-position="fixed" data-transition="none" data-tap-toggle="false"
  a.backBtn.ui-btn-left@none href="../index.html" data-rel="back"
  h1 #{current_page.data.title.upcase}
  a.homeBtn.ui-btn-right@none href="../index.html" data-transition="none"
