<div data-role="page" class="about-page">
  <%= partial :info_header %>
  <%= partial :info_tabbar %>

            <div data-role="content" data-iscroll="true">
              <br>
                <div class="mac-images">
                  <img src="../images/icons.png"/>
                </div>

                <h1 class="mac-images">
                  <strong>&lsquo;Relax Recover Unwind Discover&rsquo;</strong>
                </h1>
                <p>
                  The Macquarie valley in the heart of New
                  South Wales is one of the State’s - and
                  indeed Australia’s - best kept secrets,
                  until now. The Macquarie River Trails are
                  designed to let you explore the many
                  attractions and treasures of this rich
                  farming region, one that is blessed with a
                  wonderful, vibrant river, friendly people and
                  a laid back lifestyle. This is your chance
                  to &lsquo;Relax, Recover, Unwind and Discover&rsquo;.
                  Five trails for you to pick and choose from
                  to create a lifetime of memories as you
                  meander through our region - let the river
                  be your tour guide. From the wonders of
                  Lake Burrendong to the frontier country of
                  the Macquarie Marshes if you only spend a
                  week, you’ll probably have to come back.
                  But that’s Ok, you’re welcome anytime.  <br>
                    <br>
                      <strong>Disclaimer:  Please note that while every effort is made to ensure the information presented in this web site is accurate we take no responsibilty for how you use it. The onus is very much on you to check the accuracy of the information, exercise caution and common sense and seek local, up-to-date information on road conditions etc (especially for travelling to the more remote areas).</strong>
                    <br>
                    <br> Please contact Dr Bill Phillips for more information on <a href="mailto:bill.phillips@riversmart.org.au"> bill.phillips@riversmart.org.au</a>
                    <br>
                    <br> You can also find us on facebook <a href="http://www.facebook.com/pages/Macquarie-River-Trails/137105896401344">www.facebook.com/pages/Macquarie-River-Trails/137105896401344</a>
                </p>

                 </div>
               <%= partial :tabbar %>
           </div>

