<div data-role="page" class="brochure-page">
  <%= partial :info_header %>
  <%= partial :info_tabbar %>
  <div data-iscroll="true">
    <div class="flex-container" style="width: 250px; min-height: 205px; text-align: center; margin: auto; padding-top: 10px;">
      <div class"pageImageSlider flexslider">
        <ul class="slides">
          <li>
            <a class="ui-link-inherit"
               href="http://rivertrails.com.au/wordpress/wp-content/uploads/2011/12/Tourism-Trails-DL-brochure_17.pdf"
               data-rel="external" >
              <img src="../images/brochure.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div data-role="content">
    </div>
  </div>
  <%= partial :tabbar %>
</div>
