<div data-role="page" class="brochure-page">
  <%= partial :info_header %>
  <%= partial :info_tabbar %>
  <div data-role="content" data-iscroll="true">
  <br>
<ul data-role="listview" data-inset="true">
  		<li><a href="http://rivertrails.com.au/wordpress/wp-content/uploads/2011/12/Tourism-Trails-DL-brochure_17.pdf">
				<img src="../images/brochure.png" height="75px" width="45px"/>
				<h3>Download</h3>
				<p>Macquaire River Trails Guide</p>
			</a></li>
			<li><a href="http://maps.mappingsa.com.au/macriverTRAILS/Fishingtrail.pdf">
				<img src="../images/fishingtrail.png" height="75px" width="45px"/>
				<h3>Download</h3>
				<p>Macquaire River Fishing Trail Guide</p>
			</a></li>
					</ul>
		</div>
  <%= partial :tabbar %>
</div>

