---
layout: info_fishing
title: Catch and Release
---
            <br>
            <strong>CATCH AND RELEASE FISHING FOR THE FUTURE</strong>
            <div class="fishing-line-separator"></div>

                    <p>There is a rapidly growing trend amongst recreational anglers to practice
&lsquo;catch and release&rsquo; fishing in order to safeguard fish resources, and the
pastime of fishing. If you decide to 'fish for the future' there are some tips
you should be aware of to maximise the chances of the fish you catch
being released safely and unharmed. Below, we've set out some of those
tips. How fish are handled and in what part of the body they are hooked
has the greatest influence on the survival of released fish. Survival can
also be improved by the use of fish-friendly equipment.               <br>
                    <br></p>
                     <strong>HOOK REMOVAL:</strong>
            <div class="fishing-line-separator"></div>

                    <p>HLong-nosed pliers or a hook-out device will enable hooks, especially if
they are barbless, to be removed more readily and minimise damage.
Take particular care if the hook is close to, or in the gills. Cutting the line,
then lifting the gill cover and removing the hook from there will often be
better than trying to remove it through the mouth. If the hook is out of
sight in the throat or gut do not try to remove it. Cut the line leaving a few
centimeters of line outside the mouth.           <br>
                    <br>
                   </p>

                     <strong>KNOTLESS LANDING NETS:</strong>
            <div class="fishing-line-separator"></div>

                   <p>A knotless landing net should be used to land all fish. There are now
many styles and brands of landing nets on the market which are suitable
for landing medium to large-sized fish. Knotted landing nets should be
avoided as they remove the protective slime from fish and damage scales
and your hooks are much more likely to get tangled in knotted nets. </p>
<fishing>
 TIP: DITCH YOUR OLD KNOTTED LANDING NET FOR
A NEW &lsquo;ENVIRONET&rsquo; TYPE - REDUCES TANGLES AND
PROTECTS YOUR FISH FROM DAMAGE.
</fishing>


                     <strong>FISH HANDLING:</strong>
            <div class="fishing-line-separator"></div>

                 <p>A gaff cannot be used to take any fish in inland waters. Fish grips or
'boga's' can be used to assist in restraining a fish, however care should be
taken in how these are used. Always ensure when using 'boga grips' that
the wrist lanyard is securely attached. If weighing fish with a fish grip
avoid hanging the fish vertically by their jaw or gills. Alternatively, weigh
fish in a landing net or container and subtract the weight of the net/
container to get an accurate weight. Fish grips are especially useful for
fish with sharp teeth or spines, but hanging a large fish vertically is likely
to cause serious injury or death to the fish.<br>
<br></p>

<strong>THE FIVE GOLDEN RULES TO MAKE SURE YOUR FISH SURVIVES</strong>
            <div class="fishing-line-separator"></div>

                <p>1. Use circle hooks or crush barbs on hooks. If a fish is gut or gill hooked
cut the line as close as possible to the fish's mouth rather than
removing the hook.             <br>
                    <br>
                    2. Hanging fish vertically by the jaw or gills will put extreme pressure on
their spine and gills and is likely to cause injury or death to the fish.
When lifting fish always support the belly and avoid holding the gills
and eyes.                <br>
                    <br>
                    3. Remember - if retrieved from depths greater than 10 metres fish may
suffer barotrauma (they'll look inflated) from the expanding gases in
their internal organs. If suffering barotrauma it's important to return
fish back to depth quickly! Propel fish head first back into the water
or use a release weight if the fish cannot return to depth without
assistance.
                                     <br>
                    <br>
                  4. Use knotless &lsquo;enviro&rsquo; style landing nets so that your fish doesn't lose
its protective coating of slime! This layer of protective slime keeps all
the nasty organisms and bacteria off the fish.   <br>
                    <br>
                  5. Remove hooks swiftly and swim your fish as soon as possible to
ensure its survival!!</p>
<fishing>
 TIP: A fish will only survive, without damage, for
as long as you can hold your breath! Don't keep
fish out of the water for more than 30 seconds-
</fishing>

                    </div>


