<!DOCTYPE html>
<html>
  
  <head>
    
    <title></title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <link href="" rel="apple-touch-icon">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    
    <link href="../css/style4.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/flexslider.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/jquery.mobile.iscrollview.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/custom.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.init.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile-1.1.0.min.js" type="text/javascript"></script>
    <script src="../js/iscroll.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.iscrollview.js" type="text/javascript"></script>
    <script src="../js/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../js/base.js" type="text/javascript"></script>
    
    </head>
    <body>
        <div data-role="page" class="fishing">
            <div class="rtheader fishingheader" data-role="header">
      <a class="backBtn ui-btn-left" data-rel="back" data-role="none" href="../index.html"></a>
      <div class="mainlogo"></div>
      <a class="homeBtn ui-btn-right" data-role="none" data-transition="none" href="../index.html"></a>
    </div>
			          
            <div data-role="content" data-iscroll="true">
            
               
                    <p>The Macquarie River lies in the heart of New South Wales, less than six
hours drive from Sydney, the central and mid-coast and the Canberra
region. Apart from the many other attractions the region has to offer (see
www.rivertrails.com.au) it also offers fishing enthusiasts the opportunity
to travel the length of the river and experience a range of differing river
environments and angling challenges.                    <br>
                    <br>
                    From Lake Burrendong, about 350 river-kilometres downstream to
Warren, there are nearly 40 river parks, reserves and other access points
that you can plan your fishing holiday around. Along the way you can
also enjoy the hospitality and other attractions that the communities of
Wellington, Dubbo, Narromine, Trangie and Warren have to offer.
                    <br>
                    <br>
                    Once you leave the logical starting point at Lake Burrendong, near
Wellington, the river has wide meandering reaches with deep holes. In
places there are fast running rocky riffles and in others lots of great old
hardwood snags offering prime fish habitats.
                    <br>
                    <br>
                   So why not treat yourself, get off the beaten track and explore many of
these less regularly visited river parks and reserves.
                    <br>
                    <br>
                    Large Murray cod of well over a metre were once a common catch on this
river, with the average weight sitting at well over twenty pounds through
the 1930’s and 1940’s. Today, you’re more likely to catch Murray cod
around the 50-60 centimetre mark, but will on occasions come across
much larger fish, as well as fantastic Golden perch.                    
<br>
                    <br> Community and government efforts to restock this river as well as
improve the overall quality of this fishery with habitat improvements
and measures to reduce the negative impacts from surrounding landuse
and urban developments continue to build momentum. These efforts,
combined with a growing number of catch and release anglers, is helping
to secure this fish community for the long-term.
                    <br>
                    <br>
If you choose to follow the Macquarie River Fishing Trail we hope you will
respect the golden rules of sustainable fishing to help keep this fantastic
asset for the future. To assist you, in later sections we’ve provided tips for
safe catch and release fishing, and also on how you can be a riversmart
angler.
<br>
                    <br>
<strong>Please do the right thing:</strong><br>
Most importantly, we also ask you to play by the rules when fishing the
Macquarie River, and any river for that matter. Make sure that before you
throw a line in you have a current fishing licence and are familiar with the
latest rules and regulations. These you will find at any of the local tackle
and bait stores and also on-line through the recreational fisheries part of
the NSW Department of Primary Industries web site.
                </p>
                
               <br>
               <fishing>
               TIP: BEFORE YOU FISH MAKE SURE YOU HAVE A
CURRENT NSW FISHING LICENCE AND ARE FAMILIAR WITH
THE LATEST RULES AND REGULATIONS.
        </fishing>
        
        <ul data-role="listview"  data-inset="true" id="listview" style="margin-bottom:0px">
	<li><a href="native.html">FISH YOU MIGHT CATCH</a></li>
	<li><a href="threats.html">PLEASE LOOK AFTER OUR THREATEND FISH</a></li>
	<li><a href="gone.html">GONE BUT NOT FORGOTTEN</a></li>
	<li><a href="pests.html">THOSE ANNOYING PEST FISH</a></li>
	<li><a href="habitat.html">LOOKING AFETR FISH HABITAT</a></li>
	<li><a href="riversmart.html">BEING A RIVERSMART ANGLER</a></li>
	<li><a href="catch.html">CATCH AND RELEASE FISHING FOR THE FUTURE</a></li>
	<li><a href="tips.html">TIPS FOR FISHING THE MACQUARIE RIVER</a></li>
	<li><a href="yabbing.html">YABBING ALONG THE MACQUARIE RIVER</a></li>
	<li><a href="places.html">FINDING PLACES TO FISH</a></li>
	<li><a href="saftey.html">YOUR SAFTEY</a></li>

</ul>
           
                            </div>
			<div data-id="tabbar" data-position="fixed" data-role="footer">
      <div class="custom-icons" data-grid="c" data-role="navbar">
        <ul>
          <li>
            <a class="browse" data-icon="custom" data-theme="b" href="../browse.html">BROWSE</a>
          </li>
          <li>
            <a class="nearby" data-icon="custom" data-theme="b" href="../nearby.html">NEARBY</a>
          </li>
          <li>
            <a class="favorites" data-icon="custom" data-theme="b" href="../favorites.html">FAVORITES</a>
          </li>
          <li>
            <a class="info" data-icon="custom" data-theme="b" href="./about.html">INFO</a>
          </li>
        </ul>
      </div>
    </div>
    
    
               </div>
               
 </body>
</html>
