---
layout: info_fishing
title: Gone But Not Forgotten
---
            <br>
            <strong>MACQUARIE PERCH (Macquaria australasica)</strong>
            <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/perch.jpg" /></div>
                    <p>Sadly, this species is no longer found along the Macquarie River. It was
first described scientifically in 1824 based on a specimen caught near
Bathurst. Early records suggest it was most common further up the
Macquarie above where Burrendong Dam sits now but there are also
accounts of it being caught in the Bell River which joins the Macquarie
at Wellington. It apparently disappeared from this part of the Macquarie
around the end of World War II and further up the river in the 1960’s.               </p>
                    <p>
                    As history on the Macquarie indicates, the species is typically found in the
cool, upper reaches of the Murray-Darling system, although most of the
remaining populations are small and isolated. The main reasons for the
dramatic decline of Macquarie perch include the impacts of competitors
like trout and redfin (including exposure to the EHN virus carried by
the latter), sedimentation, clearing of riparian vegetation, barriers to
migration such as weirs and dams, and cold-water discharges from large
dams.                    </p>
                    <p>
                    Macquarie perch can grow to 3.5 kilograms and around 45 centimetres,
although typical specimens are usually less than 1 kilogram and 35
centimetres. A shy and docile species, spawning occurs from October to
December. Adults occupy a home site during the day, and move about
to feed at dawn, dusk and night-time. Macquarie perch eat shrimps and
small aquatic insect larvae such as mayflies, caddis flies and midges.                 </p>
                    <p>
                  Macquarie perch is listed as an endangered species under both national
and NSW legislation, and any fish caught must be released immediately.
If you catch one on the Macquarie River the world will want to know
about it-
                    </p>


