---
layout: info_fishing
title: Looking After Fish Habitat
---
            <strong>LOOKING AFTER FISH HABITAT</strong>
            <div class="fishing-line-separator"></div>

                    <p>Over the past 50 years experts tell us that fish numbers across the
Murray-Darling Basin have declined significantly and that compared to
when Europeans arrived here there’s only about 10% of what we used
to have.
There are many reasons for this decline in numbers and for some species
(like the Macquarie perch disappearing from this river – see earlier)
moving into the threatened and endangered categories.               </p>

                     <strong>HABITAT DESTRUCTION &#45; LOSS OF SNAGS</strong>
            <div class="fishing-line-separator"></div>

                    <p>Habitat destruction is a primary cause of these declines and this takes
many forms. Historically some rivers had the snags removed to help
navigation by paddle steamers, for firewood or for recreational uses
like water skiing. We now know how vital these are and programs are
underway to re-snag many inland rivers to help native fish populations
recover.                 </p>

                    <div class="page-images"><img src="../images/snag.jpg" />
                    <img src="../images/snag1.jpg" />
                    <h4 class="page-images">Macquarie River during the drought showing exposed snag and the
same snag at a slightly higher than normal river height. Such snags
are vital habitat for native fish.</h4></div>
<p>
                    Research has shown that most Murray cod are found within a metre of a
snag and streams with snags usually have greater numbers of native fish.
We also know that snags provide important spawning sites for native fish
(Murray cod for example attach their eggs to snags), places for young fish
to hide from predators, and to help protect the river bed and bank from
erosion.              </p>
                    </p>

                     <strong>FISH NEED HEALTHY RIVER BANKS</strong>
            <div class="fishing-line-separator"></div>

                   <p>Healthy rivers make more fish and for this to occur we need well
vegetated banks. Riverside native vegetation is a vital part of the having
more fish in the river. This vegetation drops insects and leaves into the
river and these are eaten by fish, or by the things some fish like to eat,
such as yabbies and shrimps. As trees age they fall into the river and
make instant fish homes &#45; snags.               </p>
                  <div class="page-images"><img src="../images/healthy.jpg" />
                    <h4 class="page-images">Good fish homes need this &#45; snags, well&#45;vegetated banks and clean water.</h4></div>
<p>
                     In contrast, river banks that are bare due to stock trampling, overgrazing
or vehicle traffic (see photos below) are prime candidates for erosion and
this soil, once washed into the river, makes the water muddy, reducing
aquatic plant growth, and silting up the river. All of these things are bad
for native fish. Aquatic plants are a food source and a place for young fish
to hide from predators, and siltation fills the big holes where most fish
like to hang out.               </p>

<p>
 So, when you go fishing remember this when you’re using dirt tracks or
launching your boat off a beach – don’t rip up the ground as that soil will
end up in the river.</p>
 <div class="page-images"><img src="../images/healthy1.jpg" />
                    <img src="../images/healthy2.jpg" />
                    <h4 class="page-images">Bare and exposed riparian zone: a prime candidate for major soil
erosion and possible weed invasion. Cattle pugging&#45;a major problem for waterways with soil
erosion being accelerated and weeds encouraged to move in.</h4></div>

<fishing>
 TIP: WITHOUT GOOD HABITAT THERE WILL BE NO FISH SO
LOOK AFTER OUR RIVERS, AND THEIR BANKS ESPECIALLY
</fishing>


                     <strong>CLEAN WATER &#61; HAPPY FISH</strong>
            <div class="fishing-line-separator"></div>

                 <p>Poor water quality comes about in many ways – erosion is one, fertiliserrich
run&#45;off and urban stormwater are others. Litter dropped in the street
or at camp sites can make it’s way into our rivers and this makes them
ugly, but also impacts on river life.
</p>
 <p>Please think about this when you’re out on the river especially &#45; take all
your rubbish home, and why not take a spare plastic bag with you and
pick up what some other less thoughtful person might have dropped or
left behind.</p>


<div class="page-images"><img src="../images/rubbish.jpg" />
                    <h4 class="page-images">Rubbish being collected from the Macquarie River by Dubbo local Mick
O’Neill</h4></div>

               <fishing>
 TIP: DON&#39;T LEAVE YOUR RUBBISH ON THE RIVER BANK …
THINK OF OTHERS AND HOW IT POLLUTES OUR RIVERS.
</fishing>

<strong>THINGS THAT BLOCK FISH MIGRATION</strong>
            <div class="fishing-line-separator"></div>

                <p>Another issue is that the dams, weirs and even some road crossings
we’ve installed, stop fish migrating. Many of our native fish species
are migratory while others routinely go looking for mates during
the breeding season, better food opportunities or to escape adverse
conditions. If not allowed to do this, primarily it reduces breeding success,
meaning less fish to catch.
</p>

<p>
These days redundant or unsafe weirs are being looked at with a view
to their removal in order to help our native fish and we are increasingly
seeing poorly designed (from the fish migration perspective) weirs,
culverts and road crossings modified to assist fish move about more
(see photos on the next page). For larger weirs, fish ladders (fishways)
that incorporate carp traps are increasingly being installed such as on
Marebone weir near the bottom end of the Macquarie River system.
</p>
<div class="page-images"><img src="../images/weir.jpg" />
<img src="../images/weir1.jpg" />
                    <h4 class="page-images">Removing or modifying old, redundant or unsafe weirs and culverts will all
help our native fish recover and Fish&#45;friendly rock ramp which also helps reduce erosion.</h4></div>

<p>
We also know that there are less native fish around today due to factors
like diseases, introduced pest fish (see earlier) and overfishing.</p>
<strong>DON&#39;T BE GREEDY</strong>
            <div class="fishing-line-separator"></div>

                <p> In a later section we encourage you to adopt catch and release fishing as a
way to make sure your kids (and theirs) have fish to catch. Basically, don’t
take more than you need for a feed. The days of bragging over a freezer
full of fish are gone! And, make sure the bigger fish you catch are let go
to keep on breeding – they’re our fish factories (and usually taste like old
boots anyway).
</p>
               <fishing>
 TIP: DON&#39;T TAKE MORE THAN YOU NEED FOR A FEED AND
LEAVE THE BIG, OLD BREEDING STOCK IN THE RIVER
</fishing>
<div class="page-images"><img src="../images/rules.jpg" />
                    </div>

<strong>PLAY BY THE RULES</strong>

            <div class="fishing-line-separator"></div>

                <p>Sadly there are still people out there wanting to cheat by using illegal
fishing gear or practices and ignoring the well known rules. If you come
across illegal fishing activities or gear – simply call a fisheries officer on
1800 043 536 or go online www.dpi.nsw.gov.au and report it. Leave it to
the pros to deal with these situations.
</p>
               <fishing>
 TIP: REPORT ALL ILLEGAL FISHING on <a href="tel:1800043536"> 1800 043 536</a>
or go online at<a href="http://www.dpi.nsw.gov.au"> www.dpi.nsw.gov.au</a>
</fishing>

<strong>LOOKING FORWARD</strong>
            <div class="fishing-line-separator"></div>

                <p>Through the Native Fish Strategy for the Murray-Darling Basin a concerted
effort is now being undertaken to bring back native fish populations. The
long-term goal is to see the native fish populations back to 60 per cent of
their estimated pre-European settlement levels—and to do this over a
fifty year period, or sooner. </p>


