<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Native Fish</title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <link href="" rel="apple-touch-icon">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    
    <link href="../css/style4.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/flexslider.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/jquery.mobile.iscrollview.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/custom.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.init.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile-1.1.0.min.js" type="text/javascript"></script>
    <script src="../js/iscroll.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.iscrollview.js" type="text/javascript"></script>
    <script src="../js/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../js/base.js" type="text/javascript"></script>
    
    </head>
    <body>
        <div data-role="page" class="fishing">
            <div class="rtheader fishingheader" data-role="header">
      <a class="backBtn ui-btn-left" data-rel="back" data-role="none" href="../index.html"></a>
      <div class="mainlogo"></div>
      <a class="homeBtn ui-btn-right" data-role="none" data-transition="none" href="../index.html"></a>
    </div>        
            <div data-role="content" data-iscroll="true">
            <br>
            <strong>MURRAY COD (Maccullochella peelii peelii)</strong>             
            <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/cod.jpg" /></div>
               
                    <p>As the largest freshwater fish in Australia, the Murray cod is an icon of the
Murray-Darling Basin, important in Aboriginal mythology, and the most
sought after native species by recreational anglers. While listed nationally as
a threatened species it can be caught in NSW but make sure you know the
rules relating to this and follow them carefully.                <br><br>
            
                    While they can grow to over 100 kilograms and 1.8 metres in length, and
live to over 40 years of age, specimens of this size are very rare these days.
Even so, the larger specimens (over 5 kilos) are the best breeders, and
should be returned to the water unharmed as soon as possible.                    <br><br>
                
                    Murray cod prefer habitat with cover, especially fallen trees or snags, and
their typical diet consists of smaller fish, yabbies and frogs. The species
makes an upstream migration of up to 120 kilmetres to spawn (highlighting
the importance of fishways on our weirs) and usually returns to the very
same snag, year after year.                    <br><br>
                  
                   Although formerly common and widespread throughout most of the Basin,
Murray cod is now patchily distributed and in much lower numbers. The
main reasons for this include illegal and overfishing, loss of snags, weirs
preventing migration, cold water discharged from the base of large dams
and altered river flow patterns.                   
                    </p>
                
      
               <fishing>
               Be aware&#33; On the Macquarie River there are also
Trout cod (an endangered species) which can sometimes
be tricky to distinguish from Murray cod.        
</fishing>
       
 <strong>GOLDEN PEACH (Macquaria ambigua ambigua)</strong>
            <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/callop.jpg" /></div>

               
                    <p>Golden perch (Yellowbelly) can grow to over 20 kilograms and 75
centimetres in length, and live to over 25 years of age. Caught specimens
are typically less than 4 kilograms and 40 centimetres long.                <br><br>
               
                    This species usually prefers warmer, slow flowing rivers with adequate
cover such as snags and reedbeds. It is carnivorous with a diet consisting
of small fish, shrimps, yabbies and insect larvae.                    <br><br>
                
                   Spawning is usually triggered by rises in water level and temperature in
spring and summer, resulting in upstream (and sometimes downstream)
movements of up to 1000 kilometres, if weirs and dams don’t stop them.                    <br><br>
                
                  Golden perch is widely distributed throughout the Basin, although it
is now uncommon in some rivers. Many recreational fisheries for this
species are based on extensive stocking programs. The regulation of rivers
and construction of over 1000 weirs and dams in the Basin has affected
the species’ migration and spawning habits, and cold water released
below large dams has severely depleted some populations.            
                    </p>
 
   </div>               
                           
			<div data-id="tabbar" data-position="fixed" data-role="footer">
      <div class="custom-icons" data-grid="c" data-role="navbar">
        <ul>
          <li>
            <a class="browse" data-icon="custom" data-theme="b" href="../browse.html">BROWSE</a>
          </li>
          <li>
            <a class="nearby" data-icon="custom" data-theme="b" href="../nearby.html">NEARBY</a>
          </li>
          <li>
            <a class="favorites" data-icon="custom" data-theme="b" href="../favorites.html">FAVORITES</a>
          </li>
          <li>
            <a class="info" data-icon="custom" data-theme="b" href="./about.html">INFO</a>
          </li>
        </ul>
      </div>
    </div>
    </div>                      
 </body>
</html>
