<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Native Fish</title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <link href="" rel="apple-touch-icon">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    
    <link href="../css/style4.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/flexslider.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/jquery.mobile.iscrollview.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/custom.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.init.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile-1.1.0.min.js" type="text/javascript"></script>
    <script src="../js/iscroll.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.iscrollview.js" type="text/javascript"></script>
    <script src="../js/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../js/base.js" type="text/javascript"></script>
    
    </head>
    <body>
        <div data-role="page" class="fishing">
            <div class="rtheader fishingheader" data-role="header">
      <a class="backBtn ui-btn-left" data-rel="back" data-role="none" href="../index.html"></a>
      <div class="mainlogo"></div>
      <a class="homeBtn ui-btn-right" data-role="none" data-transition="none" href="../index.html"></a>
    </div>
    
          
            <div data-role="content" data-iscroll="true">
            <br>
            <strong>REDFIN (Perca fluviatilis)</strong>
            <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/redfin.jpg" /></div>   
                    <p>Redfin (English perch) is native to Europe and was introduced to Australia
in the 1860s as an angling fish. The species commonly grows to 1-2
kilograms and 20-45 centimetres although 10 kilogram specimens have
been recorded, and can live to over 20 years.                <br>
                    <br>
                   Redfin prefer still or slow-flowing waters such as lakes, billabongs
and slower moving rivers, especially where these areas provide good
shelter such as snags or aquatic vegetation. It is a carnivorous and
highly predatory species, eating a wide variety of fish and invertebrates.
Spawning occurs in spring when the water temperature reaches
12 degrees.                  <br>
                    <br>
                   Redfin are widespread across the Murray-Darling Basin. They are a
voracious predator of other fish and can quickly decimate populations
of other, more desirable species. Redfin also carry the viral disease EHN,
which can seriously infect native species such as Silver perch, Murray cod
and especially Macquarie perch. Its ability to rapidly populate waterways
also results in unwanted competition with native species (notably Murray
cod and Macquarie perch) for habitat and food.</p>         
     
     <strong>CARP (Cyprinus carpio)</strong>
            <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/carp.jpg" /></div>   
                    <p>While carp (Common carp, European carp, Koi carp) were first introduced
into Australia in the 1800s, it was not until the 1970s when huge population
explosions occurred in the Murray-Darling Basin. In some rivers they now
make up over 95% of the total weight of all fish species!                <br>
                    <br>
                    Typically, adult carp weigh about 4-5 kilograms and are up to 40 centimetres
long. Significantly larger specimens (up to 60 kilograms and 120 centimetres)
have been recorded. Carp can live up to 17 years. They are omnivorous,
feeding on crustaceans, aquatic insects, molluscs, zooplankton and,
sometimes plant material.                    <br>
                    <br>
                  Carp are typically found in still or sluggish parts of rivers, lakes and
floodplains, especially those areas with silt bottoms and abundant aquatic
vegetation.                   <br>
                    <br>
                 A major reason for its successful introduction into the Basin is its wide
tolerance to a range of natural conditions, including temperature, pH, low
oxygen, high turbidity and high toxic (pollution) levels. It is also a very mobile
species, migrating both up and down rivers throughout the year.   <br>
                    <br>
          Carp impact negatively on native species in a number of ways, including by
increasing turbidity (muddiness) of water as a result of their bottom-feeding
habits that dislodge sediments and also native plants, competing with native
species for food and habitat, and promoting the risk of parasites (especially
Anchor worm) in native fish. It is illegal to use live carp as bait.
                    </p> 
                    <div class="page-images"><img src="../images/pelican.jpg" /></div>  
    </div>        
                  
                          
			<div data-id="tabbar" data-position="fixed" data-role="footer">
      <div class="custom-icons" data-grid="c" data-role="navbar">
        <ul>
          <li>
            <a class="browse" data-icon="custom" data-theme="b" href="../browse.html">BROWSE</a>
          </li>
          <li>
            <a class="nearby" data-icon="custom" data-theme="b" href="../nearby.html">NEARBY</a>
          </li>
          <li>
            <a class="favorites" data-icon="custom" data-theme="b" href="../favorites.html">FAVORITES</a>
          </li>
          <li>
            <a class="info" data-icon="custom" data-theme="b" href="about.html">INFO</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </body>
</html>
