<%= partial :fishing_header %>

            <div data-role="content" data-iscroll="true">
            <br>
            <strong>FINDING PLACES TO FISH</strong>
            <div class="fishing-line-separator"></div>

                    <p>The places described in this guide are a mixture in terms of what facilities
they offer (if any) and whether or not they are well known or more
off the beaten track. Some areas allow overnight stays but if in doubt
please check with the relevant local government area managers and the
information they distribute, or have available through places like Visitor
Information Centres or their respective websites. Also, several sites are
Travelling Stock Routes. These are marked with . See page 84
for the conditions applying to recreational uses of these areas. <br>
                    <br>
                   In providing this information our hope is that you will find it easy to spend a few
leisurely days fishing along the Macquarie River and enjoying the peace
and quiet plus the other attractions on offer.           <br>
                    <br>
                   Across the region many (but not all) of the river parks are sign posted.
Some sample signs are shown below. Others do not have signs and the
maps included in this guide are designed to help you find these locations.
For each site we’ve also included GPS coordinates to help you navigate
your way to them if you have access to that technology.
                    </p>
                    <div class="page-images"><img src="../images/sign.jpg" />
                          <h4 class="page-images">A Dubbo City Council reserve sign.</h4></div>
<div class="page-images"><img src="../images/sign1.jpg" />
                          <h4 class="page-images">Blue signs are used in Narromine Shire.</h4></div>



      </div>

 <%= partial :tabbar %>
