<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Gone but not forgotten</title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <link href="" rel="apple-touch-icon">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    
    <link href="../css/style4.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/flexslider.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/jquery.mobile.iscrollview.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/custom.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.init.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile-1.1.0.min.js" type="text/javascript"></script>
    <script src="../js/iscroll.js" type="text/javascript"></script>
    <script src="../js/jquery.mobile.iscrollview.js" type="text/javascript"></script>
    <script src="../js/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../js/base.js" type="text/javascript"></script>
    
    </head>
    <body>
        <div data-role="page" class="fishing">
            <div class="rtheader fishingheader" data-role="header">
      <a class="backBtn ui-btn-left" data-rel="back" data-role="none" href="../index.html"></a>
      <div class="mainlogo"></div>
      <a class="homeBtn ui-btn-right" data-role="none" data-transition="none" href="../index.html"></a>
    </div>
    	      <div data-iscroll="true">
        
        <div class="flex-container" style="width: 250px; text-align: center; margin: auto; padding-top: 10px; padding-bottom: 10px;">
          <div class="pageImageSliderAuto flexslider">
            <ul class="slides">
              <li>
                <img src="../images/IWRAweb.jpg">
              </li>
            </ul>
          </div>
        </div>
          
            <div data-role="content">
            <strong>BE A RIVERSMART ANGLER</strong>
            <div class="fishing-line-separator"></div>
               
                    <p>1. Practice catch and release fishing &#45; don’t take more than you need for
a feed&#33;.               <br>
                    <br>
                    2. Fish according to the rules, and make sure you have a current fishing
licence. The fishing rules and regulations in NSW are available from
places where you can purchase a licence and also on&#45;line from the
NSW Department of Primary Industries web site.                <br>
                    <br>
                    3. Don’t trespass on private property. If in doubt, don’t go there.
                                     <br>
                    <br>
                  4. Leave gates how you find them. Close gates after you if that’s how
you found them.
   <br>
                    <br>
                  5. Always take your rubbish with you. If Councils have to start paying to
clean up after you then they may close these reserves to fishing and
camping. And, why not take a spare plastic bag with you and pick up
what some other less thoughtful person might have dropped or left
behind.   <br>
                    <br>
                6. Never throw your empty bottles or other rubbish in the river and it
goes without saying &#45; don&#39;t use the river as a toilet.   <br>
                    <br>
                  7. Minimise road damage &#45; if you rip and tear and dig up roads and
beaches the next time it rains all that soil will wash into the river and
destroy fish habitat. Drive sensibly   <br>
                    <br>
                  8. Respect the neighbours. If you’re camping by the river sounds carry
a lot further, so remember this and try to keep your partying to
reasonable hours and decibels.   <br>
                    <br>
                 9. If you can, bring your own fire wood &#45; assuming a camp fire is
allowed. Check on this before your trip and make sure you know what
the fire risk is &#45; don’t light fires if the risk is too high, and always
make sure your campfire is well extinguished as you leave.   <br>
                    <br>
                  10. Also check if pets are allowed where you&#39;re going &#45; some reserves
allow them, others don&#39;t. Other people may not want your dog
harassing them&#33;</p>
               <fishing>
 TIP: PRACTICE CATCH AND RELEASE FISHING SO
YOUR KIDS (AND THEIRS) WILL HAVE FISH TO CATCH  
</fishing>

                    </div>
                  
      </div>
			<div data-id="tabbar" data-position="fixed" data-role="footer">
      <div class="custom-icons" data-grid="c" data-role="navbar">
        <ul>
          <li>
            <a class="browse" data-icon="custom" data-theme="b" href="../browse.html">BROWSE</a>
          </li>
          <li>
            <a class="nearby" data-icon="custom" data-theme="b" href="../nearby.html">NEARBY</a>
          </li>
          <li>
            <a class="favorites" data-icon="custom" data-theme="b" href="../favorites.html">FAVORITES</a>
          </li>
          <li>
            <a class="info" data-icon="custom" data-theme="b" href="about.html">INFO</a>
          </li>
        </ul>
      </div>
    </div>
    
    
               </div>          
 </body>
</html>
