<%= partial :fishing_header %>

            <div data-role="content" data-iscroll="true">
            <br>
            <strong>YOUR SAFETY</strong>
            <div class="fishing-line-separator"></div>

                    <p>1. When using this app you will encounter unsealed roads quite
regularly so exercise common sense and caution when attempting to
drive along these tracks and trails, even if you have 4WD. The black
soils found in some areas are notorious &lsquo;car-catchers&rsquo; after rain so be
on the look out for these or check with locals before you venture off
the beaten track.
              <br>
                    <br>
                    2. Be careful when boating, always looking out for snags that may
be sitting just below the waterline. Get hold of a copy of the leaflet
&lsquo;Responsible boating safety tips&rsquo; produced by NSW Maritime and
follow their advice.                <br>
                    <br>
                    3. In places the Macquarie River becomes quite narrow and has rocky
riffle and shallow rapid areas. Take extreme care in these areas if
boating. Likewise, there are many places where the river flows under
or close to overhanging native trees and willows and these can be
dangerous if not navigated carefully. Make sure you observe all the
rules and recommendations about boating in inland water, as issued
by NSW Maritime.
                                     <br>
                    <br>
                  4. On this stretch of close to 350 river-kilometres there are several weirs
or similar structures. While some of these offer access to the river,
extreme care must be taken when fishing near these structures either
by boat or from the bank. Most have exclusion zones designed to
protect you &#45; so don’t ignore the signs. If boating downstream be
vigilant in looking out for warning signs for weirs you’re approaching.</p>
<div class="page-images"><img src="../images/warning.jpg" />
                          <h4 class="page-images">Don’t ignore the directions, exclusion zones and warning signs if planning to
                          fish anywhere near one of the several weirs on the Macquarie River.</h4></div>



                 <p> 5. Mobile phone coverage remains patchy across some parts of this
region, and with some phone service providers, so don’t assume you
can simply call for help if required. Be sure to follow all the usual
safety precautions for outback travel &#45; ample water and food, first
aid kit, spare fuel, warm and wet weather clothes etc. Stay with the
car if you get stuck or break down and most importantly, make sure
someone knows where you were going&#33;   <br>
                    <br>
                6. Don’t camp under big old gum trees, as tempting as it is in summer
particularly. Too many people have died or been badly injured by
falling limbs.   </p>
                  </div>

<%= partial :tabbar %>
