<div data-role="page" class="sponsors-page">

  <%= partial :info_header %>
  <%= partial :info_tabbar %>

     <div data-role="content" data-iscroll="true">
     <p><strong>Macquarie River Trails</strong>
     has been made possible by the support
of many organisations and businesses; too many to list them all here.
Details are available on <a href="http://www.rivertrails.com.au">www.rivertrails.com.au</a><br>
This publication has been made possible with the financial support and
sponsorship of the following: </p><br>
  <div class="page-images"><img src="../images/DNSW-logo.jpg"/>
  <img src="../images/INT-YR-Logo.jpg" />
     </div>
    <br>

<strong>Gold Sponsors:</strong>
         <p>
             Dubbo City Council
         </p><img src="../images/Sponsors/DCC.jpg" width="70px" height="100px">
         <p>
             Orana Mutual
         </p><img src="../images/Sponsors/OranaMutual.jpg" width="100px" height="70px">
         <p><strong>Silver Sponsors:</strong></p>
         <p>
             Brennans Mitre Ten, Dubbo
         </p><img src="../images/Sponsors/M10.jpg" width="100px" height="70px">
         <p>
             Narromine Shire Council
         </p><img src="../images/Sponsors/narromine_council.jpg" width="90px" height="90px">
            <p>
             Wellington Council
         </p><img src="../images/Sponsors/WellingtonCouncil.jpg" width="100px" height="70px">
            <p>
             Mapping Services Australia
         </p><img src="../images/Sponsors/MSA.png" width="120px" height="40px">

           <p><strong>Bronze Sponsors:</strong></p>

             <p>Flat Chat News, Narromine
         </p><img src="../images/Sponsors/flat_chat.jpg" width="100px" height="70px">
         <p>
             Inland Waterways Rejuvenation Association
         </p><img src="../images/Sponsors/IWRA.jpg" width="100px" height="70px">
          <p>
             Warren Chamber of Commerce
               </p>

         <br>
         <p>
             The not-for-profit organisation Riversmart Australia Ltd provides
             coordination and overall administration of the initiative.
             <strong>Visit <a href="http://www.riversmart.org.au">www.riversmart.org.au</a> for more information</strong>
             </p><img src="../images/Sponsors/riversmart.jpg" width="70px" height="50px">
         <p>
            Thanks to the Central West CMA for their ongoing support for the
            Macquarie Riversmart initiative.
         </p><img src="../images/Sponsors/CMA.jpg" width="200px" height="40px">
       </div>

           <%= partial :tabbar %>
     </div>
 <!-- /page -->
