---
title: Sponsors
---
<div data-role="page" class="sponsors-page">

  <%= partial :info_header %>
  <%= partial :info_tabbar %>

     <div data-role="content" data-iscroll="true">
     <p><strong>Macquarie River Trails</strong>
     has been made possible by the support
of many organisations and businesses; too many to list them all here.
Details are available on <a href="http://www.rivertrails.com.au">www.rivertrails.com.au</a><br>
This publication has been made possible with the financial support and
sponsorship of the following: </p>
<br>
<div class="page-images"><img src="/images/Sponsors/DNSW-logo.jpg"/>
    <img src="/images/Sponsors/INT-YR-Logo.jpg" />
       </div>
      <br>
  <div class="river-line-separator"></div>
  <h3 class="sponsor-images">Gold Sponsors:</h3>

           <h4 class="sponsor-images">Dubbo City Council</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/DCC.jpg" width="170px" height="200px"></div>

           <h4 class="sponsor-images">Orana Mutual
           </h4><div class="sponsor-images"><img src="/images/Sponsors/OranaMutual.jpg" width="200px" height="120px"></div>

           <div class="river-line-separator"></div>
           <h3 class="sponsor-images">Silver Sponsors:</h3>

           <h4 class="sponsor-images">Brennans Mitre Ten, Dubbo</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/M10.jpg" width="200px" height="120px"></div>

           <h4 class="sponsor-images">Narromine Shire Council</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/narromine_council.jpg" width="170px" height="190px"></div>

           <h4 class="sponsor-images">Wellington Council</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/WellingtonCouncil.jpg" width="200px" height="130px"></div>

           <h4 class="sponsor-images">Mapping Services Australia</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/MSA.png" width="220px" height="100px"></div>

           <div class="river-line-separator"></div>
           <h3 class="sponsor-images">Bronze Sponsors:</h3>

           <h4 class="sponsor-images">Flat Chat News, Narromine</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/flat_chat.jpg" width="200px" height="130px"></div>

           <h4 class="sponsor-images">Inland Waterways Rejuvenation Association</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/IWRA.jpg" width="200px" height="130px"></div>

           <h4 class="sponsor-images">Warren Chamber of Commerce</h4>
           <div class="river-line-separator"></div>

           <h4 class="sponsor-images">
               The not-for-profit organisation Riversmart Australia Ltd provides
               coordination and overall administration of the initiative.
               <strong>Visit <a href="http://www.riversmart.org.au">www.riversmart.org.au</a> for more information</strong></h4>
           <div class="sponsor-images"><img src="/images/Sponsors/Bucket.png" width="145px" height="100px">
           <img src="/images/Sponsors/RiverSmart.png" width="145px" height="100px"></div>

           <h4 class="sponsor-images">
              Thanks to the Central West CMA for their ongoing support for the
              Macquarie Riversmart initiative.</h4>
           <div class="sponsor-images"><img src="/images/Sponsors/CMA.jpg" width="200px" height="60px"></div>
           <div class="river-line-separator"></div>
           <br>
           <div class="sponsor-images"><img src="/images/Sponsors/Aspect.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Bakery.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Battlers.png" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Bobs.png" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Brennan.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Burger.png" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Butcher.png" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Canobolas.png" width="200px" height="250px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Court.png" width="200px" height="250px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/DubboWall.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Earthmoving.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Goldenwest.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/KevinHockey.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/LakeBurrendong.png" width="200px" height="350px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/MacVanParkWarren.png" width="200px" height="350px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Matt.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Mitchel-Inn.png" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/NativeLures.png" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/TyreRight.png" width="200px" height="350px"></div>
           <div class="sponsor-images"><img src="/images/Sponsors/Uncle.png" width="200px" height="200px"></div>
         </div>


           <%= partial :tabbar %>
     </div>
 <!-- /page -->
