---
layout: info_fishing
title: Threatend Fish
---

            <br>
            <strong>TROUT COD (Maccullochella macquariensis)</strong>
            <p>(Listed as Endangered under the Fisheries Management Act 1994)</p>
            <div class="fishing-line-separator"></div>
             <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/trout.jpg" /></div>

                    <p>Trout cod is listed as an endangered species under both national and NSW
legislation, and any fish caught must be released immediately, preferably
without removal from the water.                <br>
                    <br>
                    Because Trout cod was only recognised as a distinct species (to Murray
cod) in the last 40 years, some aspects of its biology and behaviour
remain unanswered. It was first found in the Macquarie River nearly 200
years ago. Although it can grow to over 15 kilograms and 85 centimetres,
adults are commonly less than 5 kilograms. The key features that
distinguish Trout cod from Murray cod are a dark stripe through the eye,
a blue-grey (as opposed to yellow-green) speckled body pattern, and an
overhanging upper jaw.                    <br>
                    <br>
                    Trout cod prefer deep pools with instream cover such as snags and
boulders, although in some rivers where they exists along with Murray
cod, they tend to occupy slightly faster flowing areas, further out from the
bank. Their diet consists of small fish, shrimps, yabbies, dragonfly larvae
(mudeyes) and aquatic insect larvae. Adults will migrate between 20-60
kilometres before returning to their home snag.             <br>
                    <br>
                  Trout cod used to be widespread in the southern Murray-Darling Basin,
but now only three self-sustaining populations remain in the wild. Its
eagerness to take a bait or lure has contributed to its dramatic decline,
together with desnagging, introduced fish (including Redfin), increased
sediment deposition in rivers and cold water released from dams
(cold water pollution). The good news for Trout cod is that State Water
announced in early 2012 that cold water pollution from Burrendong Dam
would be rectified within 2-3 years.
                    </p>


               <fishing>
               TIP: TAKE SPECIAL CARE IF YOU CATCH ONE OF THE
ENDANGERED OR THREATENED FISH SPECIES. RELEASE THEM
UNHARMED AS SOON AS POSSIBLE.
</fishing>

<strong>SILVER PEACH (Bidyanus bidyanus)</strong>
            <p>(Listed as Vulnerable under the Fisheries Management Act 1994)</p>
            <div class="fishing-line-separator"></div>
              <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/silver.jpg" /></div>

                    <p>While historically widespread over much of the Murray-Darling Basin
(apart from the upper reaches), Silver perch has now declined over most
of its range. The three main reasons for the decline of this species are
the disruption of migratory and breeding patterns as a result of dams,
weirs and flow patterns, the impacts of carp and redfin, and cold water
released from the base of large dams.               <br>
                    <br>
                    Silver perch can grow to 8 kilograms and 50 centimetres, although
commonly specimens are less than 2 kilograms and 35 centimetres.
They prefer similar habitats to Golden perch and Murray cod &#45; lowland,
slow-flowing rivers.                    <br>
                    <br>
                  Silver perch are omnivorous, preferring aquatic plants, snails, shrimps
and aquatic insect larvae. The species migrates upstream in spring and
summer to spawn, often forming large schools.                    <br>
                    <br>
                  Silver perch is listed as a threatened species in NSW, and any fish caught
must be released immediately. However, the species is widely stocked in
farm dams and reservoirs, and fishing in these waterbodies (such as Lake
Burrendong) is permitted, subject to size and bag limits.
                    </p>

                <fishing>
               TIP: TAKE SPECIAL CARE IF YOU CATCH ONE OF THE
ENDANGERED OR THREATENED FISH SPECIES. RELEASE THEM
UNHARMED AS SOON AS POSSIBLE.
</fishing>

 <strong>FRESHWATER CATFISH (Tandanus tandanus)</strong>
            <p>(Protected under the Fisheries Management Act 1994)</p>
            <div class="fishing-line-separator"></div>
             <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/Catfish.jpg" /></div>

                    <p>Although Freshwater catfish (Eeltail catfish) are usually less than
2 kilograms and 50 centimetres, they have been known to reach nearly
7 kilograms and 90 centimetres.               <br>
                    <br>
                    Preferring slow&#45;flowing streams and lakes, the species spawns in spring
and summer when water temperatures reach 20-24 degrees. Unlike
the other catchable species in the Basin, Freshwater catfish form a nest
consisting of an oval depression, constructed mainly from pebbles and
gravel, which is guarded by the male. It is a carnivorous species, eating
shrimps, yabbies, small fish, snails and aquatic insects, and feeds mainly
at dusk and in the early evening. Freshwater catfish is also a relatively
sedentary species and rarely moves more than 5 kilometres.<br>
                    <br>
                  Historically Freshwater catfish were widespread throughout the Basin,
although most riverine populations have declined dramatically in the
last 40 years. Several threats have contributed to this decline, including
barriers to movement, cold water discharges from large dams, increased
salinity, changes to natural flow patterns, and the impacts of redfin
and carp (which is thought to destroy nests due to its bottom-feeding
behaviour).                   <br>
                    <br>
                 In the Macquarie River it is illegal to catch Freshwater catfish, although it
may be taken from stocked private dams and Lake Burrendong.
                    </p>

                <fishing>
               TIP: TAKE SPECIAL CARE IF YOU CATCH ONE OF THE
ENDANGERED OR THREATENED FISH SPECIES. RELEASE THEM
UNHARMED AS SOON AS POSSIBLE.
</fishing>


