---
layout: info_fishing
title: Fishing Tips
---

            <br>
            <strong>TIPS FOR FISHING THE MACQUARIE RIVER</strong>
            <div class="fishing-line-separator"></div>
            <br>
             <strong>LURE FISHING</strong>

                    <p>Casting lures in the Macquarie River is one of the most rewarding of all
techniques, with spectacular assaults from native fish often occurring.
Sinking spinner baits, or crashing hard-bodied lures against submerged
timber often results in the best catches of both Murray cod and Golden
perch, with nine out of ten Murray cod captured hooking up within
a metre of some form of structure, whether it be a hardwood snag,
submerged rock or sunken ledge.             <br>
                    <br></p>
                     <strong>SUCCESSFUL LURES ON THE MACQUARIE RIVER</strong>
            <div class="fishing-line-separator"></div>
            <br>
            <strong>Spinner Baits</strong>

                    <p>Spinner baits are a fantastic search option that are capable of being fished
at almost any depth that the angler desires, whether it be burning them
across submerged reed beds with a medium to fast retrieve, or sunk
deeper. They are relatively snag-friendly as the hook sits upright upon
retrieve. Most anglers opt to fit a secondary stinger hook to increase
the chance of a solid connection to any fish encountered, with ½ ounce,
and even smaller ounce, double Colorado bladed spinner baits having
resulted in plenty of quality captures on the Macquarie River. Other
options such as tandem bladed spinners, and even buzz baits all account
for catches when fished correctly.                <br>
                    <br>
                   A smart strategy when using spinner baits to cast in a V-shaped pattern
around likely fish habitats so as to systematically cover as much water
as possible. Slowing the retrieve will also leave the offering in the fish’s
strike zone for as long as possible.

                    </p>
                    <div class="page-images"><img src="<%= images_uri 'spinnerbait.jpg' %>" /></div>
             <strong>Hard-bodied lures</strong>

              <p>Casting or even trolling
solid profile hard-bodied
lures is an exciting way to
fish. When the rhythmic
pulse of a bibbed lure is
suddenly interrupted by a
knee-jerking hook up, it is
no wonder this adrenaline
filled way to fish is
preferred by many along
the Macquarie River.               <br>
                    <br>
                    <div class="page-images"><img src="<%= images_uri 'lure.jpg' %>" /></div>
                  Alternating the patterns of your lures between fluoro and natural will
help find the ‘flavour of the day’, with light, water clarity and depth all
contributing to the success of any given lure, on any given day.         <br>

                    </p>

                    <strong>Lipless crankbaits</strong>

              <p>Lipless crankbaits are now available in super high quality finishes,
in designs that imitate a variety of bait fish. Both rattling and silent
options are available, and account for plenty of fish captured on the
Macquarie River.
Lipless cranks are
certainly not as
snag resistant as
hard-bodied lures
that can be floated
off, or a spinner
bait that can travel
over most objects.
A popular option
is to remove from
the lipless crank
either the bottom hook on both trebles, or to even replace the treble
hooks completely with an appropriately sized single hook.
                     </p><div class="page-images"><img src="<%= images_uri 'crankbait.jpg' %>" /></div>

                    <strong>Bait fishing</strong>

              <p>Bait fishing on the Macquarie River is a very successful way of catching a
variety of species. Anglers bait fishing at the change of light periods, dawn
and dusk, often do very well and can easily account for a respectable
mixed catch of both natives and introduced species. See below            <br>

                    </p>
                     <strong>COMMON BAITS USED ON THE MACQUARIE RIVER</strong>
            <div class="fishing-line-separator"></div>
            <br>

<strong>Worms</strong>

              <p>Worms are a great all round bait that will help you catch nearly every
recreational angling target species in the Macquarie River. Use either a
hook rigged with a number of small garden or tiger worms, or better still
rigged with a large lively scrub worm. This common and traditional bait
remains one of the best ‘go to’ options and is a dependable fish catcher.           <br>

                    </p>
 <strong>Grubs</strong>

              <p>Bardi grubs can be purchased at a variety of tackle stores across the
Central West of NSW, or collected by those with a bit of know how.
They are the larval stage of the Grey goat moth and are well known as a
fantastic bait for those wanting to catch a Murray cod. Many trophy fish
have been accounted for using a Bardi grub rigged on a simple bait set up
with running sinker and swivel, or perhaps even fished weightless if the
grub is large enough to sink freely.           <br>

                    </p>
 <strong>Srimp</strong>

              <p>Shrimp are excellent bait, and will also catch any angling target species
in the Macquarie, although Murray cod and Yellowbelly are particularly
fond of a well-rigged shrimp. A technique used by locals is to place two
small shrimp on a hook back-to-back, both hooked through the tail.
Productive baits that can be used in shrimp traps include dog biscuits and
a little soap.           <br>

                    </p>
 <strong>Yabbies</strong>

              <p>Yabbies are popular bait that can be fished live and whole, or partially,
even after being frozen. Murray cod and almost all native fish find it hard
to resist a yabby, with some anglers choosing to remove the nippers
after squashing the head to not only make the bait easier for the fish to
get it in its mouth, but to also create a potent burly of entrails leading
any predatory fish to the bait. Be aware that there are restrictions and
conditions on the use of yabby traps in this region.

                    </p>


