---
layout: info_fishing
title: Yabbing
---
          <br>
            <strong>YABBING ALONG THE MACQUARIE RIVER</strong>
            <div class="fishing-line-separator"></div>
            <div class="page-images"><img src="../images/yabbie.jpg" /></div>
                    <p>Catching yabbies is a great way to relax by the river, with many families
enjoying this pastime. Sadly though, laws have had to be introduced as
some types of yabby traps have proven to be deadly for turtles, platypus,
birds and native water rats, in particular those commonly referred to as
Opera house traps.               <br>
                    <br>
                   For fishing along the Macquarie River this has particular significance as
this river has a healthy platypus population, especially upstream from
Dubbo and around Wellington (see below).</p>
                         <div class="sponsor-images"><img src="../images/platsign.jpg" width="200px" height="300px"/>
                          <h4 class="page-images">Platypus country signs from around Wellington on the Macquarie River.</h4></div>

                  <p> Note - If you’re fishing anywhere
upstream of Dubbo and east of the
Newell Highway, the use of Opera house
traps is totally banned.                 <br>
                    <br>
                  Downstream of Dubbo – west of the
Newell Highway - they can be used,
but must first be modified. The entrance
funnel must have a bi-catch reduction
device fitted that consists of a rigid ring
with a maximum internal diameter
of 90 mm permanently affixed. Go to
www.dpi.nsw.gov.au and search for the
document &lsquo;Fishing for yabbies in New
South Wales&rsquo; to find out more. Or, refer
to the current Freshwater Fishing Guide
(or visit: www.dpi.nsw.gov.au) for the relevant yabby fishing rules in
your area.
                    </p>
                    <div class="page-images"><img src="../images/net.jpg" />
                          <h4 class="page-images">Two drowned turtles in an
opera house trap. Make sure
you know the rules about
where and how you can use
these, and never leave them
unattended for more than
a few minutes.</h4></div>
                    <fishing>
                    TIP: MAKE SURE YOU KNOW THE RULES REGARDING USE (OR NOT) OF OPERA HOUSE TRAPS
                    ON THE MACQUARIE RIVER
                    </fishing>
