---
layout: place
section: education
item: beniforest
title: Beni Forest State Conservation Area
tel: 0268417100
url: http://www.environment.nsw.gov.au/NationalParks
mail:
slides:
  - Beniforest1.jpg
  - Beniforest2.jpg
  - Beniforest3.jpg

---
<education>A very accessible forest with a variety of
woodland birds. Good spots are the ‘two dams’
in the central north of the site and around the
periphery of the forest. 
<br>Contains examples of
Stringybark and Ironbark woodlands with areas
of Inland Grey Box and White Cypress. 
<br>Keep a watch for Red&#45;capped Robins, Jacky Winters
and many different honeyeater species. 
<br>Use caution in wet conditions.
<br><strong>Access information and facilities&#58;</strong>
<br>Dry weather access only. There are no facilities
except some picnic tables near the ‘two dams’
area.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>HOW TO FIND US</strong>
   There are three main public entrances to the
   forest:
   1. from the east: Whitewood Road, 10km east
   of Dubbo
   2. from the south: via Firgrove estate, take
   Eulomogo Road from the Mitchell Highway,
   then turn into Beni Forest Road
   3. from the west: take Woodley’s Road (Beni St)
   north from Wongarbon village. The edge of the
   forest is approximately 6km from Wongarbon.</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>FIND OUT MORE</strong>
  Visit: www.environment.nsw.gov.au/NationalParkss</p>
  <div class="education-line-separator"></div>

  <p>
  <strong>COORDINATES</strong>
  32&#176;16'23.84"S, 148&#176;43'50.22"E (for Firgrove Estate enterance)</p>
   <div class="education-line-separator"></div>

<p>
  <strong>CONTACT US</strong>
  Access information, NSW National Parks
  Dubbo Office:
  02 6841 7100, office hours 8.30am–
  4.30pm, Monday–Friday</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

