---
layout: place
section: education
item: burrendonggarden
title: Burrendong Botanic Garden and Arboretum
tel: 0268467454
url: http://www.burrendongarboretum.org
mail: curator@burrendongarboretum.org
slides:
  - Arboretumweb1.jpg
  - Arboretumweb2.jpg
  - Arboretumweb3.jpg
  - Arboretumweb4.jpg
---
<education>
<strong>Educational opportunities offered or available&#58;</strong>
<br>Biodiversity &#45; An ideal location for half or full day excursions. A collection of over 1,200 native plant species from all over Australia and, particularly, a stunning
collection of the unusual and striking Western Australian flora &#45; much of which is not usually seen in the east. Over
100 threatened plant species. The Arboretum also attracts large numbers of native birds &#45; see Lake Burrendong area under the Bird Watching Trail.
<br>Are there teachers&#47;experts&#47;guides available&#63; Yes, but you need to pre&#45;book.
<br>Is there educational interpretive signage present&#63; Yes, themed displays including a rainforest, plant family groupings, bush tucker and waterwise gardens.


</education>
 <div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong> 
	Daily from 7.30am until dusk. Closed Christmas day and during high fire danger.</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;41'17.87"S, 149&#176;6'30.67"E</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  The Arboretum is co-located with Lake Burrendong State Park and the Burrendong Sport Recreation Centre, only one hour's drive from either Dubbo or Orange and five hours from Sydney. 
	  If you are coming from the north of the state, the park is 27km south-east of Wellington.</p>
	  <div class="education-line-separator"></div>
    

	         