---
layout: place
section: education
item: centmacquarieroute4
title: Central Macquarie Marshes (Route 4)
tel: 
url: 
mail: 
slides:
  - Centralmacquarie1.jpg
  - Centralmacquarie2.jpg
  - Centralmacquarie3.jpg
  - Centralmacquarie4.jpg
---
<education><strong>Monkeygar Swamp&#58;</strong> This reedbed is home
to a wide variety of waterbird species. Species
include Magpie Geese, Swamp Harrier,
Pheasant Coucal, Glossy Ibis, various egrets,
crakes and other waterfowl.
<br>The adjacent mudflats, particularly on the
eastern side, can support wader species like
Sharp&#45;tailed Sandpipers and Black&#45;tailed
Godwits. Keep and eye out for the family of
Brolgas that are often seen nearby.
<br><strong>Terrigal Creek, Little Terrigal Creek
and Sandy Camp channel crossings,
Gibson’s Way&#58;</strong> These crossings along
Gibson’s Way are great spots in the
springtime to see Great Egrets, Nankeen
Night herons, many species of cormorants,
various ducks and some great bush birds too.
<br><strong>‘Ninnia’ &#45; Macquarie Marshes Nature
Reserve, Sandy camp&#45;Carinda Road&#58;</strong> This
portion of woodland north of Sandy Camp is
great for western woodland birds like Singing
Honeyeater, Crested Bellbird, Southern
Whiteface, Chestnut&#45;crowned Babbler, Jacky
Winter and Ground Cuckoo Shrike (on the
edges).
<br>Access information and facilities&#58; Walgett and Coonamble Shire Councils for
road closures.
		</education>
    <div class="education-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 This route starts at Marra crossroads, where
   Gibson’s Road meets the Warren-Carinda
   Road. Look for the telecommunications tower
   which sits on this corner, just over 100kms
   from Warren.
	  <div class="education-line-separator"></div>
<p>
   <strong>COORDINATES</strong>
   30&#176;53'48.25"S, 147&#176;27'50.03"E
    <div class="education-line-separator"></div>

    
	