---
layout: place
section: education
item: dubbobotanic
title: Dubbo Regional Botanic Garden and Biodiversity Garden
tel: 0268814000
url: http://www.drbg.com.au
mail: 
slides:
  - Dubbobotanic1.jpg
  - Dubbobotanic2.jpg
  - Dubbobotanic3.jpg
  - Dubbobotanic4.jpg
---
<education><Strong>Educational opportunities offered or available:</Strong>
<br>Biodiversity &#45; The Biodiversity Garden displays threatened and endangered species and regional vegetation
communities of grassy box woodlands plains, wetlands and
rocky volcanic slopes. A variety of birdlife is observed.
Oasis Valley depicts different types of Australian rainforest
species that have evolved from the ancient subtropical
Gondwana rainforests providing a living link to Australia’s
biogeographical history and promotes the conservation of
the threatened dry rainforests.

<br>Are there teachers&#47;experts&#47;guides available&#63;
Education guide&#58; www.drbg.com.au&#47;education
Activities have been categorised according to the three
cross curriculum priorities&#58; Sustainability&#59; Aboriginal
and Torres Strait Islander histories and cultures&#59; Asia and
Australia’s Engagement with Asia

<br>Is there educational interpretive signage present&#63;
Signage includes bio&#47;geographical overview of the region
and vegetation communities, such as Grassy Box Woodland
&#45; an Endangered Ecological Community.
		</education>
		<div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open 9am–4pm Monday to Friday.
     9.30am–4.30pm Sat and Sun. Closed Christmas, New Year’s
     Day, Good Friday and the morning of ANZAC day</p>
	 <div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;15'11.30"S, 148&#176;38'6.17"E</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Located in East Dubbo, off Coronation Drive.</p>
	  <div class="education-line-separator"></div>
	  <p>
	 <strong>FIND OUT MORE:</strong>
	  www.drbg.com.au and see the education guide: www.drbg.com.au/education</p>
	  <div class="education-line-separator"></div>
	  <p>
	 <strong>ACCESS INFORMATION AND FACILITIES</strong>
	  Car parking and toilets. Gardens available for hire.</p>
	  <div class="education-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Western Plains Cultural Centre, Taronga Western Plains Zoo, and the rest of Dubbo's attractions including its several river parks.</p-->
			

	         