---
layout: place
section: education
item: dundullimal
title: Dundullimal Homestead, Dubbo
tel: 0268849984
url: http://www.nationaltrust.com.au/
mail: dundullimal@nationaltrust.com.au
slides:
  - Dundullimal1.jpg
  - Dundullimal2.jpg
  - Dundullimal3.jpg
  - Dundullimal4.jpg
---
<education>On offer here are tours of this historic National Trust
homestead and a café serving light lunches and Devonshire
teas. We specialise in group tours, educational tours,
functions and weddings.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>HOW TO FIND US</strong>
   Obley Road, Dubbo, 1.5km past Taronga
   Western Plains Zoo entrance.</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>COORDINATES</strong>
  32&#176;17'10.46"S, 148&#176;36'10.31"E</p>
   <div class="education-line-separator"></div>

<p>
  <strong>OPENING HOURS</strong>
   Tuesday–Friday 12pm–4pm; Saturday 11am–
   2pm. Other times by appointment.</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

