---
layout: place
section: education
item: goonoo
title: Goonoo Forest and Coolbaggie Nature Reserve (Route 2)
tel: 0268417100
url: http://www.dubbo.nsw.gov.au/RecreationandCulture/RuralReserves
mail:
slides:
  - goonoo1.jpg
  - goonoo2.jpg
  - goonoo3.jpg
  - goonoo4.jpg

---
<education>A large forest with areas of dry woodlands,
scrub and mallee. It is the single largest
remnant forest in the area (&#126;100,000ha).
<br>The forest contains extensive Ironbark and Grey
Box woodland, with areas of Allocasuarina&#47;
Casuarina and Red Stringybark. In the west,
Coolbaggie NR contains Green Mallee areas.
<br>Some great birds can be found here including
Gilberts Whistler, Yellow&#45;plumed Honeyeater
(in flowering Green Mallee), Malleefowl,
Chestnut&#45;rumped Heathwren, Variegated Wren
and is a good spot for cuckoos in the spring.
<br><stong>Access information and facilities&#58;</stong>
Dry weather only. There are some rough
trails (ironstone ridges), dry&#45;bogging
areas (sandy) and vegetation encroaching
on roads in some areas, so 4WD or AWD
vehicles recommended. Do not access
immediately after rain.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>HOW TO FIND US</strong>
   Goonoo is mainly accessed from the Dubbo-
   Mendooran Road. Travel north from Dubbo on
   the Newell Highway, turning towards Mogriguy
   at Brocklehurst. Take the Mendooran Road to
   the right 4km north of Brocklehurst. Goonoo
   starts approx. 20km from that intersection.
   There are a network of trails through the
   forest. Be sure to take a good map! A good
   birding route is to take Garling’s Road from
   the Mendooran Road (Approx 16km from the
   southern edge of the forest). Travel straight
   until you reach Coolbaggie Nature Reserve, then
   turn south (left) down the Western Boundary
   Road. This will eventually lead back to the
   Mogriguy Forest Road, where you can either
   go east (back to the Mendooran Road) or west
   (to Mogriguy). Other good areas are Freeman’s
   Road east, Red Dog Dam (Samuel’s Road south)
   and around Paddy’s Dam (Samuel’s Road north,
   then Paddy’s Dam road).</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>FIND OUT MORE</strong>
  Visit: www.environment.nsw.gov.au/NationalParkss</p>
  <div class="education-line-separator"></div>

  <p>
  <strong>COORDINATES</strong>
  32&#176;4'41.25"S, 148&#176;51'53.01"E</p>
   <div class="education-line-separator"></div>

<p>
  <strong>CONTACT US</strong>
  Access information, NSW National Parks
  Dubbo Office:
  02 6841 7100, office hours 8.30am–
  4.30pm, Monday–Friday</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

