---
layout: trail
section: education
title: Education Trail
list:
  - { file: burrendonggarden,     image: Arboretumweb4.jpg,               caption: "Burrendong Botanic Garden and Arboretum"}
  - { file: lakeburrendong,       image: BurrendongStateParkweb2.jpg,     caption: "Lake Burrendong State Park"}
  - { file: wellingtonmumbil,     image: wellodriveweb1.jpg,              caption: "Wellington-Mumbil-Stuart Town Heritage Drive"}
  - { file: platypus,             image: Platspottingweb3.jpg,            caption: "Platypus spotting, Wellington"}
  - { file: mountarther,          image: MtArthurweb2.jpg,                caption: "Mount Arthur Reserve and Lookout, Wellington"}
  - { file: wellingtoncaves,      image: wellocaves2.jpg,                 caption: "Wellington Caves, Phosphate Mine and Osawano Japanese Gardens"}
  - { file: oxley,                image: OxleyMuseum4.jpg,                caption: "Oxley Museum, Wellington"}
  - { file: wellingtonbuddhist,   image: wellingtonbudhist1.jpg,          caption: "Wellington Buddhist Centre - Tharpa Choeling"}
  - { file: wellingtonhisttrail,  image: Wellohistwalk2.jpg,              caption: "Wellington Historical Walking Trail"}
  - { file: wellingtonmontefiores,image: WelloMont3.jpg,                  caption: "Wellington Montefiores heritage drive"}
  - { file: arthurvilleroute1,    image: Arthur3.jpg,                     caption: "Arthurville area (Route 1)"}
  - { file: wambangcntr,          image: Wambangalang4.jpg,               caption: "Wambangalang Environmental Education Centre"}
  - { file: riversmart,           image: Riversmart3.jpg,                 caption: "RiverSmart’s Floating and Outdoor Classrooms, Dubbo"}
  - { file: dubbobotanic,         image: Dubbobotanic2.jpg,               caption: "Dubbo Regional Botanic Garden and Biodiversity Garden"}
  - { file: tarongazoo,           image: Zooweb4.jpg,                     caption: "Education @ Taronga Western Plains Zoo"}
  - { file: wattlegrove,          image: Wattlegrove3.jpg,                caption: "Wattlegrove, Dubbo"}
  - { file: trackerhill,          image: TrackerRiley1.jpg,               caption: "Tracker Riley Cycleway and Walking Trail, Dubbo"}
  - { file: terramung,            image: Terraweb2.jpg,                   caption: "Terramungamine Reserve, Dubbo"}
  - { file: goonoo,               image: goonoo2.jpg,                     caption: "Goonoo Forest and Coolbaggie Nature Reserve (Route 2)"}
  - { file: beniforest,           image: Beniforest2.jpg,                 caption: "Beni Forest State Conservation Area"}
  - { file: dundullimal,          image: Dundullimal1.jpg,                caption: "Dundullimal Homestead, Dubbo"}
  - { file: pioneercemetery,      image: PioneerCemeteryweb3.jpg,         caption: "Pioneer Cemetery, Dubbo"}
  - { file: westernplains,        image: WPCCweb3.jpg,                    caption: "Western Plains Cultural Centre, Dubbo"}
  - { file: dubboheritage,        image: Heritagewalk3.jpg,               caption: "Dubbo Heritage Tour"}
  - { file: gaol,                 image: gaol2.jpg,                       caption: "Old Dubbo Gaol"}
  - { file: basement,             image: basement2.jpg,                   caption: "The Basement Studio, Dubbo"}
  - { file: rotarywetland,        image: Rotary4.jpg,                     caption: "Rotary Wetland, Narromine"}
  - { file: narrominemuseum,      image: Narromine1.jpg,                  caption: "Narromine Historical Museum"}
  - { file: narromineaviation,    image: Aviation4.jpg,                   caption: "Narromine Aviation Museum"}
  - { file: macquarieroute3,      image: Macquarieriver2.jpg,             caption: "Narromine-Warren (Route 3 – Bird Watching Trail)"}
  - { file: windowcentre,         image: Windowcentre1.jpg,               caption: "Window on the Wetlands Centre and Tiger Bay Wetlands, Warren"}
  - { file: macquariemarshes,     image: Maquariemarshes3.jpg,            caption: "Macquarie Marshes Nature Reserves"}
  - { file: wetlandviewing,       image: Wetlandviewing3.jpg,             caption: "Wetland viewing platform, Macquarie Marshes"}
  - { file: centmacquarieroute4,  image: Centralmacquarie1.jpg,           caption: "Central Macquarie Marshes (Route 4)"}  
  - { file: northmacquarieroute5, image: northmacquarie1.jpg,             caption: "Northern Macquarie Marshes (Route 5)"}
---

