---
layout: place
section: education
item: macquarieroute3
title: "Macquarie River Drive Narromine-Warren (Route 3 – Bird Watching Trail)"
tel:
url:
mail:
slides:
  - Macquarieriver1.jpg
  - Macquarieriver2.jpg
  - Macquarieriver3.jpg
---
<education>Get off the highway and take the scenic route
from Warren to Narromine or vice versa and
the along the way you’ll encounter a number
of river parks, reserves and Travelling Stock
Routes with great bird watching potential.
Lots of woodland and riverine species on
offer.
		</education>
		<div class="education-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 When leaving Narromine follow the signs
     to Gilgandra and just out of town, after you
     cross the Macquarie River, take the left hand
     turn into Burroway Road. Along this road
     you’ll find Timbrebongie Falls Reserve plus
     several other riverside TSR’s where the river
     is very close to the road – see Fishing Trail
     page 138.
     <br>From Warren, near the bridge over the
     river, take Milson Street which becomes
     Wambianna Road and follow it until it
     reaches a T-intersection (the Collie-Trangie
     Road) – turn left and then in less than a
     kilometre turn right into Burroway West Road
     – which will take you to Narromine.</p>
	  <div class="education-line-separator"></div>


