---
layout: place
section: education
item: narromineaviation
title: Narromine Aviation Museum
tel: 0268897131
url: http://www.narromineaviationmuseum.org.au/
mail: 
slides:
  - AviationM1.jpg
  - AviationM2.jpg
  - AviationM3.jpg
  - AviationM4.jpg
---
<education>A captivating exhibition of artifacts, documents and
photographs which tell the story of aviation as it unfolded
at one of Australia ‘s most historic aerodromes. Home of
Australia’s only flying replica of a Wright Model A Flyer
<br>Cost&#58; $7 adult, $5 child &#47; pensioner $5 per person for groups
of 15 or more.
		</education>
		<div class="education-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 On the edge of Narromine
     township – follow Dandaloo Street to the Tullamore
     Road. Look for the signs.</p>
	  <div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Wednesday–Monday, 10am–5pm. Visits at other
     times by arrangement.</p>
	 <div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;13'22.00"S, 148&#176;13'44.85"E</p>
	 <div class="education-line-separator"></div>
	 
    
	