---
layout: place
section: education
item: narrominemuseam
title: Narromine Historical Museum
tel: 0467873070
url:
mail: 
slides:
  - Narromine1.jpg
  - Narromine2.jpg
  - Narromine3.jpg
---
<education>The Museum has only recently reopened. It currently contains
a range of Aboriginal arts and crafts plus information about
early European settlers in the region. 
<br>Those involved are alsoplanning to organise workshops for Aboriginal language
and art and maybe offer the venue as a meeting place (for a donation).
		</education>
		<div class="education-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 On the edge of Narromine
     township – follow Dandaloo Street to the Tullamore
     Road. Look for the signs.</p>
	  <div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Every two or three days from 10.30am till
     2.30pm. Other visits by arrangement. Call Ruth Carney on
     0467 873 070.</p>
	 <div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;14'1.18"S, 148&#176;14'29.29"E</p>
	 <div class="education-line-separator"></div>
	 
    
	