---
layout: place
section: education
item: pioneercemetery
title: Pioneer Cemetery, Dubbo
tel: 
url:
mail: 
slides:
  - PioneerCemeteryweb1.jpg
  - PioneerCemeteryweb2.jpg
  - PioneerCemeteryweb3.jpg
---
<education>Cemetery where several of the early settlers to the region
are buried.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>HOW TO FIND US</strong>
   Take the Old Dubbo Road and about 3–4
   kilometres from Dubbo, at the Lazy River Estate turn right
   into Butler’s Falls Road, and then a few hundred metres
   further on turn right again – follow the signs to Pioneer
   Cemetery and Pilcher’s Reserve.</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>COORDINATES</strong>
  32&#176;18'17.23"S, 148&#176;37'30.85"E</p>
   <div class="education-line-separator"></div>

<p>
  <strong>OPENING HOURS</strong>
   Access to the Reserve restricted after dark</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

