---
layout: place
section: education
item: ridgecrest
title: Ridgecrest Christian Education and Convention Centre
tel: 0268467434
url: http://www.ridgecrest.org.au
mail: 
slides:
  - ridgecrest1.jpg
  - ridgecrest2.jpg
  - ridgecrest3.jpg
  - ridgecrest4.jpg
---
<education>
We offer self-catered
accommodation for small
groups (under 28 people).
Food and accommodation for
groups over 28 people, up to
160+. Great meals and comfy
beds. Beautiful views during
the day of the surrounding hills and Lake Burrendong, 900
feet below&#33; Bush walks, play equipment, jumping pillow,
climbing tower, oval and basket ball court.
How to find us&#58; Last driveway on the left before the wall of
Burrendong dam. See our website for a map.
<br>Are there teachers&#47;experts&#47;guides available&#63; Yes, but you need to pre&#45;book.
<br>Is there educational interpretive signage present&#63; Yes, themed displays including a rainforest, plant family groupings, bush tucker and waterwise gardens.


</education>
 <div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong> 
	Are flexible, but please call ahead.</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;39'54"S, 149&#176;5'23"E</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  How to find us: Last driveway on the left before the wall of
      Burrendong dam. See our website for a map.</p>
	  <div class="education-line-separator"></div>
    

	         