---
layout: place
section: education
item: riversmart
title: RiverSmart’s Floating and Outdoor Classrooms, Dubbo
tel: 0438817470
url: http://www.riversmart.org.au
mail: ceo@riversmart.org.au
slides:
  - Riversmart1.jpg
  - Riversmart2.jpg
  - Riversmart3.jpg
  - Riversmart4.jpg
---
<education>Floating classroom can only take place in Dubbo. These include a 60&#45;90 minute guided cruise on the Macquarie River. A teacher is provided and the class activities can be structured to suit curriculum requirements or age groups.

<br>Alternatively, there is a land&#45;based option &#45; the Outdoor classroom &#45; which uses 10 portable A&#45;frames that can be positioned along a river trail and which use yes&#47;no type questions to quiz students about their knowledge of river health, biodiversity and climate change issues.

<br>Cost is negotiated depending on the group size (maximum is 20 students due to the size of the boat) and duration of class. In general cost is $15&#45;20&#47;person&#47;session.
 </education>
 
 <div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND US</strong> 
	The boat departs from the pontoon at Riverbank Park, which runs parallel to Bligh Street.</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND OUT MORE</strong>
	 www.riversmart.org.au</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>COORDINATES</strong>
	  32&#176;14'48.17"S : 148&#176;35'56.64"E</p>
	  <div class="education-line-separator"></div>
    <p>
	 <strong>OPENING HOURS</strong>
	  By prior arrangement.</p>
	  <div class="education-line-separator"></div>

	         