---
layout: place
section: education
item: rotarywetland
title: Rotary Wetland, Narromine
tel: 
url: http://www.narromine.nsw.au/community/rotary
mail: 
slides:
  - Rotary1.jpg
  - Rotary2.jpg
  - Rotary3.jpg
  - Rotary4.jpg
---
<education><strong>Educational opportunities offered or available&#58;</strong> 
<br>Biodiversity &#45; Waterbirds, frogs, reeds
and all you’d expect from a wetland, plus walking
trails. Ideal for school group excursions or family fun.
<br>Are there teachers&#47;experts&#47;guides available&#63; No.
<br>Is there educational interpretive
signage present&#63; Yes, six wetland education signs
scattered at intervals around the walking trails.
<br>Access information and facilities&#58; There are
picnic tables and toilet block on site.
		</education>
		<div class="education-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 On the edge of Narromine
     township – follow Dandaloo Street to the Tullamore
     Road. Look for the signs.</p>
	  <div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Locked at night but open 7 days.</p>
	 <div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;14'52.51"S, 148&#176;14'10.40"E</p>
	 <div class="education-line-separator"></div>
	 
    
	