---
layout: place
section: education
item: tarongazoo
title: Education @ Taronga Western Plains Zoo
tel: 
url: http://taronga.org.au
mail: 
slides:
  - Zooweb1.jpg
  - Zooweb2.jpg
  - Zooweb3.jpg
  - Zooweb4.jpg
---
<education><Strong>Educational opportunities offered or available&#58;</Strong> 
<br>Biodiversity Biodiversity&#47;conservation&#47;science&#45; themed
workshops are delivered at Taronga Western Plains Zoo. Workshops can be delivered to meet specific learning
outcomes from K&#45;Tertiary. 
<br>Heritage&#47;cultural&#58; During NAIDOC Week the Zoo offers special school celebration
events. Indigenous themed workshops may also be offered throughout the year upon request. You may also like to
try our Billabong Camp ZoosnooZ which incorporates cultural elements. 
<br>Other&#58; The Taronga Western Plains Zoo
Education Team is keen to work with teachers to develop specific workshops to cover their learning needs across
all KLAs. We also offer extended hours programs through Early Morning Walks, Twilight Tours and Billabong Camp
ZoosnooZ. For older students, Youth at the Zoo (Y@ TZ), Meet a Keeper and Work Experience offer unique
opportunities for students to gain an insight into career opportunities. Please contact the Education Centre to
discuss further. 
<br>Are there teachers&#47;experts&#47;guides available&#63; All formal education workshops are delivered by DEC
employed Zoo Education Officers. Overnight programs are facilitated by trained Zoo guides. Early Morning Walks are guided by
trained Zoo Volunteer guides. 
<br>Is there educational interpretive signage present&#63; There is a
variety of interpretive signage available for use throughout the Zoo grounds.
  </education>
  <div class="education-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   http://taronga.org.au/tarongawestern-plains-zoo#hours-and-rates</p>
   <div class="education-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;16'20.04"S, 148&#176;35'10.78"E</p>
   <div class="education-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    aronga Western Plains Zoo, Obley Road Dubbo 2830</p>
    <div class="education-line-separator"></div>
    <p>
   <strong>ACCESS INFORMATION AND FACILITIES</strong>
    http://taronga.org.au</p>
    <div class="education-line-separator"></div>
    <p>
   <strong>FIND OUT MORE:</strong>
    http://taronga.org.au/education/dubbo</p>
    <div class="education-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel Tasman Motor Inn - both located within 300 metres of the river.</p-->


