---
layout: place
section: education
item: terramung
title: Terramungamine Reserve, Dubbo
tel: 
url: http://www.dubbo.nsw.gov.au/RecreationandCulture/RuralReserves
mail:
slides:
  - Terraweb1.jpg
  - Terraweb2.jpg
  - Terraweb3.jpg
  - Terraweb4.jpg

---
<education>Camping, fishing, boating and Aboriginal grinding grooves
with a viewing platform over the Macquarie River. 
<br>There is a sealed road to the entry gate. The roads in the Reserve
are not sealed in some areas. Access good for caravans.
Camping allowed but only for one night. There are toilets
and bar&#45;b&#45;que areas, plus some tables and seating
benches. Stone steps down to the river but no boat ramp.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>HOW TO FIND US</strong>
   Take the Newell Highway toward Gilgandra
   and a few kilometres from Dubbo, as you pass through
   Brocklehurst there is a turn to the left. Follow this for about
   3-4 kilometres to the turn-off left into the Reserve.</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>FIND OUT MORE</strong>
  www.dubbo.nsw.gov.au/RecreationandCulture/RuralReserves</p>
  <div class="education-line-separator"></div>

  <p>
  <strong>COORDINATES</strong>
  32&#176;10'7.82"S, 148&#176;35'6.10"E</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

