---
layout: place
section: education
item: trackerhill
title: Tracker Riley Cycleway and Walking Trail, Dubbo
tel: 0268014000
url: 
mail:
slides:
  - TrackerRiley1.jpg
  - TrackerRiley2.jpg
  - TrackerRiley3.jpg
  - TrackerRiley4.jpg

---
<education><Strong>Educational opportunities offered or available&#58;</Strong>
<br>setting is ideal for bird watching.
<br>Heritage&#47;cultural &#45; There is one Indigenous heritage sign
as well.
<br>Are there teachers&#47;experts&#47;guides available&#63;
No &#45; static signs at high usage areas for foot, bicycle, pram
traffic.
<br>Is there educational interpretive signage present&#63;
Yes, 13 interpretive signs, 12 with biodiversity themes and
one on Indigenous heritage. Topics covered include native
fish, and the endangered Trout cod, Red gums, river health,
willows as a weed, shy river creatures etc.
</education>
<div class="education-line-separator"></div>

  <p>
  <strong>OPENING HOURS</strong>
   Not applicable.</p>
   <div class="education-line-separator"></div>

  <p>
  <strong>COORDINATES:</strong>
  -32&#176;15'21.91"S, 148&#176;35'22.94"E</p>
  <div class="education-line-separator"></div>

  <p>
  <strong>LOCATION:</strong>
   Cycling and walking trail which
   forms two river-based loops, a 6km urban loop from
   Serisier Bridge to the Tamworth Street footbridge and
   return, and a longer 13km loop from the Tamworth
   Street footbridge past the Taronga Western Plains Zoo
   to Dundullimal Reserve, crossing the river again there to
   return to Tamworth Street via Macquarie Street.</p>
   <div class="education-line-separator"></div>

<p>
  <strong>MORE INFORMATION</strong>
  Dubbo’s Visitor
  Information Centre (where bikes are also available for hire)
  is a great place to start. There are several toilet blocks and
  bubblers along the trail.</p>
   <div class="education-line-separator"></div>

    <!--p
    ><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     All Dubbo's attractions plus the many river parks - see www.rivertrails.com.au</p-->

