---
layout: place
section: education
item: wambangcntr
title: Wambangalang Environmental Education Centre
tel: 0268877209
url: http://www.wambangala-e.schools.nsw.edu.au/
mail: 
slides:
  - Wambangalang1.jpg
  - Wambangalang2.jpg
  - Wambangalang3.jpg
  - Wambangalang4.jpg
---
<education><Strong>Educational opportunities offered or available&#58;</Strong>

<br>Biodiversity &#45; There’s lots of biodiversity on this site, as it contains a large remnant example of Box Grassy Woodland vegetation type.

<br>Heritage and culture &#45; Several aboriginal heritage&#47;cultural programs are available, including artefact study and site investigation.

<br>Art &#45; Many different art activities available e.g. boomerang art.

<br>Astronomy &#45; Unit to be finalised soon, although the view of the heavenly bodies is quite spectacular due to our distance from town.

<br>There 2&#45;3 fulltime teachers, several casual teachers and other community members.

<br>Plus there is educational signage present throughout the centre, with added signage being constructed.

<br>On&#45;site are dormitories, BBQ area, showers, kitchen&#47;dining area, classroom and laboratory, archery, ropes course, bikes, teddy bears picnic, and many more programs&#47;activities. Information provided on our website.

<br>Open during school hours, but can also accommodate overnight stays and camps.
 </education>
 
 <div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND US</strong> 
	273R Obley Rd – on the Zoo road between Dubbo and Yeoval</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND OUT MORE</strong>
	 Go to www.wambangala-e.schools.nsw.edu.au</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>COORDINATES</strong>
	  32&#176;29'17"S : 148&#176;33'18"E</p>
	  <div class="education-line-separator"></div>
    <p>
	 <strong>OPENING HOURS</strong>
	  School hours, but also accommodate overnight
      stays and camps.</p>
	  <div class="education-line-separator"></div>

	         