---
layout: place
section: education
item: wattlegrove
title: Wattlegrove, Dubbo
tel: 
url: http://www.wattleday.asn.au/
mail: 
slides:
  - Wattlegrove1.jpg
  - Wattlegrove2.jpg
  - Wattlegrove3.jpg
---
<education><Strong>Educational opportunities offered or available:</Strong>
Biodiversity &#45; A planting of locally endemic wattles within
the urban environment of Dubbo city to help develop an
appreciation of Australian flora, in particular Acacia species,
commonly known as Wattles. Acacia is the largest genus
of vascular plants in Australia with close to 1,000 species.
Australia’s national floral emblem is Acacia pycnantha &#45; the
Golden Wattle. Dubbo Field Naturalists and Conservation
Society established the ‘Wattlegrove’ in 2002 at this site which
is adjacent to the old steam engine pump station and state
heritage listed railway bridge on Macquarie River &#45; Wambool
in the Wiradjuri language. 
<br>Are there teachers&#47;experts&#47;guides available&#63; The Wattlegrove has grown to become
a valuable point of interest and a passive educational resource for the Dubbo district, highlighting our wattles and their
many applications. Members of Dubbo Field Naturalist can be available by prior arrangement (see below).
<br>Is there educational interpretive signage present&#63; An interpretive sign includes line drawings of a variety of wattles to
inform residents and visitors alike of the diversity of these plants that can be found locally.
  </education>
  <div class="education-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Riverbank Reserve managed by Dubbo City Council</p>
   <div class="education-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'39.85"S, 148&#176;36'0.37"E</p>
   <div class="education-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Bligh Street, Dubbo. Across the road from Dubbo Visitor’s Information Centre</p>
    <div class="education-line-separator"></div>
    <p>
   <strong>FIND OUT MORE:</strong>
    Wattle Day Association http://www.wattleday.asn.au/
    http://www.worldwidewattle.com/schools.php</p>
    <div class="education-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel Tasman Motor Inn - both located within 300 metres of the river.</p-->


