---
layout: place
section: education
item: wellingtonbuddhist
title: Wellington Buddhist Centre - Tharpa Choeling
tel: 0268454661
url: http://www.tharpachoeling.org
mail: mailto:info@tharpachoeling.org
slides:
  - wellingtonbudhist1.jpg
  - wellingtonbudhist2.jpg
  - wellingtonbudhist3.jpg
  - wellingtonbudhist4.jpg
---
<education>Meditation, yoga and workshops on Buddhism, mindfulness and secular ethics.
		</education>
 <div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong> 
	Saturday, Sunday and Monday 1pm-4pm.
	Meditations: 10am Thursday, 6pm Friday.
    Chair yoga: 10am Friday.
    Breath yoga: 2pm Sunday..</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;33'49"S, 148&#176;56'37"E</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  166 Arthur Street, Wellington.
	  Distance from river: 900 metres to the Bell River and
      3.8kms to the Macquarie River.</p>
	  <div class="education-line-separator"></div>
	  <p>
	 <strong>WHY WE LOVE THE RIVER:</strong>
	  It’s a beautiful, natural part of the
      local area, a wonderful habitat for local wildlife</p>
    

	         