---
layout: place
section: education
item: wellingtoncaves
title: Wellington Caves, Phosphate Mine and Osawano Japanese Gardens
tel: 0268451418
url: http://www.visitwellington.com.au
mail: 
slides:
  - wellocaves1.jpg
  - wellocaves2.jpg
  - wellocaves3.jpg
---
<education>The complex comprises two show caves&#59; The Cathedral Cave and the Gaden Cave plus a series of smaller caves. 
These include the recently rediscovered Water Cave and the challenging River Cave, which are open to only the most experienced cave diving enthusiasts.
<br>While you're visiting the Caves, why not check out the Phosphate Mine and Wellington&#45;Osawano Japanese Garden too. Enjoy a snack, a coffee or an ice&#45;cream at the Caves Kiosk. 
    The Kiosk also sells a wide range of souvenirs.
</education>
<div class="education-line-separator"></div>
    <p>
    <strong>COORDINATES:</strong>
     32&#176;37'15.58"S, 148&#176;56'17.47"E</p>
     <div class="education-line-separator"></div>
    <p>
    <strong>LOCATION:</strong>
     Take the Wellington Caves turnoff a few kilometres from Wellington on the Molong-Orange Road.</p>
     <div class="education-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The closest other River Trail attractions:
Caves Bottle House, Bell River Estate, Lake Burrendong's various attractions and all that Wellington has to offer.
</p-->

        