---
layout: place
section: education
item: wellingtonhisttrail
title: Wellington Historical Walking Trail
tel: 
url: http://www.visitwellington.com.au/
mail: 
slides:
  - Wellohistwalk1.jpg
  - Wellohistwalk2.jpg
  - Wellohistwalk3.jpg
---
<education>This is a self&#45;guided walking tour of Wellington’s many early European heritage attractions.  You can pickup the free guide from the Visitor Information Centre in the middle of town.
The tour takes you to 24 points of interest including; Federation house, McCleod’s Flour mill, Wellington Railway station, the old munitions factory, Cameron Park and Wellington Public School where an elm tree was planted in 1910 to mark the founding of the Gould League of Australia.
		</education>
 <div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND US</strong> 
	The Visitor Information Centre, where you can pick up the guide pamphlet is in the middle of Wellington, in Cameron Park which backs onto the Bell River.</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND OUT MORE</strong>
	 Go to www.visitwellington.com.au</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>DISTANCE FROM RIVER</strong>
	  Follows the Bell River in places.</p>
	  <div class="education-line-separator"></div>
    

	         