---
layout: place
section: education
item: wellingtonmontefiores
title: Wellington Montefiores heritage drive
tel: 
url: http://www.visitwellington.com.au/
mail: 
slides:
  - WelloMont1.jpg
  - WelloMont2.jpg
  - WelloMont3.jpg
---
<education>This is a self&#45;drive tour of Wellington’s many early European heritage attractions (see the Walking tour option too).
<br>You can pick up the free guide from the Visitor Information Centre in the middle of town (see below). There are 16 sights to see and it is estimated the tour covers 22 km and will take about 90 minutes to complete, depending on how long you stop at certain locations.
<br>Some of the points of interest include: the original early settlement area at Maynggu Gania, the Pioneer cemetery, Duke of Wellington Bridge, Caledonian brickworks, junction of the Bell and Macquarie Rivers and Mount Arthur Reserve.
 </education>
 
 <div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND US</strong> 
	The Visitor Information Centre, where you can pick up the guide pamphlet is in the middle of Wellington, in Cameron Park which backs onto the Bell River.</p>
	<div class="education-line-separator"></div>
	<p>
	<strong>HOW TO FIND OUT MORE</strong>
	 Go to www.visitwellington.com.au</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>DISTANCE FROM RIVER</strong>
	  The drive takes you to the junction of the Bell and Macquarie Rivers.</p>
	  <div class="education-line-separator"></div>
    

	         