---
layout: place
section: education
item: westernplains
title: Western Plains Cultural Centre, Dubbo
tel: 0268814444
url: http://www.westernplainsculturalcentre.org/
mail:
slides:
  - WPCCweb1.jpg
  - WPCCweb2.jpg
  - WPCCweb3.jpg
  - WPCCweb4.jpg
---
<education><strong>Educational opportunities offered or available&#58;</strong>
<br>Biodiversity &#45; The regional museum is devoted to the people
and places of Dubbo through time and features a White Box tree
installed in the centre of the space. 
<br>Heritage&#47;cultural &#45; The WPCC
prides itself on offering educational opportunities across a range of
subjects and levels. Whether students are investigating their family
tree or wanting to see the latest in contemporary art, the WPCC has
resources to help. Students and teachers can also design their own
visit and tailor session to suit their individual schools needs. The
museum features exhibits focused on Dubbo’s history and include
displays of Aboriginal artefacts, timelines of Dubbo’s mainstreets, an
old fashioned 1950s classroom which apart from being beautifully
put together with period furnishings, can be used to host lessons.
Old style handwriting and a Past and Present&#47;Now and Then
focus, ticks a lot of boxes for the new primary curriculum and is a
wonderful nostalgic experience for those who lived through this era.
<br>Art &#45; Dubbo Regional Gallery features 706m² of exhibition space
incorporating four galleries and a space devoted to the moving
image. The main space is devoted to large touring and in&#45;house
curated exhibitions, a Project Space for smaller touring exhibitions
and solo shows, the Regional Art Space devoted to regional artists
and a permanent Children’s Gallery. Visits can also include 1.5 hour
art lessons for $12 per head.
<br>Are there teachers&#47;experts&#47;guides available&#58; The WPCC
in Dubbo, NSW, is ideal for school excursions or tour groups. The
centre has a fulltime education officer who can assist you with your
educational needs.
<br>Access information and facilities&#58; General admission to the
WPCC is free. WPCC has a car park on the left hand side of the
building with disabled access to the front and rear of the building.
		</education>
		<div class="education-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open 10am–4pm. Closed: Tuesdays, Good Friday, Christmas
     Day, Boxing Day and New Years Day.</p>
	 <div class="education-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;33'37.33"S, 148&#176;57'37.79"E</p>
	 <div class="education-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  76 Wingewarra Street, Dubbo</p>
	  <div class="education-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Botanic Gardens, Biodiversity Gardens, Shoyoen Japanese gardens, and the rest of Dubbo's attractions including its several river parks.</p-->
	