---
layout: place
section: tucker
item: bennyschinese
title: Benny’s Chinese Restaurant, Warren
tel: 0268473333
url: 
mail: 
slides:
  - bennyschinese1.jpg
  - bennyschinese2.jpg
  - bennyschinese3.jpg
  - bennyschinese4.jpg
---
<tucker>Benny’s Chinese Restaurant is located within the Warren
Golf Club.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   The restaurant is closed on Mondays but
   open for lunch, dinner and take-aways on other days.</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    The Golf Club is on the highway into
    Warren from Nevertire…just before you cross the
    Gunningbar Creek…you’ll see the fairways and greens as
    you approach town.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;42'24.88"S, 147&#176;49'49.62"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>WHY WE LOVE THE RIVER</strong>
   The lifeblood of our town.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


