---
layout: place
section: tucker
item: churchstreetcafe
title: Church Street Cafe, Dubbo
tel: 0268840790
url: 
mail:
slides:
  - churchstreet1.jpg
  - churchstreet2.jpg
  - churchstreet3.jpg
  - churchstreet4.jpg
---
<tucker>Church St Cafe has expanded its premises and is now CSC Restaurant and Bar. 
<br>With the prime position on the corner of Church and Macquarie Street near the rotunda, we now offer dinner and a fully stocked bar. So join us for casual, alfresco dining with a cold glass of wine on our hot Dubbo summer nights. We are still serving breakfast and lunch and now offer an extensive tapas and pizza menu 5 nights a week cooking dinner until 10pm.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'49"S, 148&#176;36'4"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    15 Church Street in Dubbo</p>
    <div class="tucker-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


