---
layout: place
section: tucker
item: dubborsl
title: Dubbo RSL Club Resort
tel: 0268824411
url: http://www.dubborsl.com.au/
mail: 
slides:
  - dubborsl1.jpg
  - dubborsl2.jpg
  - dubborsl3.jpg
  - dubborsl4.jpg"
---
<tucker>Dubbo RSL is a premier dining, entertainment and recreation club in the heart of Dubbo. 
<br>
The Club has been  newly renovated including the Sunset Bistro , Poppies Coffee shop, Entertainment Lounge and Bars. Our variety of dining also includes the new Pizza & Gelato Bar and the a la carte options in the One 7 Eight Dining & Cocktail Bar.
<br>Our newly renovated Club also offers a gym, indoor heated pool, group exercise programs and award-winning learn to swim programs. Adjacent to the club is the *** RSL Motel.
 
<br>The Dubbo RSL Club – part of your community.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   Caf&#233; hours Friday - Sunday 10 am - 4pm</p>
   <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;17'51.14"S, 148&#176;37'41.10"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    Corner of Brisbane and Wingewarra Streets, Dubbo.</p>
    <div class="tucker-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


