---
layout: place
section: tucker
item: fastlane
title: The Fast Lane Drive Thru Coffee, Dubbo
tel: 0418553332
url: http://www.tfl.coffee/
mail:
slides:
  - Fastlane1.jpg
  - Fastlane2.jpg
  - Fastlane3.jpg
  - Fastlane4.jpg
---
<tucker>A perfect match to your
Macquarie Valley Trail whilst in Dubbo. 
<br>Grab an award winning coffee and snack from the comfort of your
car, drive down, park near the river and enjoy&#33;
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Bultje Street 6.30am–5pm
Monday to Friday, 6.30am–1pm Saturday and 8am–noon
Sunday. 
<br>Coborrah Road 6.30am–1pm Monday to Friday
and 7.30am–noon Saturday.</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    We have two locations in Dubbo as
follows: 13-17 Bultje Street – behind the Milestone Hotel
(in Macquarie Street). And the corner of White Street and
Coborrah Road (next to Weston College)</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'4"S, 148&#176;35'59"E</p>
   <div class="tucker-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   It is so lovely to live near the Macquarie River. It provides a
   serene respite when the hustle and bustle of everyday life
   can get overwhelming. A walk along the river is up there
   with one of the must do’s whilst in Dubbo.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


