---
layout: trail
section: tucker
title: Tucker Trail
list:
  - { file: mitchellinn,          image: Mitchellinn2.jpg,                caption: "Mitchell Inn, Geurie"}
  - { file: ploughmansrest,       image: Ploughmansrest1.jpg,             caption: "Ploughman’s Rest Tavern, Wongarbon"}
  - { file: dundullimal,          image: Dundulimall2.jpg,                caption: "Cafe and functions at Dundullimal Homestead"}
  - { file: lazyriver,            image: hippobeach.jpg,                  caption: "Cafe and functions at Lazy River Estate"}
  - { file: dubborsl,             image: dubborsl3.jpg,                   caption: "Dubbo RSL Club Resort"}
  - { file: tarongazoo,           image: Zooweb4.jpg,                     caption: "Cafe and functions at Taronga Western Plains Zoo"}
  - { file: shortblackcoffee,     image: Shortblack3.jpg,                 caption: "Short Black Coffee and Sides, Dubbo"}
  - { file: macquarieclub,        image: macquarieclub2.jpg,              caption: "Macquarie Club, Dubbo"}
  - { file: churchstreetcafe,     image: churchstreet1.jpg,               caption: "Church Street Cafe, Dubbo"}
  - { file: fastlane,             image: Fastlane4.jpg,                   caption: "The Fast Lane Drive Thru Coffee, Dubbo"}
  - { file: kookaburrakiosk,      image: kookaburrakiosk1.jpg,            caption: "Kookaburra Kiosk @ the Window on the Wetlands Centre"}
  - { file: narromineservices,    image: narromineservices3.jpg,          caption: "Narromine United Services Memorial Club"}
  - { file: bennyschinese,        image: bennyschinese3.jpg,              caption: "Benny’s Chinese Restaurant, Warren"}
---

