---
layout: trail
section: tucker
title: Tucker Trail
list:
  - { file: cactuscafe,           image: Cactus1.jpg,                     caption: "Cactus Cafe and Gallery, Wellington"}
  - { file: lionofwaterloo,       image: lionofwaterloo4.jpg,             caption: "Lion of Waterloo, Wellington Pub"}
  - { file: hermitagehill,        image: Hermitage1.jpg,                  caption: "Restaurant at the Hermitage Hill Restuarant, Wellington"}
  - { file: wellingtonhotel,      image: Wellingtonhotel1.jpg,            caption: "Wellington Hotel"}
  - { file: mitchellinn,          image: Mitchellinn2.jpg,                caption: "Mitchell Inn, Geurie"}
  - { file: ploughmansrest,       image: Ploughmansrest1.jpg,             caption: "Ploughman’s Rest Tavern, Wongarbon"}
  - { file: dundullimal,          image: Dundulimall2.jpg,                caption: "Cafe and functions at Dundullimal Homestead"}
  - { file: lazyriver,            image: hippobeach.jpg,                  caption: "Cafe and functions at Lazy River Estate"}
  - { file: dubborsl,             image: dubborsl3.jpg,                   caption: "Dubbo RSL Club Resort"}
  - { file: qualityinn,           image: qualityinn3.jpg,                 caption: "Reflections Restaurant at the Quality Inn International, Dubbo"}
  - { file: tarongazoo,           image: Zooweb4.jpg,                     caption: "Cafe and functions at Taronga Western Plains Zoo"}
  - { file: shortblackcoffee,     image: Shortblack3.jpg,                 caption: "Short Black Coffee and Sides, Dubbo"}
  - { file: macquarieclub,        image: macquarieclub2.jpg,              caption: "Macquarie Club, Dubbo"}
  - { file: churchsteetcafe,      image: churchstreet1.jpg,               caption: "Church Street Cafe, Dubbo"}
  - { file: fastlane,             image: Fastlane4.jpg,                   caption: "The Fast Lane Drive Thru Coffee, Dubbo"}
  - { file: cattlemaninn,         image: cattlemaninn2.jpg,               caption: "Restaurant at the Cattleman’s Motor Inn, Dubbo"}
  - { file: westsidehotel,        image: westsidehotel4.jpg,              caption: "Westside Hotel, Dubbo"}
  - { file: countrymansmotel,     image: Countryman2.jpg,                 caption: "Cafe and restaurant at the Countryman’s Motel, Dubbo"}
  - { file: narrominehotel,       image: narrominehotel1.jpg,             caption: "Narromine Hotel"}
  - { file: imperialhotel,        image: imperialhotel1.jpg,              caption: "Imperial Hotel, Trangie"}
  - { file: kookaburrakiosk,      image: kookaburrakiosk1.jpg,            caption: "Kookaburra Kiosk @ the Window on the Wetlands Centre"}
  - { file: narromineservices,    image: narromineservices3.jpg,          caption: "Narromine United Services Memorial Club"}
  - { file: oneoneseven,          image: oneoneseven1.jpg,                caption: "One One Seven Bakery Café, Warren"}
  - { file: bennyschinese,        image: bennyschinese3.jpg,              caption: "Benny’s Chinese Restaurant, Warren"}
---

