---
layout: place
section: tucker
item: kookaburrakiosk
title: Kookaburra Kiosk @ the Window on the Wetlands Centre
tel: 0438817470
url: http://www.riversmart.org.au
mail: ceo@riversmart.org.au
slides:
  - kookaburrakiosk1.jpg
  - kookaburrakiosk2.jpg
  - kookaburrakiosk3.jpg
  - kookaburrakiosk4.jpg
---
<tucker>This elevated viewing platform
is a great place to see birdlife when
there is water in the wetlands. Check
before you go as in this region wetlands
aren’t always wet &#45; this isn’t Kakadu&#33;
<br>Educational opportunities offered or available:
<br>Biodiversity &#45; The nearby Tiger Bay Wetlands has walking
trails along which there bird hides and interpretive signage.
The Centre itself offers interpretive boards about biodiversity
of the region, the Macquarie River and Marshes.
<br>Heritage&#47;cultural &#45; Indigenous and early European cultural
heritage are also featured on the interpretive boards at the
Centre.
<br>Are there teachers&#47;experts&#47;guides available&#63; Yes,
by prior arrangement. The Centre is operated by RiverSmart
Australia and they can provide a range of wetland and
river&#45;related packages, including their outdoor classroom
activities. 
<br>Cost is negotiated depending on the group size
and duration of class. In general cost is &#36;12&#45;15&#47;person&#47;hour
for interactive class activities.
<br>Is there educational interpretive signage present&#63;
Yes, see above.
<br>Access information and facilities&#58; Easy access for buses
and other vehicles. Entrance opposite the Caltex Service
Station.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   9am–5pm most days. Best to call ahead.</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    The Centre sits beside the Tiger Bay
Wetlands on the outskirts of Warren, on the Oxley highway.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;41'40.82"S, 147&#176;50'33.16"E</p>
   <div class="tucker-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   Fishermen come in for a visit and
   brag about what they caught.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


