---
layout: place
section: tucker
item: lionofwaterloo
title: Lion of Waterloo, Wellington Pub
tel: 0268453636
url: 
mail: 
slides:
  - lionofwaterloo1.jpg
  - lionofwaterloo2.jpg
  - lionofwaterloo3.jpg
  - lionofwaterloo4.jpg
---
<tucker>This classic country pub dates back to 1841 to the days of
Cobb &#38; Co. Today the Lion of Waterloo remains a charming
tavern with modern food. It can also cater for functions and
has a quiet beer garden, and in winter, an open fire near the
bar to keep warm by as you enjoy the atmosphere.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Open 4pm to close seven days. Meals
   from 6pm each day..</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    Follow the signs off the highway … the tavern
    is on Montefiores Street – the turnoff is just near the
    highway bridge crossing the Macquarie river in the heart of
    Wellington.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;32'26.08"S, 148&#176;55'50.49"E</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


