---
layout: place
section: tucker
item: macquarieclub
title: Macquarie Club, Dubbo
tel: 0268821019
url: http://www.macquarieclub.com.au/
mail:
slides:
  - macquarieclub1.jpg
  - macquarieclub2.jpg
  - macquarieclub3.jpg
  - macquarieclub4.jpg
---
<tucker>We offer bar facilities, snooker table,
TAB, beverages, sporting facilities, free barbecues,
natural surrounds, close to the CBD, tennis courts for hire and the best Chinese
restaurant in Dubbo. 
<br>The club hosts birthdays parties,
wakes, xmas parties, (will host any celebration) and Friday
night meat raffles and badge draws. Plus we have weekly
fixtures for men and women’s bowls.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'48"S, 148&#176;36'5"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    313 Macquarie Street in Dubbo.</p>
    <div class="tucker-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


