---
layout: place
section: tucker
item: narromineservices
title: Narromine United Services Memorial Club
tel: 0268894288
url: http://www.narromineusmc.com.au/
mail: 
slides:
  - narromineservices1.jpg
  - narromineservices2.jpg
  - narromineservices3.jpg
  - narromineservices4.jpg
---
<tucker>There is no place like The Narromine United Services
Memorial Club for food, entertainment and local
interaction. From the warm welcome when you walk
through the front door to the social buzz in the TAB or
the mouth watering sensations served in The Flight Deck
Restaurant, which does lunches, dinners and pizza.
The Narromine USM Club is committed to delivering the
best of local hospitality in the central west.
We can also cater for a range of functions.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Monday–Wednesday: 11am–10pm
   Thursday: 10am–10pm
   Friday–Saturday: 10am–Late
   Sunday: 10am–10pm</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    We’re at 58 Dandaloo Street (the main
    street) in Narromine.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;13'51.48"S, 148&#176;14'22.44"E</p>
   <div class="tucker-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   Why wouldn’t you!</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


