---
layout: place
section: tucker
item: narrominehotel
title: Narromine Hotel
tel: 0268891017
url: 
mail:
slides:
  - narrominehotel1.jpg
  - narrominehotel2.jpg
  - narrominehotel3.jpg
  - narrominehotel4.jpg
---
<tucker>Wining, dining and accommodation
in a friendly country pub atmosphere.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Open from 10am – Monday to Friday.</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    On the corner of Dandaloo and Derribong Streets,
Narromine. Not far from the railway crossing in the middle
of town. A cricket ball throw from Narromine’s Glenn
McGrath’s statue.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'3"S, 148&#176;14'20"E</p>
   <div class="tucker-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   After a good day’s fishing on the
   Macquarie, a beer at the Narromine Hotel-Motel is perfect.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


