---
layout: place
section: tucker
item: oneoneseven
title: One One Seven Bakery Café, Warren
tel: 0268474189
url: 
mail: 
slides:
  - oneoneseven1.jpg
---
<tucker>Great coffee, take&#45;away food, sandwiches etc.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   Monday to Friday 5.30am–5pm and
   6.00am–2pm Saturdays and alternate Sundays.</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    117 Dubbo Street, Warren…the main street</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   31&#176;42'3.21"S, 147&#176;50'11.82"E</p>
   <div class="tucker-line-separator"></div>
   <p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


