---
layout: place
section: tucker
item: Ploughmansrest
title: Ploughman’s Rest Tavern, Wongarbon
tel: 0268878411
url:
mail:
slides:
  - Ploughmansrest1.jpg
  - Ploughmansrest2.jpg
  - Ploughmansrest3.jpg
  - Ploughmansrest4.jpg
---
<tucker>A warm inviting country tavern in Wongarbon. Ideal barb&#45;
ques, weddings, Xmas parties, wakes, christenings,
you name it. Wide range of steak and fish meals. For
large groups of 15 or more please pre&#45;book.
</tucker>
<div class="tucker-line-separator"></div>
 <p>
  <strong>OPENING HOURS</strong>
   Thursday, Friday, Saturday, 6pm-9pm.</p>
   <div class="tucker-line-separator"></div>
    <p>
  <strong>HOW TO FIND US</strong>
   In Wongarbon, a small community
between Dubbo and Wellington along the Mitchell
Highway. Look for Brett Garling’s Gallery.</p>
   <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;20'5"S, 148&#176;45'45.37"E</p>
