---
layout: place
section: tucker
item: qualityinn
title: Reflections Restaurant at the Quality Inn International, Dubbo
tel: 0268824777
url: 
mail: qualityinndubbo@bigpond.com
slides:
  - qualityinn1.jpg
  - qualityinn2.jpg
  - qualityinn3.jpg
  - qualityinn4.jpg
---
<tucker>3.5 star accommodation with day spa and the superb
Reflections restaurant.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
  Monday–Saturday 7am–9pm, Sunday 7am–8pm</p>
   <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;15'33"S, 148&#176;35'9"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    On the Newell Highway less than a
    kilometre from Taronga Western Plains Zoo and next to the
    Dubbo Golf course.</p>
    <div class="tucker-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


