---
layout: place
section: tucker
item: shortblackcoffee
title: Short Black Coffee and Sides, Dubbo
tel: 0268823747
url: 
mail:
slides:
  - Shortblack1.jpg
  - Shortblack2.jpg
  - Shortblack3.jpg
---
<tucker>Great coffee, cakes, sandwiches and snacks.
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
  7.30am–5.30pm Monday to Friday,
  8am–1pm Saturday. Closed Sunday.</p>
   <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'48"S, 148&#176;36'5"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>HOW TO FIND US</strong>
    You’ll find our happy smiling faces at
    73 Macquarie Street, Dubbo.</p>
    <div class="tucker-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


