---
layout: place
section: tucker
item: tarongazoo
title: Cafe and functions at Taronga Western Plains Zoo
tel: 0268811400
url: http://www.taronga.org.au./taronga-western-plains-zoo
mail: wpz@zoo.nsw.gov.au
slides:
  - Zooweb1.jpg
  - Zooweb2.jpg
  - Zooweb3.jpg
  - Zooweb4.jpg
---
<tucker>Taronga Western Plains Zoo is home to over 700 animals in three sq km of bushland. As you explore the Zoo you'll find yourself surrounded by magnificent wildlife in wide open plains.
Whether you walk or ride around the zoo circuit on hired bikes or carts, it's a fun way to spend time with family and friends, away from it all.
  The Zoo offers a range of daily activities including a full schedule of keeper talks and feeds, tours and animal encounters.
  The Savannah Visitor Plaza free access area includes zoo ticketing and information, shop, award winning Safari Playground, jumping castle, free BBQs and picnic grounds.
  Visitors can also enjoy fresh food and amazing views at Bakhita' Caf&#233;. The Savannah Visitor Plaza overlooks the stunning Savannah Lake and Primate Islands, home to Ring-tailed Lemurs and Spider Monkeys.
  </tucker>
  <div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS:</strong>
   9am - 4pm daily. Last entry to the Zoo circuit 4pm daily.</p>
   <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;16'20.04"S, 148&#176;35'10.78"E</p>
   <div class="tucker-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Obley Road, Dubbo - just off the Newell Highway to Parkes.</p>
    <div class="tucker-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel Tasman Motor Inn - both located within 300 metres of the river.</p-->


