---
layout: place
section: tucker
item: wellingtonhotel
title: Wellington Hotel
tel: 0268452083
url:
mail: 
slides:
  - Wellingtonhotel1.jpg
  - Wellingtonhotel2.jpg
---
<tucker>The Wellington Hotel is situated in the heart of Wellington,
just near the train station. The historic hotel is a favourite
with locals thanks to its great food, excellent prices
and renovated bistro area.
Add to that the regular entertainment nights replete with
stage, and you won’t have reason to go anywhere else.
Owners Terry and Therese Leonard are proud to invite you
along to one of their home&#45;grown country music nights
which feature local performers from both Wellington
and Dubbo. Terry himself, is a well&#45;known Elvis Presley
impersonator who travels widely to perform his popular
shows. 
<br>Other features include&#58; restaurant&#47;bistro, daily
blackboard specials, cosy lounge areas, beer garden, live
entertainment, APL Poker, TAB and Gaming, Pool table,
jukebox and karaoke. 
<br>Accommodation&#58; 16 rooms available,
including family, double and single rooms.
</tucker>
<div class="tucker-line-separator"></div>
 <p>
  <strong>OPENING HOURS</strong>
   Usual pub hours…call to confirm.</p>
   <div class="tucker-line-separator"></div>
    <p>
  <strong>HOW TO FIND US</strong>
   Corner of Swift and Arthur Streets in
   Wellington, just near the train station.</p>
   <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;33'14.12"S, 148&#176;56'43.48"E</p>
