---
layout: place
section: tucker
item: westsidehotel
title: Westside Hotel, Dubbo
tel: 0268823500
url: http://www.westsidehoteldubbo.com.au/
mail: admin@westsidehoteldubbo.com.au
slides:
  - westsidehotel1.jpg
  - westsidehotel2.jpg
  - westsidehotel3.jpg
  - westsidehotel4.jpg
---
<tucker>Restaurant &#45; Bar &#45; Bottleshop &#45; Functions Centre. We can
cover all the bases&#33;
</tucker>
<div class="tucker-line-separator"></div>
  <p>
  <strong>OPENING HOURS</strong>
   10am–Late (midnight) 7 days a week</p>
<div class="tucker-line-separator"></div>
<p>
   <strong>HOW TO FIND US</strong>
    22–30 Whylandra Street, Dubbo. 
    <br>Just near the round-a-bout where all the highways meet in Dubbo.</p>
    <div class="tucker-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&#176;14'59"S, 148&#176;35'32"E</p>
   <div class="tucker-line-separator"></div>
   <p>
  <strong>WHY WE LOVE THE RIVER</strong>
   Great place to spend time and
   relax. Plus, we also have a fishing club.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Close by are Dundullimal Homestead, Red Earth Estate plus the BIG4 Dubbo Parklands and the Abel
     Tasman Motor Inn - both located within 300 metres of the river.</p-->


