<div class="home-menu">
          
         <fieldset class="icon-set">
          
             <div class="center home-river">
                 <a href="River/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-River.png">
                       <img class="icon" src="images/River.png">
                       <div class="tile-title">RIVER</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>
            <fieldset class="icon-set">
          
             <div class="center home-heritage">
                 <a href="Heritage/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-Heritage.png">
                       <img class="icon" src="images/Heritage.png">
                       <div class="tile-title">HERITAGE</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>
          
          <fieldset class="icon-set">
          
             <div class="center home-nature">
                 <a href="Nature/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-Nature.png">
                       <img class="icon" src="images/Nature.png">
                       <div class="tile-title">NATURE</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>
          
          <fieldset class="icon-set">
          
             <div class="center home-produce" >
                 <a href="Produce/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-Producev1.png">
                       <img class="icon" src="images/Produce.png">
                       <div class="tile-title">PRODUCE</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>
          
          <fieldset class="icon-set">
          
             <div class="center home-cycle">
                 <a href="Cycle/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-Cycle-v1.png">
                       <img class="icon" src="images/Cycle.png">
                       <div class="tile-title">CYCLE</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>

<fieldset class="icon-set">
          
             <div class="center home-riverbedz">
                 <a href="Riverbedz/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-Riverbedz-1.png">
                       <img class="icon" src="images/River-bedz.png">
                       <div class="tile-title">RIVERBEDZ</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>
<fieldset class="icon-set">
          
             <div class="center home-fishing">
                 <a href="Fishing/index.html" data-transition="fade">
                   <div class="metro-tile-wrapper river-tile">
                       <img class="metro-tile river-tile" src="images/Image-Fishing.png">
                       <img class="icon" src="images/Fishing.png">
                       <div class="tile-title">FISHING</div>
                   </div>
                 </a>
             </div>
          
          
          </fieldset>

</div>
