---
layout: place
section: fishing
item: bril
title: BriI Bral Reserve
tel:
url:
mail:
slides:
  - bril.jpg
  - bril11.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Travelling from Wellington take the highway to
Dubbo. Turn left into Old Dubbo Road &#45; the last
turn to your left as you leave Geurie. Follow this
road for several kilometres (it twists and turns
a lot&#33;) until you see the green Reserve sign on
your left. It’s easy to miss as the entry road joins
from your left on a sweeping right hand bend.
From Dubbo take the Old Dubbo Road for about
21 kms. You will find a gate on the track at the
entrance of the reserve. Please remember to
close the gate behind you.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
Approx. 32&#186;24’52.24”S, 148&#186;43’29.00”E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Fair &#45; good. Sealed road to the turnoff into the
reserve. The roads in the Reserve are not sealed
and may be impassable after moderate to heavy
rain without 4WD.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> Tent-based camping allowed. No caravans or
campervans. There are no toilets or shower
facilities. There are no rubbish bins &#45; so please
take your rubbish with you.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Great bit of the river with lots of deep holes
mixed in with shallow riffle areas.</p>
