---
layout: place
section: fishing
item: brummagen
title: Brummagen Bridge Reserve
tel:
url:
mail:
slides:
  - brummagen1.jpg
  - brummagen.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Take the Narromine road from Dubbo (Mitchell
Highway) for approximately 12-13 kms (from
the 110km/hr sign leaving Dubbo) and turn right
onto a gravel road just after the Brummagen
Creek bridge. There is no signpost to the reserve.
Look for a property entrance 'Glen Ayr' and a
white letter box No. 2696 just as you turn off
the highway. Then proceed for approximately
1 km off the highway to the reserve along a
narrowing gravel road. From Narromine, take
the Dubbo road for approximately 10 kms and
turn left just before the Brummagen Creek
bridge - see landmarks to look for, described
previously.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;13'56.81"S, 148&#176;21'49.19"E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road to the turn off the highway. The
roads in the Reserve are not sealed and may
be impassable after moderate to heavy rain
without 4WD.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Not recommended.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no toilets or shower facilities. Rubbish
bins are provided. This is not a reserve with a
clearly defined beach as the river is quite rocky
(see photo) (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> As the photos show the river here is quite rocky
which makes navigating upstream in a boat
challenging. There are deep water areas here
where fish hang out.</p>
