---
layout: place
section: fishing
item: butler
title: Butler’s Falls Reserve
tel:
url:
mail:
slides:
  - butlers.jpg
  - butlers1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
If coming from the Geurie direction along the
Old Dubbo Road turn left at Lazy River Estate
and follow that road for about 2 kilometres until
you see the green sign into the reserve. From
Dubbo follow the Old Dubbo Road signs and turn
right at Lazy River Estate &#45; then proceed about
2 kilometres to the reserve.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;18’52.24”S, 148&#186;37’16.41”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Good</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Good</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> Tent-based camping allowed. No caravans
or campervans. There are toilets, bar&#45;b&#45;que
fireplaces and picnic tables.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This part of the river has lots of shallow &lsquo;runs&rsquo;
interspersed with deeper holes and snag
country. You’ll need to walk or boat upstream or
down to find these fish havens.</p>
