---
layout: place
section: fishing
item: caroline
title: Caroline’s Reserve
tel:
url:
mail:
slides:
  - caroline.jpg
  - caroline1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
If coming from the Geurie direction along the
Old Dubbo Road, Caroline’s Reserve is a short
distance past the entrance to Lazy River Estate
on your left. From Dubbo follow the Old Dubbo
Road signs for approximately 2-3 kilometres and
you’ll see the reserve on your right just before
Lazy River Estate.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;17’39.39”S, 148&#186;37’38.48”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Not possible.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Difficult due to steepness.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> Barbecue (wood-fired), picnic tables and
rubbish bins. No camping allowed.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This is not a very popular spot for fishing as the
banks are steep and no boat access is possible.</p>
