---
layout: place
section: fishing
item: devil
title: Devil’s Hole Reserve, Dubbo
tel:
url:
mail:
slides:
  - devil1.jpg
  - devil.jpg
---
<p>
<strong>DIRECTIONS:</strong>
From Dubbo take the Newell Highway toward
Gilgandra and just after you pass the truck stop the
reserve is on the left, opposite the entrance to the
Ranelagh Homestead B&amp;B.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&deg;13’41.68”S, 148&deg;36’39.76”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed roads to the entry point and then dirt which
can be boggy if trying to get down to the beach.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Ok (see photo). There are some erosion issues due
to vehicle damage on and near the beach. Take care
not to make the problem worse - fish don’t like dirt
in their river!</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> No camping. Bar-b-ques, covered picnic tables and
views of the river near the entrance just off the
sealed road (see photo).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This reserve is not far downstream from Dubbo’s
second weir - take care if you boat near it. Even
though it’s quite low there are still risks.</p>
