---
layout: place
section: fishing
item: dickigundie
title: Dickigundie Reserve
tel:
url:
mail:
slides:
  - dick1.jpg
  - dick.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Take the Narromine road from Dubbo (Mitchell
Highway) for approximately 11 kms (from the
110km&#47;hr sign leaving Dubbo) and turn right.
Note, there is no signpost on the highway but
the Reserve’s green sign can be seen about 100
metres off the main road. From Narromine,
take the Mitchell Highway to Dubbo for
approximately 26 kms and turn left into the
Reserve.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;11’31.10”S, 148&#186;27’22.58”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road to the entry gate. The roads in the
Reserve are narrow and not sealed and may
be impassable after moderate to heavy rain
without 4WD.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Good in several areas, especially the beach.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> Overnight tent&#45;based camping is allowed
although there are no designated camping
areas. There are no toilets or shower facilities.
No caravans or campervans.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> A beautiful part of the river.</p>
