---
layout: place
section: fishing
item: dundullimal
title: Dundullimal Reserve
tel:
url:
mail:
slides:
  - dun.jpg
  - dun1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Off Obley Road, Dubbo, 1.5km past Taronga
Western Plains Zoo entrance. Same entrance as
for going to the historic Dundullimal homestead.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;16’58.96”S, 148&#176;36’6.22”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Not possible.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Reasonable.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> No camping. Bar-b-que facilities near main
entrance.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Tracker Riley Cycleway and Walking Track passes
through this reserve and crosses the river near
the railway bridge (see photo).</p>
