---
layout: place
section: fishing
item: gin
title: Gin Gin Bridge Reserve
tel:
url:
mail:
slides:
  - gin.jpg
  - gin1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
The Reserve is 43 kms from Narromine along the
Old Warren Road. Turn right at the intersection
at Gin Gin, then take the first left after you cross
the bridge.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
31&deg;54'57.18&rdquo;S, 148&deg;4'57.06&rdquo;E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good. Sealed road right past the reserve. The
tracks in the reserve are not sealed and caution
should be exercised after rain.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> The track down the pebble beach is steep and
narrow so check it out before trying.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> At the beach it’s great but up and downstream
- not so easy.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no facilities on-site.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> The river in this part has rocky shelves and
outcrops and lots of snags and deep holes. At
higher flows the beach goes under water and
this makes access risky.<br>
Note that there is a road leading to a private
property that leads off to the right as you drive
into the reserve. Please respect the owner’s
privacy.</p>
