---
layout: trail
section: fishing
title: Fishing Trail
list:
  - { file: johnoxley, image: OxleyPkweb4.jpg, caption: John Oxley Park, Wellington }
  - { file: lionspark, image: LionsParkWestweb1.jpg, caption: Lions Park West, Dubbo }
  - { file: riverbankpark, image: RiverbankPkweb5.jpg, caption: Riverbank Park, Dubbo }
  - { file: rotarypark, image: RotaryPkweb1.jpg, caption: Rotary Park, Narromine }
  - { file: sandybeach, image: sandybeachweb3.jpg, caption: Sandy Beach, Dubbo }
  - { file: terramungamine, image: Terraweb3.jpg, caption: Terramungamine Reserve }
---
