---
layout: trail
section: fishing
title: Fishing Trail
list:
  - { file: mookerawa, image: Mokwatersweb2.jpg, caption: Mookerawa Waters State Park, Lake Burrendong }
  - { file: johnoxley, image: OxleyPkweb1.jpg, caption: John Oxley Park, Wellington }
  - { file: ponto, image: ponto1.jpg, caption: Ponto Falls Reserve }
  - { file: scabbing, image: scabbing1.jpg, caption: Scabbing Flat Reserve, Geurie Bridge }
  - { file: peach, image: peach.jpg, caption: Peach Trees Reserve }
  - { file: bril, image: bril11.jpg, caption: BriI Bral Reserve }
  - { file: butler, image: butlers.jpg, caption: Butler’s Falls Reserve }
  - { file: pilcher, image: pilchers1.jpg, caption: Pilcher’s Reserve }
  - { file: caroline, image: caroline.jpg, caption: Caroline’s Reserve }
  - { file: dundullimal, image: dun.jpg, caption: Dundullimal Reserve }
  - { file: sandybeach, image: sandybeachweb1.jpg, caption: Sandy Beach, Dubbo }
  - { file: riverbankpark, image: RiverbankPkweb5.jpg, caption: Riverbank Park, Dubbo }
  - { file: lionspark, image: LionsParkWestweb3.jpg, caption: Lions Park West, Dubbo }
  - { file: devil, image: devil1.jpg, caption: Devil’s Hole Reserve, Dubbo }
  - { file: terramungamine, image: Terraweb2.jpg, caption: Terramungamine Reserve }
  - { file: redbank, image: redbank.jpg, caption: Redbank Reserve }
  - { file: north, image: north1.jpg, caption: North Burrabadine Reserve }
  - { file: whylandra, image: why.jpg, caption: Whylandra Crossing Reserves }
  - { file: dickigundie, image: dick1.jpg, caption: Dickigundie Reserve }
  - { file: minore, image: minore.jpg, caption: Minore Falls Reserve }
  - { file: brummagen, image: brummagen1.jpg, caption: Brummagen Bridge Reserve }
  - { file: reserve, image: brummagine2.jpg, caption: Brummagen Reserve }
  - { file: webb, image: webb1.jpg, caption: Webb’s Siding Reserve, Narromine }
  - { file: rotarypark, image: RotaryPkweb1.jpg, caption: Rotary Park, Narromine }
  - { file: mack, image: mack.jpg, caption: Mack’s Reserve }
  - { file: turkey, image: turkey.jpg, caption: Turkey Farm Reserve }
  - { file: timbrebongie, image: timbre.jpg, caption: Timbrebongie Falls Reserve }
  - { file: weir, image: gingin.jpg, caption: Gin Gin Weir }
  - { file: riverside, image: riverside.jpg, caption: Riverside access }
  - { file: gin, image: gin.jpg, caption: Gin Gin Bridge Reserve }
  - { file: rest, image: riversiderest1.jpg, caption: Riverside Rest Area }
  - { file: warren, image: warren.jpg, caption: Warren Weir Reserve &#45; upstream }
  - { file: victora, image: victora1.jpg, caption: Oxley Park &#45; Macquarie Park &#45; Ebert Park &#45; Victoria Parks, Warren }
  - { file: brian, image: brian.jpg, caption: Brian Egan Weir, Warren }
  - { file: quinines, image: quinines.jpg, caption: Quinines Reserve, Warren }
---

