---
layout: place
section: fishing
item: johnoxley
title: John Oxley Park, Wellington
tel:
url:
mail:
slides:
  - OxleyPkweb1.jpg
  - OxleyPkweb2.jpg
  - OxleyPkweb3.jpg
  - OxleyPkweb4.jpg
---
<p>
<strong>DIRECTIONS:</strong>
This river park is in the heart of Wellington,
where the Bell River joins the Macquarie. If
coming from the Molong-Orange direction
follow the Mitchell Highway through town
toward Dubbo, but turn left into Gobolion Street
just before the bridge crosses the Macquarie
River. Follow this down until you go over the
low-level bridge and the Park is on your left.
From Dubbo direction - cross the main bridge
and turn immediately right into Gobolion Street
- then proceed to the low-level bridge etc.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;32'34.62"S, 148&#186;55'59.35"E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
See Above.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> There is a concrete paved boat ramp (see photo).</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Excellent.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> No camping allowed. A short distance upstream
are two River bedz properties with direct river
frontage - Riverside Caravan Park and the
Bridge Motel (see www.rivertrails.com.au for
further information).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This is an area known for its platypus sightings.
And, beware - downstream a few hundred
metres the river divides around some willows
and can be dangerous even for experienced
paddlers.</p>
