---
layout: place
section: fishing
item: lionspark
title: Lions Park West, Dubbo
tel:
url:
mail:
slides:
  - LionsParkWestweb1.jpg
  - LionsParkWestweb2.jpg
  - LionsParkWestweb3.jpg
  - LionsParkWestweb4.jpg
  - LionsParkWestweb5.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Opposite Riverbank Park - which runs parallel
to Macquarie Street - the main street of Dubbo.
The boat ramp lies more or less under the main
bridge (L H Ford) crossing the Macquarie. Look
for the Tallarook Motel right near the roundabout
beside the bridge - the park is right
in front of it. Alternatively, take Stonehaven
Crescent off the Newell Highway - which runs
between the Council Caravan Park and the
Cattlemen's Motel - opposite fast food alley!</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;14'57.20"S, 148&#176;35'41.61"E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed roads.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Concrete boat ramp.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Excellent.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING INFORMATION, SITE FACILITIES:</strong> No camping. Bar-b-que facilities and picnic
tables, toilets, kids playground.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> The Tracker Riley Cycle and Walking Track runs
through this reserve. If the river flow is up, then
it is possible to boat upstream to the Council
owned 'top' weir but stay well clear of it if you
head up that way.</p>

