---
layout: place
section: fishing
item: mack
title: Mack’s Reserve
tel:
url:
mail:
slides:
  - mack.jpg
  - mack1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
From Narromine take the Old Warren Road for
approx 3 kms (from the 80km/hr sign) - look for
the blue sign. There is no gate into the reserve
which is on the right coming from this direction..</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;11’46.47”S, 148&#186;14’51.29”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road to the turn off the main road. The
tracks in the reserve (of which there are many)
are not sealed and may be impassable after
moderate to heavy rain without 4WD. There is
a beach area and lots of places to park on the
upper bank.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Difficult other than at the sandy beach which
is at the upstream end of the reserve. The last
part of the track down to the beach area is quite
steep.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Difficult other than at the small sandy beach
area.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no toilets or shower facilities. Rubbish
bins are provided (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Lots of snags in this part of the river so be
careful if boating.</p>
