---
layout: place
section: fishing
item: minore
title: Minore Falls Reserve
tel:
url:
mail:
slides:
  - minore.jpg
  - minore1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Take the Narromine road from Dubbo (the Mitchell
Highway) for approximately 13 kms and turn right
at the signpost to Minore Falls. Proceed approx 4
km, over a cattle grid with a sign saying &lsquo;The Falls&rsquo;.
Keep going a further 0.9 kms to the entry gate
straight ahead. From Narromine, take the Dubbo
road for approximately 18-20 kms and turn left at
the Minore Falls signpost.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;11’39.92”S, 148&#186;23’45.02”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
There is a sealed road to the turn off the highway.
The roads in the Reserve are not sealed and may be
impassable after moderate to heavy rain without
4WD. The last part of the trail is quite steep and
may be a challenge for 4WD, even in the dry.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair - good in places</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong>(TSR)</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> The river here tends to be shallow and rocky but if
you’re willing to trek upstream or down a bit it gets
better - from a fishing perspective.</p>
