---
layout: place
section: fishing
item: mookereawa
title: Mookerawa Waters State Park, Lake Burrendong
tel: 0268468268
url: http://www.stateparks.nsw.gov.au/lake_burrendong
mail:
slides:
  - Mokwatersweb1.jpg
  - Mokwatersweb2.jpg
  - Mokwatersweb3.jpg
  - Mokwatersweb4.jpg
---
                    <p>
            <strong>DIRECTIONS:</strong>
The closest town to Mookerawa Waters Park
is Stuart Town, a small former gold rush town
of approximately 300 people. Mookerawa
Waters is approximately 10kms from Stuart
Town. Lake Burrendong State Park is only a
short drive from Wellington, about one hour
from either Dubbo or Orange and five hours
from Sydney. If you are coming from the north
of the state, the park is 27km south&#45;east of
Wellington</p>
             <div class="fishing-line-separator"></div>
            <p>
            <strong>COORDINATES:</strong>
             32&#176;46'13.24"S, 149&#176;8'55.11"E</p>
             <div class="fishing-line-separator"></div>
             <p>
             <strong>ROAD ACCESS:</strong>
             Both Parks are easily accessed on sealed roads.</p>
             <div class="fishing-line-separator"></div>
              <p><strong>BOAT LAUNCHING:</strong> Both offer several well maintained boat ramps.</p>
               <div class="fishing-line-separator"></div>
              <p><strong>ACCESS ALONG THE BANK:</strong> Easy in most areas within the Parks themselves.</p>
               <div class="fishing-line-separator"></div>
              <p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> Both Parks offer camping and on-site
                accommodation (see www.rivertrails.com.au)</p>
               <div class="fishing-line-separator"></div>
              <p><strong>OTHER INFORMATION:</strong> Lake Burrendong is the venue for the annual
catch and release Fishing Classic held at
Easter by the Inland Waterways Rejuvenation
Association and attracts over a thousand
registered anglers. The event is organised by
the not-for-profit organisation, the Inland
Waterways Rejuvenation Association. Visit their
web site (www.iwra.com.au) for details of this
major fishing event.</p>
