---
layout: place
section: fishing
item: mookereawa
title: Mookerawa Waters State Park, Lake Burrendong
tel: 0268468268
url: www.stateparks.nsw.gov.au/lake_burrendong
mail:
slides:
  - Mokwatersweb1.jpg
  - Mokwatersweb2.jpg
  - Mokwatersweb3.jpg
  - Mokwatersweb4.jpg
---
                    <p>
            <strong>DIRECTIONS:</strong>
             This river park is in the heart of Wellington,
where the Bell River joins the Macquarie. If
coming from the Molong&#45;Orange direction
follow the Mitchell Highway through town
toward Dubbo, but turn left into Gobolion Street
just before the bridge crosses the Macquarie
River. Follow this down until you go over the
low&#45;level bridge and the Park is on your left.
From Dubbo direction &#45; cross the main bridge
and turn immediately right into Gobolion Street
&#45; then proceed to the low&#45;level bridge etc.</p>
             <div class="fishing-line-separator"></div>
            <p>
            <strong>COORDINATES:</strong>
             32&#186;46'13.24"S, 149&#186;8'55.11"E</p>
             <div class="fishing-line-separator"></div>
             <p>
             <strong>ROAD ACCESS:</strong>
             Both Parks are easily accessed on sealed roads.</p>
             <div class="fishing-line-separator"></div>
              <p><strong>BOAT LAUNCHING:</strong> Both offer several well maintained boat ramps.</p>
               <div class="fishing-line-separator"></div>
              <p><strong>ACCESS ALONG THE BANK:</strong> Easy in most areas within the Parks themselves.</p>
               <div class="fishing-line-separator"></div>
              <p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> Both Parks offer camping and on&#45;site
accommodation (see www.rivertrails.com.au)</p>
               <div class="fishing-line-separator"></div>
              <p><strong>OTHER INFORMATION:</strong> Lake Burrendong is the venue for the annual
catch and release Fishing Classic held at
Easter by the Inland Waterways Rejuvenation
Association and attracts over a thousand
registered anglers. The event is organised by
the not&#45;for-profit organisation, the Inland
Waterways Rejuvenation Association. Visit their
web site (www.iwra.com.au) for details of this
major fishing event.</p>
