---
layout: place
section: fishing
item: peach
title: Peach Trees Reserve
tel:
url:
mail:
slides:
  - peach.jpg
  - peach1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Turnoff the Mitchell Highway at the Mitchell
Inn Hotel in Geurie and follow this road
toward Ponto. You’ll cross the Macquarie River
a few kilometres later (this is Scabbing Flat
Falls Reserve &#45; see previous entry). Take the
Terrabella Road turnoff and Peach Tree Reserve
is about 2 km from the turnoff on the right hand
side. There are two turn&#45;offs. When we visited
the second one had just been graded&#33;</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;26’50.83”S, 148&#186;46’36.51”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good. Sealed roads to the turn&#45;off. First turn&#45;off
into the reserve can be challenging&#33; Try the
second.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> OK, with care.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Difficult away from the beach area.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> There are no facilities (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Very popular with the locals for Easter and
other holiday periods. The reserve has a great
beach facing a short, riffle run. Away from this
the fishing is generally good, downstream
especially.</p>
