---
layout: place
section: fishing
item: pilcher
title: Pilcher’s Reserve
tel:
url:
mail:
slides:
  - pilchers1.jpg
  - pilchers.jpg
---
<p>
<strong>DIRECTIONS:</strong>
If coming from the Geurie direction along the
Old Dubbo Road turn left at Lazy River Estate
and follow that road for a few hundred metres
until you see the green sign into the reserve on
your right. From Dubbo follow the Old Dubbo
Road signs and turn right at Lazy River Estate
- then proceed a few hundred metres to the
reserve entrance on the right.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;17’57.88”S, 148&#176;37’22.27”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good - sealed except the last few hundred
metres and then down to the beach.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair - road is steep and dirt road down to the
gravel beach can become rutted after rain.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING INFORMATION, SITE FACILITIES:</strong> No camping allowed. Reserve is locked at night.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Stony beach and shallow river &lsquo;run&rsquo; mean fishing
is best done upstream or down away from the
shallow faster flowing water.</p>
