---
layout: place
section: fishing
item: ponto
title: Ponto Falls Reserve
tel:
url:
mail:
slides:
  - ponto1.jpg
  - ponto.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Travelling along the Mitchell highway between
Wellington and Dubbo there are two signs to
Ponto Falls - it doesn’t matter which you take.
The road is sealed (although not very wide in
places!) except for the last few kilometres</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;27’57.20”S, 148&#176;49’14.71”E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Fine to get there although the roads in the
Reserve are not sealed and may be impassable
after moderate to heavy rain without 4WD.
There are two gates. Please leave them as you
find them.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Best done at the gravel beach at the
downstream end of the reserve.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair - good (better near the beach).</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING INFORMATION, SITE FACILITIES:</strong>There are rubbish bins present. Overnight
camping is allowed although there are no
designated camping areas. There are no toilets
or shower facilities.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This is long narrow reserve so there’s lots of
space. In this region ‘falls’ are not waterfalls but
shallow, rocky riffle areas. As the photos show
the river is relatively wide here apart from the
&lsquo;falls&rsquo; area near the beach.</p>
