---
layout: place
section: fishing
item: quinines
title: Quinines Reserve, Warren
tel:
url:
mail:
slides:
  - quinines.jpg
  - quinines1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
This Travelling Stock Route (TSR) is not
signposted. From Warren take the Carinda
Road, past the showground/racecourse.
Approximately 6 kms from the centre of town
there is a bend and dip in the road with a dirt
track off to the right. Keep to the right where
there is an option. Follow along the track to the
river, approximately 500 metres. The track takes
you up and along a fence on the right hand side
and a tight left bend brings you to the top of
the bank.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
31&#186;39&#39;21.57&rdquo;S, 147&#186;47&#39;33.49&rdquo;E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good. Not much room to turn around after the
steep incline.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Choose where to launch your tinnie with care -
some places are easy, others not so-</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair to difficult.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no facilities (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> The river is low and slow here generally with lots
of snags-</p>
