---
layout: place
section: fishing
item: reserve
title: Brummagen Reserve
tel:
url:
mail:
slides:
  - brummagine2.jpg
  - brummagine3.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Finding this reserve is not easy as it’s not
signposted. The track is less than a kilometre
from the turn-off to the Brummagen Bridge
Reserve - see previous entry - toward
Narromine and on the same side of the road.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;13’37.56”S, 148&#176;21’10.65”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
You will find a gate in the corner of the fence
and a lane between two fences will take you
to the reserve on the river: This track is quite
rugged and not recommended for other than
4WD vehicles. Please close the gates after you.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Ok.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING INFORMATION, SITE FACILITIES:</strong> There are no toilets or shower facilities. Rubbish
bins are provided, Travelling Stock Route (TSR), no camping allowed. Check on other conditions.</p>
<fishing> Recreational uses of Travelling Stock Routes (TSRs):
Please note that the following conditions apply to these areas:
• Access to TSRs for recreational activities is only during daylight hours.
• Fishing is an allowed recreational activity on TSRs.
• Motorised vehicular access is not allowed – people may enter by
walking, riding a bicycle or horse.
• Camping is not allowed on TSRs (to clarify the gazettal notices,
camping for drovers in charge of stock is the only allowable camping;
not for recreational activities).
• Any gates which are closed must be left closed after access and
departure.
• Beware of stock on reserves – stock have right of way.
        </fishing>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> There is a lovely sand beach from which you can
fish or launch a boat.</p>
