---
layout: place
section: fishing
item: riverbankpark
title: Riverbank Park, Dubbo
tel:
url:
mail:
slides:
  - RiverbankPkweb1.jpg
  - RiverbankPkweb4.jpg
  - RiverbankPkweb5.jpg
  - RiverbankPkweb6.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Riverbank Park can be found running parallel to
Macquarie Street, the main street of Dubbo.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&deg;14'46.83"S, 148&deg;35'58.25"E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road access with parking for vans and
lots of turning space.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> There is concrete boat ramp and pontoon. There is also another boat ramp just
upstream on the opposite side of the river - see
Lions Park West.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> No camping allowed. A great area for a picnic or
stroll along the river right in the heart of Dubbo.
There is also an outdoor exercise area, several
playing fields and toilets.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> These parklands extend from behind the
main shopping area of Dubbo (parallel with
Macquarie Street) upstream to Sandy Beach.
The Visitor Information Centre is found near
here also. Running through the park is the
Tracker Riley Cycleway and Walking trail which
allows you to do about a 13 km loop that runs
along both sides of the river.</p>

