---
layout: place
section: fishing
item: riverside
title: Riverside access
tel:
url:
mail:
slides:
  - riverside.jpg
  - riverside1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
These are narrow areas of Crown land between
the river and road along the northern bank of the
Macquarie River on the Burroway Road. Follow
the directions for Gin Gin Bridge Reserve - see
next entry - then proceed for less than 2 kms
and turn right into Burroway Road. From this
corner, and for close to 3kms the river is no more
than 100 metres from the road and there are
numerous tracks to park by the river for fishing.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
31&#186;54&#39;16.76&rdquo;S, 148&#186;5&#39;53.52&rdquo;E (for approx half
way along this long thin area)
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Not recommended.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair to difficult.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no facilities (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This part of the river has numerous rocky
outcrops, deep holes, and in some areas dense
snag loading.</p>
