---
layout: place
section: fishing
item: riverside
title: Riverside access
tel:
url:
mail:
slides:
  - riverside.jpg
  - riverside1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
These are narrow areas of Crown land between
the river and road along the northern bank of the
Macquarie River on the Burroway Road. Follow
the directions for Gin Gin Bridge Reserve - see
next entry - then proceed for less than 2 kms
and turn right into Burroway Road. From this
corner, and for close to 3kms the river is no more
than 100 metres from the road and there are
numerous tracks to park by the river for fishing.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
31&#176;54'16.76&rdquo;S, 148&#176;5'53.52&rdquo;E (for approx half
way along this long thin area)
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Not recommended.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair to difficult.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING INFORMATION, SITE FACILITIES:</strong> There are no facilities, Travelling Stock Route (TSR), no camping allowed. Check on other conditions.</p>
<fishing> Recreational uses of Travelling Stock Routes (TSRs):
Please note that the following conditions apply to these areas:
• Access to TSRs for recreational activities is only during daylight hours.
• Fishing is an allowed recreational activity on TSRs.
• Motorised vehicular access is not allowed – people may enter by
walking, riding a bicycle or horse.
• Camping is not allowed on TSRs (to clarify the gazettal notices,
camping for drovers in charge of stock is the only allowable camping;
not for recreational activities).
• Any gates which are closed must be left closed after access and
departure.
• Beware of stock on reserves – stock have right of way.
        </fishing>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This part of the river has numerous rocky
outcrops, deep holes, and in some areas dense
snag loading.</p>
