<!DOCTYPE html>
<html>
  
  <head>
    
    <title>Rotary Riverside Park, Narromine</title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <link href="" rel="apple-touch-icon">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    
    <link href="../../css/style4.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../css/flexslider.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../css/jquery.mobile.iscrollview.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../css/custom.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script src="../../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../js/jquery.mobile.init.js" type="text/javascript"></script>
    <script src="../../js/jquery.mobile-1.1.0.min.js" type="text/javascript"></script>
    <script src="../../js/iscroll.js" type="text/javascript"></script>
    <script src="../../js/jquery.mobile.iscrollview.js" type="text/javascript"></script>
    <script src="../../js/jquery.flexslider.min.js" type="text/javascript"></script>
    <script src="../../js/base.js" type="text/javascript"></script>
    
    </head>
  
  <body>
    <div class="place-page" data-role="page"><!--header-->
      <div class="rtheader fishingheader" data-role="header">
        <a class="backBtn" data-rel="back" data-role="none" data-transition="slide" href="index.html"></a><a class="showMenu menuBtn" href="#"></a>
        <h1>Rotary Riverside Park, Narromine</h1>
      </div>
      <!--/header-->
      
      <div class="menu">
        <ul>
          <li>
            <a href="tel:"><img height="16px" src="../../images/75-phone.png" width="18px">PHONE</img></a>
          </li>
          <li>
            <a href="http://www.narromine.nsw.gov.au" rel="external"><img height="20px" src="../../images/icon_blog.png" width="20px">WEB</img></a>
          </li>
          <li>
            <a href="#" onclick="showAlert(); return false;"><img height="20px" src="../../images/icon_mail.png" width="20px">MAIL</img></a>
          </li>
          <li>
            <a data-transition="slide" href="../../map/index.html?section=River&amp;item=rotarypark" rel="external"><img alt="" height="25px" src="../../map/images/River-pin.png" width="18px">GET DIRECTIONS</img></a>
          </li>
          <li>
            <a href="../../favorites.html?section=River&amp;item=&amp;title=Rotary%20Riverside%20Park,%20Narromine"><img height="20px" src="../../images/icon_favorities_add.png" width="20px">MAKE FAVORITE</img></a>
          </li>
        </ul>
      </div>
      
      <div data-iscroll="true">
        
        <div class="flex-container" style="width: 250px; text-align: center; margin: auto; padding-top: 10px; padding-bottom: 10px;">
          <div class="pageImageSliderAuto flexslider">
            <ul class="slides">
              <li>
                <img src="../../images/RotaryPkweb1.jpg">
              </li>
              <li>
                <img src="../../images/RotaryPkweb2.jpg">
              </li>
              <li>
                <img src="../../images/RotaryPkweb3.jpg">
              </li>
            </ul>
          </div>
        </div>
        
        <div class="place-content" data-role="content"><fishing>Absolute river frontage parklands with a great, sealed boat ramp. The reserve also has children's playgrounds, toilets, bar-b-ques, picnic tables, garbage bins and lots of room for stretching the legs on the vast well-cared for grassed areas. Camping is not permitted.
                    <br>Water skiing is allowed on the river and there are numerous good fishing spots.  Narromine is famous for its sportstars such as Glenn McGarth (see the statue of him when in town), Melinda Gainsford-Taylor, David Gillespie and lots more.
                    </fishing>
          
            <p>
            <strong>COORDINATES:</strong>
             32&#186;10'7.82"S, 148&#186;35'6.10"E</p>
             <p>
             <strong>LOCATION:</strong>
              Proceed down Dandaloo Street (the main one) toward Warren, Trangie etc, and turn right into Culling Street before the highway sweeps around to the left on the edge of town.</p>
              <!--p><strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> Lime Grove, Rotary Wetland, Macquarie Grove Vineyard and Narromine Tourist Park and Motel and the Peppercorn Motor Inn are both close by. Plus, enjoy the several river parks nearby - see www.rivertrails.com.au.</p-->
          </div>
      </div>
      
      <div data-id="tabbar" data-position="fixed" data-role="footer">
        <div class="custom-icons" data-grid="c" data-role="navbar">
          <ul>
            <li>
              <a class="browse" data-icon="custom" data-theme="b" href="../../browse.html">BROWSE</a>
            </li>
            <li>
              <a class="nearby" data-icon="custom" data-theme="b" href="../../nearby.html">NEARBY</a>
            </li>
            <li>
              <a class="favorites" data-icon="custom" data-theme="b" href="../../favorites.html">FAVORITES</a>
            </li>
            <li>
              <a class="info" data-icon="custom" data-theme="b" href="../../Info/about.html">INFO</a>
            </li>
          </ul>
        </div>
      </div>
      
      </div>
  </body>
</html>