---
layout: place
section: fishing
item: sandybeach
title: Sandy Beach, Dubbo
tel:
url: http://www.dubbo.com.au
mail:
slides:
  - sandybeachweb1.jpg
  - sandybeachweb2.jpg
  - sandybeachweb3.jpg
  - sandybeachweb4.jpg
  - sandybeachweb5.jpg
  - sandybeachweb6.jpg
---

<p>
<strong>DIRECTIONS:</strong>
If coming from the Wellington, Geurie direction
along the Mitchell Highway turn left at the
lights just before the L H Ford Bridge and then
take the first right into Bligh Street. Follow this
road a short distance until it veers to the right,
where you take the left hand turn and follow
this road to Sandy Beach. Otherwise, if you’re
in the main shopping area, turnoff Macquarie
Street toward the river, and then follow Bligh
Street under the L H Ford bridge until you see
Sandy Beach Road on your right.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;15'23.41"S, 148&#186;35'26.32"E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road access with parking for vans and
lots of turning space.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> There is no concrete boat ramp (but there are
two further down the river &#45; see the Riverbank
Park and Lions Park West descriptions).</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Excellent.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> No camping allowed. There are toilets,
barbeques and rubbish bins. Access to the river
is good as the beach is shallow and with gravel.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Tracker Riley Cycle and Walking Track runs
through this reserve. This is also the home of
the Dubbo dragon boat and canoe clubs.</p>

