---
layout: place
section: fishing
item: terramungamine
title: Terramungamine Reserve, Dubbo
tel:
url: http://www.dubbo.nsw.gov.au/RecreationandCulture/RuralReserves
mail:
slides:
  - Terraweb1.jpg
  - Terraweb2.jpg
  - Terraweb3.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Take the Newel Highway toward Gilgandra
and a few kilometres from Dubbo, as you pass
through Brocklehurst there is a turn to the left.
Follow this for about 3-4 kilometres to the turnoff
left into the Reserve.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&deg;10'7.82"S, 148&deg;35'6.10"E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good. Sealed roads. Access good for caravans.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Difficult - not recommended.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair. Steep banks, no beach area. Concrete steps
to river (see photo).</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> Overnight camping is allowed although only
for one night. There are toilets and bar-b-que
areas, plus some tables and seating benches.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Aboriginal grinding grooves are a point of
interest at the site.
The river sweeps around a big bend just
upstream before widening out again. Great
views of the river from near the grinding
grooves.</p>

