---
layout: place
section: fishing
item: terramungamine
title: Terramungamine Reserve, Dubbo
tel:
url: http://www.dubbo.nsw.gov.au/RecreationandCulture/RuralReserves
mail:
slides:
  - Terraweb1.jpg
  - Terraweb2.jpg
  - Terraweb3.jpg
---

<fishing>Camping, fishing, boating and Aboriginal grinding grooves with a viewing
          platform over the Macquarie River. There is a sealed road to the entry gate. The
          roads in the Reserve are not sealed in some areas. Access good for caravans.
          Camping allowed but only for one night. There are toilets and bar-b-que areas,
          plus some tables and seating benches. Stone steps down to the river but no
          boat ramp.
          </fishing>
            <p>
            <strong>COORDINATES:</strong>
             32&#186;10'7.82"S, 148&#186;35'6.10"E</p>
             <p>
             <strong>LOCATION:</strong>
              Take the Newel Highway toward Gilgandra and a few kilometres from Dubbo, as you pass through Brocklehurst there is a turn to the left. Follow this for about 3-4 kilometres to the turn-off left into the Reserve.</p>
              <!--p>
              <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
               All of Dubbo's attractions.</p-->
