---
layout: place
section: fishing
item: timbrebongie
title: Timbrebongie Falls Reserve
tel:
url:
mail:
slides:
  - timbre.jpg
  - timbre1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
From Narromine take the Gilgandra Road and
on the outskirts of town turn left into Burraway
Road. Then proceed for approximately 10 kms
until the left turn into the reserve - look for
the blue sign. From there you’ll need to travel a
further 1.5 kms to the river.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#176;7’52.80”S, 148&#176;14’47.07”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road to the turn off the main road. The
roads in the reserve are not sealed and may
be impassable after moderate to heavy rain
without 4WD. This is a travelling stock reserve
so take care.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair - to good (near beach).</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING INFORMATION, SITE FACILITIES:</strong> There are no toilets or shower facilities. There is
a rubbish bin provided (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> It runs along the river for quite a distance with
many trails. There are beach areas depending
on river height.</p>
