---
layout: place
section: fishing
item: turkey
title: Turkey Farm Reserve
tel:
url:
mail:
slides:
  - turkey.jpg
  - turkey1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
From Narromine take the Old Warren Road for
approx 9.5 kms (from the 80km&#47;hr sign) – look
for the blue sign &#45; and turn right. There are
double gates to go through just off the sealed
road. The riverside area is only a few hundred
metres away.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;8’32.79”S, 148&#186;14’2.39”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
There’s a sealed road to the turn-off the main
road. The tracks in the reserve are not sealed
and may be impassable after moderate to heavy
rain without 4WD. The last part of the track
down to the beach area is quite steep.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair &#45; from the beach.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON&#45;SITE:</strong> There are no toilets or shower facilities. Rubbish
bins are provided. There is a beach area (see
photo).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> None supplied.</p>
