---
layout: place
section: fishing
item: warren
title: Warren Weir Reserve - upstream
tel:
url:
mail:
slides:
  - warren.jpg
  - warren1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
If coming from the Nevertire direction turn
right at the round-about and follow this road -
Dubbo Street, which then becomes Ellengerah
Road - for about 5kms until you see the sign.
If coming from Carinda - proceed through the
round-about in the centre of town. The area
can also be accessed from the northern side of
the river. Take the Wambianna Road toward
Narromine for approximately 4 kms and turn
right over cattle grid with a white gate posts.
A dirt track of about 1-2 kms from there takes
you to below the weir.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
31&deg;44'5.32&rdquo;S, 147&deg;51'59.60&rdquo;E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Road access is good although not sealed once
you turn off Ellengerah Road. This road is closed
during wet weather. On the northern side, once
you turn off Wambianna Road, exercise caution
if wet.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Not recommended on the upstream side - see
warning notes. If you want to launch a small
boat onto the river below the weir, entry should
be gained from the northern side - check water
height first!</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Ok below weir on beach area.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> Great place for a picnic or bar-b-que (wood
fired). There are bins but no toilets.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> <strong>Warning signs advise that ***Swimming,
fishing or boating anywhere near the
weir - above or below it - is extremely
dangerous***.</strong> There is a cycleway and
walking track from town. The weir has a fishway
to help native species move upstream for
breeding etc.</p>
