---
layout: place
section: fishing
item: webb
title: Webb’s Siding Reserve, Narromine
tel:
url:
mail:
slides:
  - webb.jpg
  - webb1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
Travelling out of Narromine on the Mitchell
Highway to Dubbo the reserve is on the left 2.6
kms after the 110kms/hr sign. Coming from
Dubbo turn right at approximately 20kms (from
the 110km/hr sign leaving Dubbo). There is a
small white signpost on the highway and gates
to open to get into the reserve (please be sure to
close them after you). Once in the reserve, best
to take the track that heads off to the right to
get to the best spots.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;14’36.40”S, 148&#186;17’43.55”E</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Fair. Sealed road to the turn off the highway.
The roads in the Reserve are not sealed and may
be impassable after moderate to heavy rain
without 4WD.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Challenging- - see photos.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Limited - too steep in most areas.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no toilets or shower facilities. Rubbish
bins are provided. This reserve has two main
parts and runs along the river for quite a
distance with many trails. The bank is high in
most places with no obvious beach area when
the river is running at moderate height (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> Look out for stock in this reserve.</p>
