---
layout: place
section: fishing
item: weir
title: Gin Gin Weir
tel:
url:
mail:
slides:
  - gingin.jpg
  - gingin1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
From Narromine, the Weir is 35 kms along the Old
Warren Road, just 20 kms from Trangie.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
31&#186;56’15.33”S, 148&#186;8’28.89”E
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Sealed road to the entry gate. The roads in to the Weir
are not sealed and may be impassable after moderate
to heavy rain without 4WD.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Into the weir pool - not recommended. Below the
weir - fair.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Fair - away from the beach area below the weir.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are picnic tables and a bush toilet.</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> <strong>***Swimming or boating anywhere near
the weir - above or below it - is extremely
dangerous-;-;-;</strong>Above the weir the carp tend to hang
around but further upriver and downstream there’s
good habitat to explore.</p>
