---
layout: place
section: fishing
item: whylandra
title: Whylandra Crossing Reserves
tel:
url:
mail:
slides:
  - why.jpg
  - why1.jpg
---
<p>
<strong>DIRECTIONS:</strong>
This Reserve is on both sides of the river. To access the
southern side, take the Narromine road from Dubbo
- the turnoff to the reserve is approximately 6.6 kms
from the 110kms&#47;hr sign as you leave Dubbo. Turn
right onto a gravel road and follow this - through a
low level crossing - for about 1 km to the reserve,
past the &lsquo;No through road&rsquo; sign.
To access the northern side, follow the directions to
Redbank Reserve - see earlier - and proceed past it
for 2.8 kms and turn left into Rawsonville Road. When
you reach a T intersection go left and follow for this a
short distance to the gate into the Reserve. There may
be cattle grazing in the reserve so be sure to shut the
gate. An alternative way to the northern side Reserve
is off the Mitchell Highway from Dubbo to Narromine
at the Rawsonville Bridge turnoff (to the right). Follow
this until a right turn to Rawsonville Hall and proceed
beyond it for a few kilometers to the Reserve.</p>
<div class="fishing-line-separator"></div>
<p>
<strong>COORDINATES:</strong>
32&#186;11’23.04”S, 148&#186;29’44.97”E (for the southern side
of the river)
</p>
<div class="fishing-line-separator"></div>
<p>
<strong>ROAD ACCESS:</strong>
Good on both sides, although the roads in the Reserve
are not sealed and may be impassable after moderate
to heavy rain without 4WD.</p>
<div class="fishing-line-separator"></div>
<p><strong>BOAT LAUNCHING:</strong> Fair to good depending on river height - easier access
to beach on the northern side for launching.</p>
<div class="fishing-line-separator"></div>
<p><strong>ACCESS ALONG THE BANK:</strong> Varies from good to impossible.</p>
<div class="fishing-line-separator"></div>
<p><strong>CAMPING ALLOWED FACILITIES ON-SITE:</strong> There are no toilets or shower facilities (TSR).</p>
<div class="fishing-line-separator"></div>
<p><strong>OTHER INFORMATION:</strong> This reserve is long and narrow and follows the river
for quite some distance offering many areas to park
and try your luck.</p>
