---
layout: place
section: nature
item: argonauts
title: Argonauts Park-Goan Waterhole, Trangie
tel:
url:
mail:
slides:
  - goanwaterholeweb1.jpg
  - goanwaterholeweb2.jpg
  - goanwaterholeweb3.jpg
  - goanwaterholeweb4.jpg
---
<nature>This is a quiet and peaceful rest stop beside a classic Australian waterhole with
big old Red gums. There are picnic tables, toilets, kids play ground, bar-b-ques
etc. Camping is not allowed. Access is sealed. There are garbage bins.
</nature>
<div class="nature-line-separator"></div>
<p>
<strong>OPENING HOURS:</strong>
 Not applicable</p>
 <div class="nature-line-separator"></div>
  <p>
  <strong>COORDINATES:</strong>
   32&deg;1'53.42"S, 147&deg;59'13.40"E</p>
   <div class="nature-line-separator"></div>
   <p>
   <strong>LOCATION:</strong>
    Driving from
Warren the Park is on your
left just after you cross the
railways lines on the road to
Narromine. From Narromine
it's just after you cross the
bridge coming into town on a
sweeping right hand bend.</p>
<div class="nature-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Ewe Two (see Produce Trail), Gin Gin weir and bridge reserves, Narromine's Aviation Museum and Lime Grove, and Warren's various attractions.</p-->


