---
layout: place
section: nature
item: burrendonggarden
title: Burrendong Botanic Garden and Arboretum
tel: 0268467454
url: http://www.burrendongarboretum.org
mail: curator@burrendongarboretum.org
slides:
  - Arboretumweb1.jpg
  - Arboretumweb2.jpg
  - Arboretumweb3.jpg
  - Arboretumweb4.jpg
---
<nature>Here you will find a collection of native plants from all over Australia and, particularly, a stunning collection of the unusual and striking Western Australian
 flora - much of which is not usually seen in the east. The Arboretum is, virtually, a living museum.</nature>
 <div class="nature-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong> 
	Open every day except Christmas day.</p>
	<div class="nature-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;41'17.87"S, 149&#186;6'30.67"E</p>
	 <div class="nature-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  The Arboretum is co-located with Lake Burrendong State Park and the Burrendong Sport Recreation Centre, only one hour's drive from either Dubbo or Orange and five hours from Sydney. 
	  If you are coming from the north of the state, the park is 27km south-east of Wellington.</p>
	  <div class="nature-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lake Burrendong State Park and Burrendong Sport and Recreation Centre and Mookerawa State Park is only a few kilometers away too.  
     Bell River Estate, Eris Fleming Gallery, Wellington Caves and the Bottle House are not far away either. </p-->
			

	         