---
layout: place
section: nature
item: dubbobotanic
title: Dubbo Regional Botanic Garden
tel: 
url: http://www.dubbo.com.au
mail: 
slides:
  - BiodGardenweb1.jpg
  - BiodGardenweb2.jpg
  - Biodivgardenweb3.jpg
  - Biodivgardenweb4.jpg
---
<nature>A regional Botanic Garden co-located with the Biodiversity Garden, the new Sensory Garden and the Shoyoen Japanese Garden.
		</nature>
	<p>
	<strong>OPENING HOURS:</strong>
	 Open every day 9am-4pm except Christmas and New Years Day.</p>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;16'20.04"S, 148&#186;35'10.78"E</p>
	 <p>
	 <strong>LOCATION:</strong>
	  Coronation Drive, Dubbo (near Orana Mall), just off the Mitchell Highway to Wellington.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tracker Riley Cycleway, Powter Park BMX track, Western Plains Cultural Centre, Taronga Western Plains Zoo, and the rest of Dubbo's attractions including its several river parks.</p-->
			

	         