---
layout: trail
section: nature
title: Nature Trail
list:
  - { file: burrendonggarden,      image: Arboretum2.jpg,                  caption: "Burrendong Botanic Garden and Arboretum"}
  - { file: platypus,              image: Platspottingweb3.jpg,            caption: "Platypus spotting, Wellington"}
  - { file: mountarther,           image: MtArthurweb2.jpg,                caption: "Mount Arthur Reserve and Lookout, Wellington"}
  - { file: wongarbon,             image: WongarbonResweb1.jpg,            caption: "Wongarbon Tank Reserve"}
  - { file: dubbobotanic,          image: BiodGardenweb2.jpg,              caption: "Dubbo Regional Botanic Garden"}
  - { file: dubbotown,             image: dubbotown1.jpg,                  caption: "Dubbo Town and Country Tours"}
  - { file: tarongazoo,            image: Zooweb4.jpg,                     caption: "Taronga Western Plains Zoo, Dubbo"}
  - { file: rotarywetland,         image: Rotarywetlandweb5.jpg,           caption: "Rotary Wetland, Narromine"}
  - { file: argonauts,             image: goanwaterholeweb3.jpg,           caption: "Argonauts Park-Goan Waterhole, Trangie"}
  - { file: windowcentre,          image: Windowcentre1.jpg,               caption: "Window on the Wetlands Centre and Tiger Bay Wetlands, Warren"}
  - { file: macquariemarshsouth,   image: Macmarshresweb2.jpg,             caption: "Macquarie Marsh Nature Reserves"}
  - { file: wetlandviewing,        image: april2011willieweb.jpg,          caption: "Wetland viewing platform, Macquarie Marshes"}
  - { file: touristpark,           image: DioneCweb3.jpg,                  caption: "Scenic helicopter rides over the Macquarie Marshes"}
  - { file: centmacquarieroute4,   image: Centralmacquarie1.jpg,           caption: "Central Macquarie Marshes (Route 4)"}
  - { file: northmacquarieroute5,  image: northmacquarie2.jpg,             caption: "Northern Macquarie Marshes (Route 5)"}


---