<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
---
layout: trail
section: nature
title: Nature Trail
list:
  - { file: burrendonggarden,      image: Arboretumweb4.jpg,               caption: Burrendong Botanic Garden and Arboretum }
  - { file: tarongazoo,            image: Zooweb4.jpg,                     caption: Taronga Western Plains Zoo, Dubbo }
  - { file: platypus,              image: Platspottingweb3.jpg,            caption: Platypus spotting, Wellington }
  - { file: mountarther,           image: MtArthurweb2.jpg,                caption: Mount Arthur Reserve and Lookout, Wellington }
  - { file: wongarbon,             image: WongarbonResweb1.jpg,            caption: Wongarbon Tank Reserve }
  - { file: dubbobotanic,          image: BiodGardenweb2.jpg,              caption: Dubbo Regional Botanic Garden }
  - { file: rotarywetland,         image: Rotarywetlandweb5.jpg,           caption: Rotary Wetland, Narromine }
  - { file: argonauts,             image: goanwaterholeweb3.jpg,           caption: Argonauts Park-Goan Waterhole, Trangie }
  - { file: tigerbay,              image: TigerBayweb6.jpg,                caption: Tiger Bay Wetland, Warren }
  - { file: wetlandviewing,        image: april2011willieweb.jpg,          caption: Wetland viewing platform, Macquarie Marshes }
  - { file: willieretreat,         image: Campingareaweb.jpg,              caption: Willie Retreat, Macquarie Marshes }
  - { file: macquariemarshsouth,   image: Macmarshresweb2.jpg,             caption: Macquarie Marsh Nature Reserves }
  - { file: touristpark,           image: DioneCweb3.jpg,                 caption: Scenic helicopter rides over the Macquarie Marshes }

---


