---
layout: place
section: nature
item: macquariemarshsouth
title: Macquarie Marsh Nature Reserves
tel: 0268421311
url: http://www.environment.nsw.gov.au/nationalparks/parkCamping.aspx?id=N0035
mail: 
slides:
  - Macmarshresweb1.jpg
  - Macmarshresweb2.jpg
  - Macmarshresweb3.jpg
  - Macmarshresweb4.jpg
  - Macmarshresweb5.jpg
---
<nature>The Macquarie Marshes Nature Reserve and State Conservation Area are managed by the NSW National Parks and Wildlife Service. The nature reserve is separated into two areas, the north and south marsh.
            <br>The summer of 2010-11 saw the largest flood in the Macquarie Marshes for 10 years and resulted in the best waterbird breeding event for 10 years with more than 70,000 Ibis and 40,000 Egrets, Cormorants, Darter, and Night herons successfully breeding in the marshes.
            <br>The Macquarie Marshes are a dynamic system, experiencing wet and dry cycles, each equally interesting in their own way.
            <br>There are a number of ways you can experience the Macquarie Marshes. A simple drive along Gibson's Way is a good way to start and for many people provides a good introduction to the Macquarie Marshes. There is an Observation Platform along Gibson Way near the Terrigal Creek.
            <br>The Macquarie Marshes Nature Reserve is surrounded by private land and as such, is not generally accessible to the public. However, a NPWS Discovery Weekend is often held once a year where NPWS staff and local NPWS Discovery Rangers take members of the public on guided walks and tours. This is usually held on the Labour Day long weekend in October of each year and is subject to weather conditions.  NPWS Discovery walks and tours can also be organised at other times of the year. 
            </nature>
	<p>
	<strong>COORDINATES:</strong>
	 South Macquarie Marsh Nature Reserve - Approx. 30&#186;55'26.77"S, 147&#186;27'32.43"E
	 <br>North Macquarie Marsh Nature Reserve - Approx. 30&#186;48'53.56"S, 147&#186;30'0.64"E</p>
	 <p>
	 <strong>LOCATION:</strong>
	  From Warren, take the road to Carinda. The Southern Nature Reserve is about 80-85 kilometres along this road. The Northern Nature Reserve is further along the road to Carinda. See map on our website.</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Observation Platform on Gibson's Way, Tiger Bay Wetland. Places to stay include Willie Retreat, Macquarie Caravan Park in Warren or Nyngan Riverside Tourist Park.</p-->
			

	       