---
layout: place
section: nature
item: mountarther
title: Mount Arthur Reserve and Lookout, Wellington
tel: 
url: http://www.visitwellington.com.au
mail: 
slides:
  - MtArthurweb1.jpg
  - MtArthurweb2.jpg
  - MtArthurweb3.jpg
  - MtArthurweb4.jpg
  - MtArthurweb5.jpg
---
<nature>First sighted by the explorer John Oxley in 1817, the Reserve offers several walking trails of various durations plus a lookout to gaze down across the town, its two rivers (the Bell and Macquarie) and valley.
  There's a bar-b-que, a shelter and toilets. No camping is allowed and caravans are not recommended as the road is quite steep and narrow in places.
	</nature>
	<div class="nature-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;33'11.04"S, 148&#176;54'58.41"E</p>
	 <div class="nature-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  If coming from Dubbo go straight through the first round-about and then turn right at the second round-about, 
	  cross the Bell River and then proceed for approximately two kms and you'll see the sign to the Reserve on your right. 
	  If coming from Molong turn left at the first round-about and then go straight ahead at the second one.</p>
	  <div class="nature-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Cactus Caf&#233; and Gallery; Hermitage Hill Resort; Wellington Caves and Phosphate mine, the Caves Bottle House; Lion of Waterloo historic tavern; Bridge Motel and Riverside Caravan Park. 
     Towards Dubbo there is the Garling Gallery in Wongarbon, several riverside parks and reserves and in Geurie, the Bald Hills mountain bike trails.</p-->
			

	  