---
layout: place
section: nature
item: rotarywetland
title: Rotary Wetland, Narromine
tel: 
url: 
mail: 
slides:
  - Rotarywetlandweb1.jpg
  - Rotarywetlandweb2.jpg
  - Rotarywetlandweb3.jpg
  - Rotarywetlandweb4.jpg
  - Rotarywetlandweb5.jpg
---
<nature>Walking trails around the wetland - great bird watching and picnic facilities.
		</nature>
		<div class="nature-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&#176;14'52.51"S 148&#176;14'10.40"E</p>
	 <div class="nature-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  On the edge of Narromine township - follow Dandaloo Street to the Tullamore Road. Look for the signs.</p>
	  <div class="nature-line-separator"></div>
	 <p>
	 <strong>HOW TO MAKE A BOOKING:</strong>
	  Not necessary</p>

   