---
layout: place
section: nature
item: tiger_bay
title: Tiger Bay Wetland, Warren
tel:
url:
mail:
slides:
  - TigerBayweb1.jpg
  - TigerBayweb2.jpg
  - TigerBayweb3.jpg
  - TigerBayweb4.jpg
  - TigerBayweb5.jpg
  - TigerBayweb6.jpg
---
<nature>Several walking trails and a bird hide - great bird watching.  Picnic tables and off-road parking.
    </nature>
  <p>
  <strong>COORDINATES:</strong>
   31&#186;41'40.73"S, 147&#186;50'33.18"E</p>
   <p>
   <strong>LOCATION:</strong>
    On the edge of Warren township - take the Oxley Highway toward Gilgandra. Wetlands are found on both sides of the road. Look for the signs.</p>
   <p>
   <strong>HOW TO MAKE A BOOKING:</strong>
    Not necessary</p>

    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland and Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marshes Nature Reserve and viewing platform.
     A range of river parks in and near Warren, plus cycling and walking tracks. Macquarie Caravan Park in Warren or Nyngan Riverside Tourist Park are places to stay.</p-->


