---
layout: place
section: nature
item: touristpark
title: Scenic helicopter rides over the Macquarie Marshes
tel: 0268892129
url: http://www.narrominetouristpark.com.au
mail: mail@narrominetouristpark.com
slides:
  - emusmarshes.jpg
  - DioneCweb1.jpg
  - DioneCweb2.jpg
  - DioneCweb3.jpg
---
<nature>Scenic helicicopter rides can be booked through the Nyngan Riverside Tourist Park - go to their River bedz entry for contact details.
</nature>
	<p>
	<strong>COORDINATES:</strong>
	 32&#186;13'24.59"S, 148&#186;13'47.75"E</p>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Lime Grove, Rotary Wetland, Edgerton Nursery, Andonbel Alpacas Coffee Shop, Narromine Aviation Museum, The Woodshed Gallery, Narromine Cottage Craft Shop and several Macquarie river parks.</p-->
	