---
layout: place
section: nature
item: wetlandviewing
title: Wetland viewing platform, Macquarie Marshes
tel: 
url: 
mail: 
slides:
  - april2011willieweb.jpg
  - april2011willieweb1.jpg
---
<nature>This elevated viewing platform is a great place to see birdlife when there is water in the wetlands. 
Check before you go as in this region wetlands aren't always wet - this isn't Kakadu!
		</nature>
		<div class="nature-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 30&deg;52'48.23"S, 147&deg;41'50.47"E</p>
	 <div class="nature-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  The viewing platform is on Gibson's Way, the road that links the Carinda Road (near Willie Retreat - see under River bedz) and Quambone. 
	  If travelling from Warren, take the road to Carinda for just over 100kms and turn right at the Telstra tower into Gibson's Way. Note - Gibson's Way is unsealed and not suitable for other than 4WD after rains. 
	  It is strongly recommended you get local advice before proceeding to the viewing platform as when there is water in the Macquarie marshes there 
	  are several places it crosses this road and may make it impassable even if you have 4WD. The black floodplain soils are easy to get bogged in!</p>
	  <div class="nature-line-separator"></div>
	  <p>
	<strong>OPENING HOURS:</strong>
	 Not applicable.</p>
	 <div class="nature-line-separator"></div>
	
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     Tiger Bay Wetland and Willie Retreat, Macquarie Marshes (105 kms), Macquarie Marshes Nature Reserve and viewing platform. 
     A range of river parks in and near Warren, plus cycling and walking tracks. Macquarie Caravan Park in Warren or Nyngan Riverside Tourist Park are places to stay. </p-->
			

	        