---
layout: place
section: nature
item: willieretreat
title: Willie Retreat, Macquarie Marshes
tel: 0268244361
url: http://www.willieretreatmacquariemarshes.com.au
mail: willie.retreat@bigpond.com.au
slides:
  - bunkhouseweb.jpg
  - Campingareaweb.jpg
  - campingarea2web.jpg
  - miniwetlandweb.jpg
  - retreatoutsideweb.jpg
  - Sheartingshedweb.jpg

---

<nature>Willie Retreat offers a range of accommodation options - camping, on-site
vans, powered and unpowered van sites, and the Retreat, which is the old
shearers quarters. It is also in the heart of Macquarie marsh wetlands - when
they have water. Check first to avoid disappointment. <br>There is no after hours
access, and after rain access may be difficult, so be certain to book ahead. 
</nature>
<div class="nature-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 30&#186;53'55.31"S, 147&#186;27'56.90"E</p>
	 <div class="nature-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  From Warren, take the road to Carinda for just over 100kms and turn right at the Telstra tower into Gibson's Way and Willie Retreat is about 2kms further on. And, see the map available on the website.</p>
	  <div class="nature-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong> 
    Macquarie Marshes Nature Reserve and viewing platform. Tiger Bay Wetland in Warren.</p-->
