---
layout: place
section: nature
item: windowcentre
title: Window on the Wetlands Centre and Tiger Bay Wetlands, Warren
tel: 0438817470
url: http://www.riversmart.org.au
mail: ceo@riversmart.org.au
slides:
  - Windowcentre1.jpg
  - Windowcentre2.jpg
  - Windowcentre3.jpg
  - Windowcentre4.jpg
---
<nature><Strong>Educational opportunities offered or available&#58;</Strong>
<br>Biodiversity &#45; The nearby Tiger Bay Wetlands has walking
trails along which there bird hides and interpretive signage.
The Centre itself offers interpretive boards about biodiversity
of the region, the Macquarie River and Marshes.
<br>Heritage&#47;cultural &#45; Indigenous and early European cultural
heritage are also featured on the interpretive boards at the
Centre.
<br>Are there teachers&#47;experts&#47;guides available&#63; Yes,
by prior arrangement. The Centre is operated by RiverSmart
Australia and they can provide a range of wetland and
river&#45;related packages, including their outdoor classroom
activities. Cost is negotiated depending on the group size
and duration of class. In general cost is $12&#45;15&#47;person&#47;hour
for interactive class activities.
<br>Is there educational interpretive signage present&#63;
Yes, see above.
<br>Access information and facilities&#58; Easy access for buses
and other vehicles. Entrance opposite the Caltex Service
Station.
		</nature>
    <div class="nature-line-separator"></div>
    <p>
   <strong>OPENING HOURS</strong>
   9am–5pm most days. Best to call ahead 
		<div class="nature-line-separator"></div>
	<p>
	 <strong>HOW TO FIND US</strong>
	 The Centre sits beside the Tiger Bay
   Wetlands on the outskirts of Warren, on the Oxley highway.
	  <div class="nature-line-separator"></div>
<p>
   <strong>COORDINATES</strong>
   32&#176;41'40.82"S, 147&#176;50'33.16"E
    <div class="nature-line-separator"></div>

    
	