---
layout: place
section: nature
item: wongarbon
title: Wongarbon Tank Reserve
tel: 
url: http://www.dubbo.com.au/
mail: 
slides:
  - WongarbonResweb1.jpg
  - WongarbonResweb2.jpg
  - WongarbonResweb3.jpg
---
<nature>This is a 30 hectare reserve on the edge of the township of Wongarbon which includes a path for walking through an area of grasslands and woodlands. 
There is also a large dam. The area offers good bird watching and in the spring, wildlflowers. No camping allowed. There are no facilities.
	</nature>
	<div class="nature-line-separator"></div>
	<p>
	<strong>OPENING HOURS:</strong>
	 Not applicable - no booking necessary.</p>
	 <div class="nature-line-separator"></div>
	<p>
	<strong>COORDINATES:</strong>
	 32&deg;19'48.24"S, 148&deg;46'1.25"E</p>
	 <div class="nature-line-separator"></div>
	 <p>
	 <strong>LOCATION:</strong>
	  Wongarbon is on the Mitchell highway between Dubbo and Wellington.</p>
	  <div class="nature-line-separator"></div>
    <!--p>
    <strong>THE CLOSEST OTHER RIVER TRAIL ATTRACTIONS ARE:</strong>
     The Garling Gallery is also in Wongarbon (see Heritage Trail), Beni Conservation Area and Geurie Bald Hills Reserve (see Cycle Trail). 
     Plus, all of Wellington's and Dubbo's attractions and several river parks such as Ponto Falls and Bril Bral Reserves.</p-->
			

	      